.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}
.header {
  position: absolute;
  top: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  right: 0px;
}
nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.left-section {
  display: flex;
  align-items: center;
}
.close-icon {
  cursor: pointer;
  font-size: 18px;
  color: #333;
  margin-right: 10px;
}
.search-text {
  font-size: 16px !important;
  font-weight: 500;
  color: #333;
}
.search-container {
  flex-grow: 1;
  max-width: 450px;
}
.search-container input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}
:host::ng-deep .ant-modal-header {
  padding: 9px 19px;
}
.bo-box-no-margin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.bo-label-margin-top {
  margin-top: 5px;
}
.bo-location-icon {
  cursor: pointer;
}
.bo-location-img {
  width: 30px;
  height: 30px;
}
.bo-char-count {
  color: red;
  font-size: 12px;
}
.bo-select-full {
  width: 100%;
}
.bo-footer-btn-mr {
  margin-right: 8px;
}
.bo-map-container {
  height: 300px;
  width: 100%;
}