.filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.condition-group {
  border: 1px solid #d9d9d9;
  padding: 15px;
  border-radius: 8px;
  background: #fafafa;
}

.filter-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233);
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 5px rgb(169, 168, 168);
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px rgb(8, 8, 8);
}