.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}
.header {
  position: absolute;
  top: 0px;
  padding: 10px 430px;
}
nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.kb-char-count {
  color: red;
  font-size: 10px;
}
.kb-status-switch {
  margin-top: 5px;
}
.kb-footer-cancel {
  margin-right: 8px;
}
.kb-footer-menu {
  border-radius: 4px;
  color: white !important;
}
.kb-footer-link {
  color: white !important;
}
