<div class="editor-container">
  <form nz-form #ServiceCatmaster="ngForm">
    <div nz-row>
      <div nz-col nzSpan="24">
        <angular-editor class="custom-editor" name="dataDesigners" id="editor3"
          [(ngModel)]="dataDesigner.FILE_CONTENT" [config]="editorConfig"></angular-editor>
      </div>
    </div>
  </form>
</div>
<div class="editor-footer">
  <button nz-button nzType="default" (click)="close()" class="cancel-button">
    Cancel
  </button>
  <button type="button" class="save-button" nz-button [nzLoading]="isSpinning" *ngIf="dataDesigner.ID"
    (click)="save(false, ServiceCatmaster)">
    <span>Save & Close</span>
  </button>
</div>