th {
  text-align: center !important;
  vertical-align: middle !important;
}
.select {
  width: 200px;
  padding: 8px;
  display: block;
}
.search-box {
  padding: 8px;
}
.search-box input {
  width: 188px;
  display: block;
}
.search-box button {
  width: 90px;
}
.search-button {
  margin-right: 8px;
}
nz-select {
  width: 100%;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}
:host::ng-deep .ant-card-body {
  padding: 0px;
}
.back-icon-bold-pointer-rs01 {
  font-weight: bold;
  cursor: pointer;
}
.header-flex-end-rs02 {
  display: flex;
  justify-content: flex-end;
}
.filter-item-width-rs03 {
  width: 47px;
}
.new-btn-no-margin-rs04 {
  margin-right: 0px;
}
.filter-row-pt-mz01 {
  padding-top: 0px;
}
.text-center-mz02 {
  text-align: center;
}
.filter-item-mb-mz03 {
  margin-bottom: 8px;
}
.filter-card-mz04 {
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
}
.filter-card-header-mz05 {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.filter-card-title-mz06 {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.filter-applied-icon-mz07 {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}
.filter-card-footer-row-mz08 {
  margin-top: 7px;
}
.filter-card-actions-mz09 {
  display: flex;
  justify-content: space-between;
}
.filter-tag-action-mz10 {
  cursor: pointer;
  font-size: 10px !important;
}
.filter-tag-icon-mz11 {
  font-size: 10px !important;
}
.filter-tag-view-mz12 {
  cursor: pointer;
  font-size: 10px !important;
  margin-right: 0px;
}
.no-data-text-mz13 {
  text-align: center;
  color: red;
  font-weight: bold;
}
.filter-footer-actions-mz14 {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.filter-footer-btn-mr-mz15 {
  margin-right: 10px;
}
.filter-text-center-vx91 {
  text-align: center;
}
.table-wrapper-pt-kx01 {
  padding-top: 10px;
}
.table-preline-kx02 {
  white-space: pre-line;
}
.th-center-bold-kx03 {
  font-weight: bold;
  text-align: center;
}
.th-center-kx04 {
  text-align: center;
}
.td-center-kx05 {
  text-align: center;
}
.table-edit-tag-kx06 {
  cursor: pointer;
}
.table-edit-icon-kx07 {
  font-size: 15px;
}