<div>
  <form nz-form #accountMasterPage="ngForm">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Document Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Document Name">
            <input nz-input autocomplete="off" placeholder="Enter Document Name"
              (keypress)="commonFunction.allowOnly($event)" maxlength="128" name="name" [(ngModel)]="data.NAME" required
              (focus)="isFocused = 'documentName'" (blur)="isFocused = ''" />
            <h6 class="docname-charcount-text-ux91" *ngIf="
            isFocused === 'documentName' ||
            (data.NAME != undefined &&
              data.NAME != null &&
              data.NAME != '' &&
              isFocused === 'documentName')
          ">
              {{ data.NAME.length || 0 }}/128
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Category</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please select valid category">
            <nz-select nzShowSearch nzAllowClear="true" class="category-select-width-xa42"
              nzPlaceHolder="Select Category" [(ngModel)]="data.CATEGORY_ID" (ngModelChange)="onCategoryChange($event)"
              name="category" required>
              <nz-option *ngFor="let category of categoryList" [nzLabel]="category.HELP_CATEGORY_NAME"
                [nzValue]="category.ID"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Sub Category</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please select valid sub category">
            <nz-select nzShowSearch nzAllowClear="true" class="subcategory-select-width-bk73"
              nzPlaceHolder="Select Sub Category" [(ngModel)]="data.SUBCATEGORY_ID" name="subcat" required>
              <nz-option *ngFor="let subcategory of subcategoryList" [nzLabel]="subcategory.NAME"
                [nzValue]="subcategory.ID"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Type</nz-form-label>
          <nz-form-control nzErrorTip="Please Select Type">
            <nz-radio-group name="TYPE" [(ngModel)]="data.TYPE" required>
              <label nz-radio nzValue="D">Document</label>
              <label nz-radio nzValue="L">Link</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Sequence No.">
            <input nz-input placeholder="Sequence No." name="SeqNo" class="seqno-input-width-kd19" required
              [(ngModel)]="data.SEQ_NO" required #seqNo="ngModel" (keypress)="commonFunction.onlynum($event)" maxlength="8"
              autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-label nzNoColon>Status</nz-form-label>
          <nz-form-control>
            <nz-switch name="Status" nzCheckedChildren="On" nzUnCheckedChildren="Off" [(ngModel)]="data.STATUS">
            </nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row *ngIf="data.TYPE == 'D'">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>
              Document &nbsp;
              <span>
                <i nz-icon nzType="info-circle" nzTheme="twotone"
                  nzTooltipTitle="Please select an ducument file (PNG, JPG, JPEG, PDF, Doc) with a size up to 1MB."
                  nzTooltipPlacement="top" nz-tooltip>
                </i>
              </span>
            </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Document">
              <button *ngIf="data.DOCUMENT == ' ' || data.DOCUMENT == null" nz-button class="upload-btn-style-ps72"
                (click)="image1.click()">
                <span nz-icon required nzType="upload"></span>Upload Document
                <input #image1 name="image1" type="file" accept=".png, .jpg, .jpeg,.pdf, .doc, .docx"
                  (change)="onFileSelected($event)" class="file-input-hidden-wq55" />
              </button>
              <span *ngIf="
              data.DOCUMENT != null &&
              data.DOCUMENT != undefined &&
              data.DOCUMENT != ' '
            ">
                <div *ngIf="progressBarImageOne">
                  <nz-progress [style.width]="percentImageOne + '%'" [nzPercent]="percentImageOne">{{ percentImageOne
                    }}%</nz-progress>
                </div>
              </span>
              <div *ngIf="
              data.DOCUMENT != null &&
              data.DOCUMENT != undefined &&
              data.DOCUMENT != ' '
            ">
                <a class="doc-link-blue-mr91" (click)="viewImage(data.DOCUMENT)">
                  {{ data.DOCUMENT }}
                </a>
                <a class="doc-link-blue-mr91" (click)="viewImage(data.DOCUMENT)" nz-tooltip
                  nzTooltipTitle="Click Here To View Uploaded Image">
                  <span nz-icon nzType="eye" nzTheme="outline"></span>
                </a>
                <span *ngIf="data.ID">
                  <span class="delete-cursor-pointer-vc33" nz-popconfirm
                    nzPopconfirmTitle="Are you sure want to delete?" nzPopconfirmPlacement="top"
                    (nzOnConfirm)="image1DeleteConfirm(data)" (nzOnCancel)="deleteCancel()">
                    <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#FF0000'" nz-tooltip
                      nzTooltipTitle="Delete">
                    </span>
                  </span>
                </span>
                <span *ngIf="!data.ID">
                  <span class="delete-cursor-pointer-vc33 delete-margin-left-rt44" nz-popconfirm
                    nzPopconfirmTitle="Are you sure want to delete?" nzPopconfirmPlacement="top"
                    (nzOnConfirm)="removeImage()" (nzOnCancel)="deleteCancel()">
                    <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#FF0000'" nz-tooltip
                      nzTooltipTitle="Delete">
                    </span>
                  </span>
                </span>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div nz-row *ngIf="data.TYPE == 'L'">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Link</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Link">
            <input nz-input autocomplete="off" placeholder="Enter Link" required maxlength="256" name="link"
              [(ngModel)]="data.LINK" (focus)="isFocused = 'link'" (blur)="isFocused = ''" />
            <h6 class="link-charcount-text-qx81" *ngIf="
            isFocused === 'link' ||
            (data.LINK != undefined &&
              data.LINK != null &&
              data.LINK != '' &&
              isFocused === 'link')
          ">
              {{ data.LINK ? data.LINK.length : 0 }}/256
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" nz-button class="ant-btn footer-cancel-btn-mr82" (click)="close(accountMasterPage)">
      <span>Cancel</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      [nzLoading]="isSpinning" (click)="save(false, accountMasterPage)">
      <span>Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc dropdown-item-style-kp19">
          <a class="dropdown-link-style-ww63" (click)="save(true, accountMasterPage)">
            Save & New
          </a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false, accountMasterPage)">
      <span>Update & close</span>
    </button>
  </div>
  <nz-modal [nzWidth]="900" [(nzVisible)]="ImageModalVisible" nzMaskClosable="false" nzClosable="false"
    [nzContent]="content" [nzTitle]="'Image View'" (nzOnCancel)="ImageModalCancel()" [nzFooter]="ImageModalFooter">
    <ng-template #content>
      <nz-spin [nzSpinning]="isSpinning">
        <div *ngIf="imageshow != undefined && imageshow != null && imageshow != ''"
          class="ss image-modal-container-hx91">
          <iframe [src]="imageshow" class="image-modal-iframe-qm47" frameborder="0"></iframe>
        </div>
      </nz-spin>
    </ng-template>
    <ng-template #ImageModalFooter>
      <button nz-button nzType="default" (click)="ImageModalCancel()">
        Close
      </button>
    </ng-template>
  </nz-modal>
</div>