<div>
  <form nz-form #form="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label [nzRequired]="data.BANNER_TYPE === 'O'" nzNoColon>Title</nz-form-label>
            <nz-form-control [nzErrorTip]="
                data.BANNER_TYPE === 'O' ? 'Please enter a Title' : ''
              ">
              <input nz-input name="name" placeholder="Enter Title" [(ngModel)]="data.TITLE"
                [required]="data.BANNER_TYPE === 'O'" (keypress)="commonFunction.allowOnly($event)"
                (focus)="isFocused = 'skillName'" (blur)="isFocused = ''" maxlength="64" autocomplete="off" />
              <h6 class="char-counter-red-10px" *ngIf="isFocused === 'skillName' || data.TITLE?.length">
                {{ data.TITLE?.length || 0 }}/64
              </h6>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="data.BANNER_TYPE === 'O'" nzNoColon>Title Color</nz-form-label>
            <nz-form-control [nzErrorTip]="
                data.BANNER_TYPE === 'O' ? 'Please enter a Title Color' : ''
              ">
              <input class="color-picker-full-width" [(colorPicker)]="titlecolor" [style.background]="titlecolor"
                [required]="data.BANNER_TYPE === 'O'" (keypress)="nonumchar($event)" name="tcolour" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label [nzRequired]="data.BANNER_TYPE === 'O'" nzNoColon>Description</nz-form-label>
            <nz-form-control [nzErrorTip]="
                data.BANNER_TYPE === 'O' ? 'Please enter a Description' : ''
              ">
              <input nz-input name="subtitle" placeholder="Enter Description" [(ngModel)]="data.SUB_TITLE"
                [required]="data.BANNER_TYPE === 'O'" (keypress)="commonFunction.allowOnly($event)"
                (focus)="isFocused = 'subtitle'" (blur)="isFocused = ''" maxlength="128" autocomplete="off" />
              <h6 class="char-counter-red-10px" *ngIf="
                  isFocused === 'subtitle' ||
                  (data.SUB_TITLE != undefined &&
                    data.SUB_TITLE != null &&
                    data.SUB_TITLE != '' &&
                    isFocused === 'subtitle')
                ">
                {{ data.SUB_TITLE.length || 0 }}/128
              </h6>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="data.BANNER_TYPE === 'O'" nzNoColon>Description Color</nz-form-label>
            <nz-form-control [nzErrorTip]="
                data.BANNER_TYPE === 'O'
                  ? 'Please enter a Description Color'
                  : ''
              ">
              <input class="color-picker-full-width" [(colorPicker)]="subtitlecolor" [style.background]="subtitlecolor"
                (keypress)="nonumchar($event)" name="subtcolour" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="10">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Type</nz-form-label>
            <nz-form-control nzErrorTip="Please Select Type">
              <nz-radio-group name="BANNER_TYPE" [(ngModel)]="data.BANNER_TYPE" required (ngModelChange)="resetImage()">
                <label nz-radio nzValue="M">Main Banner</label>
                <label nz-radio nzValue="O" *ngIf="data.BANNER_FOR !== 'M'">Offer Banner</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8" *ngIf="data.BANNER_TYPE === 'M'">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Banner For &nbsp;&nbsp;<span>
                <i nz-icon nzType="info-circle" nzTheme="twotone"
                  nzTooltipTitle="Uploaded banner is displayed on customer mobile app or website."
                  nzTooltipPlacement="top" nz-tooltip></i> </span></nz-form-label>
            <nz-form-control nzErrorTip="Please Select Banner For">
              <nz-radio-group name="BANNER_FOR" [(ngModel)]="data.BANNER_FOR" required
                (ngModelChange)="resetImage1(); resetformobile()">
                <label nz-radio nzValue="W">Website</label>
                <label nz-radio nzValue="M">Mobile</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzNoColon nzRequired>Sequence No.</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Sequence No.">
              <input nz-input placeholder="Sequence No." name="SeqNo" required [(ngModel)]="data.SEQ_NO" required
                #seqNo="ngModel" (keypress)="commonFunction.onlynum($event)" maxlength="8" autocomplete="off" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="5" *ngIf="data.BANNER_TYPE === 'M'">
          <nz-form-item>
            <nz-form-label nzNoColon>For Shop&nbsp;&nbsp;<span>
                <i nz-icon nzType="info-circle" nzTheme="twotone"
                  nzTooltipTitle="If the shop switch is turned on, it indicates that the banner will be visible on the shop dashboard in the customer application or website."
                  nzTooltipPlacement="top" nz-tooltip></i>
              </span>
            </nz-form-label>
            <nz-form-control>
              <nz-switch name="isforshop" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                [(ngModel)]="data.IS_FOR_SHOP"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="5">
          <nz-form-item>
            <nz-form-label nzNoColon>Status</nz-form-label>
            <nz-form-control>
              <nz-switch name="STATUS" nzCheckedChildren="On" nzUnCheckedChildren="Off"
                [(ngModel)]="data.STATUS"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8" *ngIf="data.BANNER_TYPE !== 'O'">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Customer Type </nz-form-label>
            <nz-form-control nzErrorTip="Select Customer Type">
              <nz-select nzAllowClear class="customer-type-select-full-width" nzPlaceHolder="Select Customer Type"
                [(ngModel)]="data.CUSTOMER_TYPE" name="customertype">
                <nz-option nzValue="BB" nzLabel="B2B"></nz-option>
                <nz-option nzValue="BC" nzLabel="B2C"></nz-option>
                <nz-option nzValue="BO" nzLabel="Both"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon nzRequired>Banner Image &nbsp;&nbsp;
              <span>
                <i *ngIf="data.BANNER_TYPE === 'M' && data.BANNER_FOR === 'W'" nz-icon nzType="info-circle"
                  nzTheme="twotone"
                  nzTooltipTitle="Please select an image file (PNG, JPG, JPEG) with an image dimension of 1290 x 300"
                  nzTooltipPlacement="top" nz-tooltip>
                </i>
                <i *ngIf="data.BANNER_TYPE === 'M' && data.BANNER_FOR === 'M'" nz-icon nzType="info-circle"
                  nzTheme="twotone"
                  nzTooltipTitle="Please select an image file (PNG, JPG, JPEG) with an image dimension of 645x299"
                  nzTooltipPlacement="top" nz-tooltip>
                </i>
                <i *ngIf="data.BANNER_TYPE === 'O'" nz-icon nzType="info-circle" nzTheme="twotone"
                  nzTooltipTitle="Please select an image file (PNG, JPG, JPEG) with an image dimension of 364 X 400."
                  nzTooltipPlacement="top" nz-tooltip>
                </i>
              </span>
              <span *ngIf="(data.IMAGE_URL && data.IMAGE_URL != ' ') || fileURL" nz-popconfirm
                nzPopconfirmTitle="Are you sure you want to delete?" nzPopconfirmPlacement="top"
                (nzOnConfirm)="imageDeleteConfirm(data)" (nzOnCancel)="deleteCancel()"
                class="delete-icon-pointer-red-ml10">
                <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#FF0000'" nz-tooltip
                  nzTooltipTitle="Delete"></span>
              </span>
            </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Banner Image">
              <button *ngIf="
                  !fileURL && (!data.IMAGE_URL || data.IMAGE_URL.trim() === '')
                " nz-button class="upload-btn-banner-img" (click)="image1.click()">
                <span nz-icon nzType="upload"></span>
                Banner Image
                <input #image1 name="image1" type="file" accept=".png, .jpg, .jpeg" (change)="onFileSelected($event)"
                  class="file-input-hidden" />
              </button>
              <div *ngIf="
                  data.IMAGE_URL &&
                  data.IMAGE_URL != null &&
                  data.IMAGE_URL != undefined &&
                  data.IMAGE_URL != ' ' &&
                  data.IMAGE_URL != '' &&
                  (fileURL == undefined || fileURL == null || fileURL == '')
                " class="image-container-mt10">
                <img nz-image [nzSrc]="fullImageUrl" alt="Uploaded Image" class="banner-image-preview-400" />
              </div>
              <div *ngIf="
                  fileURL != undefined &&
                  fileURL != null &&
                  fileURL != '' &&
                  fileURL != ' '
                " class="ss image-preview-align-center">
                <img nz-image [nzSrc]="imagePreview" alt="Preview" class="banner-image-preview-400" />
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>
</div>
<div class="footer">
  <button nz-button nzType="default" (click)="close()" class="ant-btn footer-cancel-btn-mr12">
    Cancel
  </button>
  <button nz-button *ngIf="!data.ID" nzType="primary" nz-dropdown [nzDropdownMenu]="menu" [nzLoading]="isSpinning"
    (click)="save(false, form)" class="ant-btn ant-btn-primary">
    Save & Close
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item class="menuc dropdown-menu-item-rounded-white">
        <a class="footer-button footer-save-new-link-white" (click)="save(true, form)">Save & New</a>
      </li>
    </ul>
  </nz-dropdown-menu>
  <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
    (click)="save(false, form)">
    <span>Update & Close</span>
  </button>
</div>
<nz-modal [nzWidth]="900" [nzStyle]="{ 'margin-top': '-80px' }" [(nzVisible)]="CropImageModalVisible"
  nzMaskClosable="false" nzClosable="false" [nzContent]="content2" [nzTitle]="'Crop Image'"
  (nzOnCancel)="CropImageModalCancel()" [nzFooter]="CropImageModalFooter">
  <ng-template #content2>
    <nz-spin [nzSpinning]="isSpinningCrop">
      <div *ngIf="
          cropimageshow != undefined &&
          cropimageshow != null &&
          cropimageshow != ''
        " class="ss crop-modal-container-h500-scroll">
        <div *ngIf="croppedImage" class="cropped-image-text-center">
          <p>Cropped Image:</p>
          <img [src]="croppedImage" width="645" height="299" />
        </div>
        <nz-divider [ngStyle]="{ width: imageWidth - 900 + 'px' }" nzPlain nzVariant="solid"></nz-divider>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" [cropper]="cropperPosition"
          format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)" [imageQuality]="100"
          (cropperReady)="cropperReady($event)" (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>
    </nz-spin>
  </ng-template>
  <ng-template #CropImageModalFooter>
    <button nz-button nzType="default" (click)="CropImageModalCancel()">
      Close
    </button>
    <button nz-button nzType="primary" (click)="onFileSelected(imageChangedEvent)">
      Upload
    </button>
  </ng-template>
</nz-modal>