nz-form-item{
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

.my-box {
  border          : 1px dashed #e9e9e9;
  border-radius   : 6px;
  padding         : 8px;
  margin-top      : 12px;
  margin-bottom   : 12px;
  background-color: #fafafa;
}


.footer {
  position  : absolute;
  bottom    : 0px;
  width     : 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding   : 10px 16px;
  text-align: right;
  left      : 0px;
  background: #fff;
}

/* .angular-editor[_ngcontent-cxg-c26] .angular-editor-wrapper[_ngcontent-cxg-c26] .angular-editor-textarea[_ngcontent-cxg-c26]{
  height: 200px;
} */

/* .img {
  height: 180px;
   margin-left: 10px;
    width: 70% important,
}   */

nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}