.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 
  display: inline-block;
}
.th-text-center {
  text-align: center;
}
.footer-cancel-spacing {
  margin-right: 8px;
}
