.formItem {
  margin-top: 0px;
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

th {
  text-align: center !important;
  vertical-align: middle !important;
  /* font-weight: bold; */
}

.select{
width: 200px;
padding: 8px;
display: block;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

nz-select {
  width: 100%;
}

