nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
  width: 100%;
}
.custom-select-width {
  width: 100px;
}
tr:nth-child(even) td {
  background-color: #f4f3f3;
}
tr:nth-child(odd) td {
  background-color: #ebeaea;
}
td {
  font-size: 12px;
}
.mainnam {
  font-size: 14px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subname {
  color: #4c4c4ceb;
  font-size: 11px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tech-row-block {
  display: inline-block;
  width: 100%;
}
.tech-width-full {
  width: 100%;
}
.tech-input-width-half {
  width: 50%;
  padding: 4.7px 11px !important;
}
.tech-select-width-half {
  width: 50%;
}
.tech-input-qty {
  width: 100%;
  padding: 4.7px 11px !important;
}
.tech-padding-row {
  padding: 0px 10px;
}
.tech-table-whitespace {
  white-space: pre-line;
}
.tech-td-center {
  text-align: center;
}
.tech-cursor-pointer {
  cursor: pointer;
}
.tech-color-red {
  color: red;
}
.tech-td-preline-left {
  white-space: pre-line;
  text-align: left;
}
.tech-margin-right {
  margin-right: 8px;
}
.tech-menu-item {
  border-radius: 4px;
  color: white !important;
}
.tech-menu-link {
  color: white !important;
}
.tech-view-padding {
  padding: 10px 20px;
}
.tech-char-count {
  color: red;
  font-size: 10px;
}