<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="8">
    <div class="formname">
      <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline"
        style="font-weight: bold; cursor: pointer"></span>&nbsp;&nbsp;{{ formTitle }}
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="16" style="display: flex; justify-content: flex-end">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item style="width: 47px">
        <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isfilterapply ? 'primary' : 'default'" [style.backgroundColor]="isfilterapply ? 'default' : ''"
          (click)="showMainFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" (keyup)="keyup($event)" autocomplete="off"
            (keydown.enter)="onEnterKey($event)" [(ngModel)]="searchText" nz-input
            placeholder="Min 3 chars required." />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item style="margin-right: 0px">
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i> New Category
        </button>
      </nz-form-item>
    </form>
  </div>
</div>

<!-- Main Filter -->

<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row style="padding-top: 0px">
          <div nz-col [nzSpan]="24">
            <ng-container *ngIf="filterloading; else filtersContent">
              <div style="text-align: center">
                <nz-spin nzSimple></nz-spin>
              </div>
            </ng-container>
            <ng-template #filtersContent>
              <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                <!-- <ng-container *ngFor="let item of savedFilters">
                      <nz-tag [style.backgroundColor]="
                          selectedFilter === item.ID ? '#e6f7ff' : 'white'
                        " style="
                          margin: 5px;
                          display: inline-flex;
                          align-items: center;
  
                          background-color: white;
                        ">
                        <span style="color: black; margin-right: 10px">{{
                          item.FILTER_NAME
                          }}</span>
                        <span>
                          <i nz-icon nzType="search" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Apply Filter'"
                            (click)="applyfilter(item)" style="color: #01ac5c; margin-right: 8px"></i>
                          <i nz-icon nzType="edit" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Edit Query'"
                            (click)="editQuery(item)" style="color: rgb(0, 0, 0); margin-right: 8px"></i>
                          <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Delete'"
                            style="color: red; margin-right: 8px" nz-popconfirm
                            nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteItem(item)">
                          </i>
                          <i nz-icon nzType="eye" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Show Query'"
                            (click)="toggleLiveDemo(item)" style="color: blue"></i>
                        </span>
                      </nz-tag>
                    </ng-container> -->

                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="6" *ngFor="let item of savedFilters" style="margin-bottom: 8px">
                    <nz-card style="
                        align-items: center;
                        border: 1px solid #a8a8a8;
                        padding: 5px 10px;
                        border-radius: 7px;
                        align-items: center;
                      ">
                      <div style="
                          display: flex;
                          align-items: center;
                          gap: 5px;
                          flex-grow: 1;
                        ">
                        <span style="
                            color: black;
                            text-align: center;
                            font-size: 25px;
                            white-space: nowrap;
                          ">
                          <span *ngIf="item.FILTER_NAME != null">
                            <span *ngIf="item.FILTER_NAME.length >= 25" nz-popover [nzPopoverContent]="item.FILTER_NAME"
                              nzPopoverPlacement="topLeft">
                              {{ item.FILTER_NAME | slice : 0 : 25
                              }}{{ item.FILTER_NAME.length > 25 ? "..." : "" }}
                            </span>
                            <span *ngIf="item.FILTER_NAME.length < 25">
                              {{ item.FILTER_NAME }}
                            </span>
                          </span>
                          <span *ngIf="item.FILTER_NAME == null">-</span>
                        </span>

                        <i *ngIf="selectedFilter === item.ID" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                          [nzTwotoneColor]="'#52c41a'" nz-tooltip [nzTooltipTitle]="
                            'This filter is applied on current data'
                          " style="
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            font-size: 15px;
                            cursor: pointer;
                          "></i>
                      </div>
                      <div nz-row style="margin-top: 7px">
                        <div nz-col nzSpan="24" style="display: flex; justify-content: space-between">
                          <nz-tag nzColor="#2db7f5" (click)="editQuery(item)"
                            style="cursor: pointer;font-size: 10px !important;;" nz-tooltip
                            nzTooltipTitle="Edit Filter">
                            <span nz-icon nzType="edit" nzTheme="outline" style="font-size: 10px !important;">
                            </span>&nbsp;&nbsp;Edit</nz-tag>
                          <nz-tag *ngIf="selectedFilter !== item.ID" nzColor="#87d068" (click)="applyfilter(item)"
                            style="cursor: pointer;font-size: 10px !important;" nz-tooltip
                            nzTooltipTitle="Apply Filter">
                            <span nz-icon nzType="search" nzTheme="outline" style="font-size: 10px !important;">
                            </span>&nbsp;&nbsp;Apply</nz-tag>
                          <nz-tag *ngIf="selectedFilter === item.ID" nzColor="#faad14" (click)="Clearfilter()"
                            style="cursor: pointer;font-size: 10px !important;" nz-tooltip
                            nzTooltipTitle="Clear this Filter">
                            <span nz-icon nzType="close" nzTheme="outline" style="font-size: 10px !important;">
                            </span>&nbsp;&nbsp;Clear</nz-tag>

                          <nz-tag nzColor="#cd201f" nz-popconfirm
                            nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteItem(item)" style="cursor: pointer;font-size: 10px !important;"
                            nz-tooltip nzTooltipTitle="Delete Filter">
                            <span nz-icon nzType="delete" nzTheme="outline" style="font-size: 10px !important;">
                            </span>&nbsp;&nbsp;Delete</nz-tag>
                          <nz-tag nzColor="#3b5999"
                            style="cursor: pointer;font-size: 10px !important; margin-right: 0px" nz-tooltip
                            nzTooltipTitle="View Filter Text" (click)="toggleLiveDemo(item)">
                            <span nz-icon nzType="eye" nzTheme="outline" style="font-size: 10px !important;">
                            </span>&nbsp;&nbsp;View</nz-tag>
                        </div>
                      </div>
                      <!-- <div nz-row style="margin-top: 7px">
                        <div
                          nz-col
                          nzSpan="24"
                          style="display: flex; justify-content: space-between"
                        >
                          <nz-tag
                            nzColor="#2db7f5"
                            (click)="editQuery(item)"
                            style="cursor: pointer"
                            nz-tooltip
                            nzTooltipTitle="Edit Filter"
                          >
                            <span
                              nz-icon
                              nzType="edit"
                              nzTheme="outline"
                              style="font-size: 15px"
                            >
                            </span
                            >&nbsp;&nbsp;Edit</nz-tag
                          >
                          <nz-tag
                            *ngIf="selectedFilter !== item.ID"
                            nzColor="#87d068"
                            (click)="applyfilter(item)"
                            style="cursor: pointer"
                            nz-tooltip
                            nzTooltipTitle="Apply Filter"
                          >
                            <span
                              nz-icon
                              nzType="search"
                              nzTheme="outline"
                              style="font-size: 15px"
                            >
                            </span
                            >&nbsp;&nbsp;Apply</nz-tag
                          >
                          <nz-tag
                            *ngIf="selectedFilter === item.ID"
                            nzColor="#faad14"
                            (click)="Clearfilter()"
                            style="cursor: pointer"
                            nz-tooltip
                            nzTooltipTitle="Clear this Filter"
                          >
                            <span
                              nz-icon
                              nzType="close"
                              nzTheme="outline"
                              style="font-size: 15px"
                            >
                            </span
                            >&nbsp;&nbsp;Clear</nz-tag
                          >

                          <nz-tag
                            nzColor="#cd201f"
                            nz-popconfirm
                            nzPopconfirmTitle="Are you sure to delete this record?"
                            nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteItem(item)"
                            style="cursor: pointer"
                            nz-tooltip
                            nzTooltipTitle="Delete Filter"
                          >
                            <span
                              nz-icon
                              nzType="delete"
                              nzTheme="outline"
                              style="font-size: 15px"
                            >
                            </span
                            >&nbsp;&nbsp;Delete</nz-tag
                          >
                          <nz-tag
                            nzColor="#3b5999"
                            style="cursor: pointer; margin-right: 0px"
                            nz-tooltip
                            nzTooltipTitle="View Filter Text"
                            (click)="toggleLiveDemo(item)"
                          >
                            <span
                              nz-icon
                              nzType="eye"
                              nzTheme="outline"
                              style="font-size: 15px"
                            >
                            </span
                            >&nbsp;&nbsp;View</nz-tag
                          >
                        </div>
                      </div> -->
                    </nz-card>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #noData>
              <div style="text-align: center; color: red; font-weight: bold">
                No Previous Filters Are Found
              </div>
            </ng-template>
            <!-- </div> -->
          </div>
          <div nz-col [nzSpan]="24" style="
              display: flex;
              justify-content: flex-end;
              align-items: left;
              margin-top: 10px;
            ">
            <button *ngIf="savedFilters && savedFilters.length > 0" nz-button nzType="primary" nzSize="small"
              (click)="Clearfilter()" style="margin-right: 10px">
              <span nz-icon nzType="reload" nzTheme="outline"></span>
              Reset Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()" style="margin-right: 10px">
              <span nz-icon nzType="plus"></span>
              New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Main Filter -->

<!-- Table -->
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" #table [nzData]="dataList" [nzLoading]="loadingRecords"
      [nzTotal]="totalRecords" nzBordered [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)" [nzSize]="'small'"
      nzShowSizeChanger [nzFrontPagination]="false" [nzScroll]="{ y: '50vh' }">
      <thead>
        <tr>
          <th nzWidth="30px" nzLeft>Action</th>
          <th nzWidth="300px" nzShowSort align="center" nzColumnKey="{{ 'HELP_CATEGORY_NAME' }}" [nzSortFn]="true"
            nzCustomFilter>
            Category Name
            <nz-filter-trigger [(nzVisible)]="categoryvisible" [nzDropdownMenu]="helpcategoryNameDropdown">
              <!-- <span nz-icon nzType="filter" nzTheme="fill"></span> -->
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: iscategoryFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>

          <th nzWidth="40px" nzShowSort nzColumnKey="{{ 'IS_ACTIVE' }}" [nzSortFn]="true" [nzFilters]="listOfFilter"
            [nzFilterFn]="true" [nzFilterMultiple]="false" (nzFilterChange)="onStatusFilterChange($event)">
            Status
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of table.data">
          <td align="center">
            <nz-tag nzColor="#2db7f5" (click)="edit(data)" style="cursor: pointer">
              <span nz-icon nzType="edit" nzTheme="outline" style="font-size: 15px">
              </span>&nbsp;&nbsp;Edit</nz-tag>
          </td>
          <td align="left" [nzTooltipTitle]="
              isTextOverflow ? data['HELP_CATEGORY_NAME'] : null
            " #tooltipRef1="nzTooltip" nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{
              data["HELP_CATEGORY_NAME"] ? data["HELP_CATEGORY_NAME"] : "-"
              }}
            </div>
          </td>
          <!-- <td align="left">
                            <span *ngIf="data['DESCRIPTION'] != null">
                                <span *ngIf="data['DESCRIPTION'].length >= 43" nz-popover
                                    [nzPopoverContent]="data['DESCRIPTION']" nzPopoverPlacement="topLeft">
                                    {{
                                    data["DESCRIPTION"] == null
                                    ? "-"
                                    : (data["DESCRIPTION"] | slice : 0 : 43)
                                    }}{{ data["DESCRIPTION"].length > 43 ? "..." : "" }}
                                </span>
                                <span *ngIf="data['DESCRIPTION'].length < 43">
                                    {{
                                    data["DESCRIPTION"] == null
                                    ? "-"
                                    : (data["DESCRIPTION"] | slice : 0 : 43)
                                    }}
                                    {{ data["DESCRIPTION"].length > 43 ? "..." : "" }}
                                </span>
                            </span>
                            <span *ngIf="data['DESCRIPTION'] == null">-</span>
                        </td> -->
          <!-- <td align="left">{{ data.DESCRIPTION }}</td> -->
          <td align="center">
            <i nz-icon *ngIf="data['IS_ACTIVE']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>

            <i nz-icon *ngIf="!data['IS_ACTIVE']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <!-- help doc Base Category Name -->
    <nz-dropdown-menu #helpcategoryNameDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="hepDocumentCategoryName" (keyup)="onKeyup($event)"
              placeholder="Search Help Document Category Name" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
              *ngIf="hepDocumentCategoryName" (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="hepDocumentCategoryName == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>

    <!-- DESCRIPTION  -->
  </div>
</div>

<!--Drawer-->
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="370" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-help-document-category-drawer [drawerClose]="closeCallback" [drawerVisible]="drawerVisible"
        [data]="drawerData"></app-help-document-category-drawer> </ng-container></nz-drawer>
</div>

<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerflterClose('buttontype', 'updateButton')" (nzKeyboard)="(true)"
    [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [filterGroups]="filterGroups" [filterGroups2]="filterGroups2" [name]="FILTER_NAME"
        [data]="EditQueryData" [drawerClose]="closefilterCallback" [fields]="filterFields" [TabId]="TabId"
        [editButton]="editButton" (filterApplied)="onFilterApplied($event)" [filterData]="filterData">
      </app-main-filter>`
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Query Details'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 style="text-align: center">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>