th {
    text-align: center !important;
    vertical-align: middle !important;
}
.select {
    width: 200px;
    padding: 8px;
    display: block;
}
.search-box {
    padding: 8px;
}
.search-box input {
    width: 188px;
    display: block;
}
.search-box button {
    width: 90px;
}
.search-button {
    margin-right: 8px;
}
nz-select {
    width: 100%;
}
.my-scroll .ant-table-tbody td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.my-scroll .ant-table-tbody td span[nz-popover] {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.my-scroll .ant-table-tbody td span[nz-popover]:hover {
    overflow: visible;
}
:host::ng-deep .ant-card-body {
    padding: 0px;
}
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
}
.back-icon-style-jx71 {
    font-weight: bold;
    cursor: pointer;
}
.header-actions-flex-fk39 {
    display: flex;
    justify-content: flex-end;
}
.filter-item-width-pm62 {
    width: 47px;
}
.new-btn-no-margin-xr88 {
    margin-right: 0px;
}
.query-details-title-center-xp27 {
    text-align: center;
}
.table-edit-tag-cp31 {
    cursor: pointer;
}
.table-edit-icon-fs94 {
    font-size: 15px;
}
.filter-row-padding-top-xa01 {
    padding-top: 0px;
}
.center-text-xa02 {
    text-align: center;
}
.filter-card-col-mb-xa03 {
    margin-bottom: 8px;
}
.filter-card-box-xa04 {
    border: 1px solid #a8a8a8;
    padding: 5px 10px;
    border-radius: 7px;
}
.filter-card-header-xa05 {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}
.filter-card-title-xa06 {
    color: black;
    text-align: center;
    font-size: 25px;
    white-space: nowrap;
}
.filter-applied-icon-xa07 {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
    cursor: pointer;
}
.filter-card-footer-row-xa08 {
    margin-top: 7px;
}
.filter-card-actions-xa09 {
    display: flex;
    justify-content: space-between;
}
.filter-tag-action-xa10 {
    cursor: pointer;
    font-size: 10px !important;
}
.filter-tag-icon-xa11 {
    font-size: 10px !important;
}
.filter-tag-view-xa12 {
    cursor: pointer;
    font-size: 10px !important;
    margin-right: 0px;
}
.no-data-text-xa13 {
    text-align: center;
    color: red;
    font-weight: bold;
}
.filter-footer-actions-xa14 {
    display: flex;
    justify-content: flex-end;
    align-items: left;
    margin-top: 10px;
}
.filter-footer-btn-mr-xa15 {
    margin-right: 10px;
}