<div nz-row nzType="flex" class="warehouse-header-row">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="8">
    <div class="warehouse-form-title">
      <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline" class="warehouse-back-icon">
      </span>
      &nbsp;&nbsp;
      <b>{{ formTitle }}</b>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="16" class="warehouse-action-col">
    <form nz-form nzLayout="inline" class="warehouse-action-form">
      <nz-form-item class="warehouse-filter-btn-wrapper">
        <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item class="warehouse-search-wrapper">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" nz-input autocomplete="off" placeholder="Min 3 chars required."
            [(ngModel)]="searchText" (keyup)="onKeyupS($event)" (keydown.enter)="onEnterKey($event)" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch (click)="search(true)">
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item class="warehouse-add-btn-wrapper">
        <button nz-button nzType="primary" nzJustify="end" (click)="add()">
          <i nz-icon nzType="plus"></i>
          New Warehouse
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="saved-filter-wrapper {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="saved-filter-row">
          <div nz-col nzSpan="24">
            <ng-container *ngIf="filterloading; else filtersContent">
              <div class="saved-filter-loading">
                <nz-spin nzSimple></nz-spin>
              </div>
            </ng-container>
            <ng-template #filtersContent>
              <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="6" *ngFor="let item of savedFilters" class="saved-filter-card-col">
                    <nz-card class="saved-filter-card">
                      <div class="saved-filter-card-header">
                        <span class="saved-filter-name">
                          <span *ngIf="item.FILTER_NAME != null">
                            <span *ngIf="item.FILTER_NAME.length >= 25" nz-popover [nzPopoverContent]="item.FILTER_NAME"
                              nzPopoverPlacement="topLeft">
                              {{ item.FILTER_NAME | slice : 0 : 25 }}{{ item.FILTER_NAME.length > 25 ? '...' : '' }}
                            </span>
                            <span *ngIf="item.FILTER_NAME.length < 25">
                              {{ item.FILTER_NAME }}
                            </span>
                          </span>
                          <span *ngIf="item.FILTER_NAME == null">-</span>
                        </span>
                        <i *ngIf="selectedFilter === item.ID" nz-icon nzType="check-circle" nzTheme="twotone" nz-tooltip
                          nzTwotoneColor="#52c41a" nzTooltipTitle="This filter is applied on current data"
                          class="saved-filter-active-icon">
                        </i>
                      </div>
                      <div nz-row class="saved-filter-action-row">
                        <div nz-col nzSpan="24" class="saved-filter-action-col">
                          <nz-tag nzColor="#2db7f5" nz-tooltip nzTooltipTitle="Edit Filter" class="saved-filter-tag"
                            (click)="editQuery(item)">
                            <span nz-icon nzType="edit" nzTheme="outline" class="saved-filter-tag-icon"></span>
                            Edit
                          </nz-tag>
                          <nz-tag *ngIf="selectedFilter !== item.ID" nzColor="#87d068" nz-tooltip
                            nzTooltipTitle="Apply Filter" class="saved-filter-tag" (click)="applyfilter(item)">
                            <span nz-icon nzType="search" nzTheme="outline" class="saved-filter-tag-icon"></span>
                            Apply
                          </nz-tag>
                          <nz-tag *ngIf="selectedFilter === item.ID" nzColor="#faad14" nz-tooltip
                            nzTooltipTitle="Clear this Filter" class="saved-filter-tag" (click)="Clearfilter()">
                            <span nz-icon nzType="close" nzTheme="outline" class="saved-filter-tag-icon"></span>
                            Clear
                          </nz-tag>
                          <nz-tag nzColor="#cd201f" nz-popconfirm nzTooltipTitle="Delete Filter"
                            nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                            class="saved-filter-tag" (nzOnConfirm)="deleteItem(item)">
                            <span nz-icon nzType="delete" nzTheme="outline" class="saved-filter-tag-icon"></span>
                            Delete
                          </nz-tag>
                          <nz-tag nzColor="#3b5999" nz-tooltip nzTooltipTitle="View Filter Text"
                            class="saved-filter-tag saved-filter-tag-last" (click)="toggleLiveDemo(item)">
                            <span nz-icon nzType="eye" nzTheme="outline" class="saved-filter-tag-icon"></span>
                            View
                          </nz-tag>
                        </div>
                      </div>
                    </nz-card>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #noData>
              <div class="saved-filter-no-data">
                No Previous Filters Are Found
              </div>
            </ng-template>
          </div>
          <div nz-col nzSpan="24" class="saved-filter-footer">
            <button *ngIf="savedFilters && savedFilters.length > 0" nz-button nzType="primary" nzSize="small"
              class="saved-filter-footer-btn" (click)="Clearfilter()">
              <span nz-icon nzType="reload" nzTheme="outline"></span>
              Reset Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" class="saved-filter-footer-btn" (click)="openfilter()">
              <span nz-icon nzType="plus"></span>
              New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div nz-row class="warehouse-table-row">
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" [nzData]="WarehouseData" #table nzBordered [nzLoading]="loadingRecords"
      nzShowSizeChanger [nzPageSize]="pageSize" [nzShowPagination]="true" [nzFrontPagination]="false"
      [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzQueryParams)="sort($event)"
      (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" [nzSize]="'small'" nzShowSizeChanger
      [nzScroll]="{ x: '1100px', y: '50vh' }">
      <thead nzSingleSort>
        <tr>
          <th nzWidth="170px" nzLeft class="th-center">
            Action
            <nz-filter-trigger [(nzVisible)]="showcloumnVisible" [nzDropdownMenu]="showcolumn1">
              <span nz-icon nzType="down" nzTheme="outline"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('NAME')" nzLeft nzShowSort nzColumnKey="NAME" nzWidth="290px" [nzSortFn]="true"
            nzCustomFilter class="th-center">
            Warehouse Name
            <nz-filter-trigger [(nzVisible)]="WarehouseVisible" [nzDropdownMenu]="Warehouse">
              <span nz-icon nzType="filter" nzTheme="fill" [ngClass]="{ 'filter-active': isWarehouseApplied }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('WAREHOUSE_MANAGER_NAME')" nzLeft nzShowSort nzColumnKey="WAREHOUSE_MANAGER_NAME"
            nzWidth="300px" [nzSortFn]="true" nzCustomFilter class="th-center">
            Warehouse Manager Name
            <nz-filter-trigger [(nzVisible)]="Managervisible" [nzDropdownMenu]="Manager">
              <span nz-icon nzType="filter" nzTheme="fill" [ngClass]="{ 'filter-active': isManagerApplied }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('EMAIL_ID')" nzShowSort nzColumnKey="EMAIL_ID" nzWidth="240px" [nzSortFn]="true"
            nzCustomFilter class="th-center">
            Email ID
            <nz-filter-trigger [(nzVisible)]="Emailvisible" [nzDropdownMenu]="Email">
              <span nz-icon nzType="filter" nzTheme="fill" [ngClass]="{ 'filter-active': isEmailApplied }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('MOBILE_NO')" nzShowSort nzColumnKey="MOBILE_NO" nzWidth="150px" [nzSortFn]="true"
            nzCustomFilter class="th-center">
            Mobile No.
            <nz-filter-trigger [(nzVisible)]="MobileVisible" [nzDropdownMenu]="Mobile">
              <span nz-icon nzType="filter" nzTheme="fill" [ngClass]="{ 'filter-active': isMobileApplied }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('ADDRESS_LINE1')" nzShowSort nzColumnKey="ADDRESS_LINE1" nzWidth="300px"
            [nzSortFn]="true" nzCustomFilter class="th-center">
            Address
            <nz-filter-trigger [(nzVisible)]="AddressVisible" [nzDropdownMenu]="Address">
              <span nz-icon nzType="filter" nzTheme="fill" [ngClass]="{ 'filter-active': isAddApplied }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('STATUS')" nzShowSort nzColumnKey="STATUS" nzWidth="100px" [nzSortFn]="true"
            [nzFilters]="listOfFilter" [nzFilterFn]="true" [nzFilterMultiple]="false"
            (nzFilterChange)="onStatusFilterChange($event)" class="th-center">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td nzLeft class="td-center">
            <nz-tag nzColor="#2db7f5" class="action-tag" (click)="edit(data)" nzTooltipTitle="Edit" nz-tooltip>
              <span nz-icon nzType="edit" nzTheme="outline" class="action-icon"></span>
              Edit
            </nz-tag>
            <nz-tag nzColor="#2db7f5" class="action-tag" (click)="mapTerritory(data)" nzTooltipTitle="Map Territory"
              nz-tooltip>
              <span nz-icon nzType="form" nzTheme="outline" class="action-icon"></span>
              Map
            </nz-tag>
          </td>
          <td nzLeft class="td-left truncate-cell" *ngIf="isColumnVisible('NAME')">
            {{ data.NAME || '-' }}
          </td>
          <td nzLeft class="td-left truncate-cell">
            {{ data.WAREHOUSE_MANAGER_NAME || '-' }}
          </td>
          <td class="td-left truncate-cell">
            {{ data.EMAIL_ID || '-' }}
          </td>
          <td class="td-center" *ngIf="isColumnVisible('MOBILE_NO')">
            {{ data.COUNTRY_CODE }} {{ data.MOBILE_NO || '-' }}
          </td>
          <td class="td-left truncate-cell">
            {{ data.ADDRESS_LINE1 || '-' }}
          </td>
          <td class="td-center" *ngIf="isColumnVisible('STATUS')">
            <i nz-icon [nzType]="data.STATUS ? 'check-circle' : 'close-circle'" nzTheme="twotone"
              [nzTwotoneColor]="data.STATUS ? '#52c41a' : '#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #showcolumn1="nzDropdownMenu">
      <ul nz-menu nzPlacement="bottomRight">
        <li nz-menu-item *ngFor="let column of showcolumn">
          <label nz-checkbox [(ngModel)]="column.visible" (ngModelChange)="isColumnVisible(column)">
            {{ column.label }}
          </label>
        </li>
      </ul>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Warehouse="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="Warehousetext" (onkeypress)="search()" (keyup)="onKeyup($event)"
              placeholder="Search Warehouse Name" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="Warehousetext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="Warehousetext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Manager="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="Magagertext" (onkeypress)="search()" (keyup)="onKeyup($event)"
              placeholder="Search Manager Name" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="Magagertext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="Magagertext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Email="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="Emailtext" (onkeypress)="search()" (keyup)="onKeyup($event)"
              placeholder="Search Email" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="Emailtext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="Emailtext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Mobile="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="Mobiletext" (onkeypress)="search()" (keyup)="onKeyup($event)"
              placeholder="Search Mobile No." [pattern]="commonFunction.mobpattern" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="Mobiletext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="Mobiletext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Address="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="Addresstext" (onkeypress)="search()" (keyup)="onKeyup($event)"
              placeholder="Search Address" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="Addresstext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="Addresstext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #country="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="width-full" nzShowSearch nzAllowClear nzPlaceHolder="Select Country" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedCountries" (ngModelChange)="onCountryChange()">
            <nz-option *ngFor="let data of distinctData" [nzValue]="data.COUNTRY_NAME"
              [nzLabel]="data.COUNTRY_NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #State="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="width-full" nzShowSearch nzAllowClear nzPlaceHolder="Select State" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedStates" (ngModelChange)="onStateChange()">
            <nz-option *ngFor="let data of distinctData" [nzValue]="data.STATE_NAME"
              [nzLabel]="data.STATE_NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Dist="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="width-full" nzShowSearch nzAllowClear nzPlaceHolder="Select District" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedDist" (ngModelChange)="onDistChange()">
            <nz-option *ngFor="let data of distinctData" [nzValue]="data.DISTRICT_NAME"
              [nzLabel]="data.DISTRICT_NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #City="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="width-full" nzShowSearch nzAllowClear nzPlaceHolder="Select City" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedCities" (ngModelChange)="onCityChange()">
            <nz-option *ngFor="let data of distinctData" [nzValue]="data.CITY_NAME"
              [nzLabel]="data.CITY_NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Pincode="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="width-full" nzShowSearch nzAllowClear nzPlaceHolder="Select Pincode" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedPincodes" (ngModelChange)="onPincodeChange()">
            <nz-option *ngFor="let data of distinctData" [nzValue]="data.PINCODE" [nzLabel]="data.PINCODE">
            </nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
  <div *ngIf="drawervisible">
    <nz-drawer [nzBodyStyle]="{
        height: 'calc(100% - 55px)',
        overflow: 'auto',
        'padding-bottom': '53px',
      }" [nzWidth]="1100" nz-icon (nzOnClose)="drawerClose()" nzClosable="true" nzCloseIcon="close"
      [nzVisible]="drawervisible" [nzTitle]="drawerTitle">
      <ng-container *nzDrawerContent>
        <app-warehouse-drawer [drawerClose]="closeCallback" [drawerVisible]="drawervisible"
          [data]="drawerData"></app-warehouse-drawer>
      </ng-container>
    </nz-drawer>
  </div>
</div>
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerfilterClose('buttontype', 'updateButton')" (nzKeyboard)="(true)"
    [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [filterGroups]="filterGroups" [filterGroups2]="filterGroups2" [name]="FILTER_NAME"
        [data]="EditQueryData" [drawerClose]="closefilterCallback" [fields]="filterFields" [TabId]="TabId"
        [editButton]="editButton" (filterApplied)="onFilterApplied($event)" [filterData]="filterData">
      </app-main-filter>`
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Filter Text'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 class="text-center">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>
<div *ngIf="drawerMappigVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="680" [nzVisible]="drawerMappigVisible"
    [nzTitle]="drawerMappingTitle" (nzOnClose)="draweMappingClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-warehouseterriorymapping [drawerClose]="closeCallbackMapping" [drawerVisible]="drawerMappigVisible"
        [data]="drawerDatamapping">
      </app-warehouseterriorymapping>
    </ng-container>
  </nz-drawer>
</div>