.custom-progress {
  position: relative;
  display: flex;
  align-items: center;
}
.custom-text {
  margin-left: 8px;
  font-size: 14px;
  color: black;
}
.clickable-bold {
  font-weight: bold;
  cursor: pointer;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filter-btn {
  margin-right: 10px;
}
.form-item-gap {
  margin-right: 10px !important;
}
.full-width-light {
  width: 100%;
  font-weight: 100 !important;
}
.filter-action-box {
  display: flex;
  gap: 10px;
  padding-top: 0;
  align-self: center;
}
.align-end {
  align-items: flex-end;
}
.comment-container {
  margin-top: 5px;
  padding: 5px;
  max-height: 40vh;
  overflow: auto;
  padding-right: 10px;
}
.comment-to {
  font-weight: 600;
  font-size: 12px !important;
}
.rating-margin {
  margin-top: 0;
}
.no-data {
  font-weight: 600;
  margin-top: 10%;
}
.center-text {
  text-align: center;
}