.cardstyle {
  background-color: #fff;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #efefef;
  border-radius: 10px;
  min-height: 190px;
}

.mainnam {
  /* color: #000; */
  font-size: 11px !important;
  font-weight: 600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subname {
  color: #4c4c4ceb;
  font-size: 12px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ant-tag {
  margin: 0 !important;
}

.ant-drawer-body {
  padding: 8px 20px !important;
}

.emptyDataTex {
  color: grey;
  font-weight: 500;
}

:host::ng-deep .ant-card-body {
  padding: 0px;
}