<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="8">
    <div class="formname">
      <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline"
        style="font-weight: bold; cursor: pointer"></span>&nbsp;&nbsp;{{ formTitle }}
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="16" style="display: flex; justify-content: flex-end">
    <form nz-form [nzLayout]="'inline'">
      <!-- <nz-form-item style="width: 47px">
          <button
            nz-button
            nzTooltipTitle="Filter"
            nzTooltipPlacement="top"
            nz-tooltip
            
          >
            <i nz-icon nzType="filter"></i>
          </button>
        </nz-form-item> -->
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" [(ngModel)]="searchText" nz-input placeholder="Min 3 chars required." />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item style="margin-right: 0px">
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add New Customer Config
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row style="margin-top: 10px;">
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" nzBordered #table nzShowSizeChanger [nzFrontPagination]="true"
      [nzData]="emailServiceConfigData" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzQueryParams)="sort($event)" [nzSize]="'small'" style="white-space: pre-line" [nzScroll]="{ x: '1500px' }">
      <thead>
        <tr>
          <th nzWidth="80px" style="text-align: center;" nzAlign="center"><b>Action</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="CUSTOMER_TYPE" [nzSortFn]="true"><b>Customer Type</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="CUSTOMER_CATEGORY" [nzSortFn]="true"><b>Customer
              Category</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="DEFAULT_LANGUAGE" [nzSortFn]="true"><b>Default Language</b>
          </th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="TIMEZONE" [nzSortFn]="true"><b>Timezone</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="NOTIFICATION_PREFERENCES" [nzSortFn]="true"><b>Notification
              Preferences</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="ENABLE_PUSH_NOTIFICATIONS" [nzSortFn]="true"><b>Enable Push
              Notifications</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="ENABLE_SMS_NOTIFICATIONS" [nzSortFn]="true"><b>Enable SMS
              Notifications</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="ENABLE_EMAIL_NOTIFICATIONS" [nzSortFn]="true"><b>Enable
              Email Notifications</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="PREFERRED_CONTACT_METHOD" [nzSortFn]="true"><b>Preferred
              Contact Method</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="DEFAULT_PAYMENT_METHOD" [nzSortFn]="true"><b>Default Payment
              Method</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="SUPPORT_ACCESS_LEVEL" [nzSortFn]="true"><b>Support Access
              Level</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="SERVICE_HISTORY_ACCESS" [nzSortFn]="true"><b>Service History
              Access</b></th>
          <th nzWidth="150px" nzAlign="center" nzColumnKey="ACCOUNT_STATUS" [nzSortFn]="true"><b>Account Status</b></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of emailServiceConfigData">
          <td style="text-align: center;">
            <a (click)="edit(data)" nz-tooltip nzTooltipTitle="Edit">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </a>
          </td>
          <td>{{ data.CUSTOMER_TYPE }}</td>
          <td>{{ data.CUSTOMER_CATEGORY }}</td>
          <td>{{ data.DEFAULT_LANGUAGE }}</td>
          <td>{{ data.TIMEZONE }}</td>
          <td>{{ data.NOTIFICATION_PREFERENCES }}</td>
          <td>{{ data.ENABLE_PUSH_NOTIFICATIONS }}</td>
          <td>{{ data.ENABLE_SMS_NOTIFICATIONS }}</td>
          <td>{{ data.ENABLE_EMAIL_NOTIFICATIONS }}</td>
          <td>{{ data.PREFERRED_CONTACT_METHOD }}</td>
          <td>{{ data.DEFAULT_PAYMENT_METHOD }}</td>
          <td>{{ data.SUPPORT_ACCESS_LEVEL }}</td>
          <td>{{ data.SERVICE_HISTORY_ACCESS }}</td>
          <td align="center">
            <i nz-icon *ngIf="data['IS_ACTIVE']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>
            <i nz-icon *ngIf="!data['IS_ACTIVE']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>


<nz-drawer [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="true" [nzWidth]="500" [nzVisible]="drawerVisible"
  [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
  <ng-container *nzDrawerContent>
    <app-customerconfig [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData">
    </app-customerconfig>
  </ng-container>
</nz-drawer>