:host::ng-deep .ant-card-body {
  padding: 0px;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 
  display: inline-block;
}
.back-nav-arrow {
  font-weight: bold;
  cursor: pointer;
}
.header-action-wrapper {
  display: flex;
  justify-content: flex-end;
}
.excel-export-btn {
  color: white;
}
.filter-form-item-width {
  width: 47px;
}
.filter-row-padding {
  padding-top: 0px;
}
.filter-loading-center {
  text-align: center;
}
.filter-card-wrapper {
  margin-bottom: 8px;
}
.filter-card-styled {
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
  align-items: center;
}
.filter-card-inner {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.filter-name-text {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.filter-active-indicator {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.filter-actions-top-margin {
  margin-top: 7px;
}
.filter-actions-container {
  display: flex;
  justify-content: space-between;
}
.filter-action-tag {
  cursor: pointer;
  font-size: 10px !important;
}
.edit-filter-tag {
  margin-right: 4px;
}
.apply-filter-tag {
  margin-left: 4px;
}
.clear-filter-tag {
  margin-left: 4px;
}
.delete-filter-tag {
  margin-left: 4px;
}
.view-filter-tag-last {
  cursor: pointer;
  font-size: 10px !important;
  margin-right: 0px;
}
.filter-tag-icon {
  font-size: 10px !important;
}
.no-filters-message {
  text-align: center;
  color: red;
  font-weight: bold;
}
.filter-controls-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.filter-control-btn {
  margin-right: 10px;
}
.reset-filter-control {
  margin-right: 10px;
}
.new-filter-control {
  margin-right: 10px;
}
.whatsapp-table-margin {
  margin-top: 8px;
}
.whatsapp-table {
}
.table-header-bold-center {
  font-weight: bold;
  text-align: center;
}
.status-icon-cell {
  text-align: center;
}
.filter-text-modal .filter-text-center {
  text-align: center;
}
.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}