th {
    text-align: center !important;
    vertical-align: middle !important;
}
.select{
  width: 200px;
  padding: 8px;
  display: block;
}
.search-box {
    padding: 8px;
  }
  .search-box input {
    width: 188px;
    display: block;
  }
  .search-box button {
    width: 90px;
  }
  .search-button {
    margin-right: 8px;
  }
  nz-select {
    width: 100%;
  }
.back-arrow-icon {
  font-weight: bold;
  cursor: pointer;
}
.flex-end-container {
  display: flex;
  justify-content: flex-end;
}
.filter-button-container {
  width: 47px;
}
.new-button-container {
  margin-right: 0px;
}
.filter-margin-vertical {
  margin: 10px 0px;
}
.dashed-border-box {
  border: 1px dashed black;
  border-radius: 5px;
  padding: 10px;
}
.subfilter-margin-bottom {
  margin-bottom: 5px;
}
.btn-margin-right {
  margin-right: 10px;
}
.filter-warning-text {
  color: red;
  font-size: 11px;
}
.padding-top-10 {
  padding-top: 10px;
}
.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}
.no-data-message {
  text-align: center;
  color: red;
  font-weight: bold;
}
.table-pre-line {
  white-space: pre-line;
}
.action-header-center {
  text-align: center;
}
.status-header-center {
  text-align: center;
}
.action-cell-center {
  text-align: center;
}
.edit-icon-size {
  font-size: 15px;
}
.full-width-select {
  width: 100%;
}
.drawerBodyStyle {
  height: calc(100% - 55px);
  overflow: auto;
  padding-bottom: 53px;
}