.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin: 12px 0;
  background-color: #fafafa;
}

.section-title {
  display: block;
  margin-bottom: 8px;
}

.char-count {
  color: red;
  font-size: 10px;
  margin: 0;
}

.full-width {
  width: 100%;
}

.footer {
  text-align: right;
  margin-top: 12px;
}

.footer-btn {
  margin-right: 8px;
}

.menuc {
  border-radius: 4px;
  background-color: #1890ff !important;
}

.menuc a {
  color: #ffffff !important;
}

nz-form-item {
  display: inline-block;
  width: -webkit-fill-available;
  padding: 0 10px;
  margin-bottom: 5px;
}

.menuc11 {
  border-radius: 4px;
  color: white !important;
}

.btncolor {
  color: white !important;
}

.cm-save-new-menu {
  border-radius: 4px;
  color: white !important;
  background-color: #092B9C !important
}

.cm-save-new-link {
  color: white !important;
}