<div nz-row nzType="flex">
  <div nz-col nzSpan="24" class="search-filter-container">
    <form nz-form nzLayout="inline">
      <nz-form-item class="filter-button-container">
        <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isfilterapply ? 'primary' : 'default'" [style.backgroundColor]="isfilterapply ? 'default' : ''"
          (click)="showMainFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" class="search-input" nz-input placeholder="Enter min 3 characters to search"
            [(ngModel)]="searchText" (keyup)="onKeypressEvent($event)" autocomplete="off"
            (keydown.enter)="onEnterKey($event)" />
        </nz-input-group>
      </nz-form-item>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="searchopen()">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
      <nz-form-item class="new-service-button-container">
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>New Service
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="filter-row">
          <div nz-col [nzSpan]="24">
            <ng-container *ngIf="filterloading; else filtersContent">
              <div class="spin-container">
                <nz-spin nzSimple></nz-spin>
              </div>
            </ng-container>
            <ng-template #filtersContent>
              <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                <div nz-row nzGutter="8" class="filter-grid">
                  <div nz-col nzSpan="6" *ngFor="let item of savedFilters" class="filter-card-col">
                    <nz-card class="filter-card">
                      <div class="filter-card-header">
                        <span class="filter-name" *ngIf="item.FILTER_NAME != null">
                          <span *ngIf="item.FILTER_NAME.length >= 25" nz-popover [nzPopoverContent]="item.FILTER_NAME"
                            nzPopoverPlacement="topLeft">
                            {{ item.FILTER_NAME | slice : 0 : 25
                            }}{{ item.FILTER_NAME.length > 25 ? "..." : "" }}
                          </span>
                          <span *ngIf="item.FILTER_NAME.length < 25">
                            {{ item.FILTER_NAME }}
                          </span>
                        </span>
                        <span *ngIf="item.FILTER_NAME == null">-</span>
                        <i *ngIf="selectedFilter === item.ID" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                          [nzTwotoneColor]="'#52c41a'" nz-tooltip [nzTooltipTitle]="
                            'This filter is applied on current data'
                          " class="filter-applied-icon"></i>
                      </div>
                      <div nz-row class="filter-actions-row">
                        <div nz-col nzSpan="24" class="filter-actions-container">
                          <nz-tag nzColor="#2db7f5" (click)="editQuery(item)" class="filter-action-tag edit-tag"
                            nz-tooltip nzTooltipTitle="Edit Filter">
                            <span nz-icon nzType="edit" nzTheme="outline" class="tag-icon">
                            </span>&nbsp;&nbsp;Edit</nz-tag>
                          <nz-tag *ngIf="selectedFilter !== item.ID" nzColor="#87d068" (click)="applyfilter(item)"
                            class="filter-action-tag apply-tag" nz-tooltip nzTooltipTitle="Apply Filter">
                            <span nz-icon nzType="search" nzTheme="outline" class="tag-icon">
                            </span>&nbsp;&nbsp;Apply</nz-tag>
                          <nz-tag *ngIf="selectedFilter === item.ID" nzColor="#faad14" (click)="Clearfilter()"
                            class="filter-action-tag clear-tag" nz-tooltip nzTooltipTitle="Clear this Filter">
                            <span nz-icon nzType="close" nzTheme="outline" class="tag-icon">
                            </span>&nbsp;&nbsp;Clear</nz-tag>
                          <nz-tag nzColor="#cd201f" nz-popconfirm
                            nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteItem(item)" class="filter-action-tag delete-tag" nz-tooltip
                            nzTooltipTitle="Delete Filter">
                            <span nz-icon nzType="delete" nzTheme="outline" class="tag-icon">
                            </span>&nbsp;&nbsp;Delete</nz-tag>
                          <nz-tag nzColor="#3b5999" class="filter-action-tag view-tag" nz-tooltip
                            nzTooltipTitle="View Filter Text" (click)="toggleLiveDemo(item)">
                            <span nz-icon nzType="eye" nzTheme="outline" class="tag-icon">
                            </span>&nbsp;&nbsp;View</nz-tag>
                        </div>
                      </div>
                    </nz-card>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #noData>
              <div class="no-filters-message">
                No Previous Filters Are Found
              </div>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="24" class="filter-buttons-container">
            <button *ngIf="savedFilters && savedFilters.length > 0" nz-button nzType="primary" nzSize="small"
              (click)="Clearfilter()" class="reset-filter-button">
              <span nz-icon nzType="reload" nzTheme="outline"></span>
              Reset Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()" class="new-filter-button">
              <span nz-icon nzType="plus"></span>
              New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nz-spin [nzSpinning]="loadingRecords">
  <div nz-row *ngIf="totalRecords > 0">
    <div nz-col nzSpan="8" *ngFor="let data of dataList; ">
      <div class="service-card-wrapper">
        <div class="card">
          <div class="card-header">
            <div class="header-parent">
              <div class="header-child-start">
                <div class="category-container">
                  <span class="category-name"><span *ngIf="dataList != undefined" class="truncate-one-line" nz-popover
                      [nzPopoverContent]="popoverTemplate" nzPopoverPlacement="topLeft">{{ data.CATEGORY_NAME }} >
                      {{ data["SUB_CATEGORY_NAME"] }}</span> </span>&nbsp;
                  <ng-template #popoverTemplate>
                    <div>
                      <p *ngIf="dataList != undefined">
                        <strong>Category Name:</strong> {{ data.CATEGORY_NAME }}
                      </p>
                      <p *ngIf="dataList != undefined">
                        <strong>Sub-Category Name:</strong>
                        {{ data.SUB_CATEGORY_NAME }}
                      </p>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="header-child-end">
                <div class="status-icons-container">
                  <svg class="rating-icon" *ngIf="data.IS_PARENT == 0" nz-tooltip
                    nzTooltipTitle="Click here to view rating" (click)="viewratings(data)"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20px"
                    width="20px" version="1.1" id="Layer_1" viewBox="0 0 503.559 503.559" xml:space="preserve">
                    <path class="rating-svg-path-gray"
                      d="M502.659,193.299c-2.4-8-9.6-14.4-18.4-16l-146.4-21.6l-65.6-132c-4-8-12-12.8-20.8-12.8  s-16.8,4.8-20.8,12.8l-65.6,132.8l-145.6,20.8c-8.8,1.6-16,7.2-18.4,16c-2.4,8-0.8,17.6,5.6,24l105.6,103.2l-24.8,145.6  c-1.6,8.8,2.4,17.6,8.8,22.4c7.2,4.8,16.8,5.6,24,1.6l131.2-68.8l130.4,68.8c3.2,1.6,7.2,2.4,10.4,2.4c4.8,0,9.6-1.6,13.6-4  c7.2-4.8,10.4-13.6,8.8-22.4l-24.8-145.6l105.6-103.2C502.659,210.899,505.059,201.299,502.659,193.299z" />
                    <g>
                      <polygon class="rating-svg-polygon-darkgray"
                        points="136.259,481.299 136.259,481.299 251.459,421.299 366.659,481.299 366.659,481.299    251.459,366.099  " />
                      <path class="rating-svg-path-darkgray"
                        d="M502.659,193.299c-2.4-8-9.6-14.4-18.4-16l-146.4-21.6l-65.6-132c-4-8-12-12.8-20.8-12.8   s-16.8,4.8-20.8,12.8l-65.6,132.8l-65.6,9.6l313.6,313.6c2.4-4,3.2-8.8,1.6-13.6l-24.8-145.6l105.6-103.2   C502.659,210.899,505.059,201.299,502.659,193.299z" />
                    </g>
                    <path class="rating-svg-path-orange"
                      d="M251.459,10.899c-8,0.8-16,5.6-20,12.8l-65.6,132.8l-146.4,20.8c-8.8,1.6-16,7.2-18.4,16  c-2.4,8-0.8,17.6,5.6,24l105.6,103.2l-24.8,145.6c-1.6,8.8,2.4,17.6,8.8,22.4c7.2,4.8,16.8,5.6,24.8,1.6l130.4-68V10.899z" />
                    <g>
                      <path class="rating-svg-path-darkorange"
                        d="M231.459,23.699l-65.6,132.8l-64.8,9.6l150.4,149.6v-304.8   C243.459,11.699,235.459,16.499,231.459,23.699z" />
                      <polygon class="rating-svg-polygon-darkorange"
                        points="137.059,481.299 137.059,481.299 251.459,422.099 251.459,367.699  " />
                    </g>
                  </svg>
                  &nbsp;&nbsp;
                  <i nz-icon *ngIf="dataList != undefined && data['STATUS']" class="status-icon active-status-icon"
                    [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                  <i nz-icon class="status-icon" *ngIf="dataList != undefined && !data['STATUS']"
                    [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#f50'"></i>&nbsp;&nbsp;<nz-tag
                    *ngIf="dataList != undefined && data['IS_EXPRESS']" class="express-tag" nzColor="volcano">Express
                    Service</nz-tag>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="info">
              <div class="row">
                <div class="col-8">
                  <div class="details">
                    <h4 class="service-name">
                      <span *ngIf="dataList != undefined && data['NAME']">
                        <span class="truncate-one-line" nz-popover [nzPopoverContent]="data['NAME']"
                          nzPopoverPlacement="topLeft">
                          {{ data["NAME"] }}
                        </span>
                      </span>
                      <span *ngIf="dataList != undefined && !data['NAME']">-</span>
                    </h4>
                    <p class="service-description">
                      <span *ngIf="dataList != undefined && data['DESCRIPTION']">
                        <span class="truncate-three-lines cardHeight" nz-popover
                          nzPopoverOverlayClassName="custom-popover" [nzPopoverContent]="descript"
                          nzPopoverPlacement="topLeft" [innerHTML]="data['DESCRIPTION']">
                        </span>
                      </span>
                      <ng-template #descript>
                        <div class="custom-popover">
                          <span [innerHTML]="data['DESCRIPTION']"></span>
                        </div>
                      </ng-template>
                      <span *ngIf="dataList != undefined && !data['DESCRIPTION']">-</span>
                    </p>
                    <div class="row price-row" *ngIf="dataList != undefined && !data['IS_PARENT']">
                      <div class="col-6 price-col" *ngIf="
                          data != undefined &&
                          (data.SERVICE_TYPE == 'O' || data.SERVICE_TYPE == 'C')
                        ">
                        B2C :
                        <span *ngIf="dataList != undefined" class="price-value">₹{{ data.B2C_PRICE
                          }}</span>
                      </div>
                      <div class="col-6 price-col" *ngIf="
                          data != undefined &&
                          (data.SERVICE_TYPE == 'O' || data.SERVICE_TYPE == 'B')
                        ">
                        B2B :
                        <span *ngIf="dataList != undefined" class="price-value">₹{{ data.B2B_PRICE
                          }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="service-image">
                    <img [src]="SERVER_URL + data.SERVICE_IMAGE" width="128px" height="100px" alt="Service Image" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row footer-buttons-row">
              <div class="col-2 footer-button-col edit-button-col">
                <button class="btn edit-details-button" (click)="edit(data)">
                  <span nz-icon nzType="edit" nzTheme="outline"></span>&nbsp;
                  Edit
                </button>
              </div>
              <div class="col-3 footer-button-col map-button-col" *ngIf="!data.IS_PARENT">
                <button class="btn map-skill-button" (click)="mapSkill(data)">
                  Map Skills
                </button>
              </div>
              <div class="col-4 footer-button-col helpdoc-button-col"
                *ngIf="dataList != undefined && !data['IS_PARENT']">
                <button class="btn helpdoc-button" (click)="HelpDocMap(data)">
                  Help Document
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="24" class="load-more-container">
      <button nz-button nzType="primary" (click)="loadMore()"
        *ngIf="dataList.length < totalRecords && totalRecords > 18">
        Load More
      </button>
    </div>
  </div>
  <div nz-row *ngIf="totalRecords == 0" class="empty-state-container">
    <div nz-col nzSpan="24" class="empty-state-content">
      <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl43" [nzNotFoundFooter]="footerTpl43">
        <ng-template #contentTpl43>
          <span> Data Not Found</span>
        </ng-template>
        <ng-template #footerTpl43> </ng-template>
      </nz-empty>
    </div>
  </div>
</nz-spin>
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px',
      'padding-top': '3px',
      'padding-left': '20px',
      'padding-right': '20px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="widths" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-addnew-service-for-b2-b [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData"
        [custid]="data.ID">
      </app-addnew-service-for-b2-b>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerVisibleDesigner">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px',
      'padding-top': '10px',
      'padding-left': '20px',
      'padding-right': '20px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="widths11"
    [nzVisible]="drawerVisibleDesigner" [nzTitle]="drawerTitleDesigner" (nzOnClose)="drawerClosedesigner()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-add-details-drawer-main [closeCallbacksubDesigner]="closeCallbacksubDesigner"
        [drawerVisibleDesigner]="drawerVisibleDesigner" [dataDesigner]="dataDesigner">
      </app-add-details-drawer-main>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerMappigVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px',
      'padding-top': '10px',
      'padding-left': '17px',
      'padding-right': '17px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="widthsSkill"
    [nzVisible]="drawerMappigVisible" [nzTitle]="drawerMappingTitle" (nzOnClose)="draweMappingClose()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-skill-mapping [drawerClose]="closeCallbackMapping" [Type]="'Main'" [drawerVisible]="drawerMappigVisible"
        [data]="drawerData">
      </app-skill-mapping>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerMappigVisibleHelp">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px',
      'padding-top': '10px',
      'padding-left': '17px',
      'padding-right': '17px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="widthsDoc"
    [nzVisible]="drawerMappigVisibleHelp" [nzTitle]="drawerMappingTitleHelp" (nzOnClose)="draweMappingCloseHelp()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-map-help-documents [drawerClose]="HelpcloseCallbackMapping" [type]="'MAIN'"
        [drawerVisible]="drawerMappigVisibleHelp" [data]="drawerData">
      </app-map-help-documents>
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [nzWidth]="900" [(nzVisible)]="ImageModalVisible" nzMaskClosable="false" nzClosable="false"
  [nzContent]="content" [nzTitle]="'Image View'" (nzOnCancel)="ImageModalCancel()" [nzFooter]="ImageModalFooter">
  <ng-template #content>
    <nz-spin [nzSpinning]="loadingRecords">
      <div *ngIf="imageshow != undefined && imageshow != null && imageshow != ''"
        class="image-modal-content frameHeight">
        <iframe [src]="imageshow" class="image-iframe" frameborder="0"></iframe>
      </div>
    </nz-spin>
  </ng-template>
  <ng-template #ImageModalFooter>
    <button nz-button nzType="default" (click)="ImageModalCancel()">
      Close
    </button>
  </ng-template>
</nz-modal>
<div *ngIf="drawerserviceVisibleMaped">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(105% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="widthsss"
    [nzVisible]="drawerserviceVisibleMaped" [nzTitle]="drawerTitleMaped" (nzOnClose)="drawerServiceMappingCloseMaped()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-view-service-logs [drawerCloset]="closeServiceMappingCallbackMaped" [type]="'MAIN'"
        [drawerVisiblet]="drawerserviceVisibleMaped" [serviceid]="serviceid"
        [data]="drawerDataMaped"></app-view-service-logs>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerfilterClose('buttontype', 'updateButton')" (nzKeyboard)="(true)"
    [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [drawerClose]="filtercloseCallback" [filterGroups]="filterGroups" [filterGroups2]="filterGroups2"
        [filterData]="filterData" [name]="FILTER_NAME" [data]="EditQueryData" [editButton]="editButton" [TabId]="TabId"
        [fields]="filterFields" (filterApplied)="onFilterApplied($event)"></app-main-filter> </ng-container></nz-drawer>
</div>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Filter Text'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 class="filter-text-content">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>
<div *ngIf="drawerratingVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="500" [nzVisible]="drawerratingVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="ratingdrawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-view-service-rating [drawerClose]="ratingcloseCallback" [drawerVisible]="drawerratingVisible"
        [data]="drawerData">
      </app-view-service-rating>
    </ng-container>
  </nz-drawer>
</div>