<div nz-row nzType="flex" class="page-header-row">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="8">
    <div class="formname">
      <b>
        <span nz-icon nzType="arrow-left" nzTheme="outline" class="back-icon" (click)="back()"></span>
        &nbsp;&nbsp; {{ formTitle }}
      </b>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="16" class="header-actions">
    <form nz-form nzLayout="inline">
      <nz-form-item class="filter-btn-item">
        <button nz-button nz-tooltip nzTooltipTitle="Filter" nzTooltipPlacement="top"
          [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input nz-input type="text" name="search" [(ngModel)]="searchText" placeholder="Min 3 chars required."
            (keyup)="onKeyup($event)" (keydown.enter)="onEnterKey($event)" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch (click)="search(true)">
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item class="add-branch-item">
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>
          New Branch
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="filter-wrapper">
          <div nz-col nzSpan="24">
            <ng-container *ngIf="filterloading; else filtersContent">
              <div class="center-text">
                <nz-spin nzSimple></nz-spin>
              </div>
            </ng-container>
            <ng-template #filtersContent>
              <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="6" *ngFor="let item of savedFilters" class="filter-card-col">
                    <nz-card class="filter-card">
                      <div class="filter-card-header">
                        <span class="filter-name">
                          <ng-container *ngIf="item.FILTER_NAME; else noName">
                            <span *ngIf="item.FILTER_NAME.length >= 25" nz-popover [nzPopoverContent]="item.FILTER_NAME"
                              nzPopoverPlacement="topLeft">
                              {{ item.FILTER_NAME | slice : 0 : 25 }}{{ item.FILTER_NAME.length > 25 ? '...' : '' }}
                            </span>
                            <span *ngIf="item.FILTER_NAME.length < 25">
                              {{ item.FILTER_NAME }}
                            </span>
                          </ng-container>
                          <ng-template #noName>-</ng-template>
                        </span>
                        <i *ngIf="selectedFilter === item.ID" nz-icon nzType="check-circle" nzTheme="twotone"
                          nzTwotoneColor="#52c41a" nz-tooltip nzTooltipTitle="This filter is applied on current data"
                          class="filter-applied-icon"></i>
                      </div>
                      <div nz-row class="filter-action-row">
                        <div nz-col nzSpan="24" class="filter-action-container">
                          <nz-tag nzColor="#2db7f5" (click)="editQuery(item)" nz-tooltip nzTooltipTitle="Edit Filter"
                            class="filter-action-tag">
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                            Edit
                          </nz-tag>
                          <nz-tag *ngIf="selectedFilter !== item.ID" nzColor="#87d068" (click)="applyfilter(item)"
                            nz-tooltip nzTooltipTitle="Apply Filter" class="filter-action-tag">
                            <span nz-icon nzType="search" nzTheme="outline"></span>
                            Apply
                          </nz-tag>
                          <nz-tag *ngIf="selectedFilter === item.ID" nzColor="#faad14" (click)="Clearfilter()"
                            nz-tooltip nzTooltipTitle="Clear this Filter" class="filter-action-tag">
                            <span nz-icon nzType="close" nzTheme="outline"></span>
                            Clear
                          </nz-tag>
                          <nz-tag nzColor="#cd201f" nz-popconfirm
                            nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteItem(item)" nz-tooltip nzTooltipTitle="Delete Filter"
                            class="filter-action-tag">
                            <span nz-icon nzType="delete" nzTheme="outline"></span>
                            Delete
                          </nz-tag>
                          <nz-tag nzColor="#3b5999" (click)="toggleLiveDemo(item)" nz-tooltip
                            nzTooltipTitle="View Filter Text" class="filter-action-tag">
                            <span nz-icon nzType="eye" nzTheme="outline"></span>
                            View
                          </nz-tag>
                        </div>
                      </div>
                    </nz-card>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #noData>
              <div class="no-data-text">
                No Previous Filters Are Found
              </div>
            </ng-template>
          </div>
          <div nz-col nzSpan="24" class="filter-footer">
            <button *ngIf="savedFilters && savedFilters.length > 0" nz-button nzType="primary" nzSize="small"
              (click)="Clearfilter()" class="footer-btn">
              <span nz-icon nzType="reload" nzTheme="outline"></span>
              Reset Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()" class="footer-btn">
              <span nz-icon nzType="plus"></span>
              New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div nz-row class="table-wrapper">
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1 table-preline" nzBordered #table nzShowSizeChanger [nzFrontPagination]="false"
      [nzData]="dataList" [nzLoading]="loadingRecords" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize" [nzSize]="'small'" (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)" [nzScroll]="{ x: '600px', y: '55vh' }">
      <thead>
        <tr>
          <th nzWidth="40px" class="th-center th-bold">
            Action
          </th>
          <th nzLeft *ngIf="isColumnVisible('NAME')" nzWidth="150px" class="th-center th-bold" nzColumnKey="NAME"
            [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter>
            Branch Name
            <nz-filter-trigger [(nzVisible)]="branchvisible" [nzDropdownMenu]="Branch">
              <span nz-icon nzType="filter" nzTheme="fill" [ngClass]="{
                  'filter-active': isBranchNameFilterApplied
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzLeft *ngIf="isColumnVisible('COUNTRY_ID')" nzWidth="110px" class="th-center th-bold"
            nzColumnKey="COUNTRY_ID" [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter nzShowSort>
            Country Name
            <nz-filter-trigger [(nzVisible)]="countryVisible" [nzDropdownMenu]="country"
              (nzVisibleChange)="onFilterClick('COUNTRY_NAME')">
              <span nz-icon nzType="filter" nzTheme="fill" [ngClass]="{
                  'filter-active': iscountrynameFilterApplied
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('STATE_ID')" nzWidth="110px" class="th-center th-bold" nzColumnKey="STATE_ID"
            [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter nzShowSort>
            State Name
            <nz-filter-trigger [(nzVisible)]="stateVisible" [nzDropdownMenu]="state"
              (nzVisibleChange)="onFilterClick('STATE_NAME')">
              <span nz-icon nzType="filter" nzTheme="fill" [ngClass]="{
                  'filter-active': isStateNameFilterApplied
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('DISTRICT_ID')" nzWidth="100px" class="th-center th-bold" nzColumnKey="DISTRICT_ID"
            [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter nzShowSort>
            District Name
            <nz-filter-trigger [(nzVisible)]="districtVisible" [nzDropdownMenu]="district"
              (nzVisibleChange)="onFilterClick('DISTRICT_NAME')">
              <span nz-icon nzType="filter" nzTheme="fill" [ngClass]="{
                  'filter-active': isDistrictNameFilterApplied
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('PINCODE_ID')" nzWidth="100px" class="th-center th-bold" nzColumnKey="PINCODE_ID"
            [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter nzShowSort>
            Pincode
            <nz-filter-trigger [(nzVisible)]="pincodeVisible" [nzDropdownMenu]="pincode"
              (nzVisibleChange)="onFilterClick('PINCODE')">
              <span nz-icon nzType="filter" nzTheme="fill" [ngClass]="{
                  'filter-active': isPincodeFilterApplied
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('IS_ACTIVE')" nzWidth="50px" class="th-center th-bold" nzColumnKey="IS_ACTIVE"
            [nzSortFn]="true" [nzFilters]="listOfFilter" [nzFilterFn]="true" [nzFilterMultiple]="false"
            (nzFilterChange)="onStatusFilterChange($event)">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data" class="td-center">
          <td>
            <nz-tag nzColor="#2db7f5" (click)="edit(data)" class="edit-tag">
              <span nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></span>
              Edit
            </nz-tag>
          </td>
          <td class="td-left" [nzTooltipTitle]="isTextOverflow ? data['NAME'] : null" #t1="nzTooltip" nz-tooltip>
            <div class="truncate-text" #c1 (mouseenter)="checkOverflow(c1, t1)">
              {{ data["NAME"] || "-" }}
            </div>
          </td>
          <td class="td-left" [nzTooltipTitle]="isTextOverflow ? data['COUNTRY_NAME'] : null" #t2="nzTooltip"
            nz-tooltip>
            <div class="truncate-text" #c2 (mouseenter)="checkOverflow(c2, t2)">
              {{ data["COUNTRY_NAME"] || "-" }}
            </div>
          </td>
          <td class="td-left" [nzTooltipTitle]="isTextOverflow ? data['STATE_NAME'] : null" #t3="nzTooltip" nz-tooltip>
            <div class="truncate-text" #c3 (mouseenter)="checkOverflow(c3, t3)">
              {{ data["STATE_NAME"] || "-" }}
            </div>
          </td>
          <td class="td-left" [nzTooltipTitle]="isTextOverflow ? data['DISTRICT_NAME'] : null" #t4="nzTooltip"
            nz-tooltip>
            <div class="truncate-text" #c4 (mouseenter)="checkOverflow(c4, t4)">
              {{ data["DISTRICT_NAME"] || "-" }}
            </div>
          </td>
          <td class="td-left" [nzTooltipTitle]="isTextOverflow ? data['PINCODE'] : null" #t5="nzTooltip" nz-tooltip>
            <div class="truncate-text" #c5 (mouseenter)="checkOverflow(c5, t5)">
              {{ data["PINCODE"] || "-" }}
            </div>
          </td>
          <td *ngIf="isColumnVisible('IS_ACTIVE')">
            <i nz-icon *ngIf="data['IS_ACTIVE']" nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#52c41a"></i>
            <i nz-icon *ngIf="!data['IS_ACTIVE']" nzType="close-circle" nzTheme="twotone" nzTwotoneColor="#f50"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<thead>
  <nz-dropdown-menu #showcolumn1="nzDropdownMenu">
    <ul nz-menu nzPlacement="bottomRight">
      <li nz-menu-item *ngFor="let column of showcolumn">
        <label nz-checkbox [(ngModel)]="column.visible" (ngModelChange)="isColumnVisible(column)">
          {{ column.label }}
        </label>
      </li>
    </ul>
  </nz-dropdown-menu>
  <nz-dropdown-menu #Branch="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input type="text" nz-input [(ngModel)]="branchtext" (keyup)="onKeyup($event)" (keydown.enter)="nameFilter()"
            placeholder="Search Branch Name" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="branchtext"
            (click)="reset()"></span>
          <span nz-icon nzType="search" nzTheme="outline" *ngIf="branchtext == ''"></span>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #country="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="select">
        <nz-select class="country-multiselect" nzShowSearch nzAllowClear nzPlaceHolder="Select Country"
          nzMode="multiple" [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedCountries"
          (ngModelChange)="onCountryChange()">
          <nz-option *ngFor="let data of distinctData" [nzValue]="data.COUNTRY_NAME"
            [nzLabel]="data.COUNTRY_NAME"></nz-option>
        </nz-select>
        <ng-template #multipleTemplate let-selected>
          <div class="ant-select-selection-item-content">
            <span nz-icon [nzType]="selected.nzValue"></span>
            {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #state="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="filter-select-container">
        <nz-select class="filter-multiselect-state" nzShowSearch nzAllowClear nzPlaceHolder="Select State"
          nzMode="multiple" [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedStates"
          (ngModelChange)="onStateChange()">
          <nz-option *ngFor="let data of distinctData" [nzValue]="data.STATE_NAME"
            [nzLabel]="data.STATE_NAME"></nz-option>
        </nz-select>
        <ng-template #multipleTemplate let-selected>
          <div class="ant-select-selection-item-content">
            <span nz-icon [nzType]="selected.nzValue"></span>
            {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #city="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="filter-select-container">
        <nz-select class="filter-multiselect-city" nzShowSearch nzAllowClear nzPlaceHolder="Select City"
          nzMode="multiple" [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedCities"
          (ngModelChange)="onCityChange()">
          <nz-option *ngFor="let data of distinctData" [nzValue]="data.CITY_NAME"
            [nzLabel]="data.CITY_NAME"></nz-option>
        </nz-select>
        <ng-template #multipleTemplate let-selected>
          <div class="ant-select-selection-item-content">
            <span nz-icon [nzType]="selected.nzValue"></span>
            {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #district="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="filter-select-container">
        <nz-select class="filter-multiselect-district" nzShowSearch nzAllowClear nzPlaceHolder="Select District"
          nzMode="multiple" [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedDistrict"
          (ngModelChange)="onDistrictChange()">
          <nz-option *ngFor="let data of distinctData" [nzValue]="data.DISTRICT_NAME"
            [nzLabel]="data.DISTRICT_NAME"></nz-option>
        </nz-select>
        <ng-template #multipleTemplate let-selected>
          <div class="ant-select-selection-item-content">
            <span nz-icon [nzType]="selected.nzValue"></span>
            {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #pincode="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="filter-select-container">
        <nz-select class="filter-multiselect-pincode" nzShowSearch nzAllowClear nzPlaceHolder="Select Pincode"
          nzMode="multiple" [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedPincode"
          (ngModelChange)="onPincodeChange()">
          <nz-option *ngFor="let data of distinctData" [nzValue]="data.PINCODE" [nzLabel]="data.PINCODE"></nz-option>
        </nz-select>
        <ng-template #multipleTemplate let-selected>
          <div class="ant-select-selection-item-content">
            <span nz-icon [nzType]="selected.nzValue"></span>
            {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <div *ngIf="drawerVisible">
    <nz-drawer [nzBodyStyle]="{
        height: 'calc(100% - 55px)',
        overflow: 'auto',
        'padding-bottom': '53px'
      }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="true" [nzWidth]="500" [nzVisible]="drawerVisible"
      [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
      <ng-container *nzDrawerContent>
        <app-branch [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData"></app-branch>
      </ng-container>
    </nz-drawer>
  </div>
</thead>
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerflterClose('buttontype', 'updateButton')" (nzKeyboard)="(true)"
    [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [filterGroups]="filterGroups" [filterGroups2]="filterGroups2" [name]="FILTER_NAME"
        [data]="EditQueryData" [drawerClose]="closefilterCallback" [fields]="filterFields" [TabId]="TabId"
        [editButton]="editButton" (filterApplied)="onFilterApplied($event)" [filterData]="filterData">
      </app-main-filter>`
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Filter Text'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 class="query-text-center">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>