nz-form-item ,textarea {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 5px;
}
.taxmaster-char-counter-red-10px {
  color: red;
  font-size: 10px;
}
.taxmaster-footer-cancel-btn-mr12 {
  margin-right: 12px;
}
.taxmaster-dropdown-menu-item-rounded-white {
  border-radius: 4px;
  color: white !important;
}
.taxmaster-dropdown-link-white {
  color: white !important;
}
