nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.custom-spin-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column; /* Vertical alignment */
  align-items: center;
  gap: 10px; /* Adds space between spinner and text */
}

.custom-spin-text {
  font-size: 16px;
  font-weight: 500;
  color: #092B9C; /* Optional: Matches Ant Design's theme */
}