@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.mainnam {
    font-size: 14px !important;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate-one-line {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    max-height: calc(1.5em * 2);
    cursor: pointer;
    line-height: 1.5em;
}
.subname {
    color: #4c4c4ceb;
    font-size: 13px !important;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
    text-overflow: ellipsis;
}
.shadow {
    box-shadow: 0 0 3px rgb(53 64 78 / 20%) !important;
}
.rounded {
    border-radius: 5px !important;
}
.bg-light {
    background-color: #f7f8fa !important;
}
.bg-primary,
.btn-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.badge-primary,
.nav-pills .nav-link.active,
.pagination .active a,
.custom-control-input:checked~.custom-control-label:before,
#preloader #status .spinner>div,
.social-icon li a:hover,
.back-to-top:hover,
.back-to-home a,
::selection,
#topnav .navbar-toggle.open span:hover,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots.clickable .owl-dot:hover span,
.watch-video a .play-icon-circle,
.sidebar .widget .tagcloud>a:hover,
.flatpickr-day.selected,
.flatpickr-day.selected:hover,
.tns-nav button.tns-nav-active,
.form-check-input.form-check-input:checked {
    background-color: #6dc77a !important;
}
.badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
}
.btn-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    box-shadow: 0 3px 7px rgb(109 199 122 / 50%) !important;
}
.btn-primary,
.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.bg-soft-primary .border,
.alert-primary,
.alert-outline-primary,
.badge-outline-primary,
.nav-pills .nav-link.active,
.pagination .active a,
.form-group .form-control:focus,
.form-group .form-control.active,
.custom-control-input:checked~.custom-control-label:before,
.custom-control-input:focus~.custom-control-label::before,
.form-control:focus,
.social-icon li a:hover,
#topnav .has-submenu.active.active .menu-arrow,
#topnav.scroll .navigation-menu>li:hover>.menu-arrow,
#topnav.scroll .navigation-menu>li.active>.menu-arrow,
#topnav .navigation-menu>li:hover>.menu-arrow,
.flatpickr-day.selected,
.flatpickr-day.selected:hover,
.form-check-input:focus,
.form-check-input.form-check-input:checked,
.container-filter li.active,
.container-filter li:hover {
    border-color: #6dc77a !important;
}
.bg-primary,
.btn-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.badge-primary,
.nav-pills .nav-link.active,
.pagination .active a,
.custom-control-input:checked~.custom-control-label:before,
#preloader #status .spinner>div,
.social-icon li a:hover,
.back-to-top:hover,
.back-to-home a,
::selection,
#topnav .navbar-toggle.open span:hover,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots.clickable .owl-dot:hover span,
.watch-video a .play-icon-circle,
.sidebar .widget .tagcloud>a:hover,
.flatpickr-day.selected,
.flatpickr-day.selected:hover,
.tns-nav button.tns-nav-active,
.form-check-input.form-check-input:checked {
    background-color: #6dc77a !important;
}
.btn {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 5px;
}
.btn-primary {
    background-color: #6dc77a !important;
    border: 1px solid #6dc77a !important;
    color: #fff !important;
    box-shadow: 0 3px 7px rgb(109 199 122 / 50%);
}
a {
    text-decoration: none;
}
.cust-header-shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.cust-header-padding {
  padding: 0px 0px 20px 0px;
}
.name-container-flex {
  display: flex;
  align-items: center;
  gap: 8px;
}
.name-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  display: inline-block;
}
.account-status-active {
  padding: 1px 8px;
  background-color: green;
  color: white;
  border-radius: 15px;
}
.account-status-inactive {
  padding: 1px 8px;
  background-color: rgb(24, 24, 24);
  color: white;
  border-radius: 15px;
}
.cust-tab-wrapper {
  padding: 10px;
}
.address-container {
  padding-top: 10px;
}
.address-item {
  margin-bottom: 14px;
  padding-left: 7px;
  padding-right: 7px;
}
.address-card-body {
  padding: 10px !important;
  height: 104px;
}
.address-title {
  font-weight: 500;
}
.address-default-col {
  width: 100%;
  text-align: end;
}
.address-default-badge {
  font-size: 9px !important;
}
.address-subinfo {
  margin-top: 2px !important;
}
.no-address-wrapper {
  height: 50vh;
  width: 100%;
}
.no-address-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-address-empty {
  margin-top: 38px;
}
.account-status-active {
  padding: 1px 8px;
  background-color: green;
  color: white;
  border-radius: 15px;
}
.account-status-inactive {
  padding: 1px 8px;
  background-color: rgb(24, 24, 24);
  color: white;
  border-radius: 15px;
}
