nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
}
.footer-cancel-btn {
    margin-right: 8px;
}
.menu-item-custom {
    border-radius: 4px;
    color: white !important;
}
.menu-link {
    color: white !important;
}