<div nz-row class="info-box-row">
  <div nz-col nzSpan="8">
    <b>Date : </b>
    {{ inventoryInwarddata["INWARD_DATE"] | date : "dd/MM/yyyy" }}
  </div>
  <div nz-col nzSpan="8">
    <b>Stock Check-In No. : </b>
    {{ inventoryInwarddata["INWARD_NO"] }}
  </div>
  <div nz-col nzSpan="8">
    <b>PO Number : </b>{{ inventoryInwarddata["PO_NUMBER"] }}
  </div>
  <div nz-col nzSpan="24">
    <b>Warehouse Name : </b>{{ inventoryInwarddata["WAREHOUSE_NAME"] }}
  </div>
</div>
<div nz-row nzType="flex" class="header-row-margin">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="actions-flex-end">
    <form [nzLayout]="'inline'" nz-form>
      <nz-form-item class="filter-item-width">
        <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group [nzAddOnAfter]="suffixIconButton" nzSearch>
          <input [(ngModel)]="searchText" (keyup)="search(true)" (keydown.enter)="onEnterKey($event)" type="text"
            name="search" nz-input autocomplete="off" placeholder="Min 3 chars required." />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button (click)="search(true)" nz-button nzType="primary" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="filter-padding-top">
          <div nz-col [nzSpan]="24">
            <ng-container *ngIf="filterloading; else filtersContent">
              <div class="text-center-div">
                <nz-spin nzSimple></nz-spin>
              </div>
            </ng-container>
            <ng-template #filtersContent>
              <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="6" *ngFor="let item of savedFilters" class="filter-col-margin">
                    <nz-card class="filter-card-border">
                      <div class="filter-card-flex">
                        <span class="filter-name-span">
                          <span *ngIf="item.FILTER_NAME != null">
                            <span *ngIf="item.FILTER_NAME.length >= 25" nz-popover [nzPopoverContent]="item.FILTER_NAME"
                              nzPopoverPlacement="topLeft">
                              {{ item.FILTER_NAME | slice : 0 : 25
                              }}{{ item.FILTER_NAME.length > 25 ? "..." : "" }}
                            </span>
                            <span *ngIf="item.FILTER_NAME.length < 25">
                              {{ item.FILTER_NAME }}
                            </span>
                          </span>
                          <span *ngIf="item.FILTER_NAME == null">-</span>
                        </span>
                        <i *ngIf="selectedFilter === item.ID" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                          [nzTwotoneColor]="'#52c41a'" nz-tooltip [nzTooltipTitle]="
                            'This filter is applied on current data'
                          " class="check-icon-absolute"></i>
                      </div>
                      <div nz-row class="actions-row-margin">
                        <div nz-col nzSpan="24" class="actions-flex-between">
                          <nz-tag nzColor="#2db7f5" (click)="editQuery(item)" class="tag-pointer-style" nz-tooltip
                            nzTooltipTitle="Edit Filter">
                            <span nz-icon nzType="edit" nzTheme="outline" class="tag-icon-size">
                            </span>&nbsp;&nbsp;Edit</nz-tag>
                          <nz-tag *ngIf="selectedFilter !== item.ID" nzColor="#87d068" (click)="applyfilter(item)"
                            class="tag-pointer-style" nz-tooltip nzTooltipTitle="Apply Filter">
                            <span nz-icon nzType="search" nzTheme="outline" class="tag-icon-size">
                            </span>&nbsp;&nbsp;Apply</nz-tag>
                          <nz-tag *ngIf="selectedFilter === item.ID" nzColor="#faad14" (click)="Clearfilter()"
                            class="tag-pointer-style" nz-tooltip nzTooltipTitle="Clear this Filter">
                            <span nz-icon nzType="close" nzTheme="outline" class="tag-icon-size">
                            </span>&nbsp;&nbsp;Clear</nz-tag>
                          <nz-tag nzColor="#cd201f" nz-popconfirm
                            nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteItem(item)" class="tag-pointer-style" nz-tooltip
                            nzTooltipTitle="Delete Filter">
                            <span nz-icon nzType="delete" nzTheme="outline" class="tag-icon-size">
                            </span>&nbsp;&nbsp;Delete</nz-tag>
                          <nz-tag nzColor="#3b5999" class="tag-pointer-no-margin" nz-tooltip
                            nzTooltipTitle="View Filter Text" (click)="toggleLiveDemo(item)">
                            <span nz-icon nzType="eye" nzTheme="outline" class="tag-icon-size">
                            </span>&nbsp;&nbsp;View</nz-tag>
                        </div>
                      </div>
                    </nz-card>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #noData>
              <div class="no-data-message">
                No Previous Filters Are Found
              </div>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="24" class="button-col-flex">
            <button *ngIf="savedFilters && savedFilters.length > 0" nz-button nzType="primary" nzSize="small"
              (click)="Clearfilter()" class="button-margin-right">
              <span nz-icon nzType="reload" nzTheme="outline"></span>
              Reset Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()" class="button-margin-right">
              <span nz-icon nzType="plus"></span>
              New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div nz-row class="table-row-margin">
  <div nz-col nzSpan="24">
    <nz-table #table [nzFrontPagination]="false" [nzData]="dataList" [nzLoading]="loadingRecords"
      [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [nzSize]="'small'" [(nzPageSize)]="pageSize"
      [nzScroll]="{ y: '60vh' }" (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)" class="my-scroll no-wrap1" nzBordered nzShowSizeChanger class="table-preline">
      <thead>
        <tr>
          <th nzWidth="250px" nzShowSort nzColumnKey="{{ 'ITEM_NAME' }}" [nzSortFn]="true" [nzFilterFn]="true"
            nzCustomFilter>
            Item Name
          </th>
          <th nzWidth="150px" nzShowSort nzColumnKey="{{ 'INVENTORY_TRACKING_TYPE' }}" [nzSortFn]="true"
            [nzFilterFn]="true" nzCustomFilter>
            Tracking Type
          </th>
          <th nzWidth="150px" nzShowSort nzColumnKey="{{ 'UNIQUE_NO' }}" [nzSortFn]="true" [nzFilterFn]="true"
            nzCustomFilter>
            Batch Number
          </th>
          <th nzWidth="150px" nzShowSort nzColumnKey="{{ 'UNIQUE_NO' }}" [nzSortFn]="true" [nzFilterFn]="true"
            nzCustomFilter>
            Serial Number
          </th>
          <th nzWidth="150px" nzShowSort nzColumnKey="{{ 'QUANTITY' }}" [nzSortFn]="true" [nzFilterFn]="true"
            nzCustomFilter>
            Quantity
          </th>
          <th nzWidth="150px" nzShowSort nzColumnKey="{{ 'EXPIRY_DATE' }}" [nzSortFn]="true" [nzFilterFn]="true"
            nzCustomFilter>
            Expiry Date
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td nzWidth="250px">
            <span class="category-text-gray">
              {{ data.INVENTORY_CATEGORY_NAME }} >
              {{ data.INVENTRY_SUB_CATEGORY_NAME }}
            </span>
            <br />
            <span *ngIf="data['ITEM_NAME'] != null">
              <span *ngIf="data['ITEM_NAME'].length >= 76" nz-popover [nzPopoverContent]="data['ITEM_NAME']"
                nzPopoverPlacement="topLeft">
                {{
                data["ITEM_NAME"] == null
                ? "-"
                : (data["ITEM_NAME"] | slice : 0 : 76)
                }}{{ data["ITEM_NAME"].length > 76 ? "..." : "" }}
              </span>
              <span *ngIf="data['ITEM_NAME'].length < 76">
                {{
                data["ITEM_NAME"] == null
                ? "-"
                : (data["ITEM_NAME"] | slice : 0 : 76)
                }}
                {{ data["ITEM_NAME"].length > 76 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['ITEM_NAME'] == null">-</span>
          </td>
          <td nzWidth="150px" class="td-text-center">
            <span *ngIf="
                dataList != undefined && data.INVENTORY_TRACKING_TYPE === 'N'
              ">None</span>
            <span *ngIf="
                dataList != undefined && data.INVENTORY_TRACKING_TYPE === 'B'
              ">Batch Wise</span>
            <span *ngIf="
                dataList != undefined && data.INVENTORY_TRACKING_TYPE === 'S'
              ">Serial No. Wise</span>
          </td>
          <td nzWidth="150px" class="td-text-center">
            <span *ngIf="data.INVENTORY_TRACKING_TYPE == 'B'; else elsebblock">
              {{ data.UNIQUE_NO ? data.UNIQUE_NO : "-" }}</span>
            <ng-template #elsebblock>-</ng-template>
          </td>
          <td nzWidth="150px" class="td-text-center">
            <span *ngIf="data.INVENTORY_TRACKING_TYPE == 'S'; else elsesblock">
              {{ data.UNIQUE_NO ? data.UNIQUE_NO : "-" }}</span>
            <ng-template #elsesblock>-</ng-template>
          </td>
          <td nzWidth="150px" class="td-text-center">
            {{ data.QUANTITY }}/{{ data.ACTUAL_UNIT_NAME }}
          </td>
          <td nzWidth="150px" class="td-text-center">
            {{
            data.EXPIRY_DATE ? (data.EXPIRY_DATE | date : "dd-MM-yyyy") : "-"
            }}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerflterClose('buttontype', 'updateButton')" (nzKeyboard)="(true)"
    [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [filterGroups]="filterGroups" [filterGroups2]="filterGroups2" [filterData]="filterData"
        [name]="FILTER_NAME" [data]="EditQueryData" [drawerClose]="closefilterCallback" [fields]="filterFields"
        [TabId]="TabId" [editButton]="editButton" (filterApplied)="onFilterApplied($event)">
      </app-main-filter>`
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Filter Text'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 class="modal-title-center">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>