:host::ng-deep .ant-card-body {
    padding: 0px;
}
.info-box-row {
  font-size: 12px !important;
  padding: 10px;
}
.header-row-margin {
  margin-top: 15px;
}
.actions-flex-end {
  display: flex;
  justify-content: flex-end;
}
.filter-item-width {
  width: 47px;
}
.filter-padding-top {
  padding-top: 0px;
}
.text-center-div {
  text-align: center;
}
.filter-col-margin {
  margin-bottom: 8px;
}
.filter-card-border {
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
}
.filter-card-flex {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.filter-name-span {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.check-icon-absolute {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.actions-row-margin {
  margin-top: 7px;
}
.actions-flex-between {
  display: flex;
  justify-content: space-between;
}
.tag-pointer-style {
  cursor: pointer;
  font-size: 10px !important;
}
.tag-icon-size {
  font-size: 10px !important;
}
.tag-pointer-no-margin {
  cursor: pointer;
  font-size: 10px !important;
  margin-right: 0px;
}
.no-data-message {
  text-align: center;
  color: red;
  font-weight: bold;
}
.button-col-flex {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.button-margin-right {
  margin-right: 10px;
}
.table-row-margin {
  margin-top: 10px;
}
.table-preline {
  white-space: pre-line;
}
.category-text-gray {
  font-size: 10px !important;
  color: gray;
}
.td-text-center {
  text-align: center;
}
.modal-title-center {
  text-align: center;
}