:host::ng-deep .ant-card-body {
  padding: 0px;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}
.flex-align {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}
.flex-align nz-form-label {
  margin-bottom: 0 !important;
}
.tbl-search-wrapper-uid {
  display: flex;
  justify-content: flex-end;
}
.tbl-search-filter-item-uid {
  width: 47px;
}
.flt-row-top-uid {
  padding-top: 0px;
}
.flt-loading-center-uid {
  text-align: center;
}
.flt-card-wrapper-uid {
  margin-bottom: 8px;
}
.flt-card-uid {
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
}
.flt-card-header-uid {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.flt-name-text-uid {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.flt-applied-icon-uid {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.flt-actions-row-uid {
  margin-top: 7px;
}
.flt-actions-uid {
  display: flex;
  justify-content: space-between;
}
.flt-action-tag-uid {
  cursor: pointer;
  font-size: 10px !important;
}
.flt-action-icon-uid {
  font-size: 10px !important;
}
.flt-view-tag-uid {
  margin-right: 0px;
}
.flt-no-data-uid {
  text-align: center;
  color: red;
  font-weight: bold;
}
.flt-footer-actions-uid {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10px;
}
.flt-footer-btn-uid {
  margin-right: 10px;
}
.flt-row-top-uid11 {
  margin-top: 10px
}
.tbl-th-center-uid {
  text-align: center;
}
.tbl-cancel-tag-uid {
  cursor: pointer;
}
.tbl-cancel-icon-uid {
  font-size: 15px;
}
.tbl-text-center-uid {
  text-align: center;
}
.tbl-text-right-uid {
  text-align: right;
}
.fullwid {
  width: 100%;
}
.mrg2-0 {
  margin-top: 20px
}
.qry-center-text-uid {
  text-align: center;
}
.mr12 {
  margin-right: 8px;
}
.cancel-input-full-uid {
  width: 100% !important;
}
.cancel-inline-item-uid {
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
  padding: 0;
}
.cancel-label-gap-uid {
  margin-right: 8px;
}
.cancel-textarea-full-uid {
  width: 100% !important;
}
.cancel-counter-text-uid {
  color: red;
  font-size: 10px;
  width: 100% !important;
}
