input#filee {
  width: 100%;
  padding: 120px 0 0 0;
  height: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px black;
}
.xyz{
    border: 10px solid black;
}
.file { width:0; height:0; } 
.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}
nz-form-item ,textarea {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 5px;
}
.kb-box-top {
  margin-top: 0px;
}
.kb-full-width {
  width: 100%;
}
.kb-char-count {
  color: red;
  font-size: 10px;
}
.kb-file-name {
  overflow: hidden;
  padding-left: 11px;
  font-size: 13px;
}
.kb-preview-image {
  width: 250px;
  height: 250px;
}
.kb-footer-cancel {
  margin-right: 8px;
}
.kb-footer-menu {
  border-radius: 4px;
  color: white !important;
}
.kb-footer-link {
  color: white !important;
}