input#filee {
  /* display: inline-block; */
  width: 100%;
  padding: 120px 0 0 0;
  height: 10px;
  /* overflow: hidden; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4; */
  /* border-radius: 20px;
  background-size: 60px 60px; */
  border: 10px black;
}

.xyz{
    border: 10px solid black;
}
/* 
#selectedFile {
  opacity:0;
  position:absolute;
  left: 0;
  top: 0;
  border: 10px solid black;
} */

.file { width:0; height:0; } 

.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}

nz-form-item ,textarea {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 5px;
}