/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
} */

/* td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    text-align: center !important;
    vertical-align: middle !important;
} */

/* tr:nth-child(even) {
    background-color: #dddddd;
} */

/* .container {
    height: 100px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */
/* .withPageBreak{
    page-break-before: avoid;
   
  } */

  /* .vv{
    margin-top: 2%;
    position: relative;
    display: inline-block;
    height: 34px;
    padding: 4px 11px;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    line-height: 32px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
} */



th {
  text-align: center !important;
  vertical-align: middle !important;
  /* font-weight: bold; */
}

.select{
width: 200px;
padding: 8px;
display: block;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

nz-select {
  width: 100%;
}


.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Adjust as needed */
  display: inline-block;
}
:host::ng-deep .ant-card-body {
  padding: 0px;
}