th {
  text-align: center !important;
  vertical-align: middle !important;
}
.select{
width: 200px;
padding: 8px;
display: block;
}
.search-box {
  padding: 8px;
}
.search-box input {
  width: 188px;
  display: block;
}
.search-box button {
  width: 90px;
}
.search-button {
  margin-right: 8px;
}
nz-select {
  width: 100%;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 
  display: inline-block;
}
:host::ng-deep .ant-card-body {
  padding: 0px;
}
.header-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.back-icon {
  font-weight: bold;
  cursor: pointer;
}
.header-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.excel-btn {
  color: white;
}
.filter-row {
  margin-top: 10px;
}
.filter-inner-row {
  padding-top: 0;
}
.spinner-container {
  text-align: center;
}
.filter-card-col {
  margin-bottom: 8px;
}
.filter-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #a8a8a8;
  border-radius: 7px;
  padding: 5px 10px;
  position: relative;
}
.filter-card-header {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.filter-name {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.applied-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.filter-card-actions-row {
  margin-top: 7px;
}
.filter-card-actions {
  display: flex;
  justify-content: space-between;
}
.filter-action {
  cursor: pointer;
  font-size: 10px !important;
}
.no-filters-msg {
  text-align: center;
  color: red;
  font-weight: bold;
}
.filter-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.footer-btn {
  margin-right: 10px;
}
.text-center{
  text-align: center
}