<div nz-row>
  <div nz-col nzSpan="10">
    <form nz-form #teritorymaster="ngForm">
      <div nz-row class="my-box">
        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Sub Category</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Sub Category">
              <nz-tree-select name="SUB_CATEGORY_ID" style="width: 100%" [nzHideUnMatched]="true" [nzDropdownStyle]="{
                  'min-height': '10px',
                  'max-height': '300px',
                  'overflow-x': 'auto'
                }" [nzNodes]="subcategoryData" (ngModelChange)="getNamesCatAndSub($event)" nzShowSearch
                [nzAllowClear]="false" nzPlaceHolder="Select Sub Category" [(ngModel)]="SUB_CATEGORY_ID" required>
              </nz-tree-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4" style="padding-right: 4px">
          <button style="margin-top: 26px" nz-button nzType="primary" [nzLoading]="isSpinning11" (click)="apply()">
            Apply
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="10">
    <form nz-form #teritorymaster="ngForm">
      <div nz-row>
        <div nz-col nzSpan="12" style="text-align: left; padding-left: 10px">
          <span *ngIf="selectedPincodeSet.size > 0">
            {{ selectedPincodeSet.size }} records selected out of
            {{ PincodeMappingdata.length }}</span>
          <span *ngIf="selectedPincodeSet.size == 0">Total Records {{ PincodeMappingdata.length }}</span>
        </div>

        <div nz-col nzSpan="12" style="text-align: right; padding-right: 10px">
          <form nz-form [nzLayout]="'inline'" style="display: inline-flex">
            <nz-form-item>
              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="margin-left: 26px !important">
                <input type="text" name="postsearch" [(ngModel)]="searchText" autocomplete="off"
                  (keydown.enter)="handleEnterKey($event)" (keydown.backspace)="handleEnterKey($event)"
                  style="height: 32px" nz-input placeholder="Min 3 chars required." />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" id="button" (click)="SearchUnmappedData(searchText)">
                  <i nz-icon nzType="search"></i>
                </button>
              </ng-template>
            </nz-form-item>
          </form>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <div style="position: relative">
            <nz-table class="my-scroll no-wrap1" nzBordered #tableeeee [nzData]="PincodeMappingdata"
              (nzQueryParams)="sort($event)" [nzSize]="'small'" [nzFrontPagination]="false"
              style="white-space: pre-line" [nzLoading]="isSpinning11 || isLoading" [nzScroll]="{ y: '66vh' }">
              <thead>
                <tr>
                  <th nzWidth="30px">
                    <label (ngModelChange)="toggleAll($event)" nz-checkbox [(ngModel)]="allSelected" name="allSelected"
                      [nzIndeterminate]="tableIndeterminate">All</label>
                  </th>
                  <th nzWidth="90px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'NAME' }}">
                    Inventory
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let data of tableeeee.data; let i = index">
                  <td style="text-align: center">
                    <label nz-checkbox [(ngModel)]="data.selected" name="allSelecteddd{{ i }}"
                      (ngModelChange)="onPincodeSelecttable(data, $event)"></label>
                  </td>
                  <td align="left" [nzTooltipTitle]="isTextOverflow ? data['ITEM_NAME'] : null" #tooltipRef="nzTooltip"
                    nz-tooltip>
                    <div #textContainer4 *ngIf="
                        data.VARIANT_NAME !== null &&
                          data.VARIANT_NAME !== undefined &&
                          data.VARIANT_NAME !== '';
                        else elsevblocks
                      " class="truncate-text" (mouseenter)="checkOverflow(textContainer4, tooltipRef)">
                      {{ data["VARIANT_NAME"] }}
                    </div>
                    <ng-template #elsevblocks>
                      <div #textContainer4 class="truncate-text"
                        (mouseenter)="checkOverflow(textContainer4, tooltipRef)">
                        {{ data["ITEM_NAME"] }}
                      </div>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div nz-col nzSpan="1" style="align-self: center; text-align: center; align-items: center">
    <div>
      <nz-spin [nzSpinning]="isSpinning">
        <span nz-icon nz-tooltip nzTooltipTitle="No coupon selected" nzType="right-circle"
          style="font-size: 26px !important" nzTheme="outline" *ngIf="selectedPincodeSet.size == 0"></span>
        <span nz-icon nzType="right-circle" nz-tooltip nzTooltipTitle="Click here to map data to inventory"
          style="font-size: 26px !important" nzTheme="fill" (click)="mapdatatopincode()"
          *ngIf="selectedPincodeSet.size > 0"></span>
      </nz-spin>
    </div>
  </div>

  <div nz-col nzSpan="13">
    <div nz-row style="display: flex; justify-content: space-between">
      <div style="display: flex">
        <div style="text-align: left; padding-left: 10px">
          <span *ngIf="selectedPincode11.length > 0">{{ selectedPincode11.length }} records selected out of
            {{ totoalrecordsss }}</span>
          <span *ngIf="selectedPincode11.length == 0">Total Records {{ totoalrecordsss }}</span>
        </div>

        <div style="text-align: left; padding-left: 10px">
          <td align="center" style="white-space: pre-line" nzLeft>
            <nz-switch name="allChange" nzCheckedChildren="Select All" nzUnCheckedChildren="Deselect All"
              (ngModelChange)="allChange($event)" [(ngModel)]="allChecked"></nz-switch>
          </td>
        </div>
      </div>

      <div nz-col nzSpan="12" style="text-align: right; padding-right: 10px">
        <form nz-form [nzLayout]="'inline'" style="display: inline-flex">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton1" style="margin-left: 26px !important">
              <input type="text" name="pincodesearch" [(ngModel)]="searchPincode" autocomplete="off"
                (keydown.enter)="handleEnterPincodeKey($event)" (keydown.backspace)="handleEnterPincodeKey($event)"
                style="height: 32px" nz-input placeholder="Min 3 chars required." />
            </nz-input-group>
            <ng-template #suffixIconButton1>
              <button nz-button nzType="primary" id="pincode" (click)="SearchPincode(searchPincode)">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </form>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <div style="position: relative">
          <nz-table class="my-scroll no-wrap1" nzBordered #table [nzData]="mappingdata"
            (nzQueryParams)="unmappedsort($event)" [nzSize]="'small'" [nzFrontPagination]="false"
            style="white-space: pre-line" [nzLoading]="isSpinning22" [nzScroll]="{ x: '1000px', y: '66vh' }">
            <thead>
              <tr>
                <th nzLeft nzWidth="60px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'STATUS' }}">
                  Is Mapped ?
                </th>
                <th nzWidth="120px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'INVENTORY_NAME' }}">
                  Inventory
                </th>
                <th nzWidth="120px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'INVENTORY_CATEGORY_NAME' }}">
                  Category
                </th>
                <th nzWidth="120px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'INVENTORY_CATEGORY_NAME' }}">
                  Sub Category
                </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let data of table.data; let i = index">
                <td align="center" style="white-space: pre-line" nzLeft>
                  <nz-switch name="STATUS" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                    (ngModelChange)="SelectOnOFForUnmapData(data, $event)" [(ngModel)]="data['STATUS']"></nz-switch>
                </td>
                <td align="left" [nzTooltipTitle]="
                    isTextOverflow ? data['INVENTORY_NAME'] : null
                  " #tooltipRef="nzTooltip" nz-tooltip>
                  <div #textContainer42 *ngIf="
                      data.VARIANT_NAME !== null &&
                        data.VARIANT_NAME !== undefined &&
                        data.VARIANT_NAME !== '';
                      else elsevblocks
                    " class="truncate-text" (mouseenter)="checkOverflow(textContainer42, tooltipRef)">
                    {{ data["VARIANT_NAME"] }}
                  </div>
                  <ng-template #elsevblocks>
                    <div #textContainer42 class="truncate-text"
                      (mouseenter)="checkOverflow(textContainer42, tooltipRef)">
                      {{ data["INVENTORY_NAME"] }}
                    </div>
                  </ng-template>
                </td>
                <td align="left">
                  <span *ngIf="data['INVENTORY_CATEGORY_NAME'] != null">
                    <span *ngIf="data['INVENTORY_CATEGORY_NAME'].length >= 35" nz-popover
                      [nzPopoverContent]="data['INVENTORY_CATEGORY_NAME']" nzPopoverPlacement="topLeft">
                      {{
                      data["INVENTORY_CATEGORY_NAME"] == null
                      ? "-"
                      : (data["INVENTORY_CATEGORY_NAME"] | slice : 0 : 35)
                      }}{{
                      data["INVENTORY_CATEGORY_NAME"].length > 35 ? "..." : ""
                      }}
                    </span>
                    <span *ngIf="data['INVENTORY_CATEGORY_NAME'].length < 35">
                      {{
                      data["INVENTORY_CATEGORY_NAME"] == null
                      ? "-"
                      : (data["INVENTORY_CATEGORY_NAME"] | slice : 0 : 35)
                      }}
                      {{
                      data["INVENTORY_CATEGORY_NAME"].length > 35 ? "..." : ""
                      }}
                    </span>
                  </span>
                  <span *ngIf="data['INVENTORY_CATEGORY_NAME'] == null">-</span>
                </td>
                <td align="left">
                  <span *ngIf="data['INVENTORY_SUB_CATEGORY_NAME'] != null">
                    <span *ngIf="data['INVENTORY_SUB_CATEGORY_NAME'].length >= 35" nz-popover
                      [nzPopoverContent]="data['INVENTORY_SUB_CATEGORY_NAME']" nzPopoverPlacement="topLeft">
                      {{
                      data["INVENTORY_SUB_CATEGORY_NAME"] == null
                      ? "-"
                      : (data["INVENTORY_SUB_CATEGORY_NAME"]
                      | slice : 0 : 35)
                      }}{{
                      data["INVENTORY_SUB_CATEGORY_NAME"].length > 35
                      ? "..."
                      : ""
                      }}
                    </span>
                    <span *ngIf="data['INVENTORY_SUB_CATEGORY_NAME'].length < 35">
                      {{
                      data["INVENTORY_SUB_CATEGORY_NAME"] == null
                      ? "-"
                      : (data["INVENTORY_SUB_CATEGORY_NAME"]
                      | slice : 0 : 35)
                      }}
                      {{
                      data["INVENTORY_SUB_CATEGORY_NAME"].length > 35
                      ? "..."
                      : ""
                      }}
                    </span>
                  </span>
                  <span *ngIf="data['INVENTORY_SUB_CATEGORY_NAME'] == null">-</span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>