<form #websitebannerPage="ngForm">
  <nz-spin [nzSpinning]="isSpinning">
    <div nz-row>
      <div nz-col nzSpan="17" class="mybxox">
        <div class="my-box">
          <div nz-row *ngIf="type == 'a'">
            <div nz-row>
              <div nz-col nzSpan="10">
                <nz-form-item>
                  <nz-form-label nzRequired>Customer Type</nz-form-label>
                  <nz-form-control>
                    <nz-radio-group [(ngModel)]="data.CUSTOMER_TYPE" name="customerType" class="customer-type-radio"
                      (ngModelChange)="onCustomerTypeChange($event)">
                      <label nz-radio nzValue="I">
                        <span class="customer-type-label">B2C</span>
                      </label>
                      <label nz-radio nzValue="B" (ngModelChange)="getcompanynames($event)">
                        <span class="customer-type-label">B2B</span>
                      </label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="11">
                <nz-form-item *ngIf="data.CUSTOMER_TYPE === 'B'">
                  <nz-form-label nzNoColon>Organization Name</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Please Select Organization Name">
                    <nz-select nzShowSearch nzServerSearch nzAllowClear class="org-select-fullwidth"
                      nzPlaceHolder="Select Organization Name" [(ngModel)]="data.ORGANIZATION_NAME"
                      name="Organizationname" [nzOptionOverflowSize]="8" [nzOptionHeightPx]="30"
                      (nzOnSearch)="searchCompany($event)" (keyup)="keyupCompany($event)"
                      [nzDropdownRender]="renderTemplate" (nzScrollToBottom)="loadMorecompany()"
                      (ngModelChange)="selectOrgName($event)" (nzClear)="clearTerritory()">
                      <nz-option *ngFor="let b2b of company" [nzValue]="b2b.COMPANY_NAME" [nzLabel]="b2b.COMPANY_NAME">
                        <div nz-row>
                          <div nz-col nzSpan="24" class="org-option-text">
                            <svg height="17px" viewBox="0 0 48 48" width="17px" xml:space="preserve"
                              xmlns="http://www.w3.org/2000/svg" class="org-option-icon">
                              <path fill="#3182ce" clip-rule="evenodd" d="M6,47V20c0-2.209,1.791-4,4-4v-4c0-1.104,0.896-2,2-2h2V2
                    c0-0.552,0.447-1,1-1s1,0.448,1,1v8h2c1.104,0,2,0.896,2,2v4
                    c2.209,0,4,1.791,4,4v8h7v-6h4v-3h6v3h1v25H6z" fill-rule="evenodd" />
                            </svg>
                            {{ b2b.COMPANY_NAME }}
                          </div>
                        </div>
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="11">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Customer Name</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Please Select Customer">
                    <nz-select nzShowSearch nzServerSearch nzAllowClear class="customer-select-fullwidth"
                      nzPlaceHolder="Select Customer" [(ngModel)]="data.CUSTOMER_ID" name="customerName"
                      [nzOptionOverflowSize]="8" [nzOptionHeightPx]="60" (nzScrollToBottom)="loadMore()"
                      (nzOnSearch)="search($event)" (keyup)="keyup($event)" [nzDropdownRender]="renderTemplate"
                      (ngModelChange)="getaddress($event)">
                      <ng-template #renderTemplate>
                        <nz-spin *ngIf="isLoading"></nz-spin>
                      </ng-template>
                      <nz-option nzCustomContent *ngFor="let customer of customer" [nzValue]="customer.ID" [nzLabel]="
                          customer.NAME + ' ' + (customer.COMPANY_NAME || '')
                        ">
                        <div nz-row>
                          <div *ngIf="customer.CUSTOMER_TYPE == 'I'" nz-col nzSpan="24"
                            class="customer-option-name-primary">
                            <i nz-icon nzType="user" class="customer-icon-primary"></i>
                            {{ customer.SALUTATION ? customer.SALUTATION : "" }}
                            {{ customer.NAME }}
                          </div>
                          <div *ngIf="
                              customer.CUSTOMER_TYPE == 'B' &&
                              !customer.IS_PARENT
                              " nz-col nzSpan="24" class="customer-option-name-secondary">
                            <i nz-icon nzType="user" class="customer-icon-primary"></i>
                            {{ customer.SALUTATION ? customer.SALUTATION : "" }}
                            {{ customer.NAME }}
                          </div>
                          <div *ngIf="customer.CUSTOMER_TYPE == 'B'" nz-col nzSpan="24" class="customer-option-company">
                            <svg enable-background="new 0 0 48 48" height="17px" viewBox="0 0 48 48" width="17px"
                              xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path clip-rule="evenodd" fill-rule="evenodd"
                                d="M6,47V20c0-2.209,1.791-4,4-4l0,0v-4c0-1.104,0.896-2,2-2h2V2c0-0.552,0.447-1,1-1  s1,0.448,1,1v8h2c1.104,0,2,0.896,2,2v4l0,0l0,0c2.209,0,4,1.791,4,4v8h7v-6h4v-3h6v3h1v25H6z" />
                            </svg>
                            {{ customer.COMPANY_NAME }}
                          </div>
                          <div nz-col nzSpan="12" class="customer-option-phone">
                            <i nz-icon nzType="phone" class="customer-icon-phone"></i>
                            {{ customer.MOBILE_NO }}
                          </div>
                          <div nz-col nzSpan="12" *ngIf="customer.EMAIL" class="customer-option-email">
                            <i nz-icon nzType="mail" class="customer-icon-email"></i>
                            {{ customer.EMAIL }}
                          </div>
                          <div nz-col nzSpan="12" class="customer-option-type">
                            <i nz-icon nzType="idcard" class="customer-icon-id"></i>
                            Customer Type:
                            <span *ngIf="customer.CUSTOMER_TYPE == 'I'">Individual(B2C)</span>
                            <span *ngIf="customer.CUSTOMER_TYPE == 'B'">Business(B2B)</span>
                          </div>
                        </div>
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="1" *ngIf="decreptedroleId != 7">
                <div class="form-action-top-space">
                  <button nz-button nzType="primary" nzTooltipTitle="Add Customer" nz-tooltip (click)="addcustomer()">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                  </button>
                </div>
              </div>
              <div nz-col nzSpan="1" *ngIf="decreptedroleId == 7"></div>
              <div nz-col nzSpan="11">
                <div>
                  <nz-form-item>
                    <nz-form-label nzRequired nzNoColon>Service Address</nz-form-label>
                    <nz-form-control>
                      <nz-select nzShowSearch nzAllowClear class="service-address-select" nzPlaceHolder="Select Service Address"
                        (ngModelChange)="getteritory($event)" [(ngModel)]="data.ADDRESS_ID" name="address"
                        [nzOptionHeightPx]="60" [nzOptionOverflowSize]="4">
                        <nz-option nzCustomContent *ngFor="let address of addresses" [nzValue]="address.ID" [nzLabel]="
                            address.ADDRESS_LINE_1 +
                            ', ' +
                            (address.ADDRESS_LINE_2 || '') +
                            '-' +
                            (address.PINCODE ? address.PINCODE : '') +
                            ', ' +
                            (address.LANDMARK ? address.LANDMARK : '')
                          ">
                          <div nz-row>
                            <div nz-col nzSpan="1" class="address-icon-col">
                              <i nz-icon nzType="home" class="address-home-icon"></i>
                            </div>
                            <div nz-col nzSpan="23" class="address-main-text">
                              {{ address.ADDRESS_LINE_1 }}
                              <ng-container *ngIf="address.ADDRESS_LINE_2">
                                , {{ address.ADDRESS_LINE_2 }}
                              </ng-container>
                              -{{ address.PINCODE }}
                              <ng-container *ngIf="address.TERRITORY_ID > 0">
                                ({{ address.TERRITORY_NAME }} Territory)
                              </ng-container>
                            </div>
                            <div nz-col nzSpan="24" *ngIf="address.LANDMARK" class="address-landmark-text">
                              {{ address.LANDMARK ? address.LANDMARK : "" }}
                            </div>
                            <div nz-col nzSpan="12" class="address-location-text">
                              <i nz-icon nzType="global" class="address-global-icon"></i>
                              {{ address.STATE_NAME }},
                              {{ address.COUNTRY_NAME }}
                            </div>
                            <div nz-col nzSpan="12" class="address-type-text">
                              <i nz-icon nzType="tag" class="address-tag-icon"></i>
                              Address Type:
                              <span *ngIf="address.TYPE == 'H'">Home</span>
                              <span *ngIf="address.TYPE == 'F'">Office</span>
                              <span *ngIf="address.TYPE == 'B'">Branch</span>
                              <span *ngIf="address.TYPE == 'O'">Other</span>
                            </div>
                          </div>
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-col nzSpan="1">
                <div class="form-action-top-space">
                  <button nz-button nzType="primary" nzTooltipTitle="Add Address" nz-tooltip
                    (click)="addcustomerAddress()">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                  </button>
                </div>
              </div>
              <div nz-col nzSpan="11">
                <div>
                  <nz-form-item>
                    <div class="billing-label-row">
                      <div>
                        <nz-form-label nzRequired nzNoColon>Billing Address</nz-form-label>
                      </div>
                    </div>
                    <nz-form-control>
                      <nz-select nzShowSearch nzAllowClear class="billing-address-select" nzPlaceHolder="Select Billing Address"
                        (ngModelChange)="getteritory1($event)" [(ngModel)]="data.ADDRESS_ID1" name="address22"
                        [nzOptionHeightPx]="60" [nzOptionOverflowSize]="4">
                        <nz-option nzCustomContent *ngFor="let address of addresses" [nzValue]="address.ID" [nzLabel]="
                            address.ADDRESS_LINE_1 +
                            ', ' +
                            (address.ADDRESS_LINE_2 || '') +
                            '-' +
                            (address.PINCODE ? address.PINCODE : '') +
                            ', ' +
                            (address.LANDMARK ? address.LANDMARK : '')
                          ">
                          <div nz-row>
                            <div nz-col nzSpan="24" class="billing-address-main">
                              <i nz-icon nzType="home" class="billing-home-icon"></i>
                              {{ address.ADDRESS_LINE_1 }}
                              <ng-container *ngIf="address.ADDRESS_LINE_2">
                                , {{ address.ADDRESS_LINE_2 }}
                              </ng-container>
                              , {{ address.PINCODE }}
                            </div>
                            <div nz-col nzSpan="24" *ngIf="address.LANDMARK" class="billing-address-landmark">
                              {{ address.LANDMARK ? address.LANDMARK : "" }}
                            </div>
                            <div nz-col nzSpan="12" class="billing-address-location">
                              <i nz-icon nzType="global" class="billing-global-icon"></i>
                              {{ address.STATE_NAME }},
                              {{ address.COUNTRY_NAME }}
                            </div>
                            <div nz-col nzSpan="12" class="billing-address-type">
                              <i nz-icon nzType="tag" class="billing-tag-icon"></i>
                              Address Type:
                              <span *ngIf="address.TYPE == 'H'">Home</span>
                              <span *ngIf="address.TYPE == 'F'">Office</span>
                              <span *ngIf="address.TYPE == 'B'">Branch</span>
                              <span *ngIf="address.TYPE == 'O'">Other</span>
                            </div>
                          </div>
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-col nzSpan="1">
                <div class="form-action-top-space">
                  <button nz-button nzType="primary" nzTooltipTitle="Add Address" nz-tooltip
                    (click)="addcustomerAddress()">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                  </button>
                </div>
              </div>
              <div nz-col nzSpan="4">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Source Of Order</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Please Select Source Of Order">
                    <nz-select nzPlaceHolder="Select Source Of Order" [(ngModel)]="data.ORDER_MEDIUM"
                      name="orderMedium">
                      <nz-option *ngFor="let medium of orderMediums" [nzValue]="medium" [nzLabel]="medium">
                        {{ medium }}
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-col nzSpan="8" *ngIf="
                data.TERRITORY_ID != undefined &&
                data.TERRITORY_ID != null &&
                data.TERRITORY_ID != 0
              ">
              <div class="territory-info-box">
                {{ data.TERRITORY_NAME }} Territory
                <br />
                <span class="territory-service-time">
                  Service Time :
                  {{ terriotrystarttime1 | date : "HH:mm a" }} To
                  {{ terriotryendtime1 | date : "HH:mm a" }}</span>
              </div>
            </div>
          </div>
          <div *ngIf="type == 'e'">
            <div nz-row class="backbbb">
              <div class="mainnam order-header-left" nz-col nzSpan="12">
                <span class="order-badge" [attr.title]="data['ORDER_NUMBER']">
                  {{ data["ORDER_NUMBER"] }}
                </span>
              </div>
              <div class="mainnam order-header-right" nz-col nzSpan="12">
                <span class="order-badge order-date-badge"
                  [attr.title]="data['ORDER_DATE_TIME'] | date : 'dd/MM/yyyy HH:mm a'">
                  {{ data["ORDER_DATE_TIME"] | date : "dd/MM/yyyy HH:mm a" }}
                </span>
              </div>
              <div class="subnam order-customer-name" nz-col nzSpan="8">
                <div class="order-customer-inner">
                  <span nz-icon nzType="user" nzTheme="outline" class="order-user-icon"></span>
                  {{ data["CUSTOMER_NAME"] }}
                </div>
              </div>
              <div class="subnam order-email" nz-col nzSpan="8">
                <span nz-icon nzType="mail" nzTheme="outline"></span>
                {{ data["EMAIL"] }}
              </div>
              <div class="subnam order-mobile" nz-col nzSpan="3">
                <span nz-icon nzType="mobile" nzTheme="outline"></span>
                {{ data["MOBILE_NO"] }}
              </div>
              <div class="subnam order-source" nz-col nzSpan="5">
                Source Of Order : {{ data.ORDER_MEDIUM }}
              </div>
              <div nz-col nzSpan="16">
                <div nz-row>
                  <div class="subnam order-address-block" nz-col nzSpan="12">
                    <p class="order-address-title">
                      <span nz-icon nzType="environment" nzTheme="outline" class="order-env-icon"></span>
                      Service Address :
                    </p>
                    <div class="order-address-text">
                      {{ data["SERVICE_ADDRESS"] }}
                    </div>
                  </div>
                  <div class="subnam order-address-block" nz-col nzSpan="12">
                    <p class="order-address-title">
                      <span nz-icon nzType="environment" nzTheme="outline" class="order-env-icon"></span>
                      Billing Address :
                    </p>
                    <div class="order-address-text">
                      {{ data["BILLING_ADDRESS_LINE_1"] }},
                      {{ data["BILLING_ADDRESS_LINE_2"] }}
                      {{ data["BILLING_COUNTRY_NAME"] }},
                      {{ data["BILLING_STATE_NAME"] }},
                      {{ data["BILLING_PINCODE"] }}
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col nzSpan="8" *ngIf="
                  data.TERRITORY_ID != undefined &&
                  data.TERRITORY_ID != null &&
                  data.TERRITORY_ID != 0
                ">
                <div class="order-territory-box">
                  {{ data.TERRITORY_NAME }} Territory
                  <br />
                  <span class="order-territory-time">
                    Service Time :
                    {{ terriotrystarttime1 | date : "HH:mm a" }} To
                    {{ terriotryendtime1 | date : "HH:mm a" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-row class="my-box" *ngIf="
            data.CUSTOMER_ID != undefined &&
            data.CUSTOMER_ID != null &&
            data.ADDRESS_ID != undefined &&
            data.ADDRESS_ID != null &&
            data.ADDRESS_ID1 != undefined &&
            data.ADDRESS_ID1 != null &&
            data.TERRITORY_ID != undefined &&
            data.TERRITORY_ID != null &&
            data.TERRITORY_ID != 0
          " class="tree-container123">
          <div nz-col nzSpan="7">
            <div class="tree-container">
              <nz-input-group [nzSuffix]="suffixIcon">
                <input type="text" name="searchValue" nz-input placeholder="Search" [(ngModel)]="searchValue"
                  (keydown.enter)="$event.preventDefault()" />
              </nz-input-group>
              <ng-template #suffixIcon>
                <span nz-icon nzType="search"></span>
              </ng-template>
              <nz-tree [nzExpandAll]="false" *ngIf="nodes != undefined && nodes != null && nodes.length > 0"
                [nzData]="nodes" [nzMultiple]="false" [nzSelectedKeys]="selectedKeys" [nzSearchValue]="searchValue"
                [nzExpandedKeys]="expandedKeys" (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)"
                (nzSearchValueChange)="nzEvent($event)" [nzTreeTemplate]="treeTemplate">
                <ng-template #treeTemplate let-node>
                  <div class="tree-node-container" [ngClass]="{
                      'selected-node':
                        node.level == 1 && isNodeSelected(node.key)
                    }">
                    <span *ngIf="
                        searchValue != '' &&
                          node.title
                            .toLowerCase()
                            .includes(searchValue.toLowerCase());
                        else notmatched
            " class="tree-node-highlight">
                      {{ node.title }}
                    </span>
                    <ng-template #notmatched>
                      <span>{{ node.title }}</span>
                    </ng-template>
                  </div>
                </ng-template>
              </nz-tree>
              <p *ngIf="nodes.length == 0" class="emptyDataTex empty-tree-text">
                No Category Available.
              </p>
            </div>
          </div>
          <div nz-col nzSpan="17" class="dddddddddd">
            <div>
              <div nz-row>
                <div nz-col nzSpan="24" *ngIf="
                    serviceCatName != undefined &&
                    serviceSubCatName != undefined &&
                    serviceCatName != '' &&
                    serviceSubCatName != ''
                  ">
                  <div class="service-category-path">
                    {{ serviceCatName }}>{{ serviceSubCatName }}
                  </div>
                </div>
              </div>
              <div class="d123">
                <nz-spin [nzSpinning]="isSpinning2">
                  <div nz-row>
                    <div nz-col nzSpan="24" *ngFor="let item of servicescatalogue; let i = index">
                      <div nz-row *ngIf="item.IS_PARENT == 1" class="parent-service-container">
                        <div nz-col nzSpan="18" class="subname parent-service-name" #NAME3
                          [attr.title]="isTextOverflowing(NAME3) ? item.NAME : null">
                          {{ item.NAME }}
                        </div>
                        <div nz-col nzSpan="6" class="parent-service-count">
                          Sub Services : {{ item.CHILD_COUNT }}
                        </div>
                        <div nz-col nzSpan="24" *ngIf="
                            servicescatalogue[i]['IS_OPEN'] == true &&
                            servicescatalogue[i]['CHILDS'] != undefined
                          ">
                          <div *ngIf="
                              servicescatalogue[i]['CHILDS'].length == 0 &&
                              servicescatalogue[i]['IS_OPEN'] == true
                            " class="no-service-box">
                            <p class="emptyDataTex no-service-text">
                              No Service Available.
                            </p>
                          </div>
                          <div *ngFor="
                              let item2 of servicescatalogue[i]['CHILDS'];
                              let k = index
                            " nz-row class="child-service-container">
                            <div nz-col nzSpan="3">
                              <div class="service-image">
                                <img [src]="SERVER_URL + item2.SERVICE_IMAGE" width="70px" height="70px"
                                  alt="Service Image" />
                              </div>
                            </div>
                            <div nz-col nzSpan="21" class="child-service-content">
                              <div nz-row>
                                <div nz-col nzSpan="20" class="subname child-service-name" #NAME2
                                  [attr.title]="isTextOverflowing(NAME2) ? item.NAME : null">
                                  {{ item2.NAME }}
                                </div>
                                <div nz-col nzSpan="4" class="child-service-badge-col">
                                  <span *ngIf="item2.IS_EXPRESS == 1 && isTerritoryExpress" class="express-badge">
                                    Express
                                  </span>
                                </div>
                                <div nz-col nzSpan="24">
                                  <span class="subname truncate-two-lines child-service-description" nz-popover *ngIf="
                                      item2.DESCRIPTION != null &&
                                      item2.DESCRIPTION != ''
                                    " [nzPopoverContent]="descript" nzPopoverPlacement="topLeft"
                                    [innerHTML]="item2.DESCRIPTION">
                                  </span>
                                  <ng-template #descript>
                                    <span [innerHTML]="item2.DESCRIPTION"></span>
                                  </ng-template>
                                </div>
                                <div nz-col nzSpan="12" class="service-time-text">
                                  Preparation Time :
                                  {{
                                  formatTime(
                                  item2.T_PREPARATION_HOURS,
                                  item2.T_PREPARATION_MINUTES
                                  )
                                  }}
                                  <small>Hrs.</small>
                                </div>
                                <div nz-col nzSpan="12" class="service-time-text">
                                  Service Time :
                                  {{
                                  convertDateTiem(item2.START_TIME)
                                  | date : "HH:mm a"
                                  }}
                                  To
                                  {{
                                  convertDateTiem(item2.END_TIME)
                                  | date : "HH:mm a"
                                  }}
                                </div>
                                <div nz-col nzSpan="24" class="express-charge-row">
                                  <div *ngIf="
                                      item2.IS_EXPRESS == 1 &&
                                      isTerritoryExpress
                                    ">
                                    Express Charges : ₹{{
                                    item2.EXPRESS_COST | number
                                    }}
                                  </div>
                                </div>
                                <div nz-col nzSpan="6" *ngIf="
                                    servicescatalogue[i]['CHILDS'][k].MAX_QTY >
                                    1
                                  " class="quantity-select-col">
                                  <nz-select name="quantity{{ i }}" (ngModelChange)="
                                      calculateTotal11($event, 'QUANTITY', i, k)
                                    " [(ngModel)]="
                                      servicescatalogue[i]['CHILDS'][k].QUANTITY
                                      " [nzSize]="'small'"class="quantity-select"
                                      [nzCustomTemplate]="defaultTemplate">
                                    <nz-option *ngFor="
                                        let itms of servicescatalogue[i][
                                          'CHILDS'
                                        ][k].options;
                                        let i = index
                                      " [nzValue]="itms" [nzLabel]="itms"></nz-option>
                                    <ng-template #defaultTemplate let-selected>
                                      {{ selected.nzLabel }}
                                      {{ item2.UNIT_NAME }}
                                    </ng-template>
                                  </nz-select>
                                </div>
                                <div nz-col nzSpan="7" *ngIf="servicescatalogue[i]['CHILDS'][k].MAX_QTY > 1"
                                  class="price-multiplier-text">
                                  X ₹ {{ item2.KEY_PRICE | number }}
                                  <small>(*Tax Inclusive)</small>
                                </div>
                                <div nz-col nzSpan="13" *ngIf="servicescatalogue[i]['CHILDS'][k].MAX_QTY == 1"
                                  class="price-multiplier-text">
                                  {{ item2.QUANTITY }} {{ item2.UNIT_NAME }} X ₹
                                  {{ item2.KEY_PRICE | number }}
                                  <small>(*Tax Inclusive)</small>
                                </div>
                                <div nz-col nzSpan="6" class="total-amount-text">
                                  Total : ₹
                                  {{
                                  servicescatalogue[i]["CHILDS"][k]
                                  .TOTAL_AMOUNT | number
                                  }}
                                </div>
                                <div nz-col nzSpan="5" class="add-to-cart-col">
                                  <button nz-button [nzTooltipTitle]="'Add service into cart'" nz-tooltip
                                    nzType="primary" nzShape="round" nzSize="small" (click)="
                                      addToTable2(
                                        servicescatalogue[i]['CHILDS'][k],
                                        i,
                                        k
                                      )
                                    ">
                                    <span class="add-to-cart-text">
                                      <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
                                      &nbsp; Add To Cart
                                    </span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div nz-col nzSpan="24" class="toggle-options-container">
                          <button *ngIf="servicescatalogue[i]['IS_OPEN'] != true" nz-button nzType="primary"
                            nzShape="round" nzSize="small" [nzLoading]="buttonLoading" class="toggle-options-btn"
                            (click)="getsubServices(servicescatalogue[i], i)">
                            <span class="toggle-options-text">View Options</span>
                            <span nz-icon nzType="caret-down" nzTheme="outline" class="toggle-options-icon"></span>
                          </button>
                          <button *ngIf="servicescatalogue[i]['IS_OPEN'] == true" nz-button nzType="primary"
                            nzShape="round" nzSize="small" class="toggle-options-btn"
                            (click)="hideservices(servicescatalogue[i], i)">
                            <span class="toggle-options-text">Hide Options</span>
                            <span nz-icon nzType="caret-up" nzTheme="outline" class="toggle-options-icon"></span>
                          </button>
                        </div>
                      </div>
                      <div nz-row *ngIf="item.IS_PARENT == 0" class="single-service-container">
                        <div nz-col nzSpan="3">
                          <div class="service-image">
                            <img [src]="SERVER_URL + item.SERVICE_IMAGE" width="70px" height="70px"
                              alt="Service Image" />
                          </div>
                        </div>
                        <div nz-col nzSpan="21" class="single-service-content">
                          <div nz-row>
                            <div nz-col nzSpan="20" class="subname single-service-name" #NAME
                              [attr.title]="isTextOverflowing(NAME) ? item.NAME : null">
                              {{ item.NAME }}
                            </div>
                            <div nz-col nzSpan="4" class="single-service-badge-col">
                              <span *ngIf="item.IS_EXPRESS == 1 && isTerritoryExpress" class="express-badge">
                                Express
                              </span>
                            </div>
                            <div nz-col nzSpan="24">
                              <span class="subname truncate-two-lines single-service-description" nz-popover
                                *ngIf="item.DESCRIPTION != null && item.DESCRIPTION != ''"
                                [nzPopoverContent]="descript1" nzPopoverPlacement="topLeft"
                                [innerHTML]="item.DESCRIPTION">
                              </span>
                              <ng-template #descript1>
                                <span [innerHTML]="item.DESCRIPTION"></span>
                              </ng-template>
                            </div>
                            <div nz-col nzSpan="12" class="service-time-text">
                              Preparation Time :
                              {{
                              formatTime(
                              item.T_PREPARATION_HOURS,
                              item.T_PREPARATION_MINUTES
                              )
                              }}
                              <small>Hrs.</small>
                            </div>
                            <div nz-col nzSpan="12" class="service-time-text">
                              Service Time :
                              {{
                              convertDateTiem(item.START_TIME)
                              | date : "HH:mm a"
                              }}
                              To
                              {{
                              convertDateTiem(item.END_TIME)
                              | date : "HH:mm a"
                              }}
                            </div>
                            <div nz-col nzSpan="24" class="express-charge-row">
                              <div *ngIf="item.IS_EXPRESS == 1 && isTerritoryExpress">
                                Express Charges : ₹{{ item.EXPRESS_COST | number }}
                              </div>
                            </div>
                            <div nz-col nzSpan="6" *ngIf="servicescatalogue[i].MAX_QTY > 1" class="quantity-select-col">
                              <nz-select name="quantity{{ i }}" (ngModelChange)="calculateTotal1($event, 'QUANTITY', i)"
                                [(ngModel)]="servicescatalogue[i].QUANTITY" [nzSize]="'small'" class="quantity-select"
                                [nzCustomTemplate]="defaultTemplate2">
                                <nz-option *ngFor="
                                    let items2 of servicescatalogue[i].options;
                                    let i = index
                                  " [nzValue]="items2" [nzLabel]="items2"></nz-option>
                                <ng-template #defaultTemplate2 let-selected>
                                  {{ selected.nzLabel }} {{ item.UNIT_NAME }}
                                </ng-template>
                              </nz-select>
                            </div>
                            <div nz-col nzSpan="13" *ngIf="servicescatalogue[i].MAX_QTY == 1" class="price-multiplier-text">
                              {{ item.QUANTITY }} {{ item.UNIT_NAME }} X ₹
                              {{ item.KEY_PRICE | number }}
                              <small>(*Tax Inclusive)</small>
                            </div>
                            <div nz-col nzSpan="7" *ngIf="servicescatalogue[i].MAX_QTY > 1" class="price-multiplier-text">
                              X ₹ {{ item.KEY_PRICE | number }}
                              <small>(*Tax Inclusive)</small>
                            </div>
                            <div nz-col nzSpan="6" class="total-amount-text">
                              Total : ₹ {{ servicescatalogue[i].TOTAL_AMOUNT | number }}
                            </div>
                            <div nz-col nzSpan="5" class="add-to-cart-col">
                              <button nz-button [nzTooltipTitle]="'Add service into cart'" nz-tooltip nzType="primary"
                                nzShape="round" nzSize="small" (click)="addToTable(servicescatalogue[i], i)">
                                <span class="add-to-cart-text">
                                  <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
                                  &nbsp; Add To Cart
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div nz-col nzSpan="24" class="no-service-container" *ngIf="
                        servicescatalogue == undefined ||
                        servicescatalogue == null ||
                        servicescatalogue.length == 0
                      ">
                      <p class="emptyDataTex">No Service Available.</p>
                    </div>
                  </div>
                </nz-spin>
              </div>
            </div>
          </div>
        </div>
        <div class="my-box order-validation-container" *ngIf="
            data.CUSTOMER_ID == undefined ||
            data.CUSTOMER_ID == null ||
            data.ADDRESS_ID == undefined ||
            data.ADDRESS_ID == null ||
            data.ADDRESS_ID1 == undefined ||
            data.ADDRESS_ID1 == null ||
            data.TERRITORY_ID == undefined ||
            data.TERRITORY_ID == null ||
            data.TERRITORY_ID == 0
          ">
          <p class="emptyDataTex" *ngIf="isTerritoryMapped == true">
            Please select customer and address.
          </p>
          <p class="emptyDataTex" *ngIf="isTerritoryMapped == false">
            You don't have permission to create order for
            {{ data.TERRITORY_NAME }} territory.
          </p>
        </div>
      </div>
      <div nz-col nzSpan="7">
        <div class="order-cart-wrapper">
          <nz-form-item>
            <div class="order-cart-header">
              <span class="order-cart-title">Order Cart</span>
              <div class="order-cart-scroll">
                <div *ngFor="let cartItem of tableData; let g = index" class="cardstyle order-cart-item">
                  <div nz-row>
                    <div nz-col nzSpan="21" class="subname order-cart-category" #categoryName [attr.title]="
                isTextOverflowing(categoryName)
                  ? cartItem.CATEGORY_NAME + '>' + cartItem.SUB_CATEGORY_NAME
                  : null
              ">
                      {{ cartItem.CATEGORY_NAME }} >
                      {{ cartItem.SUB_CATEGORY_NAME }}
                    </div>
                    <div nz-col nzSpan="3" class="order-cart-actions">
                      <span *ngIf="
                          cartItem.PHOTO_FILE != null &&
                          cartItem.PHOTO_FILE != ''
                          " nz-icon nzType="picture" nzTheme="outline" nz-tooltip
                        nzTooltipTitle="View Photo" class="order-cart-icon-btn"
                        (click)="viewImage(cartItem.PHOTO_FILE)"></span>
                      <span nz-icon nzType="delete" nzTheme="outline" nz-tooltip nzTooltipTitle="Remove Service"
                        class="order-cart-icon-btn" (click)="deleteService(cartItem, g)"></span>
                    </div>
                  </div>
                  <div nz-row>
                    <div nz-col nzSpan="24" class="subname">
                      {{ cartItem.SERVICE_NAME }}
                    </div>
                    <div nz-col nzSpan="24" class="order-cart-muted">
                      <span *ngIf="cartItem.BRAND_NAME">{{ cartItem.BRAND_NAME }}</span>
                      <span *ngIf="cartItem.MODEL_NUMBER">
                        {{ cartItem.MODEL_NUMBER }}
                      </span>
                    </div>
                    <div nz-col nzSpan="24">
                      <span class="order-cart-muted" *ngIf="cartItem.DESCRIPTION">
                        {{ cartItem.DESCRIPTION }}
                      </span>
                    </div>
                    <div nz-col nzSpan="11" class="order-cart-muted">
                      Preparation Time :
                      {{
                      formatTime(
                      cartItem.PREPARATION_HOURS,
                      cartItem.PREPARATION_MINUTES
                      )
                      }}
                      <small>Hrs.</small>
                    </div>
                    <div nz-col nzSpan="13" class="order-cart-time">
                      Service Time :
                      {{
                      convertDateTiem(cartItem.START_TIME) | date : "HH:mm a"
                      }}
                      To
                      {{
                      convertDateTiem(cartItem.END_TIME) | date : "HH:mm a"
                      }}
                    </div>
                  </div>
                  <div nz-row class="order-cart-qty-row">
                    <div nz-col nzSpan="6" *ngIf="cartItem.MAX_QTY > 1" class="order-cart-qty-controls">
                      <button nz-button nzType="primary" nzShape="circle" nzSize="small" class="order-cart-qty-btn"
                      [disabled]="cartItem.QUANTITY == 1" (click)="decrementQuantityIncart(cartItem, g)"
                       [ngStyle]="{
                          color: cartItem.QUANTITY == 1 ? 'grey' : 'white'
                        }" >
                        -
                      </button>
                      <input nz-input name="cartItemquantity{{ g }}" readonly [nzSize]="'small'" [(ngModel)]="cartItem.QUANTITY"
                        class="order-cart-qty-input" />
                      <button nz-button nzType="primary" nzShape="circle" nzSize="small" class="order-cart-qty-btn" [ngStyle]="{
                          color:
                            cartItem.QUANTITY == cartItem.MAX_QTY
                              ? 'grey'
                              : 'white'
                        }"
                        [disabled]="cartItem.QUANTITY == cartItem.MAX_QTY"
                        (click)="incrementQuantityIncart(cartItem, g)">
                        +
                      </button>
                    </div>
                    <div nz-col nzSpan="8" *ngIf="cartItem.MAX_QTY > 1" class="order-cart-multiplier">
                      X ₹ {{ cartItem.TAX_EXCLUSIVE_AMOUNT | number }}
                    </div>
                    <div nz-col nzSpan="10" class="order-cart-total">
                      ₹ {{ cartItem.TOTAL_TAX_EXCLUSIVE_AMOUNT | number }}
                    </div>
                  </div>
                  <div class="order-cart-tax">
                    <small class="order-cart-tax-label123">
                      <small *ngIf="data.IS_SAME_STATE == 1">CGST({{ cartItem.CGST }}%) + SGST({{ cartItem.SGST }}%)
                      </small>
                      <small *ngIf="data.IS_SAME_STATE != 1">
                        IGST ({{ cartItem.IGST }}%)</small>
                      <small *ngIf="cartItem.CESS != null && cartItem.CESS != 0">
                        + CESS({{ cartItem.CESS }}%)</small>
                    </small>
                    (+)Tax Amount : ₹ {{ cartItem.TAX_AMOUNT | number }}
                  </div>
                  <div class="order-cart-footer">
                    <span *ngIf="cartItem.IS_EXPRESS && isTerritoryExpress" class="order-cart-express">
                      Express
                   </span>
                  </div>
                </div>
                <div class="emptyDataTex order-cart-empty" *ngIf="tableData.length == 0">
                  <p class="emptyDataTex">Your cart is empty</p>
                </div>
              </div>
            </div>
          </nz-form-item>
        </div>
        <div class="order-summary-wrapper">
          <nz-form-item>
            <div>
              <div class="order-summary-header">
                <span class="order-summary-title">Summary</span>
                <div nz-row class="order-summary-row">
                  <div nz-col nzSpan="16" class="order-summary-label">
                    Taxable Amount :
                  </div>
                  <div nz-col nzSpan="8" class="order-summary-value">
                    ₹ {{ data.TOTAL_TAXABLE_AMOUNT | number }}
                  </div>
                  <div nz-col nzSpan="16" class="order-summary-label">
                    (-) Discount :
                    <span class="order-summary-small-gap"></span>
                  </div>
                  <div nz-col nzSpan="8" class="order-summary-value">
                    ₹ {{ data.DISCOUNT_AMOUNT | number }}
                  </div>
                  <div nz-col nzSpan="16" class="order-summary-label">
                    (+) Express Delivery :
                    <span class="order-summary-small-gap"></span>
                  </div>
                  <div nz-col nzSpan="8" class="order-summary-value">
                    ₹
                    {{
                    data.IS_EXPRESS
                    ? (data.EXPRESS_DELIVERY_CHARGES | number)
                    : 0
                    }}
                  </div>
                  <div nz-col nzSpan="16" class="order-summary-label">
                    (+) Tax Amount :
                    <span class="order-summary-small-gap"></span>
                  </div>
                  <div nz-col nzSpan="8" class="order-summary-value">
                    ₹ {{ data.TAX_AMOUNT | number }}
                  </div>
                </div>
                <div nz-row class="order-summary-total-row">
                  <div nz-col nzSpan="16" class="order-summary-total-label">
                    Order Total :
                  </div>
                  <div nz-col nzSpan="8" class="order-summary-total-value">
                    ₹ {{ data.TOTAL_AMOUNT | number }}
                  </div>
                </div>
              </div>
              <div *ngIf="showExpress && isTerritoryExpress" class="order-summary-express-checkbox">
                <label nz-checkbox name="isExpress" [(ngModel)]="data.IS_EXPRESS"
                  (ngModelChange)="expressAvailable($event)">
                  Express Service Required</label>
              </div>
              <div class="order-summary-schedule-title">
                Schedule Order
              </div>
              <div nz-row>
                <div nz-col nzSpan="12">
                  <nz-form-control>
                    <nz-date-picker *ngIf="tableData.length > 0" class="order-summary-date-picker" [(ngModel)]="expectedDate"
                      (ngModelChange)="setDate($event)" nzFormat="dd/MM/yyyy" [nzDisabledDate]="disabledPastDates"
                      name="expectedDate"></nz-date-picker>
                  </nz-form-control>
                </div>
                <div nz-col nzSpan="8" class="order-summary-time-col">
                  <nz-form-control>
                    <nz-time-picker *ngIf="tableData.length > 0" [(ngModel)]="time" name="time" class="order-summary-time-picker"
                      nzFormat="HH:mm a" [nzMinuteStep]="10" (ngModelChange)="setTime($event)" [nzAllowEmpty]="false"
                      [nzDisabledHours]="getDisabledHours" [nzDisabledMinutes]="getDisabledMinutes"></nz-time-picker>
                  </nz-form-control>
                </div>
                <div nz-col nzSpan="4"></div>
                <div nz-col nzSpan="24" class="order-summary-remark-header">
                  <span>Remark</span>
                  <span *ngIf="!specialInstruction" nz-icon nzType="plus-circle" nzTheme="fill" nz-tooltip
                    [nzTooltipTitle]="
              specialInstruction ? 'Edit Remark' : 'Add Remark'
            " class="order-summary-remark-icon" (click)="addspecialInstruction()"></span>
                  <span *ngIf="specialInstruction" nz-icon nzType="edit" nzTheme="fill" nz-tooltip [nzTooltipTitle]="
                    specialInstruction ? 'Edit Remark' : 'Add Remark'
            " class="order-summary-remark-icon" (click)="editspecialInstruction()"></span>
                </div>
                <div nz-col nzSpan="24" class="order-summary-remark-text">
                  <span *ngIf="specialInstruction.length >= 50" nz-popover [nzPopoverContent]="specialInstruction"
                    nzPopoverPlacement="top">
                    {{
                    specialInstruction == null
                    ? "-"
                    : (specialInstruction | slice : 0 : 50)
                    }}{{ specialInstruction.length > 50 ? "..." : "" }}
                  </span>
                  <span *ngIf="specialInstruction.length < 50">
                    {{
                    specialInstruction == null
                    ? "-"
                    : (specialInstruction | slice : 0 : 50)
                    }}
                    {{ specialInstruction.length > 50 ? "..." : "" }}
                  </span>
                </div>
                <div nz-col nzSpan="24" class="order-summary-action">
                  <button type="button" *ngIf="type == 'a'" class="ant-btn ant-btn-primary" nz-button
                    [nzLoading]="isSpinning" nz-dropdown nz-popconfirm
                    nzPopconfirmTitle="Are you sure, you want to save information?" nzPopconfirmPlacement="top"
                    [nzOkText]="'Yes'" (nzOnConfirm)="save(false, websitebannerPage)" (nzOnCancel)="deleteCancel()">
                    <span>Create Order</span>
                  </button>
                  <button type="button" *ngIf="type == 'e'" class="ant-btn ant-btn-primary" nz-button
                    [nzLoading]="isSpinning" nz-dropdown nz-popconfirm
                    nzPopconfirmTitle="Are you sure, you want to update information?" nzPopconfirmPlacement="top"
                    [nzOkText]="'Yes'" (nzOnConfirm)="save(false, websitebannerPage)" (nzOnCancel)="deleteCancel()">
                    <span>Update Order</span>
                  </button>
                </div>
                <nz-modal [(nzVisible)]="isaddInstruction" [nzTitle]="'Add Remark'" (nzOnCancel)="handleCancel()"
                  nzOkText="Save & Close" (nzOnOk)="handleOk()">
                  <ng-container *nzModalContent>
                    <textarea nz-input [(ngModel)]="specialInstruction2" name="specialInstruction" rows="3"
                      maxlength="512" placeholder="Enter Remark" class="order-summary-remark-textarea"
                      (focus)="checkLength()" (blur)="checkLength()"></textarea>
                    <span *ngIf="specialInstruction2 && showerror" class="order-summary-remark-counter">
                      {{ specialInstruction2.length }}/512
                    </span>
                  </ng-container>
                </nz-modal>
              </div>
            </div>
          </nz-form-item>
        </div>
      </div>
    </div>
  </nz-spin>
</form>
<nz-modal [nzWidth]="900" [(nzVisible)]="ImageModalVisible" nzMaskClosable="false" nzClosable="false"
  [nzContent]="content" [nzTitle]="'Image View'" (nzOnCancel)="ImageModalCancel()" [nzFooter]="ImageModalFooter">
  <ng-template #content>
    <nz-spin [nzSpinning]="isSpinning">
      <div *ngIf="imageshow != undefined && imageshow != null && imageshow != ''" class="ss image-view-container">
        <div class="controls">
          <button nz-button nzType="primary" nzShape="circle" (click)="zoomIn()">
            <i nz-icon nzType="zoom-in"></i>
          </button>
          <button nz-button nzType="primary" nzShape="circle" (click)="zoomOut()">
            <i nz-icon nzType="zoom-out"></i>
          </button>
          <button nz-button nzType="primary" nzShape="circle" (click)="rotateLeft()">
            <i nz-icon nzType="rotate-left"></i>
          </button>
          <button nz-button nzType="primary" nzShape="circle" (click)="rotateRight()">
            <i nz-icon nzType="rotate-right"></i>
          </button>
          <button nz-button nzType="default" nzShape="circle" (click)="reset()">
            <i nz-icon nzType="reload"></i>
          </button>
        </div>
        <div class="image-container">
          <img [src]="imageshow" [style.transform]="
              'scale(' + zoomLevel + ') rotate(' + rotation + 'deg)'
            " alt="Zoomable Image" />
        </div>
      </div>
    </nz-spin>
  </ng-template>
  <ng-template #ImageModalFooter>
    <button nz-button nzType="default" (click)="ImageModalCancel()">
      Close
    </button>
  </ng-template>
</nz-modal>
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="true" [nzWidth]="700" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-custadd [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData">
      </app-custadd>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerVisibleAddress">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="true" [nzWidth]="600" [nzVisible]="drawerVisibleAddress"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerAddressClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-addressadd [data]="drawerDataaddress" [customerAddData]="customerAddData"
        [drawerAddressClose]="closeCallbackAddress" [ID]="ID"></app-addressadd>
    </ng-container>
  </nz-drawer>
</div>