nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

.payment-summary {
  float: right;
  direction: rtl;
  /* Aligns the content from right to left */
  text-align: right;
  /* Ensures text aligns to the right */

}
.truncate-two-lines {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  line-clamp: 3;
  max-height: calc(1.5em * 3); /* Adjust line height (e.g., 1.5em) */
  cursor: pointer;
  line-height: 1.5em;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

thead tr {
  background-color: #f4f4f4;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
  text-align: center;
}

td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #e8f5ff;
}

button[nz-button] {
  display: inline-flex;
  align-items: center;
  padding: 2px 8px;
}

button[nz-button] span {
  margin-right: 4px;
}

button[nz-button][nzDanger] {
  color: #f5222d;
}

button[nz-button][nzType="link"] {
  padding: 0;
}

.cardstyle {
  background-color: white;

  padding: 9px;
  box-shadow: 0px 4px 5px 0px rgb(25 6 202 / 11%);
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 10px;
}

.emptyDataTex {
  color: grey;
  font-weight: 500;
}

::-webkit-scrollbar {
  height: 5px;
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233);
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 5px rgb(169, 168, 168);
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px rgb(8, 8, 8);
}

:host::ng-deep .ant-time-picker-now {
  display: none !important;
}

.fontsize {
  font-size: 12px !important;
}

.fontsize>:host::ng-deep label {
  font-size: 12px !important;
}

:host::ng-deep .ant-tree .ant-tree-treenode-disabled .ant-tree-node-content-wrapper {
  font-weight: 500;
  color: brown;
  cursor: not-allowed;
}

:host::ng-deep.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #faebd7;
}

:host::ng-deep .ant-tree-indent-unit {
  display: inline-block;
  width: 8px;
}

.subname {
  color: #4c4c4ceb;
  font-size: 12px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-image {
  flex-shrink: 0;
  /* Prevent shrinking */
  text-align: center
}

:host::ng-deep .ant-tree .ant-tree-node-content-wrapper {
  padding: 0px !important;
  width: 85%;
  line-height: 15px;
}

:host::ng-deep.ant-tree .ant-tree-treenode {
  padding: 0px !important;
}

.selected-node {
  background-color: #faebd7;

}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  overflow: auto;
}

.image-container img {
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
  max-height: 100%;
}

.controls {
  display: flex;
  justify-content: end;
}

.controls button {
  margin-left: 5px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #0056b3;
}