<div nz-row>
  <div nz-col nzSpan="24" class="job-card-container">
    <div nz-row [nzGutter]="16" class="job-card-row">
      <div nz-col nzSpan="8" class="mainnam">
        Order No : {{ Jobassignsdata.ORDER_NO }}
      </div>
      <div nz-col nzSpan="8" class="mainnam" *ngIf="IS_ORDER_JOB == 'P'">
        Job No : {{ Jobassignsdata.JOB_CARD_NO }}
        <nz-tag (click)="openfordetails()" class="job-card-view-tag" [nzColor]="'blue'">
          View Details
        </nz-tag>
      </div>
      <div nz-col nzSpan="8" class="mainnam">
        Expected Date:
        {{ Jobassignsdata.EXPECTED_DATE_TIME | date : "dd/MM/yyyy HH:mm a" }}
      </div>
      <div *ngIf="IS_ORDER_JOB == 'P'" nz-col nzSpan="8" class="subname job-card-text-xs">
        Customer Name : {{ Jobassignsdata.CUSTOMER_NAME }}
      </div>
      <div *ngIf="IS_ORDER_JOB == 'O'" nz-col nzSpan="8" class="mainnam job-card-text-xs">
        Customer Name : {{ Jobassignsdata.CUSTOMER_NAME }}
      </div>
      <div nz-col nzSpan="8" class="subname job-card-text-xs">
        Amount:
        {{
        IS_ORDER_JOB == "P"
        ? Jobassignsdata.SERVICE_AMOUNT
        : Jobassignsdata.TOTAL_AMOUNT
        }}
      </div>
      <div nz-col nzSpan="8" class="subname job-card-text-xs">
        Address: {{ Jobassignsdata.SERVICE_ADDRESS }}
      </div>
      <div nz-col nzSpan="8" class="subname job-card-text-xs">
        Pincode : {{ Jobassignsdata.PINCODE }}
      </div>
      <div nz-col nzSpan="8" class="subname job-card-text-xs">
        Territory Name : {{ Jobassignsdata.TERRITORY_NAME }}
      </div>
      <div nz-col nzSpan="8" class="subname job-card-text-xs">
        Estimated Time:
        {{
        IS_ORDER_JOB == "P"
        ? Jobassignsdata.ESTIMATED_TIME_IN_MIN
        : SERVICE_DATA.ESTIMATED_TIME_IN_MIN
        }}
        min.
      </div>
      <div nz-col nzSpan="8" class="subname job-card-text-xs" *ngIf="IS_ORDER_JOB == 'P'">
        Job Status :
        <nz-tag class="job-card-status-tag" *ngIf="Jobassignsdata.STATUS == 'P'" [nzColor]="'orange'">
          {{ Jobassignsdata.JOB_CARD_STATUS }}
        </nz-tag>
        <nz-tag class="job-card-status-tag" *ngIf="Jobassignsdata.STATUS == 'AS' || Jobassignsdata.STATUS == 'AC'"
          [nzColor]="'blue'">
          Assigned
        </nz-tag>
        <nz-tag class="job-card-status-tag" *ngIf="Jobassignsdata.STATUS == 'CO'" [nzColor]="'green'">
          {{ Jobassignsdata.JOB_CARD_STATUS }}
        </nz-tag>
      </div>
      <div nz-col nzSpan="8" class="subname job-card-text-xs">
        {{ Territorytime }}
      </div>
      <div nz-col nzSpan="6" class="subname job-card-text-xs" *ngIf="IS_ORDER_JOB == 'P'">
        Service : {{ Jobassignsdata.SERVICE_NAME }}
      </div>
      <div nz-col nzSpan="6" class="subname job-card-text-xs" *ngIf="IS_ORDER_JOB == 'O'">
        Scheduling Service Count : {{ alljobdata.length }}
      </div>
    </div>
  </div>
</div>
<nz-spin [nzSpinning]="spinnn" nzTip="Loading Technicians...">
  <div nz-row>
    <div nz-col nzSpan="8">
      <div nz-row class="row-padding-uid">
        <div nz-col nzSpan="24" class="card-shadow-uid">
          <div nz-row class="inner-row-padding-uid">
            <div nz-col nzSpan="24" *ngIf="Jobassignsdata.CUSTOMER_TYPE == 'B'" class="tech-type-wrapper-uid">
              <nz-radio-group name="TECHNICIAN_TYPE" [(ngModel)]="TECHNICIAN_TYPE"
                (ngModelChange)="changeTechnicianType($event)">
                <label nz-radio nzValue="A">All</label>
                <label nz-radio nzValue="M">Mapped</label>
              </nz-radio-group>
            </div>
            <div nz-col nzSpan="22">
              <nz-form-item class="form-item-zero-margin-uid">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input type="text" nz-input placeholder="Enter 3 characters to search" [(ngModel)]="searchValue"
                    (input)="onSearchChange(searchValue)" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <span nz-icon nzType="search"></span>
                </ng-template>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="2" class="filter-btn-align-uid">
              <nz-form-item class="form-item-zero-margin-uid">
                <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
                  [nzType]="false ? 'primary' : 'default'" (click)="showMainFilter()">
                  <i nz-icon nzType="filter"></i>
                </button>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <div class="filter {{ filterClass }}">
                <div class="filter-box">
                  <div cdkDropList [cdkDropListData]="checkboxList" class="sortable-container"
                    (cdkDropListDropped)="onDrop($event)">
                    <div nz-col nzSpan="24" *ngFor="let item of checkboxList" cdkDrag [cdkDragData]="item"
                      class="sortable-item">
                      <label nz-checkbox [(ngModel)]="item.checked">
                        {{ item.label }}
                      </label>
                      <div class="hover-arrows">
                        <span class="arrow up-arrow">⬆</span>
                        <span class="arrow down-arrow">⬇</span>
                      </div>
                    </div>
                  </div>
                  <div class="filter-apply-align-uid">
                    <button nz-button nzType="primary" [nzLoading]="spinnn" (click)="applyFilter()">
                      Apply Filter
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="24" *ngIf="jobedit" class="job-edit-wrapper-uid">
              <div nz-row class="job-edit-card-uid">
                <div nz-col nzSpan="24" class="mainnam job-edit-title-uid">
                  Previous Technician Data
                </div>
                <div nz-col nzSpan="24" class="subname job-edit-techname-uid">
                  Technician Name : {{ Jobassignsdata.TECHNICIAN_NAME }}
                </div>
                <div nz-col nzSpan="24" class="subname">
                  Scheduled on:
                  {{ Jobassignsdata.SCHEDULED_DATE_TIME | date : "dd/MM/yyyy" }}
                  &nbsp;&nbsp; Start Time :
                  {{ Jobassignsdata.START_TIME }} &nbsp;&nbsp; End Time :
                  {{ Jobassignsdata.END_TIME }}
                </div>
                <div nz-col nzSpan="24" class="subname">
                  Assigned Date:
                  {{
                  Jobassignsdata.ASSIGNED_DATE | date : "dd/MM/yyyy HH:mm a"
                  }}
                </div>
              </div>
            </div>
            <div nz-row [ngStyle]="{
                height: jobedit ? '45vh' : '60vh',
                overflow: 'auto'
              }">
              <div nz-col nzSpan="24" *ngFor="let tech of dublicatetechData" class="tech-card-wrapper-uid">
                <div nz-row class="tech-card-uid
                  " [ngStyle]="{
                    'background-color':
                      tech.TECHNICIAN_STATUS === 0 ? '#d9d9d929' : '#fff'
                  }">
                  <div class="mainnam" nz-col [nzSpan]="
                      tech.AVG_RATINGS !== null &&
                      tech.AVG_RATINGS !== '' &&
                      tech.AVG_RATINGS !== undefined
                        ? 12
                        : 24
                    ">
                    Name: {{ tech?.NAME }}
                  </div>
                  <div *ngIf="
                      tech.AVG_RATINGS !== null &&
                      tech.AVG_RATINGS !== '' &&
                      tech.AVG_RATINGS !== undefined
                    " class="subname tech-rating-align-uid" nz-col nzSpan="12">
                    <nz-rate nzDisabled="true" [ngModel]="roundNumber(tech.AVG_RATINGS)" nzAllowHalf></nz-rate>
                  </div>
                  <div class="subname" nz-col nzSpan="24">
                    Email:
                    <a class="subname tech-link-uid" href="mailto:{{ tech?.EMAIL_ID }}">
                      {{ tech?.EMAIL_ID }}
                    </a>
                  </div>
                  <div class="subname" nz-col nzSpan="12">
                    Mobile:
                    <a class="subname tech-link-uid" href="tel:{{ tech?.MOBILE_NUMBER }}">
                      {{ tech?.MOBILE_NUMBER }}
                    </a>
                  </div>
                  <div nz-col nzSpan="12" class="subname tech-text-end-uid">
                    Experience Level:
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'J'" class="subname">
                      Junior</span>
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'F'" class="subname">
                      Fresher</span>
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'M'" class="subname">
                      Mid-Level</span>
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'S'" class="subname">
                      Senior</span>
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'L'" class="subname">
                      Lead</span>
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'E'" class="subname">
                      Expert</span>
                  </div>
                  <div nz-col nzSpan="10" class="subname">
                    Type :
                    <span *ngIf="tech.TYPE == 'V'" class="subname">
                      Vendor Managed</span>
                    <span *ngIf="tech.TYPE == 'F'" class="subname">
                      Freelancer</span>
                    <span *ngIf="tech.TYPE == 'O'" class="subname">
                      On Payroll</span>
                    <span *ngIf="tech.TYPE == 'R'" class="subname tech-remote-type-uid">
                      Remote Technician</span>
                  </div>
                  <div class="subname tech-text-end-uid" nz-col nzSpan="12">
                    Break Time: {{ tech['TECHNICIAN_STATUS'] ? tech.BREAK_TIME : '' }}
                  </div>
                  <div nz-col nzSpan="12" class="subname">
                    Currently on job:
                    <i class="subname" nz-icon *ngIf="tech['IS_ON_JOB']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
                      [nzTwotoneColor]="'#52c41a'"></i>
                    <span class="subname" *ngIf="!tech['IS_ON_JOB']">No</span>
                  </div>
                  <div nz-col nzSpan="12" class="subname tech-text-end-uid">
                    Day Start & End: {{ tech['TECHNICIAN_STATUS'] ? tech.DAY_START_END : '' }}
                  </div>
                  <div nz-col nzSpan="24" class="subname" *ngIf="tech.TYPE == 'V'">
                    Vendor Name:
                    <span *ngIf="tech.VENDOR_NAME?.length > 50" nz-tooltip [nzTooltipTitle]="tech.VENDOR_NAME"
                      nzTooltipPlacement="topLeft" class="subname">
                      {{ tech.VENDOR_NAME }}
                    </span>
                    <span *ngIf="tech.VENDOR_NAME?.length <= 50" class="subname">
                      {{ tech.VENDOR_NAME }}
                    </span>
                  </div>
                  <div nz-col nzSpan="12" class="subname">
                    Remote technician:
                    <span class="subname tech-remote-value-uid">
                      <b>{{ tech.IS_REMOTE_TECHNICIAN == 1 ? 'Yes' : 'No' }}</b>
                    </span>
                  </div>
                  <div nz-col nzSpan="12" class="tech-text-end-uid">
                    <span class="subname">
                      Is Available:
                      <i class="subname" nz-icon *ngIf="tech['TECHNICIAN_STATUS']" [nzType]="'check-circle'"
                        [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                      <i nz-icon *ngIf="!tech['TECHNICIAN_STATUS']" class="subname" [nzType]="'close-circle'"
                        [nzTheme]="'twotone'" [nzTwotoneColor]="'#f50'"></i>
                    </span>
                  </div>
                  <div nz-col nzSpan="24" class="tech-action-align-uid">
                    <nz-tag [nzColor]="'cyan'" (click)="viewtechdetails(tech)">
                      View Details
                    </nz-tag>
                    &nbsp;
                    <nz-tag *ngIf="tech['TECHNICIAN_STATUS']" [nzColor]="'purple'" (click)="
                        IS_ORDER_JOB == 'P'
                          ? assgnopen(tech)
                          : assgnorderopen(tech)
                      ">Assign</nz-tag>
                  </div>
                  <div nz-col nzSpan="24" class="tech-table-wrapper-uid">
                    <table class="tech-table-uid">
                      <tr>
                        <th class="tech-th-uid" nz-popover [nzPopoverContent]="'Distance ' + tech.DISTANCE"
                          nzPopoverPlacement="topLeft">
                          {{ tech.DISTANCE }}
                        </th>
                        <th class="tech-th-uid">
                          <span nz-popover [nzPopoverContent]="'Day Ends Late ' + tech.working_deviation"
                            nzPopoverPlacement="topLeft" class="tech-small-text-uid"
                            *ngIf="tech.DAY_EARLY_OR_LATE == 'L'">
                            Day Ends Late {{ tech.working_deviation }}
                          </span>
                          <span nz-popover [nzPopoverContent]="'Day Start Early ' + tech.working_deviation"
                            nzPopoverPlacement="topLeft" class="tech-small-text-uid"
                            *ngIf="tech.DAY_EARLY_OR_LATE == 'E'">
                            Day Start Early {{ tech.working_deviation }}
                          </span>
                          <span class="tech-small-text-uid" *ngIf="
                              tech.DAY_EARLY_OR_LATE != 'E' &&
                              tech.DAY_EARLY_OR_LATE != 'L'
                            ">NA</span>
                        </th>
                        <th class="tech-th-uid">
                          <span nz-popover [nzPopoverContent]="
                              'Break Start Late ' + tech.break_deviation
                            " nzPopoverPlacement="topLeft" class="tech-small-text-uid"
                            *ngIf="tech.BREAK_EARLY_OR_LATE == 'L'">Break Start Late {{ tech.break_deviation }}</span>
                          <span nz-popover [nzPopoverContent]="
                              'Break Ends Early ' + tech.break_deviation
                            " nzPopoverPlacement="topLeft" class="tech-small-text-uid"
                            *ngIf="tech.BREAK_EARLY_OR_LATE == 'E'">Break Ends Early {{ tech.break_deviation }}
                          </span>
                          <span class="tech-small-text-uid" *ngIf="
                              tech.BREAK_EARLY_OR_LATE != 'E' &&
                              tech.BREAK_EARLY_OR_LATE != 'L'
                        ">
                            NA
                          </span>
                        </th>
                        <th class="tech-th-uid" nz-popover [nzPopoverContent]="'Skiils Ratio ' + tech.SKILL_RATIO"
                          nzPopoverPlacement="topLeft">
                          {{ tech.SKILL_RATIO }}
                        </th>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8" *ngIf="isselectedtech">
      <div nz-row class="tech-panel-wrapper-uid">
        <div nz-col nzSpan="24" class="tech-panel-card-uid tech-panel-center-uid">
          <div id="map" class="tech-map-container-uid"></div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8" *ngIf="isselectedtech">
      <div nz-row class="tech-panel-wrapper-uid">
        <div nz-col nzSpan="24" class="tech-panel-card-uid">
          <nz-table [nzFrontPagination]="false" [nzShowPagination]="false" nzBordered #basicTable [nzData]="mergedData"
            [nzScroll]="{ y: '57vh' }">
            <thead>
              <tr>
                <th>Time</th>
                <th>Jobs</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of mergedData">
                <td>{{ row.time }}</td>
                <td *ngIf="row.rowSpan > 0" [attr.rowspan]="row.rowSpan"
                  [ngStyle]="{ backgroundColor: row.randomColor }">
                  {{
                  row.job == null || row.job == undefined || row.job == ""
                  ? ""
                  : row.job.split(",")[0]
                  }}
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="16" *ngIf="!isselectedtech" class="tech-empty-card-uid">
      <nz-empty class="tech-empty-margin-uid"
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl">
        <ng-template #contentTpl>
          <span> Please select technician for view the data </span>
        </ng-template>
      </nz-empty>
    </div>
  </div>
</nz-spin>
<nz-modal [(nzVisible)]="openModal" nzCentered="true" [nzBodyStyle]="{ padding: '16px' }" nzWidth="700px"
  nzClosable="false" [nzFooter]="contextofrules" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <h5 class="assign-title-uid">{{ Titleforassign }}</h5>
    <hr class="assign-hr-uid" />
    <p class="assign-desc-uid"></p>
    <div nz-row class="assign-row-uid">
      <div nz-col nzSpan="12" class="assign-left-col-uid">
        <div nz-row class="my-box">
          <div nz-col nzSpan="24">
            <div class="assign-warning-text-uid">
              {{ gettimedataa() }}
            </div>
            <div class="assign-warning-text-uid">
              {{ gettimedataa111() }}
            </div>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item class="assign-form-item-uid nz-form-item">
              <nz-form-label nzRequired nzNoColon> Shedule Date </nz-form-label>
              <nz-form-control>
                <nz-date-picker class="assign-date-full-uid" [(ngModel)]="sheduledate" name="sheduledate"
                  (ngModelChange)="getbetweendata($event)" [nzFormat]="'dd/MM/yyyy'"
                  [nzDisabledDate]="disablePastDates"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="10">
            <nz-form-item class="assign-form-item-uid nz-form-item">
              <nz-form-label nzRequired nzNoColon> Start Time </nz-form-label>
              <nz-form-control>
                <nz-time-picker [nzAllowEmpty]="false" [nzAutoFocus]="false" name="STARTTIME" [nzMinuteStep]="10"
                  [(ngModel)]="STARTTIME" [disabled]="disstrue" nzFormat="HH:mm a"
                  (ngModelChange)="getbetweendatastart($event)" [nzDisabledHours]="disabledHoursNew"
                  [nzDisabledMinutes]="disabledMinutesNew"></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="4" class="assign-to-text-uid">
            To
          </div>
          <div nz-col nzSpan="10" *ngIf="IS_ORDER_JOB == 'P'">
            <nz-form-item class="assign-form-item-uid nz-form-item">
              <nz-form-label nzRequired nzNoColon> End Time </nz-form-label>
              <nz-form-control>
                <nz-time-picker nzHideNow="true" [nzAllowEmpty]="false" [nzAutoFocus]="false" [nzMinuteStep]="10"
                  name="ENDTIME" [(ngModel)]="ENDTIME" nzFormat="HH:mm a" [disabled]="disstrue"
                  (ngModelChange)="getbetweendataend($event)" [nzDisabledHours]="disabledHours1New"
                  [nzDisabledMinutes]="disabledMinutes1New"></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="10" *ngIf="IS_ORDER_JOB == 'O'">
            <nz-form-item class="assign-form-item-uid nz-form-item">
              <nz-form-label nzRequired nzNoColon> End Time </nz-form-label>
              <nz-form-control>
                <nz-time-picker nzHideNow="true" [nzAllowEmpty]="false" [nzAutoFocus]="false" [nzMinuteStep]="10"
                  name="ENDTIME" [(ngModel)]="ENDTIME" nzFormat="HH:mm a" [disabled]="true"
                  (ngModelChange)="getbetweendataend($event)" [nzDisabledHours]="disabledHours1New"
                  [nzDisabledMinutes]="disabledMinutes1New"></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div nz-row class="my-box assign-box-padding-uid">
          <div nz-col nzSpan="24">
            <div nz-row class="cardstyle assign-card-shadow-uid" *ngIf="previousdata.length > 0">
              <div nz-col nzSpan="24" class="mainnam assign-title-center-underline-uid">
                Previous Job
              </div>
              <div nz-col nzSpan="24" class="mainnam">
                Job No.: {{ previousdata[0].JOB_CARD_NO }}
              </div>
              <div nz-col nzSpan="24" class="subname">
                Scheduled Date :
                {{ previousdata[0].SCHEDULED_DATE_TIME | date : "dd/MM/yyyy" }}
              </div>
              <div nz-col nzSpan="24" class="subname">
                Time:{{ previousdata[0].START_TIME }} to
                {{ previousdata[0].END_TIME }}
              </div>
              <div nz-col nzSpan="24" class="subname">
                Address :
                <span class="subnam assign-address-text-uid" *ngIf="previousdata[0].SERVICE_ADDRESS != null">
                  <span class="assign-address-text-uid" *ngIf="previousdata[0].SERVICE_ADDRESS.length >= 50" nz-popover
                    [nzPopoverContent]="previousdata[0].SERVICE_ADDRESS" nzPopoverPlacement="topLeft">
                    {{
                    previousdata[0].SERVICE_ADDRESS == null
                    ? "-"
                    : (previousdata[0].SERVICE_ADDRESS | slice : 0 : 50)
                    }}{{
                    previousdata[0].SERVICE_ADDRESS.length > 50 ? "..." : ""
                    }}
                  </span>
                  <span class="assign-address-text-uid" *ngIf="previousdata[0].SERVICE_ADDRESS.length < 50">
                    {{
                    previousdata[0].SERVICE_ADDRESS == null
                    ? "-"
                    : (previousdata[0].SERVICE_ADDRESS | slice : 0 : 50)
                    }}
                    {{
                    previousdata[0].SERVICE_ADDRESS.length > 50 ? "..." : ""
                    }}
                  </span>
                </span>
                <span *ngIf="previousdata[0].SERVICE_ADDRESS == null">-</span>
              </div>
              <div nz-col nzSpan="24" class="subname">
                Service : {{ previousdata[0].SERVICE_NAME }}
              </div>
              <div nz-col nzSpan="24" class="subname" *ngIf="
                  previousdata[0].CUSTOMER_RATING != null &&
                  previousdata[0].CUSTOMER_RATING != '' &&
                  previousdata[0].CUSTOMER_RATING != undefined
                ">
                Rating :
                <nz-rate nzDisabled="true" [ngModel]="roundRating(previousdata[0].CUSTOMER_RATING)"
                  nzAllowHalf></nz-rate>
              </div>
            </div>
            <div nz-row *ngIf="previousdata.length > 0">
              <div nz-col nzSpan="24" class="subname assign-info-strong-top-uid">
                <span nzType="arrow-up" nzTheme="outline"></span>
                &nbsp; &nbsp; Time:{{
                calculateTimeDifference1111(
                previousdata[0].END_TIME,
                STARTTIME
                )
                }}
                &nbsp; &nbsp;
                Distance:{{ distancecalculateforprevois }} km
              </div>
            </div>
            <div nz-row class="cardstyle assign-card-shadow-uid" *ngIf="previousdata.length == 0">
              <div nz-col nzSpan="24" class="mainnam assign-title-center-underline-uid">
                Previous Job
              </div>
              <div nz-col nzSpan="24" class="mainnam assign-na-center-padding-uid">
                NA
              </div>
            </div>
          </div>
          <div nz-col nzSpan="24">
            <nz-divider nzVariant="dashed"></nz-divider>
          </div>
          <div nz-col nzSpan="24" *ngIf="showbutton">
            <div nz-row *ngIf="nextdata.length > 0">
              <div nz-col nzSpan="24" class="subname assign-info-strong-bottom-uid">
                <span nzType="arrow-up" nzTheme="outline"></span>
                &nbsp; &nbsp;
                Time :{{
                calculateTimeDifference11(ENDTIME, nextdata[0].START_TIME)
                }}
                &nbsp; &nbsp;
                Distance:{{ distancecalculatefornext }} km
              </div>
            </div>
            <div nz-row class="cardstyle" *ngIf="nextdata.length > 0">
              <div nz-col nzSpan="24" class="mainnam assign-title-center-underline-uid">
                Next Job
              </div>
              <div nz-col nzSpan="24" class="mainnam">
                Job No.: {{ nextdata[0].JOB_CARD_NO }}
              </div>
              <div nz-col nzSpan="24" class="subname">
                Scheduled Date :
                {{ nextdata[0].SCHEDULED_DATE_TIME | date : "dd/MM/yyyy" }}
              </div>
              <div nz-col nzSpan="24" class="subname">
                Time:{{ nextdata[0].START_TIME }} to {{ nextdata[0].END_TIME }}
              </div>
              <div nz-col nzSpan="24" class="subname">
                Address :
                <span class="subnam assign-address-text-uid" *ngIf="nextdata[0].SERVICE_ADDRESS != null">
                  <span class="assign-address-text-uid" *ngIf="nextdata[0].SERVICE_ADDRESS.length >= 50" nz-popover
                    [nzPopoverContent]="nextdata[0].SERVICE_ADDRESS" nzPopoverPlacement="topLeft">
                    {{
                    nextdata[0].SERVICE_ADDRESS == null
                    ? "-"
                    : (nextdata[0].SERVICE_ADDRESS | slice : 0 : 50)
                    }}{{ nextdata[0].SERVICE_ADDRESS.length > 50 ? "..." : "" }}
                  </span>
                  <span class="assign-address-text-uid" *ngIf="nextdata[0].SERVICE_ADDRESS.length < 50">
                    {{
                    nextdata[0].SERVICE_ADDRESS == null
                    ? "-"
                    : (nextdata[0].SERVICE_ADDRESS | slice : 0 : 50)
                    }}
                    {{ nextdata[0].SERVICE_ADDRESS.length > 50 ? "..." : "" }}
                  </span>
                </span>
                <span *ngIf="nextdata[0].SERVICE_ADDRESS == null">-</span>
              </div>
              <div nz-col nzSpan="24" class="subname">
                Service : {{ nextdata[0].SERVICE_NAME }}
              </div>
            </div>
            <div nz-row class="cardstyle" *ngIf="nextdata.length == 0">
              <div nz-col nzSpan="24" class="mainnam assign-title-center-underline-uid">
                Next Job
              </div>
              <div nz-col nzSpan="24" class="mainnam assign-na-center-padding-uid">
                NA
              </div>
            </div>
          </div>
          <div nz-col nzSpan="24" *ngIf="!showbutton">
            <div nz-row class="cardstyle">
              <div nz-col nzSpan="24" class="mainnam assign-title-center-underline-uid">
                Next Job
              </div>
              <div nz-col nzSpan="24" class="mainnam assign-na-center-padding-uid">
                NA
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #contextofrules>
    <button nz-button [nzLoading]="isspinnnnnnn" nzType="primary" class="btn btn-primary" (click)="showconfirmation()"
      *ngIf="showbutton">
      Assign Technician
    </button>
    <button nz-button [nzLoading]="isspinnnnnnn" nzType="default" class="btn btn-primary" (click)="closemodelll()">
      Cancel
    </button>
  </ng-template>
</nz-modal>
<nz-modal [(nzVisible)]="openmodell" nzCentered="true" [nzBodyStyle]="{ padding: '16px' }" nzWidth="470px"
  nzClosable="false" [nzFooter]="contextofrulesss" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <span class="schedule-confirm-text-uid">
      Are you sure you want Schedule the job ?
    </span>
    <hr class="modal-hr-uid" />
    <div class="mainnam">
      Scheduled Date : {{ sheduledate | date : "dd/MM/yyyy" }}
    </div>
    <div class="mainnam">
      Start Time: {{ STARTTIME | date : "HH:mm a" }} &nbsp; End Time:
      {{ ENDTIME | date : "HH:mm a" }}
    </div>
    <div class="mainnam">Job No.: {{ Jobassignsdata.JOB_CARD_NO }}</div>
  </ng-container>
  <ng-template #contextofrulesss>
    <button nz-button [nzLoading]="isspinnnnnnn" nzType="primary" class="btn btn-primary modal-action-btn-uid"
      (click)="assigntechhdata()">
      Yes
    </button>
    <button nz-button [nzLoading]="isspinnnnnnn" nzType="default" class="btn btn-primary modal-action-btn-uid"
      (click)="cancel()">
      No
    </button>
  </ng-template>
</nz-modal>
<nz-modal [(nzVisible)]="openmissingmodel" nzCentered="true" [nzBodyStyle]="{ padding: '16px' }" nzWidth="470px"
  nzClosable="false" [nzFooter]="contextofrulesss111" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <span class="schedule-confirm-text-uid">
      The Job {{ missingJobCardNos }} number is missing. Would you like to
      schedule other pending jobs?
    </span>
    <hr class="modal-hr-uid" />
  </ng-container>
  <ng-template #contextofrulesss111>
    <button nz-button [nzLoading]="isspinnnnnnnmising" nzType="primary"
      class="btn btn-primary modal-action-btn-uid modal-action-btn-compact-uid" (click)="continemissingorder()">
      Yes
    </button>
    <button nz-button [nzLoading]="isspinnnnnnnmising" nzType="default"
      class="btn btn-primary modal-action-btn-uid modal-action-btn-compact-uid" (click)="cancelmising()">
      No
    </button>
  </ng-template>
</nz-modal>
<div *ngIf="drawerdetailsVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'50%'"
    [nzVisible]="drawerdetailsVisible" [nzTitle]="drawerTitlefordeatils" (nzOnClose)="drawerclosefordetails()"
    (nzKeyboard)="(true)" [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <div class="cust-wrapper-uid">
        <div nz-row class="cust-border-uid">
          <div nz-col nzSpan="24" class="cust-header-uid">
            <strong class="cust-header-text-uid">Customer Details</strong>
          </div>
          <div nz-col nzSpan="24" class="cust-content-uid">
            <div nz-row>
              <div nz-col nzSpan="12" class="cust-info-text-uid">
                Customer Name : {{ Jobassignsdata.CUSTOMER_NAME }}
              </div>
              <div nz-col nzSpan="12" class="cust-info-text-uid">
                Email Id : {{ Jobassignsdata.CUSTOMER_EMAIL }}
              </div>
              <div nz-col nzSpan="12" class="cust-info-text-uid">
                Mobile No. : {{ Jobassignsdata.CUSTOMER_MOBILE_NUMBER }}
              </div>
              <div *ngIf="Jobassignsdata.CUSTOMER_TYPE == 'B'" nz-col nzSpan="12" class="cust-info-text-uid">
                Company Name : {{ Jobassignsdata.COMPANY_NAME }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="order-wrapper-uid">
        <div nz-row class="order-border-uid">
          <div nz-col nzSpan="24" class="order-header-uid">
            <strong class="order-header-text-uid">Order Details</strong>
          </div>
          <div nz-col nzSpan="24" class="order-content-uid">
            <div nz-row>
              <div nz-col nzSpan="12" class="order-info-text-uid">
                Order No : {{ Jobassignsdata.ORDER_NO }}
              </div>
              <div nz-col nzSpan="12" class="order-info-text-uid">
                Order Date :
                {{ Jobassignsdata.ORDER_DATE_TIME | date : "dd/MM/yyyy HH:mm a" }}
              </div>
              <div nz-col nzSpan="12" class="order-info-text-uid">
                Order Amount : {{ Jobassignsdata.TOTAL_AMOUNT }}
              </div>
              <div nz-col nzSpan="12" class="order-info-text-uid">
                Order Status : {{ Jobassignsdata.ORDER_STATUS_NAME }}
              </div>
              <div nz-col nzSpan="12" class="order-info-text-uid">
                Expected Date:
                {{ Jobassignsdata.EXPECTED_DATE_TIME | date : "dd/MM/yyyy HH:mm a" }}
              </div>
              <div *ngIf="IS_ORDER_JOB == 'O'" nz-col nzSpan="12" class="order-info-text-uid">
                Scheduling Service Count : {{ alljobdata.length }}
              </div>
              <div *ngIf="IS_ORDER_JOB == 'O'" nz-col nzSpan="12" class="order-info-text-uid">
                Estimated Time: {{ SERVICE_DATA.ESTIMATED_TIME_IN_MIN }} min.
              </div>
              <div nz-col nzSpan="12" class="order-info-text-uid">
                Payment Mode : {{ Jobassignsdata.PAYMENT_MODE }}
              </div>
              <div *ngIf="Jobassignsdata.BRAND_NAME" nz-col nzSpan="12" class="order-info-text-uid">
                Brand Name : {{ Jobassignsdata.BRAND_NAME }}
              </div>
              <div *ngIf="Jobassignsdata.MODEL_NUMBER" nz-col nzSpan="12" class="order-info-text-uid">
                Model Name : {{ Jobassignsdata.MODEL_NUMBER }}
              </div>
              <div *ngIf="Jobassignsdata.DESCRIPTION" nz-col nzSpan="12" #DESCRIPTIONsssssssssss
                class="order-ellipsis-text-uid" [attr.title]="
            isTextOverflowing(DESCRIPTIONsssssssssss)
              ? Jobassignsdata.DESCRIPTION
              : null
          ">
                Brand Description : {{ Jobassignsdata.DESCRIPTION }}
              </div>
              <div *ngIf="Jobassignsdata.PHOTO_FILE" nz-col nzSpan="12" class="order-info-text-uid">
                Brand Images :
                <span class="order-link-text-uid" *ngIf="Jobassignsdata.PHOTO_FILE"
                  (click)="openfileee(Jobassignsdata.PHOTO_FILE)">
                  View Image
                </span>
              </div>
              <div *ngIf="IS_ORDER_JOB == 'O'" nz-col nzSpan="12" class="order-info-text-uid">
                Territory Name : {{ Jobassignsdata.TERRITORY_NAME }}
              </div>
              <div *ngIf="Jobassignsdata.SPECIAL_INSTRUCTIONS" nz-col nzSpan="24" #SPECIAL_INSTRUCTIONSsssssssss
                class="order-ellipsis-text-uid" [attr.title]="
            isTextOverflowing(SPECIAL_INSTRUCTIONSsssssssss)
              ? Jobassignsdata.SPECIAL_INSTRUCTIONS
              : null
          ">
                Special Instruction : {{ Jobassignsdata.SPECIAL_INSTRUCTIONS }}
              </div>
              <div *ngIf="IS_ORDER_JOB == 'O'" nz-col nzSpan="24" #SERVICE_ADDRESSssss class="order-ellipsis-text-uid"
                [attr.title]="
            isTextOverflowing(SERVICE_ADDRESSssss)
              ? Jobassignsdata.SERVICE_ADDRESS
              : null
          ">
                Address: {{ Jobassignsdata.SERVICE_ADDRESS }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="job-wrapper-uid" *ngIf="IS_ORDER_JOB == 'P'">
        <div nz-row class="job-border-uid">
          <div nz-col nzSpan="24" class="job-header-uid">
            <strong class="job-header-text-uid">Job Details</strong>
          </div>
          <div nz-col nzSpan="24" class="job-content-uid">
            <div nz-row>
              <div nz-col nzSpan="12" class="job-info-text-uid">
                Job No : {{ Jobassignsdata.JOB_CARD_NO }}
              </div>
              <div nz-col nzSpan="12" class="job-info-text-uid">
                Expected Date:
                {{ Jobassignsdata.EXPECTED_DATE_TIME | date : "dd/MM/yyyy HH:mm a" }}
              </div>
              <div nz-col nzSpan="12" class="job-info-text-uid">
                Expected Date:
                {{ Jobassignsdata.EXPECTED_DATE_TIME | date : "dd/MM/yyyy HH:mm a" }}
              </div>
              <div *ngIf="IS_ORDER_JOB == 'P'" nz-col nzSpan="12" class="job-info-text-uid">
                Estimated Time:
                {{
                IS_ORDER_JOB == "P"
                ? Jobassignsdata.ESTIMATED_TIME_IN_MIN
                : SERVICE_DATA.ESTIMATED_TIME_IN_MIN
                }}
                min.
              </div>
              <div *ngIf="IS_ORDER_JOB == 'P'" nz-col nzSpan="12" class="job-info-text-uid">
                Amount:
                {{
                IS_ORDER_JOB == "P"
                ? Jobassignsdata.SERVICE_AMOUNT
                : Jobassignsdata.TOTAL_AMOUNT
                }}
              </div>
              <div *ngIf="IS_ORDER_JOB == 'P'" nz-col nzSpan="12" class="job-info-text-uid">
                Service : {{ Jobassignsdata.SERVICE_NAME }}
              </div>
              <div nz-col nzSpan="12" class="job-info-text-uid">
                Territory Name : {{ Jobassignsdata.TERRITORY_NAME }}
              </div>
              <div *ngIf="Jobassignsdata.TASK_DESCRIPTION" nz-col nzSpan="24" #TASK_DESCRIPTIONsssssssss
                class="job-ellipsis-text-uid" [attr.title]="
            isTextOverflowing(TASK_DESCRIPTIONsssssssss)
              ? Jobassignsdata.TASK_DESCRIPTION
              : null
          ">
                Additional Remark : {{ Jobassignsdata.TASK_DESCRIPTION }}
              </div>
              <div nz-col nzSpan="24" #SERVICE_ADDRESSssss class="job-ellipsis-text-uid" [attr.title]="
            isTextOverflowing(SERVICE_ADDRESSssss)
              ? Jobassignsdata.SERVICE_ADDRESS
              : null
          ">
                Address: {{ Jobassignsdata.SERVICE_ADDRESS }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </nz-drawer>
</div>