<div nz-row>
  <div nz-col nzSpan="24" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px">
    <div nz-row [nzGutter]="16" style="padding: 20px">
      <div nz-col nzSpan="8" class="mainnam">
        Order No : {{ Jobassignsdata.ORDER_NO }}
      </div>
      <div nz-col nzSpan="8" class="mainnam" *ngIf="IS_ORDER_JOB == 'P'">
        Job No : {{ Jobassignsdata.JOB_CARD_NO }}
        <nz-tag (click)="openfordetails()" style="font-size: 11px !important; cursor: pointer" [nzColor]="'blue'">View
          Details</nz-tag>
      </div>
      <div nz-col nzSpan="8" class="mainnam">
        Expected Date:
        {{ Jobassignsdata.EXPECTED_DATE_TIME | date : "dd/MM/yyyy HH:mm a" }}
      </div>
      <div *ngIf="IS_ORDER_JOB == 'P'" nz-col nzSpan="8" style="font-size: 11px !important" class="subname">
        Customer Name : {{ Jobassignsdata.CUSTOMER_NAME }}
      </div>
      <div *ngIf="IS_ORDER_JOB == 'O'" nz-col nzSpan="8" style="font-size: 11px !important" class="mainnam">
        Customer Name : {{ Jobassignsdata.CUSTOMER_NAME }}
      </div>
      <div nz-col nzSpan="8" style="font-size: 11px !important" class="subname">
        Amount:
        {{
        IS_ORDER_JOB == "P"
        ? Jobassignsdata.SERVICE_AMOUNT
        : Jobassignsdata.TOTAL_AMOUNT
        }}
      </div>
      <div nz-col nzSpan="8" style="font-size: 11px !important" class="subname">
        Address: {{ Jobassignsdata.SERVICE_ADDRESS }}
      </div>
      <div nz-col nzSpan="8" style="font-size: 11px !important" class="subname">
        Pincode : {{ Jobassignsdata.PINCODE }}
      </div>
      <div nz-col nzSpan="8" style="font-size: 11px !important" class="subname">
        Territory Name : {{ Jobassignsdata.TERRITORY_NAME }}
      </div>

      <div nz-col nzSpan="8" style="font-size: 11px !important" class="subname">
        Estimated Time:
        {{
        IS_ORDER_JOB == "P"
        ? Jobassignsdata.ESTIMATED_TIME_IN_MIN
        : SERVICE_DATA.ESTIMATED_TIME_IN_MIN
        }}
        min.
      </div>
      <div nz-col nzSpan="8" style="font-size: 11px !important" class="subname" *ngIf="IS_ORDER_JOB == 'P'">
        Job Status :
        <nz-tag style="font-size: 11px !important" *ngIf="Jobassignsdata.STATUS == 'P'" [nzColor]="'orange'">{{
          Jobassignsdata.JOB_CARD_STATUS }}</nz-tag>
        <nz-tag style="font-size: 11px !important"
          *ngIf="Jobassignsdata.STATUS == 'AS' || Jobassignsdata.STATUS == 'AC'" [nzColor]="'blue'">Assigned</nz-tag>
        <nz-tag style="font-size: 11px !important" *ngIf="Jobassignsdata.STATUS == 'CO'" [nzColor]="'green'">{{
          Jobassignsdata.JOB_CARD_STATUS }}</nz-tag>
      </div>
      <div nz-col nzSpan="8" style="font-size: 11px !important" class="subname">
        {{ Territorytime }}
      </div>
      <div nz-col nzSpan="6" style="font-size: 11px !important" class="subname" *ngIf="IS_ORDER_JOB == 'P'">
        Service : {{ Jobassignsdata.SERVICE_NAME }}
      </div>
      <div nz-col nzSpan="6" style="font-size: 11px !important" class="subname" *ngIf="IS_ORDER_JOB == 'O'">
        Scheduling Service Count : {{ alljobdata.length }}
      </div>

    </div>
  </div>
</div>

<nz-spin [nzSpinning]="spinnn" nzTip="Loading Technicians...">
  <div nz-row>
    <div nz-col nzSpan="8">
      <div nz-row style="padding: 10px">
        <div nz-col nzSpan="24" style="
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          ">
          <div nz-row style="padding: 5px">
            <div nz-col nzSpan="24" *ngIf="Jobassignsdata.CUSTOMER_TYPE == 'B'"
              style="padding-bottom: 5px; padding-left: 5px">
              <nz-radio-group name="TECHNICIAN_TYPE" [(ngModel)]="TECHNICIAN_TYPE"
                (ngModelChange)="changeTechnicianType($event)">
                <label nz-radio nzValue="A">All</label>
                <label nz-radio nzValue="M">Mapped</label>
              </nz-radio-group>
            </div>
            <div nz-col nzSpan="22">
              <nz-form-item style="margin-bottom: 0px !important">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input type="text" nz-input placeholder="Enter 3 characters to search" [(ngModel)]="searchValue"
                    (input)="onSearchChange(searchValue)" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <span nz-icon nzType="search"></span>
                </ng-template>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="2" style="justify-items: center !important">
              <nz-form-item style="margin-bottom: 0px !important">
                <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
                  [nzType]="false ? 'primary' : 'default'" (click)="showMainFilter()">
                  <i nz-icon nzType="filter"></i>
                </button>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <div class="filter {{ filterClass }}">
                <div class="filter-box">
                  <div cdkDropList [cdkDropListData]="checkboxList" class="sortable-container"
                    (cdkDropListDropped)="onDrop($event)">
                    <div nz-col nzSpan="24" *ngFor="let item of checkboxList" cdkDrag [cdkDragData]="item"
                      class="sortable-item">
                      <label nz-checkbox [(ngModel)]="item.checked">{{
                        item.label
                        }}</label>
                      <div class="hover-arrows">
                        <span class="arrow up-arrow">⬆</span>
                        <span class="arrow down-arrow">⬇</span>
                      </div>
                    </div>
                  </div>
                  <div style="text-align: end">
                    <button nz-button nzType="primary" [nzLoading]="spinnn" (click)="applyFilter()">
                      Apply Filter
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="24" *ngIf="jobedit" style="margin-bottom: 5px">
              <div nz-row style="
                  background-color: #fff;
                  margin: 5px;
                  cursor: pointer;
                  padding: 10px;
                  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
                  border: 1px solid #efefef;
                  border-radius: 10px;
                ">
                <div nz-col nzSpan="24" style="text-align: center" class="mainnam">
                  Previous Technician Data
                </div>
                <div nz-col nzSpan="24" class="subname" style="font-weight: 800 !important">
                  Technician Name : {{ Jobassignsdata.TECHNICIAN_NAME }}
                </div>
                <div nz-col nzSpan="24" class="subname">
                  Scheduled on:
                  {{ Jobassignsdata.SCHEDULED_DATE_TIME | date : "dd/MM/yyyy" }}
                  &nbsp;&nbsp; Start Time :
                  {{ Jobassignsdata.START_TIME }} &nbsp;&nbsp; End Time :
                  {{ Jobassignsdata.END_TIME }}
                </div>

                <div nz-col nzSpan="24" class="subname">
                  Assigned Date:
                  {{
                  Jobassignsdata.ASSIGNED_DATE | date : "dd/MM/yyyy HH:mm a"
                  }}
                </div>
              </div>
            </div>
            <div nz-row [ngStyle]="{
                height: jobedit ? '45vh' : '60vh',
                overflow: 'auto'
              }">
              <div nz-col nzSpan="24" *ngFor="let tech of dublicatetechData" style="margin-bottom: 5px">
                <div nz-row style="
                    background-color: #fff;
                    margin: 5px;
                    cursor: pointer;
                    padding: 10px;
                    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
                    border: 1px solid #efefef;
                    border-radius: 10px;
                  " [ngStyle]="{
                    'background-color':
                      tech.TECHNICIAN_STATUS === 0 ? '#d9d9d929' : '#fff'
                  }">
                  <div class="mainnam" nz-col [nzSpan]="
                      tech.AVG_RATINGS !== null &&
                      tech.AVG_RATINGS !== '' &&
                      tech.AVG_RATINGS !== undefined
                        ? 12
                        : 24
                    ">
                    Name: {{ tech?.NAME }}
                  </div>
                  <div *ngIf="
                      tech.AVG_RATINGS !== null &&
                      tech.AVG_RATINGS !== '' &&
                      tech.AVG_RATINGS !== undefined
                    " class="subname" nz-col nzSpan="12" style="text-align: end; margin-top: -12px">
                    <nz-rate nzDisabled="true" [ngModel]="roundNumber(tech.AVG_RATINGS)" nzAllowHalf></nz-rate>
                  </div>

                  <div class="subname" nz-col nzSpan="24">
                    Email:
                    <a class="subname" style="
                        font-size: 10px !important;
                        color: #777777 !important;
                      " href="mailto:{{ tech?.EMAIL_ID }}">{{ tech?.EMAIL_ID }}</a>
                  </div>
                  <div class="subname" nz-col nzSpan="12">
                    Mobile:
                    <a class="subname" style="
                        font-size: 10px !important;
                        color: #777777 !important;
                      " href="tel:{{ tech?.MOBILE_NUMBER }}">{{ tech?.MOBILE_NUMBER }}</a>
                  </div>
                  <div nz-col nzSpan="12" class="subname" style="text-align: end">
                    Experience Level:
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'J'" class="subname">
                      Junior</span>
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'F'" class="subname">
                      Fresher</span>
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'M'" class="subname">
                      Mid-Level</span>
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'S'" class="subname">
                      Senior</span>
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'L'" class="subname">
                      Lead</span>
                    <span *ngIf="tech.EXPERIENCE_LEVEL == 'E'" class="subname">
                      Expert</span>
                  </div>
                  <div nz-col nzSpan="10" class="subname">
                    Type :
                    <span *ngIf="tech.TYPE == 'V'" class="subname">
                      Vendor Managed</span>
                    <span *ngIf="tech.TYPE == 'F'" class="subname">
                      Freelancer</span>
                    <span *ngIf="tech.TYPE == 'O'" class="subname">
                      On Payroll</span>
                    <span style="color: rgb(11, 73, 217); font-weight: 600" *ngIf="tech.TYPE == 'R'" class="subname">
                      Remote Technician</span>
                  </div>
                  <div class="subname" nz-col nzSpan="14" style="text-align: end">
                    Break Time :
                    {{ tech['TECHNICIAN_STATUS'] ? tech.BREAK_TIME :'' }}
                  </div>
                  <div nz-col nzSpan="10" class="subname" style="text-align: start">
                    Currently on job :
                    <i class="subname" nz-icon *ngIf="tech['IS_ON_JOB']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
                      [nzTwotoneColor]="'#52c41a'"></i>

                    <span class="subname" *ngIf="!tech['IS_ON_JOB']">No</span>
                  </div>
                  <div nz-col nzSpan="14" class="subname" style="text-align: end">
                    Day Start & End : {{ tech['TECHNICIAN_STATUS'] ? tech.DAY_START_END :'' }}
                  </div>
                  <div nz-col nzSpan="24" class="subname" *ngIf="tech.TYPE == 'V'">
                    Vendor Name :
                    <span *ngIf="tech.VENDOR_NAME?.length > 50" nz-tooltip [nzTooltipTitle]="tech.VENDOR_NAME"
                      nzTooltipPlacement="topLeft" class=" subname">
                      {{ tech.VENDOR_NAME }}
                    </span>
                    <span *ngIf="tech.VENDOR_NAME?.length <= 50" class="subname">
                      {{ tech.VENDOR_NAME }}
                    </span>
                  </div>
                  <div nz-col nzSpan="12" style="text-align: start">
                    <span class="subname">
                      Is Available :
                      <i class="subname" nz-icon *ngIf="tech['TECHNICIAN_STATUS']" [nzType]="'check-circle'"
                        [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                      <i nz-icon *ngIf="!tech['TECHNICIAN_STATUS']" [nzType]="'close-circle'" class="subname"
                        [nzTheme]="'twotone'" [nzTwotoneColor]="'#f50'"></i>
                    </span>
                  </div>
                  <div nz-col nzSpan="12" style="text-align: end">
                    <nz-tag [nzColor]="'cyan'" (click)="viewtechdetails(tech)">View Details</nz-tag>&nbsp;
                    <nz-tag *ngIf="tech['TECHNICIAN_STATUS']" [nzColor]="'purple'" (click)="
                        IS_ORDER_JOB == 'P'
                          ? assgnopen(tech)
                          : assgnorderopen(tech)
                      ">Assign</nz-tag>
                  </div>
                  <div nz-col nzSpan="24" style="padding: 5px">
                    <table style="width: 100%">
                      <tr>
                        <th style="
                            padding: 2px;
                            border: 1px solid;
                            font-size: 10px !important;
                          " nz-popover [nzPopoverContent]="'Distance ' + tech.DISTANCE" nzPopoverPlacement="topLeft">
                          {{ tech.DISTANCE }}
                        </th>

                        <th style="
                            padding: 2px;
                            border: 1px solid;
                            font-size: 10px !important;
                          ">
                          <span nz-popover [nzPopoverContent]="
                              'Day Ends Late ' + tech.working_deviation
                            " nzPopoverPlacement="topLeft" style="font-size: 10px !important"
                            *ngIf="tech.DAY_EARLY_OR_LATE == 'L'">Day Ends Late
                            {{ tech.working_deviation }}
                          </span>
                          <span nz-popover [nzPopoverContent]="
                              'Day Start Early ' + tech.working_deviation
                            " nzPopoverPlacement="topLeft" style="font-size: 10px !important"
                            *ngIf="tech.DAY_EARLY_OR_LATE == 'E'">Day Start Early
                            {{ tech.working_deviation }}
                          </span>
                          <span style="font-size: 10px !important" *ngIf="
                              tech.DAY_EARLY_OR_LATE != 'E' &&
                              tech.DAY_EARLY_OR_LATE != 'L'
                            ">NA</span>
                        </th>

                        <th style="
                            padding: 2px;
                            border: 1px solid;
                            font-size: 10px !important;
                          ">
                          <span nz-popover [nzPopoverContent]="
                              'Break Start Late ' + tech.break_deviation
                            " nzPopoverPlacement="topLeft" style="font-size: 10px !important"
                            *ngIf="tech.BREAK_EARLY_OR_LATE == 'L'">Break Start Late {{ tech.break_deviation }}</span>
                          <span nz-popover [nzPopoverContent]="
                              'Break Ends Early ' + tech.break_deviation
                            " nzPopoverPlacement="topLeft" style="font-size: 10px !important"
                            *ngIf="tech.BREAK_EARLY_OR_LATE == 'E'">Break Ends Early {{ tech.break_deviation }}
                          </span>
                          <span style="font-size: 10px !important" *ngIf="
                              tech.BREAK_EARLY_OR_LATE != 'E' &&
                              tech.BREAK_EARLY_OR_LATE != 'L'
                            ">NA</span>
                        </th>

                        <th style="
                            padding: 2px;
                            border: 1px solid;
                            font-size: 10px !important;
                          " nz-popover [nzPopoverContent]="
                            'Skiils Ratio ' + tech.SKILL_RATIO
                          " nzPopoverPlacement="topLeft">
                          {{ tech.SKILL_RATIO }}
                        </th>
                        <!-- <th style="
                            padding: 2px;
                            border: 1px solid;
                            font-size: 10px !important;
                          ">
                          <span nz-popover [nzPopoverContent]="
                              'Average Rating ' +
                              roundNumber(tech.AVG_RATINGS) +
                              '/5'
                            " nzPopoverPlacement="topLeft" style="font-size: 10px !important" *ngIf="
                              tech.AVG_RATINGS !== null &&
                                tech.AVG_RATINGS !== '' &&
                                tech.AVG_RATINGS !== undefined;
                              else elseBlock
                            ">
                            {{ roundNumber(tech.AVG_RATINGS) }}/5</span>
                          <ng-template #elseBlock><span style="font-size: 10px !important">NA</span></ng-template>
                        </th> -->
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8" *ngIf="isselectedtech">
      <div nz-row style="padding: 10px; height: 67vh; overflow: auto">
        <div nz-col nzSpan="24" style="
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            justify-content: center;
          ">
          <div id="map" style="height: 65vh; overflow: auto; width: 100%"></div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8" *ngIf="isselectedtech">
      <div nz-row style="padding: 10px; height: 67vh; overflow: auto">
        <div nz-col nzSpan="24" style="
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          ">
          <nz-table [nzFrontPagination]="false" [nzShowPagination]="false" nzBordered #basicTable [nzData]="mergedData"
            [nzScroll]="{ y: '57vh' }">
            <thead>
              <tr>
                <th>Time</th>
                <th>Jobs</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of mergedData">
                <td>{{ row.time }}</td>
                <td *ngIf="row.rowSpan > 0" [attr.rowspan]="row.rowSpan"
                  [ngStyle]="{ backgroundColor: row.randomColor }">
                  {{
                  row.job == null || row.job == undefined || row.job == ""
                  ? ""
                  : row.job.split(",")[0]
                  }}
                </td>
                <!-- <td *ngIf="row.rowSpan === 0">{{ row.rowSpan  }} sadsad</td> -->
              </tr>
            </tbody>
          </nz-table>
          <!-- <table border="1" style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th>Time</th>
        <th>Jobs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of mergedData">
        <td *ngIf="row.rowSpan > 0" [attr.rowspan]="row.rowSpan" [ngStyle]="row.colorStyle">
          {{ row.time }}
        </td>
        <td [ngStyle]="row.colorStyle">{{ row.job }}</td>
      </tr>
    </tbody>
  </table> -->
        </div>
      </div>
    </div>
    <div nz-col nzSpan="16" *ngIf="!isselectedtech" style="
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        height: 67vh;
      ">
      <nz-empty style="margin-top: 30px"
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl">
        <ng-template #contentTpl>
          <span> Please select technician for view the data </span>
        </ng-template>
      </nz-empty>
    </div>
  </div>
</nz-spin>

<nz-modal [(nzVisible)]="openModal" nzCentered="true" [nzBodyStyle]="{ padding: '16px' }" nzWidth="700px"
  nzClosable="false" [nzFooter]="contextofrules" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <h5 style="font-size: 15px">{{ Titleforassign }}</h5>
    <hr style="margin: 8px 0" />
    <p style="font-size: 13px; margin-bottom: 10px"></p>
    <div nz-row style="padding: 10px">
      <div nz-col nzSpan="12" style="padding: 10px; align-self: center">
        <div nz-row class="my-box">
          <div nz-col nzSpan="24">
            <div style="color: red; font-size: 12px; font-weight: bold">
              {{ gettimedataa() }}
            </div>
            <div style="color: red; font-size: 12px; font-weight: bold">
              {{ gettimedataa111() }}
            </div>
          </div>

          <div nz-col nzSpan="24">
            <nz-form-item style="margin-bottom: 4px !important" class="nz-form-item">
              <nz-form-label nzRequired nzNoColon> Shedule Date </nz-form-label>
              <nz-form-control>
                <nz-date-picker style="width: 100%" [(ngModel)]="sheduledate" name="sheduledate"
                  (ngModelChange)="getbetweendata($event)" [nzFormat]="'dd/MM/yyyy'"
                  [nzDisabledDate]="disablePastDates"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div nz-col nzSpan="10">
            <nz-form-item style="margin-bottom: 4px !important" class="nz-form-item">
              <nz-form-label nzRequired nzNoColon> Start Time </nz-form-label>
              <nz-form-control>
                <nz-time-picker [nzAllowEmpty]="false" [nzAutoFocus]="false" name="STARTTIME" [nzMinuteStep]="10"
                  [(ngModel)]="STARTTIME" [disabled]="disstrue" nzFormat="HH:mm a"
                  (ngModelChange)="getbetweendatastart($event)" [nzDisabledHours]="disabledHours"
                  [nzDisabledMinutes]="disabledMinutes"></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div> -->
          <div nz-col nzSpan="10">
            <nz-form-item style="margin-bottom: 4px !important" class="nz-form-item">
              <nz-form-label nzRequired nzNoColon> Start Time </nz-form-label>
              <nz-form-control>
                <nz-time-picker [nzAllowEmpty]="false" [nzAutoFocus]="false" name="STARTTIME" [nzMinuteStep]="10"
                  [(ngModel)]="STARTTIME" [disabled]="disstrue" nzFormat="HH:mm a"
                  (ngModelChange)="getbetweendatastart($event)" [nzDisabledHours]="disabledHoursNew"
                  [nzDisabledMinutes]="disabledMinutesNew"></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="4" style="
              text-align: center;
              font-weight: 800;
              align-content: space-around;
            ">
            To
          </div>
          <div nz-col nzSpan="10" *ngIf="IS_ORDER_JOB == 'P'">
            <nz-form-item style="margin-bottom: 4px !important" class="nz-form-item">
              <nz-form-label nzRequired nzNoColon> End Time </nz-form-label>
              <nz-form-control>
                <nz-time-picker nzHideNow="true" [nzAllowEmpty]="false" [nzAutoFocus]="false" [nzMinuteStep]="10"
                  name="ENDTIME" [(ngModel)]="ENDTIME" nzFormat="HH:mm a" [disabled]="disstrue"
                  (ngModelChange)="getbetweendataend($event)" [nzDisabledHours]="disabledHours1New"
                  [nzDisabledMinutes]="disabledMinutes1New"></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="10" *ngIf="IS_ORDER_JOB == 'O'">
            <nz-form-item style="margin-bottom: 4px !important" class="nz-form-item">
              <nz-form-label nzRequired nzNoColon> End Time </nz-form-label>
              <nz-form-control>
                <nz-time-picker nzHideNow="true" [nzAllowEmpty]="false" [nzAutoFocus]="false" [nzMinuteStep]="10"
                  name="ENDTIME" [(ngModel)]="ENDTIME" nzFormat="HH:mm a" [disabled]="true"
                  (ngModelChange)="getbetweendataend($event)" [nzDisabledHours]="disabledHours1New"
                  [nzDisabledMinutes]="disabledMinutes1New"></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- <div nz-col nzSpan="10" *ngIf="IS_ORDER_JOB == 'P'">
            <nz-form-item style="margin-bottom: 4px !important" class="nz-form-item">
              <nz-form-label nzRequired nzNoColon> End Time </nz-form-label>
              <nz-form-control>
                <nz-time-picker nzHideNow="true" [nzAllowEmpty]="false" [nzAutoFocus]="false" [nzMinuteStep]="10"
                  name="ENDTIME" [(ngModel)]="ENDTIME" nzFormat="HH:mm a" [disabled]="disstrue"
                  (ngModelChange)="getbetweendataend($event)" [nzDisabledHours]="disabledHours1"
                  [nzDisabledMinutes]="disabledMinutes1"></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="10" *ngIf="IS_ORDER_JOB == 'O'">
            <nz-form-item style="margin-bottom: 4px !important" class="nz-form-item">
              <nz-form-label nzRequired nzNoColon> End Time </nz-form-label>
              <nz-form-control>
                <nz-time-picker nzHideNow="true" [nzAllowEmpty]="false" [nzAutoFocus]="false" [nzMinuteStep]="10"
                  name="ENDTIME" [(ngModel)]="ENDTIME" nzFormat="HH:mm a" [disabled]="true"
                  (ngModelChange)="getbetweendataend($event)" [nzDisabledHours]="disabledHours1"
                  [nzDisabledMinutes]="disabledMinutes1"></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div> -->
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div nz-row class="my-box" style="padding: 10px">
          <div nz-col nzSpan="24">
            <div nz-row class="cardstyle" style="box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important"
              *ngIf="previousdata.length > 0">
              <div nz-col nzSpan="24" style="text-align: center; text-decoration: underline" class="mainnam">
                Previous Job
              </div>
              <div nz-col nzSpan="24" class="mainnam">
                Job No.: {{ previousdata[0].JOB_CARD_NO }}
              </div>
              <div nz-col nzSpan="24" class="subname">
                Scheduled Date :{{
                previousdata[0].SCHEDULED_DATE_TIME | date : "dd/MM/yyyy"
                }}
              </div>
              <div nz-col nzSpan="24" class="subname">
                Time:{{ previousdata[0].START_TIME }} to
                {{ previousdata[0].END_TIME }}
              </div>

              <div nz-col nzSpan="24" class="subname">
                Address :
                <span class="subnam" style="font-size: 10px !important" *ngIf="previousdata[0].SERVICE_ADDRESS != null">
                  <span style="font-size: 10px !important" *ngIf="previousdata[0].SERVICE_ADDRESS.length >= 50"
                    nz-popover [nzPopoverContent]="previousdata[0].SERVICE_ADDRESS" nzPopoverPlacement="topLeft">
                    {{
                    previousdata[0].SERVICE_ADDRESS == null
                    ? "-"
                    : (previousdata[0].SERVICE_ADDRESS | slice : 0 : 50)
                    }}{{
                    previousdata[0].SERVICE_ADDRESS.length > 50 ? "..." : ""
                    }}
                  </span>
                  <span style="font-size: 10px !important" *ngIf="previousdata[0].SERVICE_ADDRESS.length < 50">
                    {{
                    previousdata[0].SERVICE_ADDRESS == null
                    ? "-"
                    : (previousdata[0].SERVICE_ADDRESS | slice : 0 : 50)
                    }}
                    {{
                    previousdata[0].SERVICE_ADDRESS.length > 50 ? "..." : ""
                    }}
                  </span>
                </span>
                <span *ngIf="previousdata[0].SERVICE_ADDRESS == null">-</span>
              </div>
              <div nz-col nzSpan="24" class="subname">
                Service : {{ previousdata[0].SERVICE_NAME }}
              </div>
              <div nz-col nzSpan="24" class="subname" *ngIf="
                  previousdata[0].CUSTOMER_RATING != null &&
                  previousdata[0].CUSTOMER_RATING != '' &&
                  previousdata[0].CUSTOMER_RATING != undefined
                ">
                Rating :
                <nz-rate nzDisabled="true" [ngModel]="roundRating(previousdata[0].CUSTOMER_RATING)"
                  nzAllowHalf></nz-rate>
              </div>
            </div>
            <div nz-row *ngIf="previousdata.length > 0">
              <div nz-col nzSpan="24" class="subname" style="font-weight: 700 !important; margin-top: 4px">
                <span nzType="arrow-up" nzTheme="outline"></span>
                &nbsp; &nbsp; Time:{{
                calculateTimeDifference1111(
                previousdata[0].END_TIME,
                STARTTIME
                )
                }}
                &nbsp; &nbsp; Distance:{{ distancecalculateforprevois }} km
              </div>
            </div>

            <div nz-row class="cardstyle" style="box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important"
              *ngIf="previousdata.length == 0">
              <div nz-col nzSpan="24" style="text-align: center; text-decoration: underline" class="mainnam">
                Previous Job
              </div>
              <div nz-col nzSpan="24" class="mainnam" style="text-align: center; padding: 20px">
                NA
              </div>
            </div>
          </div>
          <div nz-col nzSpan="24">
            <nz-divider nzVariant="dashed"></nz-divider>
          </div>
          <div nz-col nzSpan="24" *ngIf="showbutton">
            <div nz-row *ngIf="nextdata.length > 0">
              <div nz-col nzSpan="24" class="subname" style="font-weight: 700 !important; margin-bottom: 4px">
                <span nzType="arrow-up" nzTheme="outline"></span>
                &nbsp; &nbsp; Time :{{
                calculateTimeDifference11(ENDTIME, nextdata[0].START_TIME)
                }}
                &nbsp; &nbsp; Distance:{{ distancecalculatefornext }} km
              </div>
            </div>
            <div nz-row class="cardstyle" *ngIf="nextdata.length > 0">
              <div nz-col nzSpan="24" style="text-align: center; text-decoration: underline" class="mainnam">
                Next Job
              </div>
              <div nz-col nzSpan="24" class="mainnam">
                Job No.: {{ nextdata[0].JOB_CARD_NO }}
              </div>
              <div nz-col nzSpan="24" class="subname">
                Scheduled Date :{{
                nextdata[0].SCHEDULED_DATE_TIME | date : "dd/MM/yyyy"
                }}
              </div>
              <div nz-col nzSpan="24" class="subname">
                Time:{{ nextdata[0].START_TIME }} to {{ nextdata[0].END_TIME }}
              </div>

              <div nz-col nzSpan="24" class="subname">
                Address :
                <span class="subnam" style="font-size: 10px !important" *ngIf="nextdata[0].SERVICE_ADDRESS != null">
                  <span style="font-size: 10px !important" *ngIf="nextdata[0].SERVICE_ADDRESS.length >= 50" nz-popover
                    [nzPopoverContent]="nextdata[0].SERVICE_ADDRESS" nzPopoverPlacement="topLeft">
                    {{
                    nextdata[0].SERVICE_ADDRESS == null
                    ? "-"
                    : (nextdata[0].SERVICE_ADDRESS | slice : 0 : 50)
                    }}{{ nextdata[0].SERVICE_ADDRESS.length > 50 ? "..." : "" }}
                  </span>
                  <span style="font-size: 10px !important" *ngIf="nextdata[0].SERVICE_ADDRESS.length < 50">
                    {{
                    nextdata[0].SERVICE_ADDRESS == null
                    ? "-"
                    : (nextdata[0].SERVICE_ADDRESS | slice : 0 : 50)
                    }}
                    {{ nextdata[0].SERVICE_ADDRESS.length > 50 ? "..." : "" }}
                  </span>
                </span>
                <span *ngIf="nextdata[0].SERVICE_ADDRESS == null">-</span>
              </div>
              <div nz-col nzSpan="24" class="subname">
                Service : {{ nextdata[0].SERVICE_NAME }}
              </div>
            </div>
            <div nz-row class="cardstyle" *ngIf="nextdata.length == 0">
              <div nz-col nzSpan="24" style="text-align: center; text-decoration: underline" class="mainnam">
                Next Job
              </div>

              <div nz-col nzSpan="24" class="mainnam" style="text-align: center; padding: 20px">
                NA
              </div>
            </div>
          </div>
          <div nz-col nzSpan="24" *ngIf="!showbutton">
            <div nz-row class="cardstyle">
              <div nz-col nzSpan="24" style="text-align: center; text-decoration: underline" class="mainnam">
                Next Job
              </div>

              <div nz-col nzSpan="24" class="mainnam" style="text-align: center; padding: 20px">
                NA
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #contextofrules>
    <button nz-button [nzLoading]="isspinnnnnnn" nzType="primary" class="btn btn-primary" (click)="showconfirmation()"
      *ngIf="showbutton">
      Assign Technician
    </button>
    <button nz-button [nzLoading]="isspinnnnnnn" nzType="default" class="btn btn-primary" (click)="closemodelll()">
      Cancel
    </button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="openmodell" nzCentered="true" [nzBodyStyle]="{ padding: '16px' }" nzWidth="470px"
  nzClosable="false" [nzFooter]="contextofrulesss" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <span style="font-size: 15px; font-weight: 500; padding: 2px">Are you sure you want Schedule the job ?</span>

    <hr style="margin: 8px 0" />

    <div class="mainnam">
      Scheduled Date : {{ sheduledate | date : "dd/MM/yyyy" }}
    </div>

    <div class="mainnam">
      Start Time: {{ STARTTIME | date : "HH:mm a" }} &nbsp; End Time:
      {{ ENDTIME | date : "HH:mm a" }}
    </div>

    <div class="mainnam">Job No.: {{ Jobassignsdata.JOB_CARD_NO }}</div>
  </ng-container>
  <ng-template #contextofrulesss>
    <button nz-button [nzLoading]="isspinnnnnnn" nzType="primary"
      style="font-size: 11px; font-weight: 500; padding: 2px 10px;" class="btn btn-primary" (click)="assigntechhdata()">
      Yes
    </button>
    <button nz-button [nzLoading]="isspinnnnnnn" nzType="default"
      style="font-size: 11px; font-weight: 500; padding: 2px 10px;" class="btn btn-primary" (click)="cancel()">
      No
    </button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="openmissingmodel" nzCentered="true" [nzBodyStyle]="{ padding: '16px' }" nzWidth="470px"
  nzClosable="false" [nzFooter]="contextofrulesss111" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <span style="font-size: 15px; font-weight: 500; padding: 2px">The Job {{ missingJobCardNos }} number is missing.
      Would you like to
      schedule other pending jobs?</span>

    <hr style="margin: 8px 0" />
  </ng-container>
  <ng-template #contextofrulesss111>
    <button nz-button [nzLoading]="isspinnnnnnnmising" nzType="primary"
      style="font-size: 11px; font-weight: 500; padding: 2px" class="btn btn-primary" (click)="continemissingorder()">
      Yes
    </button>
    <button nz-button [nzLoading]="isspinnnnnnnmising" nzType="default"
      style="font-size: 11px; font-weight: 500; padding: 2px" class="btn btn-primary" (click)="cancelmising()">
      No
    </button>
  </ng-template>
</nz-modal>

<div *ngIf="drawerdetailsVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'50%'"
    [nzVisible]="drawerdetailsVisible" [nzTitle]="drawerTitlefordeatils" (nzOnClose)="drawerclosefordetails()"
    (nzKeyboard)="(true)" [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <div style="padding: 10px">
        <div nz-row style="border: 0.5px solid var(--Gray-3, #cbcbcb)">
          <div nz-col nzSpan="24" style="
              background: #e3e3f3;
              box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
              text-align: center;
            ">
            <strong style="font-size: 17px">Customer Details</strong>
          </div>

          <div nz-col nzSpan="24" style="padding: 10px">
            <div nz-row>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Customer Name : {{ Jobassignsdata.CUSTOMER_NAME }}
              </div>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Email Id : {{ Jobassignsdata.CUSTOMER_EMAIL }}
              </div>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Mobile No. : {{ Jobassignsdata.CUSTOMER_MOBILE_NUMBER }}
              </div>
              <div *ngIf="Jobassignsdata.CUSTOMER_TYPE == 'B'" nz-col nzSpan="12"
                style="font-size: 12px; font-weight: 500; padding: 2px">
                Company Name : {{ Jobassignsdata.COMPANY_NAME }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 10px">
        <div nz-row style="border: 0.5px solid var(--Gray-3, #cbcbcb)">
          <div nz-col nzSpan="24" style="
              background: #e3e3f3;
              box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
              text-align: center;
            ">
            <strong style="font-size: 17px">Order Details</strong>
          </div>
          <div nz-col nzSpan="24" style="padding: 10px">
            <div nz-row>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Order No : {{ Jobassignsdata.ORDER_NO }}
              </div>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Order Date :
                {{
                Jobassignsdata.ORDER_DATE_TIME | date : "dd/MM/yyyy HH:mm a"
                }}
              </div>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Order Amount : {{ Jobassignsdata.TOTAL_AMOUNT }}
              </div>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Order Status : {{ Jobassignsdata.ORDER_STATUS_NAME }}
              </div>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Expected Date:
                {{
                Jobassignsdata.EXPECTED_DATE_TIME
                | date : "dd/MM/yyyy HH:mm a"
                }}
              </div>
              <div *ngIf="IS_ORDER_JOB == 'O'" nz-col nzSpan="12"
                style="font-size: 12px; font-weight: 500; padding: 2px">
                Scheduling Service Count : {{ alljobdata.length }}
              </div>
              <div *ngIf="IS_ORDER_JOB == 'O'" nz-col nzSpan="12"
                style="font-size: 12px; font-weight: 500; padding: 2px">
                Estimated Time:
                {{ SERVICE_DATA.ESTIMATED_TIME_IN_MIN }}
                min.
              </div>

              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Payment Mode : {{ Jobassignsdata.PAYMENT_MODE }}
              </div>

              <div *ngIf="Jobassignsdata.BRAND_NAME" nz-col nzSpan="12"
                style="font-size: 12px; font-weight: 500; padding: 2px">
                Brand Name : {{ Jobassignsdata.BRAND_NAME }}
              </div>
              <div *ngIf="Jobassignsdata.MODEL_NUMBER" nz-col nzSpan="12"
                style="font-size: 12px; font-weight: 500; padding: 2px">
                Model Name : {{ Jobassignsdata.MODEL_NUMBER }}
              </div>
              <div *ngIf="Jobassignsdata.DESCRIPTION" nz-col nzSpan="12" #DESCRIPTIONsssssssssss
                [attr.title]="isTextOverflowing(DESCRIPTIONsssssssssss)? Jobassignsdata.DESCRIPTION: null" style="
                  font-size: 12px;
                  font-weight: 500;
                  padding: 2px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                Brand Description : {{ Jobassignsdata.DESCRIPTION }}
              </div>
              <div *ngIf="Jobassignsdata.PHOTO_FILE" nz-col nzSpan="12"
                style="font-size: 12px; font-weight: 500; padding: 2px">
                Brand Images :
                <span style="font-size: 10px; font-weight: 500; color: blue" *ngIf="Jobassignsdata.PHOTO_FILE"
                  (click)="openfileee(Jobassignsdata.PHOTO_FILE)">View Image</span>
              </div>

              <div *ngIf="IS_ORDER_JOB == 'O'" nz-col nzSpan="12"
                style="font-size: 12px; font-weight: 500; padding: 2px">
                Territory Name : {{ Jobassignsdata.TERRITORY_NAME }}
              </div>
              <div *ngIf="Jobassignsdata.SPECIAL_INSTRUCTIONS" nz-col nzSpan="24" #SPECIAL_INSTRUCTIONSsssssssss
                [attr.title]="isTextOverflowing(SPECIAL_INSTRUCTIONSsssssssss)? Jobassignsdata.SPECIAL_INSTRUCTIONS: null"
                style="
                  font-size: 12px;
                  font-weight: 500;
                  padding: 2px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                Special Instruction : {{ Jobassignsdata.SPECIAL_INSTRUCTIONS }}
              </div>
              <div *ngIf="IS_ORDER_JOB == 'O'" nz-col nzSpan="24" #SERVICE_ADDRESSssss
                [attr.title]="isTextOverflowing(SERVICE_ADDRESSssss)? Jobassignsdata.SERVICE_ADDRESS: null" style="
                  font-size: 12px;
                  font-weight: 500;
                  padding: 2px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                Address: {{ Jobassignsdata.SERVICE_ADDRESS }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="padding: 10px" *ngIf="IS_ORDER_JOB == 'P'">
        <div nz-row style="border: 0.5px solid var(--Gray-3, #cbcbcb)">
          <div nz-col nzSpan="24" style="
              background: #e3e3f3;
              box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
              text-align: center;
            ">
            <strong style="font-size: 17px">Job Details</strong>
          </div>
          <div nz-col nzSpan="24" style="padding: 10px">
            <div nz-row>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Job No : {{ Jobassignsdata.JOB_CARD_NO }}
              </div>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Expected Date:
                {{
                Jobassignsdata.EXPECTED_DATE_TIME
                | date : "dd/MM/yyyy HH:mm a"
                }}
              </div>
              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Expected Date:
                {{
                Jobassignsdata.EXPECTED_DATE_TIME
                | date : "dd/MM/yyyy HH:mm a"
                }}
              </div>
              <div *ngIf="IS_ORDER_JOB == 'P'" nz-col nzSpan="12"
                style="font-size: 12px; font-weight: 500; padding: 2px">
                Estimated Time:
                {{
                IS_ORDER_JOB == "P"
                ? Jobassignsdata.ESTIMATED_TIME_IN_MIN
                : SERVICE_DATA.ESTIMATED_TIME_IN_MIN
                }}
                min.
              </div>
              <div *ngIf="IS_ORDER_JOB == 'P'" nz-col nzSpan="12"
                style="font-size: 12px; font-weight: 500; padding: 2px">
                Amount:
                {{
                IS_ORDER_JOB == "P"
                ? Jobassignsdata.SERVICE_AMOUNT
                : Jobassignsdata.TOTAL_AMOUNT
                }}
              </div>
              <div *ngIf="IS_ORDER_JOB == 'P'" nz-col nzSpan="12"
                style="font-size: 12px; font-weight: 500; padding: 2px">
                Service : {{ Jobassignsdata.SERVICE_NAME }}
              </div>

              <div nz-col nzSpan="12" style="font-size: 12px; font-weight: 500; padding: 2px">
                Territory Name : {{ Jobassignsdata.TERRITORY_NAME }}
              </div>
              <div *ngIf="Jobassignsdata.TASK_DESCRIPTION" nz-col nzSpan="24" #TASK_DESCRIPTIONsssssssss
                [attr.title]="isTextOverflowing(TASK_DESCRIPTIONsssssssss)? Jobassignsdata.TASK_DESCRIPTION: null"
                style="
                  font-size: 12px;
                  font-weight: 500;
                  padding: 2px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                Additional Remark : {{ Jobassignsdata.TASK_DESCRIPTION }}
              </div>
              <div nz-col nzSpan="24" #SERVICE_ADDRESSssss
                [attr.title]="isTextOverflowing(SERVICE_ADDRESSssss)? Jobassignsdata.SERVICE_ADDRESS: null" style="
                  font-size: 12px;
                  font-weight: 500;
                  padding: 2px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                Address: {{ Jobassignsdata.SERVICE_ADDRESS }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </ng-container>
  </nz-drawer>
</div>