.mainnam {
  /* color: #000; */
  font-size: 12px !important;
  font-weight: 600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subname {
  color: #4c4c4ceb;
  font-size: 10px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subnam {
  color: #4c4c4ceb;
  font-size: 10px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




.sortable-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sortable-item {
  position: relative;
  padding: 8px;
  margin: 4px 0;
  background: #f9f9f9;
  border: 1px solid #ddd;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hover-arrows {
  display: flex;
  flex-direction: column;
  gap: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}

.sortable-item:hover .hover-arrows {
  opacity: 1;
}

.arrow {
  font-size: 14px;
  color: #555;
  cursor: pointer;
  transition: color 0.2s;
}

.arrow:hover {
  color: #000;
}


.nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

.cardstyle{
  background-color: #fff;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #efefef;
    border-radius: 10px;
    min-height: 40px;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}