.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Adjust as needed */
  display: inline-block;
}

.filter-box nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

th {
  text-align: center !important;
  vertical-align: middle !important;
  /* font-weight: bold; */
}

.select{
width: 200px;
padding: 8px;
display: block;
}

.search-box {
  padding: 8px;
}
.inputsize {
  font-size: 11px !important;
}
.datesize>div>input {
  font-size: 11px !important;
}
.inputgroup>span>span {
  font-size: 11px !important;
}

.optiongroup>div {
  font-size: 11px !important;
}
.search-box input {
  width: 188px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

nz-select {
  width: 100%;
}