.my-box {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fafafa;

  }
  .header {

    position: absolute;
 
    top: 0px;
 
    /* bottom: 0px; */
 
    width: 100%;
 
    border-top: 1px solid rgb(232, 232, 232);
 
    padding: 10px 16px;
 
    text-align: right;
 
    /* left: 0px; */
 
    right: 0px;
 
    /* background: #fff; */
 
 }
nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}


.step-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.step-left {
  font-weight: bold;
  color: #333;
}

.step-right {
  color: #888;
  font-size: 0.9rem;
  text-align: right;
}

.step-description {
  margin-top: 4px;
  font-size: 0.85rem;
  color: #666;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
th, td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f1f1f1;
}

:host::ng-deep .ant-form-item-explain{
  font-size: 13px;
}