nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.territory-summary-left-a1 {
  text-align: left;
  padding-left: 10px;
}
.territory-summary-right-a1 {
  text-align: right;
  padding-right: 10px;
}
.territory-search-form-a1 {
  display: inline-flex;
}
.territory-search-group-a1 {
  margin-left: 26px !important;
}
.territory-search-input-a1 {
  height: 32px;
}
.territory-table-wrapper-a1 {
  position: relative;
}
.territory-table-a1 {
  white-space: pre-line;
}
.territory-checkbox-cell-a1 {
  text-align: center;
}
.territory-action-col-a1 {
  align-self: center;
  text-align: center;
  align-items: center;
}
.territory-action-icon-a1 {
  font-size: 26px !important;
}
.territory-header-row-b1 {
  display: flex;
  justify-content: space-between;
}
.territory-header-left-b1 {
  display: flex;
}
.territory-count-text-b1 {
  text-align: left;
  padding-left: 10px;
}
.territory-switch-wrapper-b1 {
  text-align: left;
  padding-left: 10px;
}
.territory-switch-cell-b1 {
  white-space: pre-line;
  text-align: center;
}
.territory-header-right-b1 {
  text-align: right;
  padding-right: 10px;
}
.territory-search-form-b1 {
  display: inline-flex;
}
.territory-search-group-b1 {
  margin-left: 26px !important;
}
.territory-search-input-b1 {
  height: 32px;
}
.territory-table-wrapper-b1 {
  position: relative;
}
.territory-table-b1 {
  white-space: pre-line;
}