<div nz-row>
  <div nz-col nzSpan="10">
    <form nz-form #teritorymaster="ngForm">
      <div nz-row>
        <div nz-col nzSpan="12" class="territory-summary-left-a1">
          <span *ngIf="selectedPincodeSet.size > 0">
            {{ selectedPincodeSet.size }} records selected out of
            {{ PincodeMappingdata.length }}
          </span>
          <span *ngIf="selectedPincodeSet.size == 0">
            Total Records {{ PincodeMappingdata.length }}
          </span>
        </div>
        <div nz-col nzSpan="12" class="territory-summary-right-a1">
          <form nz-form [nzLayout]="'inline'" class="territory-search-form-a1">
            <nz-form-item>
              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="territory-search-group-a1">
                <input type="text" name="postsearch" [(ngModel)]="searchText" autocomplete="off"
                  (keydown.enter)="handleEnterKey($event)" (keydown.backspace)="handleEnterKey($event)" nz-input
                  placeholder="Min 3 chars required." class="territory-search-input-a1" />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" id="button" (click)="SearchOffice(searchText)">
                  <i nz-icon nzType="search"></i>
                </button>
              </ng-template>
            </nz-form-item>
          </form>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="territory-table-wrapper-a1">
            <nz-table class="my-scroll no-wrap1 territory-table-a1" nzBordered #tableeeee [nzData]="PincodeMappingdata"
              (nzQueryParams)="sort($event)" [nzSize]="'small'" [nzFrontPagination]="false"
              [nzLoading]="isSpinning11 || isLoading" [nzScroll]="{ y: '66vh' }">
              <thead>
                <tr>
                  <th nzWidth="30px">
                    <label nz-checkbox [(ngModel)]="allSelected" name="allSelected"
                      [nzIndeterminate]="tableIndeterminate" (ngModelChange)="toggleAll($event)">
                      All
                    </label>
                  </th>
                  <th nzWidth="90px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'NAME' }}">
                    Territory Name
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of tableeeee.data; let i = index">
                  <td class="territory-checkbox-cell-a1">
                    <label nz-checkbox [(ngModel)]="data.selected" name="allSelecteddd{{ i }}"
                      (ngModelChange)="onPincodeSelecttable(data, $event)"></label>
                  </td>
                  <td align="left">
                    <span *ngIf="data['NAME'] != null">
                      <span *ngIf="data['NAME'].length >= 35" nz-popover [nzPopoverContent]="data['NAME']"
                        nzPopoverPlacement="topLeft">
                        {{
                        data["NAME"] == null
                        ? "-"
                        : (data["NAME"] | slice : 0 : 35)
                        }}{{ data["NAME"].length > 35 ? "..." : "" }}
                      </span>
                      <span *ngIf="data['NAME'].length < 35">
                        {{
                        data["NAME"] == null
                        ? "-"
                        : (data["NAME"] | slice : 0 : 35)
                        }}
                        {{ data["NAME"].length > 35 ? "..." : "" }}
                      </span>
                    </span>
                    <span *ngIf="data['NAME'] == null">-</span>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div nz-col nzSpan="1" class="territory-action-col-a1">
    <div>
      <nz-spin [nzSpinning]="isSpinning">
        <span nz-icon nz-tooltip nzTooltipTitle="No coupon selected" nzType="right-circle" nzTheme="outline"
          *ngIf="selectedPincodeSet.size == 0" class="territory-action-icon-a1"></span>
        <span nz-icon nzType="right-circle" nz-tooltip nzTooltipTitle="Click here to map data to service" nzTheme="fill"
          (click)="mapdatatopincode()" *ngIf="selectedPincodeSet.size > 0" class="territory-action-icon-a1"></span>
      </nz-spin>
    </div>
  </div>
  <div nz-col nzSpan="13">
    <div nz-row class="territory-header-row-b1">
      <div class="territory-header-left-b1">
        <div class="territory-count-text-b1">
          <span *ngIf="selectedPincode11.length > 0">
            {{ selectedPincode11.length }} records selected out of
            {{ totoalrecordsss }}
          </span>
          <span *ngIf="selectedPincode11.length == 0">
            Total Records {{ totoalrecordsss }}
          </span>
        </div>
        <div class="territory-switch-wrapper-b1">
          <td nzLeft align="center" class="territory-switch-cell-b1">
            <nz-switch name="allChange" nzCheckedChildren="Select All" nzUnCheckedChildren="Deselect All"
              (ngModelChange)="allChange($event)" [(ngModel)]="allChecked"></nz-switch>
          </td>
        </div>
      </div>
      <div nz-col nzSpan="12" class="territory-header-right-b1">
        <form nz-form [nzLayout]="'inline'" class="territory-search-form-b1">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton1" class="territory-search-group-b1">
              <input type="text" name="pincodesearch" [(ngModel)]="searchPincode" autocomplete="off"
                (keydown.enter)="handleEnterPincodeKey($event)" (keydown.backspace)="handleEnterPincodeKey($event)"
                nz-input placeholder="Min 3 chars required." class="territory-search-input-b1" />
            </nz-input-group>
            <ng-template #suffixIconButton1>
              <button nz-button nzType="primary" id="pincode" (click)="SearchPincode(searchPincode)">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="territory-table-wrapper-b1">
          <nz-table class="my-scroll no-wrap1 territory-table-b1" nzBordered #table [nzData]="mappingdata"
            (nzQueryParams)="sort11($event)" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="isSpinning22">
            <thead>
              <tr>
                <th nzLeft nzWidth="60px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'STATUS' }}">
                  Is Mapped ?
                </th>
                <th nzWidth="120px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'NAME' }}">
                  Territory Name
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data; let i = index">
                <td nzLeft align="center" class="territory-switch-cell-b1">
                  <nz-switch name="STATUS" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                    (ngModelChange)="onPincodeSelecttable11111(data, $event)" [(ngModel)]="data['STATUS']"></nz-switch>
                </td>
                <td align="left">
                  <span *ngIf="data['TERRITORY_NAME'] != null">
                    <span *ngIf="data['TERRITORY_NAME'].length >= 35" nz-popover
                      [nzPopoverContent]="data['TERRITORY_NAME']" nzPopoverPlacement="topLeft">
                      {{
                      data["TERRITORY_NAME"] == null
                      ? "-"
                      : (data["TERRITORY_NAME"] | slice : 0 : 35)
                      }}{{ data["TERRITORY_NAME"].length > 35 ? "..." : "" }}
                    </span>
                    <span *ngIf="data['TERRITORY_NAME'].length < 35">
                      {{
                      data["TERRITORY_NAME"] == null
                      ? "-"
                      : (data["TERRITORY_NAME"] | slice : 0 : 35)
                      }}
                      {{ data["TERRITORY_NAME"].length > 35 ? "..." : "" }}
                    </span>
                  </span>
                  <span *ngIf="data['TERRITORY_NAME'] == null">-</span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>