<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="8">
    <div class="formname">
      <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline" class="et-back-icon"></span>&nbsp;&nbsp;{{
      formTitle }}
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="16" class="et-header-right">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item class="et-filter-btn-item">
        <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isfilterapply ? 'primary' : 'default'" [style.backgroundColor]="isfilterapply ? 'default' : ''"
          (click)="showMainFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" (keyup)="onKeyupS($event)" (keydown.enter)="onEnterKey($event)" id="button"
            name="searchbranch" nz-input placeholder="Min 3 chars required." [(ngModel)]="searchText"
            autocomplete="off" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>New E-mail Template
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="et-filter-row-top">
          <div nz-col [nzSpan]="24">
            <ng-container *ngIf="filterloading; else filtersContent">
              <div class="et-text-center">
                <nz-spin nzSimple></nz-spin>
              </div>
            </ng-container>
            <ng-template #filtersContent>
              <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="6" *ngFor="let item of savedFilters" class="et-filter-item">
                    <nz-card class="et-filter-card">
                      <div class="et-filter-card-header">
                        <span class="et-filter-title">
                          <span *ngIf="item.FILTER_NAME != null">
                            <span *ngIf="item.FILTER_NAME.length >= 25" nz-popover [nzPopoverContent]="item.FILTER_NAME"
                              nzPopoverPlacement="topLeft">
                              {{ item.FILTER_NAME | slice : 0 : 25
                              }}{{ item.FILTER_NAME.length > 25 ? "..." : "" }}
                            </span>
                            <span *ngIf="item.FILTER_NAME.length < 25">
                              {{ item.FILTER_NAME }}
                            </span>
                          </span>
                          <span *ngIf="item.FILTER_NAME == null">-</span>
                        </span>
                        <i *ngIf="selectedFilter === item.ID" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                          [nzTwotoneColor]="'#52c41a'" nz-tooltip
                          [nzTooltipTitle]="'This filter is applied on current data'" class="et-filter-active-icon"></i>
                      </div>
                      <div nz-row class="et-filter-actions-row">
                        <div nz-col nzSpan="24" class="et-filter-actions">
                          <nz-tag nzColor="#2db7f5" (click)="editQuery(item)" class="et-filter-tag-small" nz-tooltip
                            nzTooltipTitle="Edit Filter">
                            <span nz-icon nzType="edit" nzTheme="outline"
                              class="et-filter-icon-small"></span>&nbsp;&nbsp;Edit
                          </nz-tag>
                          <nz-tag *ngIf="selectedFilter !== item.ID" nzColor="#87d068" (click)="applyfilter(item)"
                            class="et-filter-tag-small" nz-tooltip nzTooltipTitle="Apply Filter">
                            <span nz-icon nzType="search" nzTheme="outline"
                              class="et-filter-icon-small"></span>&nbsp;&nbsp;Apply
                          </nz-tag>
                          <nz-tag *ngIf="selectedFilter === item.ID" nzColor="#faad14" (click)="Clearfilter()"
                            class="et-filter-tag-small" nz-tooltip nzTooltipTitle="Clear this Filter">
                            <span nz-icon nzType="close" nzTheme="outline"
                              class="et-filter-icon-small"></span>&nbsp;&nbsp;Clear
                          </nz-tag>
                          <nz-tag nzColor="#cd201f" nz-popconfirm
                            nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteItem(item)" class="et-filter-tag-small" nz-tooltip
                            nzTooltipTitle="Delete Filter">
                            <span nz-icon nzType="delete" nzTheme="outline"
                              class="et-filter-icon-small"></span>&nbsp;&nbsp;Delete
                          </nz-tag>
                          <nz-tag nzColor="#3b5999" class="et-filter-tag-small et-filter-tag-nomr" nz-tooltip
                            nzTooltipTitle="View Filter Text" (click)="toggleLiveDemo(item)">
                            <span nz-icon nzType="eye" nzTheme="outline"
                              class="et-filter-icon-small"></span>&nbsp;&nbsp;View
                          </nz-tag>
                        </div>
                      </div>
                    </nz-card>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #noData>
              <div class="et-no-data">
                No Previous Filters Are Found
              </div>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="24" class="et-filter-footer">
            <button *ngIf="savedFilters && savedFilters.length > 0" nz-button nzType="primary" nzSize="small"
              (click)="Clearfilter()" class="et-footer-btn">
              <span nz-icon nzType="reload" nzTheme="outline"></span>
              Reset Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()" class="et-footer-btn">
              <span nz-icon nzType="plus"></span>
              New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div nz-row class="et-mt-10">
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" [nzData]="dataList" #table nzBordered nzShowSizeChanger ngSkipHydration
      [nzPageSize]="10" [nzShowPagination]="true" [nzFrontPagination]="false" [nzLoading]="loadingRecords"
      [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzQueryParams)="sort($event)"
      [nzSize]="'small'" [nzScroll]="{ x: '600px', y: '55vh' }">
      <thead>
        <tr>
          <th nzWidth="80px" nzAlign="center" class="et-th-center">
            <b>Action</b>
          </th>
          <th nzShowSort nzColumnKey="{{ 'TEMPLATE_NAME' }}" nzWidth="280px" [nzSortFn]="true" nzCustomFilter
            class="et-th-center">
            Template Name
            <nz-filter-trigger [(nzVisible)]="tempvisible" [nzDropdownMenu]="country">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: istempApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzShowSort nzColumnKey="{{ 'TEMPLATE_CATEGORY_NAME' }}" nzWidth="280px" [nzSortFn]="true" nzCustomFilter
            class="et-th-center">
            Category
            <nz-filter-trigger [(nzVisible)]="subvisible" [nzDropdownMenu]="Subject">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isCategoryApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzShowSort nzColumnKey="{{ 'LANGUAGE_CODE_NAME' }}" nzWidth="200px" [nzSortFn]="true" nzCustomFilter
            class="et-th-center">
            Langugae Name
            <nz-filter-trigger [(nzVisible)]="laguagevisible" [nzDropdownMenu]="Language">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isLanguageApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzShowSort nzColumnKey="{{ 'IS_ACTIVE' }}" nzWidth="80px" [nzSortFn]="true" [nzFilters]="listOfFilter"
            [nzFilterFn]="true" [nzFilterMultiple]="false" (nzFilterChange)="onStatusFilterChange($event)"
            class="et-th-center">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td align="center" nzLeft>
            <nz-tag nzColor="#2db7f5" (click)="edit(data)" class="et-action-tag">
              <span nz-icon nzType="eye" nzTheme="outline" class="et-action-icon"></span>
              &nbsp;&nbsp;View
            </nz-tag>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['TEMPLATE_NAME'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["TEMPLATE_NAME"] ? data["TEMPLATE_NAME"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['TEMPLATE_CATEGORY_NAME'] : null"
            #tooltipRef="nzTooltip" nz-tooltip>
            <div #textContainer class="truncate-text" (mouseenter)="checkOverflow(textContainer, tooltipRef)">
              {{
              data["TEMPLATE_CATEGORY_NAME"]
              ? data["TEMPLATE_CATEGORY_NAME"]
              : "-"
              }}
            </div>
          </td>
          <td>
            {{ data["LANGUAGE_CODE_NAME"] ? data["LANGUAGE_CODE_NAME"] : "-" }}
          </td>
          <td align="center">
            <i nz-icon *ngIf="data['IS_ACTIVE']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>
            <i nz-icon *ngIf="!data['IS_ACTIVE']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #country="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="temptext" (onkeypress)="search()" (keyup)="onKeyup($event)"
              placeholder="Search Template Name" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="temptext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="temptext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Subject="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="full-wdt" nzShowSearch nzAllowClear nzPlaceHolder="Select Category" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedCategory" (ngModelChange)="onCountryChange()">
            <nz-option *ngFor="let data of templateCategories1" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Language="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="full-wdt" nzShowSearch nzAllowClear nzPlaceHolder="Select Language" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedLanguages" (ngModelChange)="onLanguageChange()">
            <nz-option *ngFor="let data of LangugageData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>
<nz-drawer [nzBodyStyle]="{
height: 'calc(100% - 55px)',
overflow: 'auto',
'padding-bottom': '53px',
}" [nzWidth]="'100%'" nz-icon (nzOnClose)="drawerClose()" nzClosable="true" nzCloseIcon="close"
  [nzVisible]="drawervisible" [nzTitle]="drawerTitle">
  <ng-container *nzDrawerContent>
    <app-email-template [drawerClose]="closeCallback" [drawerVisible]="drawervisible"
      [data]="drawerData"></app-email-template>
  </ng-container>
</nz-drawer>
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerfilterClose('buttontype', 'updateButton')" (nzKeyboard)="(true)"
    [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [filterGroups]="filterGroups" [filterGroups2]="filterGroups2" [name]="FILTER_NAME"
        [data]="EditQueryData" [drawerClose]="closefilterCallback" [fields]="filterFields" [TabId]="TabId"
        [editButton]="editButton" (filterApplied)="onFilterApplied($event)" [filterData]="filterData">
      </app-main-filter>`
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Filter Text'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 class="et-th-center">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>