@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking-text {
    text-align: center;
    animation: blink 1s infinite;
    color: red;
    font-size: 13px !important;
    font-weight: 600;
}