<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="flex-start-container">
    <form [nzLayout]="'inline'" nz-form>
      <nz-form-item>
        <nz-form-label>Warehouse</nz-form-label>
        <nz-form-control nzErrorTip="Select Warehouse">
          <nz-select nzShowSearch [(ngModel)]="WAREHOUSE_ID" name="WAREHOUSE_ID" nzPlaceHolder="Select Warehouse"
            [nzLoading]="iswarehouseLoading" (ngModelChange)="wareousechanged($event)" class="warehouse-select-width"
            [nzMaxTagCount]="3" nzMode="multiple">
            <nz-option *ngFor="let item of Loadwarehouse" [nzValue]="item.ID" [nzLabel]="item.NAME">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="flex-end-container"
    *ngIf="dataList != undefined && dataList.length > 0">
    <span class="stock-level-badge alert-level-badge">Alert Level
      <span class="level-separator">|</span>
      {{ dataList[0].ALERT_STOCK_LEVEL }}</span>
    <span class="stock-level-badge reorder-level-badge">Re-Order Level
      <span class="level-separator">|</span>
      {{ dataList[0].REORDER_STOCK_LEVEL }}</span>
    <span class="stock-level-badge avg-level-badge">Avg. Level
      <span class="level-separator">|</span>
      {{ dataList[0].AVG_LEVEL }}</span>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table #tableeeeeeee [nzFrontPagination]="false" [nzData]="dataList" [nzLoading]="loadingRecords"
      [nzSize]="'small'" [nzScroll]="{ y: '60vh' }" nzShowSizeChanger="false" class="my-scroll no-wrap1" nzBordered
      class="table-whitespace">
      <thead>
        <tr>
          <th nzWidth="200px" class="th-bold th-center" nzColumnKey="ITEM_NAME" nzCustomFilter>
            Item Name
          </th>
          <th nzWidth="200px" class="th-bold th-center" nzColumnKey="BATCH_NO" nzCustomFilter>
            Batch No.
          </th>
          <th nzWidth="200px" class="th-bold th-center" nzColumnKey="SERIAL_NO" nzCustomFilter>
            Serial No.
          </th>
          <th nzWidth="200px" class="th-bold th-center" nzColumnKey="WAREHOUSE_NAME" nzCustomFilter>
            Warehouse Name
          </th>
          <th nzWidth="150px" class="th-bold th-center" nzColumnKey="CURRENT_STOCK" nzCustomFilter>
            Current Stock
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tableeeeeeee.data; let i = index" class="tbody-tr-center">
          <td align="left">
            {{ data.ITEM_NAME }} <br />
            <span *ngIf="data['VARIANT_NAME']" class="variant-text">
              {{
              data["VARIANT_NAME"].length > 18
              ? (data["VARIANT_NAME"] | slice : 0 : 18) + "..."
              : data["VARIANT_NAME"]
              }}
            </span>
            <span *ngIf="!data['VARIANT_NAME']">-</span>
          </td>
          <td align="left">
            {{ data.BATCH_NO }}
          </td>
          <td align="left">{{ data.SERIAL_NO }}</td>
          <td align="left">
            {{ data.WAREHOUSE_NAME }}
          </td>
          <td align="right">
            <span class="out-of-stock-text" *ngIf="data.CURRENT_STOCK == 0">
              Out Of Stock
            </span>
            <span *ngIf="data.CURRENT_STOCK > 0">
              {{ data.CURRENT_STOCK }}
              ({{ data.ACTUAL_UNIT_NAME }})
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div *ngIf="drawerinventorylogs">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(105% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1000" [nzVisible]="drawerinventorylogs"
    [nzTitle]="drawerTitleinventorylogs" (nzOnClose)="drawerCloseinventorylogs()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-inventorylogs [drawerCloset]="closeCallbackinventorylogs" [FILTER_ID]="serviceid" [ITEM_NAME]="ITEM_NAME"
        [TYPE]="'V'"></app-inventorylogs>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerStockDetails">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(105% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1000" [nzVisible]="drawerStockDetails"
    [nzTitle]="drawerTitleStockDetails" (nzOnClose)="drawerCloseStockDetails()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-inventorylogs [drawerCloset]="closeCallbackStockDetails" [FILTER_ID]="serviceid" [ITEM_NAME]="ITEM_NAME"
        [TYPE]="'V'"></app-inventorylogs>
    </ng-container>
  </nz-drawer>
</div>