<div>
  <form nz-form #teritorymaster="ngForm">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Country</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Select Country Name">
            <nz-select nzAllowClear="true" nzPlaceHolder="Select Country" name="COUNTRY_ID"
              [(ngModel)]="data.COUNTRY_ID" (ngModelChange)="onCountryChange($event)" nzShowSearch required
              [nzDropdownRender]="dropdownTemplate" [nzLoading]="isCountrySpinning">
              <nz-option *ngFor="let data of countryData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
            </nz-select>
            <ng-template #dropdownTemplate>
              <div class="tm-country-dropdown">
                <nz-option *ngFor="let data of countryData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
              </div>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>State</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="please Select State">
            <nz-select nzAllowClear="true" nzPlaceHolder="Select State" name="STATE_ID" [(ngModel)]="data.STATE_ID"
              nzShowSearch required [nzLoading]="isStateSpinning">
              <nz-option *ngFor="let data of stateData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>District Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter District Name">
            <input nz-input name="name" placeholder="Enter District Name" required [(ngModel)]="data.NAME"
              (keypress)="validateInput($event)" #nameField="ngModel" maxlength="128" autocomplete="off"
              (focus)="isFocused = 'districtName'" (blur)="isFocused = ''" />
            <h6 class="tm-char-count" *ngIf="
                isFocused === 'districtName' ||
                (data.NAME && isFocused === 'districtName')
              ">
              {{ data.NAME?.length || 0 }}/128
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Sequence No.">
            <input nz-input placeholder="Sequence No." name="SeqNo" required [(ngModel)]="data.SEQ_NO" #seqNo="ngModel"
              (keypress)="commonFunction.onlynum($event)" maxlength="8" autocomplete="off" class="tm-seq-input" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzNoColon>Status</nz-form-label>
          <nz-form-control>
            <nz-switch name="status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
              [(ngModel)]="data.IS_ACTIVE"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <button nz-button nzType="default" (click)="close()" class="ant-btn tm-footer-cancel">
    Cancel
  </button>
  <button nz-button *ngIf="!data.ID" nzType="primary" nz-dropdown [nzDropdownMenu]="menu" [nzLoading]="isSpinning"
    (click)="save(false, teritorymaster)" class="ant-btn ant-btn-primary">
    Save & Close
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item class="menuc tm-save-new-item">
        <a class="footer-button tm-save-new-link" (click)="save(true, teritorymaster)">
          Save & New
        </a>
      </li>
    </ul>
  </nz-dropdown-menu>
  <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
    (click)="save(false, teritorymaster)">
    <span>Update & Close</span>
  </button>
</div>