nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.tree-select-width-full {
  width: 100%;
}
.col-padding-right-4 {
  padding-right: 4px;
}
.btn-margin-top-26 {
  margin-top: 26px;
}
.text-left-padding-10 {
  text-align: left;
  padding-left: 10px;
}
.text-right-padding-10 {
  text-align: right;
  padding-right: 10px;
}
.form-inline-flex {
  display: inline-flex;
}
.input-group-margin-left-26 {
  margin-left: 26px !important;
}
.input-height-32 {
  height: 32px;
}
.position-relative {
  position: relative;
}
.table-whitespace-preline {
  white-space: pre-line;
}
.th-text-center {
  text-align: center;
}
.td-text-center {
  text-align: center;
}
.col-center-alignment {
  align-self: center;
  text-align: center;
  align-items: center;
}
.icon-font-size-26 {
  font-size: 26px !important;
}
.row-flex-space-between {
  display: flex;
  justify-content: space-between;
}
.div-flex {
  display: flex;
}
.td-whitespace-preline {
  white-space: pre-line;
}