<div nz-row>
  <div nz-col nzSpan="10">
    <form nz-form #teritorymaster="ngForm">
      <div nz-row class="my-box">
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Sub Category</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Sub Category">
              <nz-tree-select name="SUB_CATEGORY_ID" class="tree-select-width-full" [nzHideUnMatched]="true"
                [nzDropdownStyle]="{
                  'min-height': '10px',
                  'max-height': '300px',
                  'overflow-x': 'auto'
                }" [nzNodes]="subcategoryData" (ngModelChange)="getNamesCatAndSub($event)" nzShowSearch
                [nzAllowClear]="true" nzPlaceHolder="Select Sub Category" [(ngModel)]="SUB_CATEGORY_ID" required
                [nzMultiple]="true" [nzMaxTagCount]="2" [nzCheckStrictly]="true">
              </nz-tree-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4" class="col-padding-right-4">
          <button class="btn-margin-top-26" nz-button nzType="primary" [nzLoading]="isSpinning11" (click)="apply()">
            Apply
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="10">
    <form nz-form #teritorymaster="ngForm">
      <div nz-row>
        <div nz-col nzSpan="12" class="text-left-padding-10">
          <span *ngIf="selectedPincodeSet.size > 0">
            {{ selectedPincodeSet.size }} records selected out of
            {{ PincodeMappingdata.length }}</span>
          <span *ngIf="selectedPincodeSet.size == 0">Total Records {{ PincodeMappingdata.length }}</span>
        </div>
        <div nz-col nzSpan="12" class="text-right-padding-10">
          <form nz-form [nzLayout]="'inline'" class="form-inline-flex">
            <nz-form-item>
              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="input-group-margin-left-26">
                <input type="text" name="postsearch" [(ngModel)]="searchText" autocomplete="off"
                  (keydown.enter)="handleEnterKey($event)" (keydown.backspace)="handleEnterKey($event)"
                  class="input-height-32" nz-input placeholder="Min 3 chars required." />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" id="button" (click)="SearchOffice(searchText)">
                  <i nz-icon nzType="search"></i>
                </button>
              </ng-template>
            </nz-form-item>
          </form>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="position-relative">
            <nz-table class="my-scroll no-wrap1" nzBordered #tableeeee [nzData]="PincodeMappingdata"
              (nzQueryParams)="sort($event)" [nzSize]="'small'" [nzFrontPagination]="false"
              class="table-whitespace-preline" [nzLoading]="isSpinning11 || isLoading" [nzScroll]="{ y: '66vh' }">
              <thead>
                <tr>
                  <th nzWidth="10px">
                    <label (ngModelChange)="toggleAll($event)" nz-checkbox [(ngModel)]="allSelected" name="allSelected"
                      [nzIndeterminate]="tableIndeterminate">All</label>
                  </th>
                  <th nzWidth="90px" class="th-text-center" nzShowSort [nzSortFn]="true" [nzFilters]="listOfFilter1"
                    nzColumnKey="{{ 'NAME' }}" [nzFilterMultiple]="false" (nzFilterChange)="ontypeFilterChange($event)">
                    Service
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of tableeeee.data; let i = index">
                  <td class="td-text-center">
                    <label nz-checkbox [(ngModel)]="data.selected" name="allSelecteddd{{ i }}"
                      (ngModelChange)="onPincodeSelecttable(data, $event)"></label>
                  </td>
                  <td align="left">
                    <span *ngIf="data['NAME'] != null">
                      <span *ngIf="data['NAME'].length >= 35" nz-popover [nzPopoverContent]="data['NAME'] + ' ' + 
                                    (data['SERVICE_TYPE'] === 'O' ? '(Both)' : 
                                    data['SERVICE_TYPE'] === 'B' ? '(B2B)' : 
                                    data['SERVICE_TYPE'] === 'C' ? '(B2C)' : '')" nzPopoverPlacement="topLeft">
                        {{ data["NAME"] | slice : 0 : 35 }}{{ data["NAME"].length > 35 ? "..." : "" }}
                        <ng-container *ngIf="data['SERVICE_TYPE']">
                          {{
                          data['SERVICE_TYPE'] === 'O' ? '(Both)' :
                          data['SERVICE_TYPE'] === 'B' ? '(B2B)' :
                          data['SERVICE_TYPE'] === 'C' ? '(B2C)' : ''
                          }}
                        </ng-container>
                      </span>
                      <span *ngIf="data['NAME'].length < 35">
                        {{ data["NAME"] | slice : 0 : 35 }}
                        {{ data["NAME"].length > 35 ? "..." : "" }}
                        <ng-container *ngIf="data['SERVICE_TYPE']">
                          {{
                          data['SERVICE_TYPE'] === 'O' ? '(Both)' :
                          data['SERVICE_TYPE'] === 'B' ? '(B2B)' :
                          data['SERVICE_TYPE'] === 'C' ? '(B2C)' : ''
                          }}
                        </ng-container>
                      </span>
                    </span>
                    <span *ngIf="data['NAME'] == null">-</span>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div nz-col nzSpan="1" class="col-center-alignment">
    <div>
      <nz-spin [nzSpinning]="isSpinning">
        <span nz-icon nz-tooltip nzTooltipTitle="No coupon selected" nzType="right-circle" class="icon-font-size-26"
          nzTheme="outline" *ngIf="selectedPincodeSet.size == 0"></span>
        <span nz-icon nzType="right-circle" nz-tooltip nzTooltipTitle="Click here to map data to service"
          class="icon-font-size-26" nzTheme="fill" (click)="mapdatatopincode()"
          *ngIf="selectedPincodeSet.size > 0"></span>
      </nz-spin>
    </div>
  </div>
  <div nz-col nzSpan="13">
    <div nz-row class="row-flex-space-between">
      <div class="div-flex">
        <div class="text-left-padding-10">
          <span *ngIf="selectedPincode11.length > 0">{{ selectedPincode11.length }} records selected out of
            {{ totoalrecordsss }}</span>
          <span *ngIf="selectedPincode11.length == 0">Total Records {{ totoalrecordsss }}</span>
        </div>
        <div class="text-left-padding-10">
          <td align="center" class="td-whitespace-preline" nzLeft>
            <nz-switch name="allChange" nzCheckedChildren="Select All" nzUnCheckedChildren="Deselect All"
              (ngModelChange)="allChange($event)" [(ngModel)]="allChecked"></nz-switch>
          </td>
        </div>
      </div>
      <div nz-col nzSpan="12" class="text-right-padding-10">
        <form nz-form [nzLayout]="'inline'" class="form-inline-flex">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton1" class="input-group-margin-left-26">
              <input type="text" name="pincodesearch" [(ngModel)]="searchPincode" autocomplete="off"
                (keydown.enter)="handleEnterPincodeKey($event)" (keydown.backspace)="handleEnterPincodeKey($event)"
                class="input-height-32" nz-input placeholder="Min 3 chars required." />
            </nz-input-group>
            <ng-template #suffixIconButton1>
              <button nz-button nzType="primary" id="pincode" (click)="SearchPincode(searchPincode)">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="position-relative">
          <nz-table class="my-scroll no-wrap1" nzBordered #table [nzData]="mappingdata" (nzQueryParams)="sort11($event)"
            [nzSize]="'small'" [nzFrontPagination]="false" class="table-whitespace-preline" [nzLoading]="isSpinning22"
            [nzScroll]="{ x: '1000px', y: '66vh' }">
            <thead>
              <tr>
                <th nzLeft nzWidth="60px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'STATUS' }}">
                  Is Mapped ?
                </th>
                <th nzWidth="120px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'SERVICE_NAME' }}">
                  Service
                </th>
                <th nzWidth="120px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'CATEGORY_NAME' }}">
                  Category
                </th>
                <th nzWidth="120px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'SUB_CATEGORY_NAME' }}">
                  Sub Category
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data; let i = index">
                <td align="center" class="td-whitespace-preline" nzLeft>
                  <nz-switch name="STATUS" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                    (ngModelChange)="onPincodeSelecttable11111(data, $event)" [(ngModel)]="data['STATUS']"></nz-switch>
                </td>
                <td align="left">
                  <span *ngIf="data['SERVICE_NAME'] != null">
                    <span *ngIf="data['SERVICE_NAME'].length >= 35" nz-popover [nzPopoverContent]="data['SERVICE_NAME'] + ' ' + 
                                    (data['SERVICE_TYPE'] === 'O' ? '(Both)' : 
                                    data['SERVICE_TYPE'] === 'B' ? '(B2B)' : 
                                    data['SERVICE_TYPE'] === 'C' ? '(B2C)' : '')" nzPopoverPlacement="topLeft">
                      {{ data["SERVICE_NAME"] | slice : 0 : 35 }}{{ data["SERVICE_NAME"].length > 35 ? "..." : "" }}
                      <ng-container *ngIf="data['SERVICE_TYPE']">
                        {{
                        data['SERVICE_TYPE'] === 'O' ? '(Both)' :
                        data['SERVICE_TYPE'] === 'B' ? '(B2B)' :
                        data['SERVICE_TYPE'] === 'C' ? '(B2C)' : ''
                        }}
                      </ng-container>
                    </span>
                    <span *ngIf="data['SERVICE_NAME'].length < 35">
                      {{ data["SERVICE_NAME"] | slice : 0 : 35 }}
                      {{ data["SERVICE_NAME"].length > 35 ? "..." : "" }}
                      <ng-container *ngIf="data['SERVICE_TYPE']">
                        {{
                        data['SERVICE_TYPE'] === 'O' ? '(Both)' :
                        data['SERVICE_TYPE'] === 'B' ? '(B2B)' :
                        data['SERVICE_TYPE'] === 'C' ? '(B2C)' : ''
                        }}
                      </ng-container>
                    </span>
                  </span>
                  <span *ngIf="data['SERVICE_NAME'] == null">-</span>
                </td>
                <td align="left">
                  <span *ngIf="data['CATEGORY_NAME'] != null">
                    <span *ngIf="data['CATEGORY_NAME'].length >= 35" nz-popover
                      [nzPopoverContent]="data['CATEGORY_NAME']" nzPopoverPlacement="topLeft">
                      {{
                      data["CATEGORY_NAME"] == null
                      ? "-"
                      : (data["CATEGORY_NAME"] | slice : 0 : 35)
                      }}{{ data["CATEGORY_NAME"].length > 35 ? "..." : "" }}
                    </span>
                    <span *ngIf="data['CATEGORY_NAME'].length < 35">
                      {{
                      data["CATEGORY_NAME"] == null
                      ? "-"
                      : (data["CATEGORY_NAME"] | slice : 0 : 35)
                      }}
                      {{ data["CATEGORY_NAME"].length > 35 ? "..." : "" }}
                    </span>
                  </span>
                  <span *ngIf="data['CATEGORY_NAME'] == null">-</span>
                </td>
                <td align="left">
                  <span *ngIf="data['SUB_CATEGORY_NAME'] != null">
                    <span *ngIf="data['SUB_CATEGORY_NAME'].length >= 35" nz-popover
                      [nzPopoverContent]="data['SUB_CATEGORY_NAME']" nzPopoverPlacement="topLeft">
                      {{
                      data["SUB_CATEGORY_NAME"] == null
                      ? "-"
                      : (data["SUB_CATEGORY_NAME"] | slice : 0 : 35)
                      }}{{ data["SUB_CATEGORY_NAME"].length > 35 ? "..." : "" }}
                    </span>
                    <span *ngIf="data['SUB_CATEGORY_NAME'].length < 35">
                      {{
                      data["SUB_CATEGORY_NAME"] == null
                      ? "-"
                      : (data["SUB_CATEGORY_NAME"] | slice : 0 : 35)
                      }}
                      {{ data["SUB_CATEGORY_NAME"].length > 35 ? "..." : "" }}
                    </span>
                  </span>
                  <span *ngIf="data['SUB_CATEGORY_NAME'] == null">-</span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>