th {
  text-align: center !important;
  vertical-align: middle !important;
}
.select {
  width: 200px;
  padding: 8px;
  display: block;
}
.search-box {
  padding: 8px;
}
.search-box input {
  width: 188px;
  display: block;
}
.search-box button {
  width: 90px;
}
.search-button {
  margin-right: 8px;
}
nz-select {
  width: 100%;
}
:host::ng-deep .ant-card-body {
  padding: 0px;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}
.currency-back-arrow-bold-pointer {
  font-weight: bold;
  cursor: pointer;
}
.currency-header-flex-end {
  display: flex;
  justify-content: flex-end;
}
.currency-filter-btn-width-47 {
  width: 47px;
}
.currency-form-item-no-margin-right {
  margin-right: 0px;
}
.currency-filter-padding-top-0 {
  padding-top: 0px;
}
.currency-loading-text-center {
  text-align: center;
}
.currency-filter-card-margin-bottom-8 {
  margin-bottom: 8px;
}
.currency-filter-card-border-rounded {
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
  align-items: center;
}
.currency-filter-card-content-flex {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.currency-filter-name-text-center-25px {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.currency-filter-check-icon-absolute-top-right {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.currency-filter-actions-margin-top-7 {
  margin-top: 7px;
}
.currency-filter-actions-flex-space-between {
  display: flex;
  justify-content: space-between;
}
.currency-filter-tag-pointer-10px {
  cursor: pointer;
  font-size: 10px !important;
}
.currency-filter-tag-icon-10px {
  font-size: 10px !important;
}
.currency-filter-tag-pointer-10px-no-margin {
  cursor: pointer;
  font-size: 10px !important;
  margin-right: 0px;
}
.currency-no-filter-text-center-red-bold {
  text-align: center;
  color: red;
  font-weight: bold;
}
.currency-filter-buttons-flex-end-mt10 {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.currency-filter-reset-btn-mr10 {
  margin-right: 10px;
}
.currency-filter-new-btn-mr10 {
  margin-right: 10px;
}
.currency-table-margin-top-10 {
  margin-top: 10px;
}
.currency-table-edit-tag-pointer {
  cursor: pointer;
}
.currency-table-edit-icon-15px {
  font-size: 15px;
}
.currency-country-select-full-width {
  width: 100%;
}
.currency-decimal-separator-select-full-width {
  width: 100%;
}
.currency-thousand-separator-select-full-width {
  width: 100%;
}
.currency-exchange-rate-filter-flex-padding {
  display: flex;
  align-items: center;
  padding: 8px;
}
.currency-exchange-rate-input-flex-width {
  flex: 1;
  width: 150px;
  margin-right: 8px;
}
.currency-exchange-rate-apply-btn-flex-end-padding {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}
.currency-modal-query-text-center {
  text-align: center;
}