th {
  text-align: center !important;
  vertical-align: middle !important;
}
th {
  text-align: center !important;
  vertical-align: middle !important;
}
.select{
width: 200px;
padding: 8px;
display: block;
}
.search-box {
  padding: 8px;
}
.search-box input {
  width: 188px;
  display: block;
}
.search-box button {
  width: 90px;
}
.search-button {
  margin-right: 8px;
}
nz-select {
  width: 100%;
}
.header {
  position: absolute;
  top: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  right: 0px;
}
.custom nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
nz-form-item {
margin-bottom: 16px;
}
nz-form-control {
width: 100%;
}
input[nz-input], nz-select {
height: 32px;
line-height: 32px;
}
nz-input-group[nzCompact] {
display: flex;
align-items: center;
}
th {
text-align: center !important;
vertical-align: middle !important;
}
.select{
width: 200px;
padding: 8px;
display: block;
}
.search-box {
padding: 8px;
}
.search-box input {
width: 188px;
display: block;
}
.search-box button {
width: 90px;
}
.search-button {
margin-right: 8px;
}
nz-select {
width: 100%;
}
.margin-row {
margin: 10px 0px;
}
:host::ng-deep .ant-card-body {
  padding: 0px;
}
.back-arrow-icon {
  font-weight: bold;
  cursor: pointer;
}
.flex-end-container {
  display: flex;
  justify-content: flex-end;
}
.form-item-width-47 {
  width: 47px;
}
.form-item-margin-right {
  margin-right: 0px;
}
.row-padding-top {
  padding-top: 0px;
}
.text-center {
  text-align: center;
}
.no-data-text {
  text-align: center;
  color: red;
  font-weight: bold;
}
.filter-card-col {
  margin-bottom: 8px;
}
.filter-card {
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
  align-items: center;
}
.filter-card-content {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.filter-name-text {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.filter-check-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.filter-tags-row {
  margin-top: 7px;
}
.filter-tags-container {
  display: flex;
  justify-content: space-between;
}
.filter-tag {
  cursor: pointer;
  font-size: 10px !important;
}
.view-tag {
  margin-right: 0px;
}
.tag-icon {
  font-size: 10px !important;
}
.filter-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.filter-button {
  margin-right: 10px;
}
.table-row-margin {
  margin-top: 10px;
}
.table-whitespace {
  white-space: pre-line;
}
.th-bold {
  font-weight: bold;
}
.th-center {
  text-align: center;
}
.tbody-tr-center {
  text-align: center;
}
.td-center {
  text-align: center;
}
.action-tag {
  cursor: pointer;
}
.action-tag-icon {
  font-size: 11px !important;
}
.rating-star {
  font-size: 20px;
}
.input-width-70 {
  width: 70%;
}
.select-width-30 {
  width: 30%;
}
.text-center-margin-top {
  text-align: center;
  margin-top: 15px;
}
.char-counter-text {
  font-size: 10px;
  color: red;
  text-align: left;
}
.char-counter-red {
  color: red;
  font-size: 10px;
}
.row-margin-top {
  margin-top: 16px;
}
.select-full-width {
  width: 100%;
}
.footer-align-right {
  text-align: right;
  margin-top: 16px;
}
.footer-button {
  margin-right: 8px;
}
.modal-text-center {
  text-align: center;
}
.select-full-width {
  width: 100%;
}