<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="8">
    <div class="formname">
      <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline" class="back-arrow-icon"></span>&nbsp;&nbsp;{{
      formTitle }}
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="16" class="flex-end-container">
    <form [nzLayout]="'inline'" nz-form>
      <nz-form-item class="form-item-width-47">
        <button [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()" nz-button
          nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip>
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group [nzAddOnAfter]="suffixIconButton" nzSearch>
          <input [(ngModel)]="searchText" (keyup)="keyup($event)" (keydown.enter)="onEnterKey($event)" type="text"
            name="search" nz-input autocomplete="off" placeholder="Min 3 chars required." />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button (click)="search(true)" nz-button nzType="primary" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item class="form-item-margin-right" *ngIf="decreptedroleId != 23">
        <button (click)="add()" nz-button nzType="primary" nzJustify="end">
          <i nz-icon nzType="plus"></i>
          Add New Inventory
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="row-padding-top">
          <div nz-col [nzSpan]="24">
            <ng-container *ngIf="filterloading; else filtersContent">
              <div class="text-center">
                <nz-spin nzSimple></nz-spin>
              </div>
            </ng-container>
            <ng-template #filtersContent>
              <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="6" *ngFor="let item of savedFilters" class="filter-card-col">
                    <nz-card class="filter-card">
                      <div class="filter-card-content">
                        <span class="filter-name-text">
                          <span *ngIf="item.FILTER_NAME != null">
                            <span *ngIf="item.FILTER_NAME.length >= 25" nz-popover [nzPopoverContent]="item.FILTER_NAME"
                              nzPopoverPlacement="topLeft">
                              {{ item.FILTER_NAME | slice : 0 : 25
                              }}{{ item.FILTER_NAME.length > 25 ? "..." : "" }}
                            </span>
                            <span *ngIf="item.FILTER_NAME.length < 25">
                              {{ item.FILTER_NAME }}
                            </span>
                          </span>
                          <span *ngIf="item.FILTER_NAME == null">-</span>
                        </span>
                        <i *ngIf="selectedFilter === item.ID" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                          [nzTwotoneColor]="'#52c41a'" nz-tooltip [nzTooltipTitle]="
                            'This filter is applied on current data'
                          " class="filter-check-icon"></i>
                      </div>
                      <div nz-row class="filter-tags-row">
                        <div nz-col nzSpan="24" class="filter-tags-container">
                          <nz-tag nzColor="#2db7f5" (click)="editQuery(item)" class="filter-tag edit-tag" nz-tooltip
                            nzTooltipTitle="Edit Filter">
                            <span nz-icon nzType="edit" nzTheme="outline" class="tag-icon">
                            </span>&nbsp;&nbsp;Edit</nz-tag>
                          <nz-tag *ngIf="selectedFilter !== item.ID" nzColor="#87d068" (click)="applyfilter(item)"
                            class="filter-tag apply-tag" nz-tooltip nzTooltipTitle="Apply Filter">
                            <span nz-icon nzType="search" nzTheme="outline" class="tag-icon">
                            </span>&nbsp;&nbsp;Apply</nz-tag>
                          <nz-tag *ngIf="selectedFilter === item.ID" nzColor="#faad14" (click)="Clearfilter()"
                            class="filter-tag clear-tag" nz-tooltip nzTooltipTitle="Clear this Filter">
                            <span nz-icon nzType="close" nzTheme="outline" class="tag-icon">
                            </span>&nbsp;&nbsp;Clear</nz-tag>
                          <nz-tag nzColor="#cd201f" nz-popconfirm
                            nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteItem(item)" class="filter-tag delete-tag" nz-tooltip
                            nzTooltipTitle="Delete Filter">
                            <span nz-icon nzType="delete" nzTheme="outline" class="tag-icon">
                            </span>&nbsp;&nbsp;Delete</nz-tag>
                          <nz-tag nzColor="#3b5999" class="filter-tag view-tag" nz-tooltip
                            nzTooltipTitle="View Filter Text" (click)="toggleLiveDemo(item)">
                            <span nz-icon nzType="eye" nzTheme="outline" class="tag-icon">
                            </span>&nbsp;&nbsp;View</nz-tag>
                        </div>
                      </div>
                    </nz-card>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #noData>
              <div class="no-data-text">
                No Previous Filters Are Found
              </div>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="24" class="filter-buttons-container">
            <button *ngIf="savedFilters && savedFilters.length > 0" nz-button nzType="primary" nzSize="small"
              (click)="Clearfilter()" class="filter-button reset-filter-button">
              <span nz-icon nzType="reload" nzTheme="outline"></span>
              Reset Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()"
              class="filter-button new-filter-button">
              <span nz-icon nzType="plus"></span>
              New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div nz-row class="table-row-margin">
  <div nz-col nzSpan="24">
    <nz-table #table [nzFrontPagination]="false" [nzData]="dataList" [nzLoading]="loadingRecords"
      [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [nzSize]="'small'" [(nzPageSize)]="pageSize"
      [nzScroll]="{ y: '60vh' }" (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)" class="my-scroll no-wrap1" nzBordered nzShowSizeChanger class="table-whitespace">
      <thead>
        <tr>
          <th nzWidth="90px" nzLeft class="th-bold th-center" *ngIf="decreptedroleId != 23">
            Action
            <nz-filter-trigger [(nzVisible)]="showcolumnVisible" [nzDropdownMenu]="showcolumn1">
              <span nz-icon nzType="down" nzTheme="outline"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="180px" nzLeft class="th-bold th-center">
            Variants
          </th>
          <th nzWidth="100px" class="th-bold th-center" *ngIf="decreptedroleId != 23">
            Units
          </th>
          <th *ngIf="decreptedroleId != 23" nzWidth="150px" class="th-bold th-center">
            Item Image(s)
          </th>
          <th nzWidth="120px" class="th-bold th-center">
            Adjustments
          </th>
          <th nzWidth="170px" class="th-bold th-center">
            Logs
          </th>
          <th *ngIf="isColumnVisible('ITEM_NAME')" [nzSortFn]="true" [nzFilterFn]="true" nzWidth="300px"
            class="th-bold th-center" nzColumnKey="ITEM_NAME" nzCustomFilter>
            Item Name
            <nz-filter-trigger [(nzVisible)]="itemNameVisible" [nzDropdownMenu]="itemName">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isitemnameFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('INVENTORY_CATEGORY_NAME')" [nzSortFn]="true" [nzFilterFn]="true" nzWidth="210px"
            class="th-bold th-center" nzColumnKey="INVENTORY_CATEGORY_NAME" nzCustomFilter>
            Inventory Category
            <nz-filter-trigger [(nzVisible)]="inventorycategoryvisible" [nzDropdownMenu]="InventoryCategory">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: iscategoryFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('INVENTRY_SUB_CATEGORY_NAME')" [nzSortFn]="true" [nzFilterFn]="true"
            nzWidth="220px" class="th-bold th-center" nzColumnKey="NAME" nzCustomFilter>
            Inventory Sub-Category
            <nz-filter-trigger [(nzVisible)]="inventorysubcategoryvisible" [nzDropdownMenu]="InventorySubCategory">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: issubcategoryFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('BASE_UNIT_NAME')" [nzSortFn]="true" [nzFilterFn]="true" nzWidth="150px"
            class="th-bold th-center" nzColumnKey="BASE_UNIT_NAME" nzCustomFilter>
            Base Unit
            <nz-filter-trigger [(nzVisible)]="unitsvisible" [nzDropdownMenu]="unit">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isunitFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('SELLING_PRICE')" [nzSortFn]="true" [nzFilterFn]="true" nzWidth="200px"
            class="th-bold th-center" nzColumnKey="SELLING_PRICE" nzCustomFilter>
            Selling Price (₹)
            <nz-filter-trigger [(nzVisible)]="sellingpricevisible" [nzDropdownMenu]="sellingprice">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: issellingFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('SKU_CODE')" [nzSortFn]="true" [nzFilterFn]="true" nzWidth="200px"
            class="th-bold th-center" nzColumnKey="SKU_CODE" nzCustomFilter>
            SKU Code
            <nz-filter-trigger [(nzVisible)]="barcodevisible" [nzDropdownMenu]="barcodedrop">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isbarcodeFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('DATE_OF_ENTRY')" [nzSortFn]="true" [nzFilterFn]="true" nzWidth="200px"
            class="th-bold th-center" nzColumnKey="DATE_OF_ENTRY" nzCustomFilter>
            Date of Entry
            <nz-filter-trigger [(nzVisible)]="dateofentryvisible" [nzDropdownMenu]="entrydate">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isdateFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('RATING')" [nzSortFn]="true" nzWidth="150px" class="th-bold th-center"
            nzColumnKey="RATING">
            Rating
          </th>
          <th nzWidth="100px" *ngIf="isColumnVisible('STATUS')" nzShowSort nzColumnKey="{{ 'STATUS' }}"
            [nzSortFn]="true" [nzFilters]="listOfFilter" [nzFilterFn]="true" [nzFilterMultiple]="false"
            (nzFilterChange)="onStatusFilterChange($event)">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data" class="tbody-tr-center">
          <td nzLeft class="td-center" *ngIf="decreptedroleId != 23">
            <nz-tag nzColor="#2db7f5" (click)="edit(data)" nzTooltipTitle="Edit" nz-tooltip class="action-tag">
              <span nz-icon nzType="edit" nzTheme="outline" class="action-tag-icon">
              </span>&nbsp;&nbsp;Edit</nz-tag>
          </td>
          <td nzLeft class="td-center">
            <nz-tag nzColor="#2db7f5" *ngIf="!data['IS_HAVE_VARIANTS']" (click)="ViewStockDetails(data)"
              nzTooltipTitle="View Stock Details" nz-tooltip class="action-tag">
              <span nz-icon nzType="eye" nzTheme="outline" class="action-tag-icon">
              </span>&nbsp;&nbsp;View Stock
            </nz-tag>
            <nz-tag nzColor="#2db7f5" *ngIf="decreptedroleId != 23 && data['IS_HAVE_VARIANTS']"
              (click)="addvariant(data)" nzTooltipTitle="Add Variant" nz-tooltip class="action-tag">
              <span nz-icon nzType="link" nzTheme="outline" class="action-tag-icon">
              </span>&nbsp;&nbsp;Map
            </nz-tag>
            <nz-tag nzColor="#2db7f5" *ngIf="data['IS_HAVE_VARIANTS']" (click)="viewvariant(data)"
              nzTooltipTitle="View All Variants" nz-tooltip class="action-tag">
              <span nz-icon nzType="eye" nzTheme="outline" class="action-tag-icon">
              </span>&nbsp;&nbsp;View
            </nz-tag>
          </td>
          <td class="td-center" *ngIf="decreptedroleId != 23">
            <nz-tag nzColor="#2db7f5" *ngIf="!data['IS_HAVE_VARIANTS']; else MapUnitblock" (click)="ItemMapping(data)"
              nz-tooltip nzTooltipTitle="Unit Mapping" class="action-tag">
              <span nz-icon nzType="link" nzTheme="outline" class="action-tag-icon">
              </span>&nbsp;&nbsp;Map
            </nz-tag>
            <ng-template #MapUnitblock>-</ng-template>
          </td>
          <td class="td-center" *ngIf="decreptedroleId != 23">
            <nz-tag *ngIf="!data['IS_HAVE_VARIANTS']; else MapUnitblock" nzColor="#2db7f5"
              (click)="openItemImagesDrawer(data)" nzTooltipTitle="Add Image(s)" nz-tooltip class="action-tag">
              <span nz-icon nzType="plus" nzTheme="outline" class="action-tag-icon">
              </span>&nbsp;&nbsp;Add
            </nz-tag>
            <ng-template #MapUnitblock>-</ng-template>
          </td>
          <td class="td-center">
            <nz-tag nzColor="#2db7f5" (click)="inventoryAdjestmentHistoryDrawerOpen(data)"
              nzTooltipTitle="View Adjustment Details" nz-tooltip class="action-tag">
              <span nz-icon nzType="eye" nzTheme="outline" class="action-tag-icon">
              </span>
              View
            </nz-tag>
          </td>
          <td class="td-center">
            <nz-tag nzColor="#2db7f5" (click)="VieMappedServices(data)" nzTooltipTitle="View Change Logs" nz-tooltip
              class="action-tag">
              <span nz-icon nzType="eye" nzTheme="outline" class="action-tag-icon">
              </span>
              View
            </nz-tag>
            <nz-tag nzColor="#2db7f5" *ngIf="!data['IS_HAVE_VARIANTS']; else MapUnitblock"
              (click)="Viewinventorylogs(data)" nzTooltipTitle="View Inventory Logs" nz-tooltip class="action-tag">
              <span nz-icon nzType="eye" nzTheme="outline" class="action-tag-icon">
              </span>&nbsp;&nbsp;View
            </nz-tag>
            <ng-template #MapUnitblock>-</ng-template>
          </td>
          <td *ngIf="isColumnVisible('ITEM_NAME')" align="left">
            <span *ngIf="data['ITEM_NAME']">
              {{
              data["ITEM_NAME"].length > 35
              ? (data["ITEM_NAME"] | slice : 0 : 35) + "..."
              : data["ITEM_NAME"]
              }}
            </span>
            <span *ngIf="!data['ITEM_NAME']">-</span>
          </td>
          <td *ngIf="isColumnVisible('INVENTORY_CATEGORY_NAME')" align="left">
            <span *ngIf="data['INVENTORY_CATEGORY_NAME'] != null">
              <span *ngIf="data['INVENTORY_CATEGORY_NAME'].length >= 20" nz-popover
                [nzPopoverContent]="data['INVENTORY_CATEGORY_NAME']" nzPopoverPlacement="topLeft">
                {{
                data["INVENTORY_CATEGORY_NAME"] == null
                ? "-"
                : (data["INVENTORY_CATEGORY_NAME"] | slice : 0 : 20)
                }}{{ data["INVENTORY_CATEGORY_NAME"].length > 20 ? "..." : "" }}
              </span>
              <span *ngIf="data['INVENTORY_CATEGORY_NAME'].length < 20">
                {{
                data["INVENTORY_CATEGORY_NAME"] == null
                ? "-"
                : (data["INVENTORY_CATEGORY_NAME"] | slice : 0 : 20)
                }}
                {{ data["INVENTORY_CATEGORY_NAME"].length > 20 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['INVENTORY_CATEGORY_NAME'] == null">-</span>
          </td>
          <td *ngIf="isColumnVisible('INVENTRY_SUB_CATEGORY_NAME')" align="left">
            <span *ngIf="data['INVENTRY_SUB_CATEGORY_NAME'] != null">
              <span *ngIf="data['INVENTRY_SUB_CATEGORY_NAME'].length >= 20" nz-popover
                [nzPopoverContent]="data['INVENTRY_SUB_CATEGORY_NAME']" nzPopoverPlacement="topLeft">
                {{
                data["INVENTRY_SUB_CATEGORY_NAME"] == null
                ? "-"
                : (data["INVENTRY_SUB_CATEGORY_NAME"] | slice : 0 : 20)
                }}{{
                data["INVENTRY_SUB_CATEGORY_NAME"].length > 20 ? "..." : ""
                }}
              </span>
              <span *ngIf="data['INVENTRY_SUB_CATEGORY_NAME'].length < 20">
                {{
                data["INVENTRY_SUB_CATEGORY_NAME"] == null
                ? "-"
                : (data["INVENTRY_SUB_CATEGORY_NAME"] | slice : 0 : 20)
                }}
                {{
                data["INVENTRY_SUB_CATEGORY_NAME"].length > 20 ? "..." : ""
                }}
              </span>
            </span>
            <span *ngIf="data['INVENTRY_SUB_CATEGORY_NAME'] == null">-</span>
          </td>
          <td *ngIf="isColumnVisible('BASE_UNIT_NAME')" align="left">
            {{ data["BASE_UNIT_NAME"] ?? "-" }}
          </td>
          <td *ngIf="isColumnVisible('SELLING_PRICE')" align="center">
            {{ data["SELLING_PRICE"] ?? "-" }}
          </td>
          <td *ngIf="isColumnVisible('SKU_CODE')" align="left">
            {{ data["SKU_CODE"] ?? "-" }}
          </td>
          <td *ngIf="isColumnVisible('DATE_OF_ENTRY')" align="center">
            {{ (data["DATE_OF_ENTRY"] | date : "dd/MM/yyyy") ?? "-" }}
          </td>
          <td align="center" *ngIf="isColumnVisible('RATING')">
            <nz-rate class="rating-star" name="rating" [(ngModel)]="data.RATING" nzAllowHalf
              [nzDisabled]="true"></nz-rate>
          </td>
          <td align="center" *ngIf="isColumnVisible('STATUS')">
            <i nz-icon *ngIf="data.STATUS" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>
            <i nz-icon *ngIf="!data.STATUS" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<thead>
  <nz-dropdown-menu #showcolumn1="nzDropdownMenu">
    <ul nz-menu nzPlacement="bottomRight">
      <li *ngFor="let column of showcolumn" nz-menu-item>
        <label [(ngModel)]="column.visible" (ngModelChange)="isColumnVisible(column)" nz-checkbox>
          {{ column.label }}
        </label>
      </li>
    </ul>
  </nz-dropdown-menu>
  <nz-dropdown-menu #itemName="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input [(ngModel)]="itemNametext" (keyup)="onKeyup($event)" type="text" nz-input
            placeholder="Search Item Name" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span *ngIf="itemNametext" (click)="reset()" nz-icon class="ant-input-clear-icon" nzTheme="fill"
            nzType="close-circle"></span>
          <span *ngIf="itemNametext == ''" nz-icon nzType="search" nzTheme="outline"></span>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #InventoryCategory="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="select">
        <nz-select [nzCustomTemplate]="multipleTemplate1" [(ngModel)]="selectedcategories"
          (ngModelChange)="onCategoryChange()" class="select-full-width" nzShowSearch nzAllowClear
          nzPlaceHolder="Select Inventory Category" nzMode="multiple">
          <nz-option *ngFor="let data of categoryData" [nzValue]="data.ID" [nzLabel]="data.CATEGORY_NAME"></nz-option>
        </nz-select>
        <ng-template #multipleTemplate1 let-selected>
          <div class="ant-select-selection-item-content">
            <span [nzType]="selected.nzValue" nz-icon></span>
            {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #InventorySubCategory="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="select">
        <nz-select [nzCustomTemplate]="multipleTemplate2" [(ngModel)]="selectedSubcategories"
          (ngModelChange)="onsubCategoryChange()" class="select-full-width" nzShowSearch nzAllowClear
          nzPlaceHolder="Select Inventory Sub-Category" nzMode="multiple">
          <nz-option *ngFor="let data of subCategoryData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
        </nz-select>
        <ng-template #multipleTemplate2 let-selected>
          <div class="ant-select-selection-item-content">
            <span [nzType]="selected.nzValue" nz-icon></span>
            {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #unit="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="select">
        <nz-select [nzCustomTemplate]="multipleTemplate3" [(ngModel)]="selectedUnits" (ngModelChange)="onUnitChange()"
          class="select-full-width" nzShowSearch nzAllowClear nzPlaceHolder="Select Unit" nzMode="multiple">
          <nz-option *ngFor="let data of UnitList" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
        </nz-select>
        <ng-template #multipleTemplate3 let-selected>
          <div class="ant-select-selection-item-content">
            <span [nzType]="selected.nzValue" nz-icon></span>
            {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #quantity="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input [(ngModel)]="quantitytext" (keyup)="onKeyup($event)" (keypress)="omit($event)" type="text" nz-input
            placeholder="Search Quantity" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span *ngIf="quantitytext" (click)="reset()" nz-icon class="ant-input-clear-icon" nzTheme="fill"
            nzType="close-circle"></span>
          <span *ngIf="quantitytext == ''" nz-icon nzType="search" nzTheme="outline"></span>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #purchaseprice="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input [(ngModel)]="purchasepricetext" (keyup)="onKeyup($event)" (keypress)="omit($event)" type="text"
            nz-input placeholder="Search Purchase Price" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span *ngIf="purchasepricetext" (click)="reset()" nz-icon class="ant-input-clear-icon" nzTheme="fill"
            nzType="close-circle"></span>
          <span *ngIf="purchasepricetext == ''" nz-icon nzType="search" nzTheme="outline"></span>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #sellingprice="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input [(ngModel)]="sellingpricetext" (keyup)="onKeyup($event)" (keypress)="omit($event)" type="text" nz-input
            placeholder="Search Selling Price" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span *ngIf="sellingpricetext" (click)="reset()" nz-icon class="ant-input-clear-icon" nzTheme="fill"
            nzType="close-circle"></span>
          <span *ngIf="sellingpricetext == ''" nz-icon nzType="search" nzTheme="outline"></span>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #barcodedrop="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input [(ngModel)]="barcodetext" (keyup)="onKeyup($event)" (keypress)="omit($event)" type="text" nz-input
            placeholder="Search SKU Code" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span *ngIf="barcodetext" (click)="reset()" nz-icon class="ant-input-clear-icon" nzTheme="fill"
            nzType="close-circle"></span>
          <span *ngIf="barcodetext == ''" nz-icon nzType="search" nzTheme="outline"></span>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #location="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="select">
        <nz-select [nzCustomTemplate]="multipleTemplate4" [(ngModel)]="selectedwarehouseLocations"
          (ngModelChange)="onlocationChange()" class="select-full-width" nzShowSearch nzAllowClear
          nzPlaceHolder="Select Location" nzMode="multiple">
          <nz-option *ngFor="let data of storageLocationlist" [nzValue]="data.ID"
            [nzLabel]="data.LOCATION_NAME"></nz-option>
        </nz-select>
        <ng-template #multipleTemplate4 let-selected>
          <div class="ant-select-selection-item-content">
            <span [nzType]="selected.nzValue" nz-icon></span>
            {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #warehouse="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="select">
        <nz-select [nzCustomTemplate]="multipleTemplate4" [(ngModel)]="selectedWarehouses"
          (ngModelChange)="onwarehouseChange()" class="select-full-width" nzShowSearch nzAllowClear
          nzPlaceHolder="Select Warehouse" nzMode="multiple">
          <nz-option *ngFor="let data of warehousesList" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
        </nz-select>
        <ng-template #multipleTemplate4 let-selected>
          <div class="ant-select-selection-item-content">
            <span [nzType]="selected.nzValue" nz-icon></span>
            {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #remark="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input [(ngModel)]="remarkstext" (keyup)="onKeyup($event)" type="text" nz-input
            placeholder="Search Remarks" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span *ngIf="remarkstext" (click)="reset()" nz-icon class="ant-input-clear-icon" nzTheme="fill"
            nzType="close-circle"></span>
          <span *ngIf="remarkstext == ''" nz-icon nzType="search" nzTheme="outline"></span>
        </ng-template>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #entrydate="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="select">
        <nz-date-picker [(ngModel)]="selectedDate" (ngModelChange)="onDateChange()" name="datepicker2"
          nzFormat="dd/MM/yyyy" class="select-full-width">
        </nz-date-picker>
      </div>
    </div>
  </nz-dropdown-menu>
  <div *ngIf="isAdjustmentvisible">
    <nz-drawer [nzBodyStyle]="{
        height: 'calc(100% - 55px)',
        overflow: 'auto',
        'padding-bottom': '53px'
      }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="900" (nzOnClose)="adjustmentclose()"
      [nzVisible]="isAdjustmentvisible" [nzTitle]="isAdjustmentTitle" (nzKeyboard)="(true)">
      <ng-container *nzDrawerContent>
        <div *ngIf="isAdjustmentvisible" class="custom">
          <form #adjustmentForm="ngForm" nz-form (nzonzlose)="closeAdjustment(adjustmentForm)">
            <nz-spin [nzSpinning]="isAdjustmentSpinning">
              <div [nzAlign]="'middle'" [nzGutter]="16" nz-row>
                <div [nzSpan]="7" nz-col>
                  <nz-form-item>
                    <nz-form-label nzRequired nzNoColon>
                      Old Quantity
                    </nz-form-label>
                    <nz-form-control>
                      <nz-input-group nzCompact>
                        <input [(ngModel)]="data.OLD_QTY" (keypress)="commonFunction.omit($event)" nz-input
                          name="oldQty" class="input-width-70" placeholder="Enter Old Quantity" maxlength="10"
                          disabled />
                        <nz-select [(ngModel)]="unitselect1" name="selectunit1" class="select-width-30" disabled>
                          <nz-option *ngFor="let unit of UnitList" [nzLabel]="unit.SHORT_CODE"
                            [nzValue]="unit.ID"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div [nzSpan]="1" nz-col class="text-center-margin-top">
                  <strong>+</strong>
                </div>
                <div [nzSpan]="7" nz-col>
                  <nz-form-item>
                    <nz-form-label nzRequired nzNoColon>
                      Adjustment Quantity
                    </nz-form-label>
                    <nz-form-control nzErrorTip="Please Enter Adjustment Quantity">
                      <nz-input-group nzCompact>
                        <input [(ngModel)]="data.ADJUSTMENT_QUANTITY" (ngModelChange)="changeQuantity($event)"
                          (focus)="isFocused = 'ADJUSTMENT_QUANTITY'" (blur)="isFocused = ''"
                          (keypress)="commonFunction.omit($event)" nz-input name="adjustmentQty"
                          placeholder="Enter Adjustment Quantity" maxlength="10" class="input-width-70" required />
                        <nz-select [(ngModel)]="unitselect2" name="selectunit2" class="select-width-30" disabled>
                          <nz-option *ngFor="let unit of UnitList" [nzLabel]="unit.SHORT_CODE"
                            [nzValue]="unit.ID"></nz-option>
                        </nz-select>
                      </nz-input-group>
                      <h6 class="char-counter-text" *ngIf="
                          isFocused === 'ADJUSTMENT_QUANTITY' ||
                          (data.ADJUSTMENT_QUANTITY &&
                            isFocused === 'ADJUSTMENT_QUANTITY')
                        ">
                        {{ data.ADJUSTMENT_QUANTITY?.length || 0 }}/10
                      </h6>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div [nzSpan]="1" nz-col class="text-center-margin-top">
                  <strong>=</strong>
                </div>
                <div [nzSpan]="7" nz-col>
                  <nz-form-item>
                    <nz-form-label nzRequired nzNoColon>
                      New Quantity
                    </nz-form-label>
                    <nz-form-control>
                      <nz-input-group nzCompact>
                        <input [(ngModel)]="data.NEW_QTY" (keypress)="commonFunction.omit($event)" nz-input
                          name="newQty" class="input-width-70" placeholder="Enter New Quantity" maxlength="10"
                          disabled />
                        <nz-select [(ngModel)]="unitselect3" name="selectunit3" class="select-width-30" disabled>
                          <nz-option *ngFor="let unit of UnitList" [nzLabel]="unit.SHORT_CODE"
                            [nzValue]="unit.ID"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row class="row-margin-top">
                <div nz-col nzSpan="7">
                  <nz-form-item>
                    <nz-form-label nzRequired nzNoColon>
                      Warehouse Location
                    </nz-form-label>
                    <nz-form-control nzHasFeedback nzErrorTip="Please Select Valid Warehouse Location">
                      <nz-select [(ngModel)]="data.LOCATION" nz-input disabled name="selectwarehouselocation"
                        nzPlaceHolder="Select Warehouse Location" nzAllowClear class="select-full-width" nzShowSearch
                        required>
                        <nz-option *ngFor="let item of storageLocationlist" [nzValue]="item.ID"
                          [nzLabel]="item.LOCATION_NAME">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div [nzSpan]="24" nz-col>
                  <nz-form-item>
                    <nz-form-label nzRequired nzNoColon>
                      Adjustment Reason
                    </nz-form-label>
                    <nz-form-control nzErrorTip="Please Enter Adjustment Reason">
                      <textarea [(ngModel)]="data.ADJUSTMENT_REASON" (focus)="isFocused = 'ADJUSTMENT_REASON'"
                        (blur)="isFocused = ''" nz-input rows="3" name="adjustmentReason"
                        placeholder="Enter Adjustment Reason" maxlength="512" required>
                      </textarea>
                    </nz-form-control>
                    <h6 class="char-counter-red" *ngIf="
                        isFocused === 'ADJUSTMENT_REASON' ||
                        (data.ADJUSTMENT_REASON &&
                          isFocused === 'ADJUSTMENT_REASON')
                      ">
                      {{ data.ADJUSTMENT_REASON?.length || 0 }}/512
                    </h6>
                  </nz-form-item>
                </div>
              </div>
            </nz-spin>
          </form>
          <div class="footer footer-align-right">
            <button (click)="closeAdjustment(adjustmentForm)" type="button" nz-button class="footer-button">
              Cancel
            </button>
            <button [nzLoading]="isAdjustmentSpinning" (click)="saveAdjustment(false, adjustmentForm)" type="button"
              class="ant-btn ant-btn-primary footer-button-primary" nz-button>
              Save & Close
            </button>
          </div>
        </div>
      </ng-container>
    </nz-drawer>
  </div>
</thead>
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerfilterClose('buttontype', 'updateButton')" (nzKeyboard)="(true)"
    [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [drawerClose]="filtercloseCallback" [filterGroups]="filterGroups" [filterGroups2]="filterGroups2"
        [filterData]="filterData" [name]="FILTER_NAME" [data]="EditQueryData" [editButton]="editButton" [TabId]="TabId"
        [fields]="filterFields" (filterApplied)="onFilterApplied($event)">
      </app-main-filter>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px',
      'padding-top': '10px',
      'padding-left': '12px',
      'padding-right': '12px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="inventoryForm"
    [nzVisible]="drawerVisible" [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-inventorymasterform [drawerClose]="closeCallback" [ShowTax]="ShowTax" [disableItems]="disableItems"
        [drawerVisible]="drawerVisible" [UnitName]="UName" [data]="drawerData">
      </app-inventorymasterform>
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Filter Text'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 class="modal-text-center">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>
<div *ngIf="addvarientdrawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(105% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'100%'"
    [nzVisible]="addvarientdrawerVisible" [nzTitle]="drawerTitle" (nzOnClose)="addvarientdrawerClose()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-add-varient-drawer [drawerClose]="addvarientcloseCallback" [drawerVisible]="addvarientdrawerVisible"
        [Inventorydata]="drawerData">
      </app-add-varient-drawer>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="ItemMappingDrawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px',
      'padding-top': '10px',
      'padding-left': '15px',
      'padding-right': '15px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="900"
    [nzVisible]="ItemMappingDrawerVisible" [nzTitle]="ItemMappingDrawerTitle" (nzOnClose)="ItemMappingDrawerClose()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-item-mapping [drawerClose]="ItemMappingCloseCallback" [drawerVisible]="ItemMappingDrawerVisible"
        [data]="drawerData" [UnitName]="Unitname" [UnitId]="Unitid" [itemcategoryis]="itemcategoryis" [itemId]="ItemId">
      </app-item-mapping>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="itemImagesDrawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="900"
    [nzVisible]="itemImagesDrawerVisible" [nzTitle]="itemImagesDrawerTitle" (nzOnClose)="itemImagesDrawerClose()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-add-inventory-images [drawerClose]="itemImagesDrawerCloseCallback" [drawerVisible]="itemImagesDrawerVisible"
        [data]="addImageDrawerData">
      </app-add-inventory-images>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="inventoryAdjestmentHistoryDrawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'80%'"
    [nzVisible]="inventoryAdjestmentHistoryDrawerVisible" [nzTitle]="inventoryAdjestmentHistoryDrawerTitle"
    (nzOnClose)="inventoryAdjestmentHistoryDrawerClose()" (nzKeyboard)="(true)" [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-inventory-adjestment-history [drawerClose]="inventoryAdjestmentHistoryDrawerCloseCallback"
        [drawerData]="inventoryAdjestmentHistoryDrawerData">
      </app-inventory-adjestment-history>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="viewvarientdrawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(105% - 55px)',
      overflow: 'auto',
      padding: '20px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'80%'"
    [nzVisible]="viewvarientdrawerVisible" [nzTitle]="viewdrawerTitle" (nzOnClose)="viewvarientdrawerClose()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-view-varient [drawerClose]="viewvarientcloseCallback" [drawerVisible]="viewvarientdrawerVisible"
        [Inventorydata]="viewdrawerData">
      </app-view-varient>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerserviceVisibleMaped">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(105% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="widthsss"
    [nzVisible]="drawerserviceVisibleMaped" [nzTitle]="drawerTitleMaped" (nzOnClose)="drawerServiceMappingCloseMaped()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-view-itemchage-logs [drawerCloset]="closeServiceMappingCallbackMaped" [type]="'B2BM'"
        [drawerVisiblet]="drawerserviceVisibleMaped" [serviceid]="serviceid"
        [data]="drawerDataMaped"></app-view-itemchage-logs>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerinventorylogs">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(105% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1000" [nzVisible]="drawerinventorylogs"
    [nzTitle]="drawerTitleinventorylogs" (nzOnClose)="drawerCloseinventorylogs()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-inventorylogs [drawerCloset]="closeCallbackinventorylogs" [FILTER_ID]="serviceid" [ITEM_NAME]="ITEM_NAME"
        [TYPE]="'M'"></app-inventorylogs>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerStockDetails">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(105% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'80%'" [nzVisible]="drawerStockDetails"
    [nzTitle]="drawerTitleStockDetails" (nzOnClose)="drawerCloseStockDetails()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-view-varientstock [drawerClose]="closeCallbackStockDetails" [Inventorydata]="viewdrawerData"
        [ITEM_NAME]="ITEM_NAME" [TYPE]="'M'"></app-view-varientstock>
    </ng-container>
  </nz-drawer>
</div>