th {
  text-align: center !important;
  vertical-align: middle !important;
  /* font-weight: bold; */
}
th {
  text-align: center !important;
  vertical-align: middle !important;
  /* font-weight: bold; */
}

.select{
width: 200px;
padding: 8px;
display: block;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

nz-select {
  width: 100%;
}



.header {
  position: absolute;
  top: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  right: 0px;
}

.custom nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
/* .ant-select-single .ant-select-selector {
  width: 100%;
  height: 30px !important;
  padding: 0 11px;
} */
nz-form-item {
margin-bottom: 16px;
}

nz-form-control {
width: 100%;
}

input[nz-input], nz-select {
height: 32px;
line-height: 32px;
}

nz-input-group[nzCompact] {
display: flex;
align-items: center;
}
th {
text-align: center !important;
vertical-align: middle !important;
/* font-weight: bold; */
}

.select{
width: 200px;
padding: 8px;
display: block;
}

.search-box {
padding: 8px;
}

.search-box input {
width: 188px;
display: block;
}

.search-box button {
width: 90px;
}

.search-button {
margin-right: 8px;
}

nz-select {
width: 100%;
}

.margin-row {
margin: 10px 0px;
}


:host::ng-deep .ant-card-body {
  padding: 0px;
}





