.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;

}

nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

nz-divider {
  border-color: #7cb305 !important;
}