<nz-layout class="main-layout">
  <nz-sider nzWidth="220px" nzTheme="light" [nzReverseArrow]="false" (nzCollapsedChange)="isCollapsed = $event"
    class="custom-sider sider-bg-white">
    <div class="logo logo-container">
      <div class="logo-text-wrapper">
        <span class="logo-title">Knowledge Base</span><br />
      </div>
    </div>
    <ul nz-menu nzMode="inline" class="sider-menu sider-menu-borderless">
      <li *ngFor="let menu of menuItems" nz-submenu
        [nzTitle]="menu.title?.length > 20 ? menu.title.slice(0, 20) + '...' : menu.title" nzTooltipPlacement="top"
        nz-tooltip [nzTooltipTitle]="menu.title" [(nzOpen)]="menu.open" class="submenu-title">
        <ul class="submenu-list">
          <li nz-menu-group *ngIf="menu.children.length > 0">
            <ul>
              <li *ngFor="let item of menu.children[0].items" nz-menu-item [nzSelected]="ItemID?.id === item.id"
                nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="item.title?.length > 20 ? item.title : ''"
                (click)="onMenuItemClick(item)" class="submenu-item">
                <span *ngIf="item.title?.length >= 20" class="submenu-item-ellipsis">
                  {{ item.title.slice(0, 20) + "..." }}
                </span>
                <span *ngIf="item.title?.length < 20">{{ item.title }}</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="content-layout">
    <nz-header class="header">
      <div class="search-container">
        <nz-input-group nzSize="large" [nzPrefix]="prefixIcon" [nzSuffix]="searchQuery ? clearIcon : undefined">
          <input nz-input placeholder="Search ..." name="skillesearch" [(ngModel)]="searchQuery"
            (ngModelChange)="SearchSkill($event)" />
        </nz-input-group>
      </div>
      <ng-template #prefixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <ng-template #clearIcon>
        <i nz-icon nzType="close-circle" class="clear-icon" (click)="clearSearch()"></i>
      </ng-template>
    </nz-header>
    <nz-content class="content content-bg-white">
      <nz-spin [nzSpinning]="isSpinning">
        <nz-collapse *ngIf="selectedContent?.length" [nzExpandIconPosition]="'right'" [nzAccordion]="true">
          <nz-collapse-panel *ngFor="let faq of selectedContent; let i = index" [nzHeader]="faq.TITLE"
            [nzShowArrow]="true" [nzActive]="i === 0">
            <div class="faq-header faq-pre-line">
              <div [innerHTML]="faq.DESCRIPTION"></div>
              <div *ngIf="faq.DOCUMENT && faq.TYPE == 'D'">
                <a (click)="openattachemnt(faq.DOCUMENT)">view document</a>
              </div>
              <div *ngIf="faq.TYPE == 'L'">
                <a href="{{ faq.LINK }}" target="_blank">Open link</a>
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-spin>
      <div *ngIf="!selectedContent?.length" class="select-message">
        <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
          [nzNotFoundContent]="contentTpl43" [nzNotFoundFooter]="footerTpl43" class="empty-margin-top">
          <ng-template #contentTpl43>
            <span> Data Not Found</span>
          </ng-template>
          <ng-template #footerTpl43></ng-template>
        </nz-empty>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>