<div>
  <form nz-form #CityMasterPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item class="city-form-item">
            <nz-form-label nzRequired nzNoColon>Country</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Country Name">
              <nz-select name="countryId" nzPlaceHolder="Select Country Name" nzShowSearch autocomplete="off"
                [(ngModel)]="data.COUNTRY_ID" [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="getStatesByCountry(data.COUNTRY_ID, true)" required nzAllowClear
                [nzLoading]="IsCountrySpinng" class="city-select">
                <nz-option *ngFor="let data of countryData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item class="city-form-item">
            <nz-form-label nzRequired nzNoColon>State</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select State Name">
              <nz-select name="stateId" nzPlaceHolder="Select State Name" nzShowSearch [(ngModel)]="data.STATE_ID"
                [ngModelOptions]="{ standalone: true }" (ngModelChange)="getDistrictByState(data.STATE_ID, true)"
                required nzAllowClear [nzLoading]="isStateSpinning" class="city-select">
                <nz-option *ngFor="let data of stateData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item class="city-form-item">
            <nz-form-label nzRequired nzNoColon>District</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select District Name">
              <nz-select name="DistrictId" nzPlaceHolder="Select District Name" nzShowSearch
                [(ngModel)]="data.DISTRICT_ID" [ngModelOptions]="{ standalone: true }" (ngModelChange)="onDistChange()"
                required nzAllowClear [nzLoading]="isDistSpinning" class="city-select">
                <nz-option *ngFor="let data of DistrictData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item class="city-form-item">
            <nz-form-label nzRequired nzNoColon>City</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Enter City Name">
              <input nz-input name="Name" [(ngModel)]="data.NAME" placeholder="Enter City Name" maxlength="128"
                autocomplete="off" (keypress)="validateInput($event)" required (focus)="isFocused = 'cityName'"
                (blur)="isFocused = ''" class="city-input" />
              <h6 class="city-char-count" *ngIf="isFocused === 'cityName' || (data.NAME && isFocused === 'cityName')">
                {{ data.NAME.length || 0 }}/128
              </h6>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item class="city-form-item">
            <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Sequence Number">
              <nz-input-number name="seqno" [(ngModel)]="data.SEQ_NO" [nzMin]="1" [nzStep]="1" required
                class="city-input-number"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item class="city-form-item">
            <nz-form-label nzNoColon>Status</nz-form-label>
            <nz-form-control>
              <nz-switch name="status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                [(ngModel)]="data.IS_ACTIVE"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>
  <div class="footer city-footer">
    <button type="button" nz-button (click)="close()" class="ant-btn city-btn-cancel">
      <span>Cancel</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary city-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown
      [nzDropdownMenu]="menu" [nzLoading]="isSpinning" (click)="save(false, CityMasterPage)">
      <span>Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc city-menu">
          <a class="city-menu-link" (click)="save(true, CityMasterPage)">Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary city-btn-primary" nz-button [nzLoading]="isSpinning"
      *ngIf="data.ID" (click)="save(false, CityMasterPage)">
      <span>Update & Close</span>
    </button>
  </div>
</div>