<div>
  <form nz-form #CityMasterPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Country</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Country Name">
              <nz-select name="countryId" nzPlaceHolder="Select Country Name" nzShowSearch style="width: 100%"
                autocomplete="off" [(ngModel)]="data.COUNTRY_ID" [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="getStatesByCountry(data.COUNTRY_ID, true)" required nzAllowClear=""
                [nzLoading]="IsCountrySpinng">
                <nz-option *ngFor="let data of countryData" [nzValue]="data.ID" [nzLabel]="data.NAME">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Country</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Country">
              <nz-select
                nzAllowClear
                nzPlaceHolder="Select Country"
                name="COUNTRY_ID"
                [(ngModel)]="data.COUNTRY_ID"
                nzShowSearch
                required
                (ngModelChange)="getStateData(data.COUNTRY_ID, false)"
              >
                <nz-option
                  *ngFor="let data of countryData"
                  [nzValue]="data.ID"
                  [nzLabel]="data.NAME"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item> -->
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>State</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select State Name">
              <nz-select name="stateId" nzPlaceHolder="Select State Name" nzShowSearch style="width: 100%"
                [(ngModel)]="data.STATE_ID" [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="getDistrictByState(data.STATE_ID, true)" required nzAllowClear=""
                [nzLoading]="isStateSpinning">
                <nz-option *ngFor="let data of stateData" [nzValue]="data.ID" [nzLabel]="data.NAME">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- <nz-form-item>
            <nz-form-label nzRequired nzNoColon>State</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select State">
              <nz-select
                nzAllowClear
                nzPlaceHolder="Select State"
                name="STATE_ID"
                [(ngModel)]="data.STATE_ID"
                (ngModelChange)="getDistrinct(data.STATE_ID, false)"
                nzShowSearch
                required
                [nzLoading]="isStateSpinning"
              >
                <nz-option
                  *ngFor="let data of stateData"
                  [nzValue]="data.ID"
                  [nzLabel]="data.NAME"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item> -->
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>District</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select District Name">
              <nz-select name="DistrictId" nzPlaceHolder="Select District Name" nzShowSearch style="width: 100%"
                [(ngModel)]="data.DISTRICT_ID" (ngModelChange)="onDistChange()" [ngModelOptions]="{ standalone: true }"
                required nzAllowClear="" [nzLoading]="isDistSpinning">
                <nz-option *ngFor="let data of DistrictData" [nzValue]="data.ID" [nzLabel]="data.NAME">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- <nz-form-item>
            <nz-form-label nzRequired nzNoColon>District</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select District">
              <nz-select
                nzAllowClear
                nzPlaceHolder="Select District"
                name="DISTRICT_ID"
                [(ngModel)]="data.DISTRICT_ID"
                [nzLoading]="isDistSpinning"
                nzShowSearch
                required
              >
                <nz-option
                  *ngFor="let data of DistrictData"
                  [nzValue]="data.ID"
                  [nzLabel]="data.NAME"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item> -->
        </div>
      </div>

      <!-- <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>City</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Enter City Name ">
              <input nz-input name="Name" [(ngModel)]="data.NAME" placeholder="Enter City Name" maxlength="256"
                (keypress)="validateInput($event)" required autocomplete="off" />
            </nz-form-control>
            <span style="color: red; font-size: 10px" *ngIf="data.NAME">{{ data.NAME.length }}/256</span>
          </nz-form-item>
        </div>
      </div> -->
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>City</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Enter City Name">
              <input nz-input name="Name" [(ngModel)]="data.NAME" placeholder="Enter City Name" maxlength="128"
                autocomplete="off" (keypress)="validateInput($event)" required (focus)="isFocused = 'cityName'"
                (blur)="isFocused = ''" />
              <!-- Dynamic Character Count -->
              <h6 style="color: red; font-size: 10px" *ngIf="
                  isFocused === 'cityName' ||
                  (data.NAME && isFocused === 'cityName')
                ">
                {{ data.NAME.length || 0 }}/128
              </h6>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Sequence Number">
              <nz-input-number style="width: 100%" name="seqno" [(ngModel)]="data.SEQ_NO" [nzMin]="1" [nzStep]="1"
                required>
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzNoColon>Status</nz-form-label>
            <nz-form-control>
              <nz-switch name="status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                [(ngModel)]="data.IS_ACTIVE"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>

  <div class="footer">
    <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px">
      <span>Cancel</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      [nzLoading]="isSpinning" (click)="save(false, CityMasterPage)">
      <span>Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc" style="border-radius: 4px; color: white!important;">
          <a style="color: white!important" (click)="save(true, CityMasterPage)">Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false, CityMasterPage)">
      <span>Update & Close</span>
    </button>
  </div>
</div>