<div>
  <form nz-form #accountMasterPage="ngForm">
    <!-- <nz-spin [nzSpinning]="isSpinning"> -->
    <div nz-row>
      <!-- <div nz-col nzSpan="24">
                      <nz-form-item>
                          <nz-form-label nzRequired nzNoColon>Document Name</nz-form-label>
      
                          <nz-form-control nzHasFeedback nzErrorTip="Enter Document Name">
                              <input nz-input autocomplete="off" placeholder="Enter Document Name"
                                  (keypress)="commonFunction.allowOnly($event)" maxlength="128" name="name"
                                  [(ngModel)]="data.NAME" required (focus)="isFocused = 'documentName'"
                                  (blur)="isFocused = ''" />
                          </nz-form-control>
                          <h6 style="color: red; font-size: 10px" *ngIf="
                    ">
                              {{ data.NAME.length }}/128
                          </h6>
                      </nz-form-item>
                  </div> -->

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Category</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please select valid category">
            <nz-select nzShowSearch nzAllowClear="true" style="width: 100%" nzPlaceHolder="Select Category"
              [(ngModel)]="data.CATEGORY_ID" (ngModelChange)="onCategoryChange($event)" name="category" required>
              <nz-option *ngFor="let category of categoryList" [nzLabel]="category.NAME"
                [nzValue]="category.ID"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Sub Category</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please select valid sub category">
            <nz-select nzShowSearch nzAllowClear="true" style="width: 100%" nzPlaceHolder="Select Sub Category"
              [(ngModel)]="data.SUBCATEGORY_ID" (ngModelChange)="onSubCategoryChange($event)" name="subcat" required>
              <nz-option *ngFor="let subcategory of subcategoryList" [nzLabel]="subcategory.NAME"
                [nzValue]="subcategory.ID"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Service</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please select valid service">
            <nz-select nzShowSearch nzAllowClear="true" style="width: 100%" nzPlaceHolder="Select Service"
              [(ngModel)]="data.SERVICE_ID" name="serv" required>
              <nz-option *ngFor="let subcategory of serviceList" [nzLabel]="subcategory.NAME"
                [nzValue]="subcategory.ID"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="16">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Job Title</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Job Title">
            <input nz-input autocomplete="off" placeholder="Enter Job Title"
              (keypress)="commonFunction.allowOnly($event)" maxlength="128" name="titlejob" [(ngModel)]="data.TITLE"
              required (focus)="isFocused = 'documentName'" (blur)="isFocused = ''" />
            <!-- Character Count -->
            <h6 style="color: red; font-size: 10px" *ngIf="
                isFocused === 'documentName' ||
                (data.TITLE != undefined &&
                  data.TITLE != null &&
                  data.TITLE != '' &&
                  isFocused === 'documentName')
              ">
              {{ data.TITLE.length || 0 }}/512
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Type</nz-form-label>
          <nz-form-control nzErrorTip="Please Select Type">
            <nz-radio-group name="SOURCE_TYPE" [(ngModel)]="data.SOURCE_TYPE" required>
              <label nz-radio nzValue="L">Link</label>
              <label nz-radio nzValue="D">Document</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24" *ngIf="data.SOURCE_TYPE == 'L'">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Link</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Link">
            <input nz-input autocomplete="off" placeholder="Enter Link" required maxlength="256" name="link"
              [(ngModel)]="data.LINK" (focus)="isFocused = 'link'" (blur)="isFocused = ''" />
            <!-- Character Count -->
            <h6 style="color: red; font-size: 10px" *ngIf="
                isFocused === 'link' ||
                (data.LINK != undefined &&
                  data.LINK != null &&
                  data.LINK != '' &&
                  isFocused === 'link')
              ">
              {{ data.LINK ? data.LINK.length : 0 }}/256
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="10" *ngIf="data.SOURCE_TYPE == 'D'">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Document &nbsp;
            <span><i nz-icon nzType="info-circle" nzTheme="twotone"
                nzTooltipTitle="Please select an ducument file (PNG, JPG, JPEG, PDF, Doc) with a size up to 1MB."
                nzTooltipPlacement="top" nz-tooltip>
              </i> </span></nz-form-label>

          <nz-form-control nzHasFeedback nzErrorTip="Select Document">
            <button *ngIf="data.DOC_URL == ' ' || data.DOC_URL == null" nz-button
              style="padding: 0px 7px; font-size: 10px" (click)="image1.click()">
              <span nz-icon required nzType="upload"></span>Upload Document
              <!-- <i nz-icon nzType="upload" nzTheme="outline"></i> -->
              <input #image1 name="image1" type="file" accept=".png, .jpg, .jpeg, .pdf, .doc, .docx"
                (change)="onFileSelected($event)" style="display: none" />
            </button>

            <span *ngIf="
                  data.DOC_URL != null &&
                  data.DOC_URL != undefined &&
                  data.DOC_URL != ' '
                ">
              <div *ngIf="progressBarImageOne">
                <nz-progress [style.width]="percentImageOne + '%'" [nzPercent]="percentImageOne">{{ percentImageOne
                  }}%</nz-progress>
              </div>
            </span>

            <div *ngIf="
                  data.DOC_URL != null &&
                  data.DOC_URL != undefined &&
                  data.DOC_URL != ' '
                ">
              <a style="color: blue; margin-right: 9px" (click)="viewImage(data.DOC_URL)">
                {{ data.DOC_URL }}
              </a>

              <a style="color: blue; margin-right: 9px" (click)="viewImage(data.DOC_URL)" nz-tooltip
                nzTooltipTitle="Click Here To View Uploaded Image">
                <span nz-icon nzType="eye" nzTheme="outline"></span>
              </a>
              <span *ngIf="data.ID">
                <span style="cursor: pointer" nz-popconfirm nzPopconfirmTitle="Are you sure want to delete?"
                  nzPopconfirmPlacement="top" (nzOnConfirm)="image1DeleteConfirm(data)" (nzOnCancel)="deleteCancel()">
                  <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#FF0000'" nz-tooltip
                    nzTooltipTitle="Delete">
                  </span>
                </span>
              </span>
              <span *ngIf="!data.ID">
                <span style="cursor: pointer; margin-left: 0px" nz-popconfirm
                  nzPopconfirmTitle="Are you sure want to delete?" nzPopconfirmPlacement="top"
                  (nzOnConfirm)="removeImage()" (nzOnCancel)="deleteCancel()">
                  <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#FF0000'" nz-tooltip
                    nzTooltipTitle="Delete">
                  </span>
                </span>
              </span>
            </div>
          </nz-form-control>
        </nz-form-item>

      </div>


      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Description</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Description">
            <angular-editor style="resize: none; color: black" name="desc" id="editor3" [(ngModel)]="data.DESCRIPTION"
              (ngModelChange)="checkDescriptionLength()" [config]="editorConfig" (focus)="isFocused = 'desc'"
              (blur)="isFocused = ''" maxlength="1024" required placeholder="Enter Description..."></angular-editor>
            <!-- Character Count -->
            <!-- <h6 style="color: red; font-size: 10px" *ngIf="
                isFocused === 'desc' ||
                (data.DESCRIPTION != undefined &&
                  data.DESCRIPTION != null &&
                  data.DESCRIPTION != '' &&
                  isFocused === 'desc')
              ">
              {{ data.DESCRIPTION ? data.DESCRIPTION.length : 0 }}/1024
            </h6> -->

            <h6 style="color: red; font-size: 10px" *ngIf="cleanTextLength > 0 || isFocused === 'DESCRIPTION'">
              {{ cleanTextLength }}/50,000
            </h6>

            <div *ngIf="showLengthError" style="color: red; font-size: 11px;">
              Description must not exceed 50,000 characters (including tags, formatting, and images).
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzNoColon>Status</nz-form-label>

          <nz-form-control>
            <nz-switch name="Status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
              [(ngModel)]="data.STATUS">
            </nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Radio Buttons -->

    <!-- </nz-spin> -->
  </form>

  <div class="footer">
    <button type="button" nz-button style="margin-right: 8px" class="ant-btn" style="margin-right: 8px"
      (click)="close(accountMasterPage)">
      <span>Cancel</span>
    </button>

    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      [nzLoading]="isSpinning" (click)="save(false, accountMasterPage)">
      <span>Save & Close</span>
    </button>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc" style="border-radius: 4px; color: white !important">
          <a style="color: white !important" (click)="save(true, accountMasterPage)">Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>

    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false, accountMasterPage)">
      <span>Update & close</span>
    </button>
  </div>

  <!-- <nz-modal
      [nzWidth]="900"
      [(nzVisible)]="ImageModalVisible"
      nzMaskClosable="false"
      nzClosable="false"
      [nzContent]="content"
      [nzTitle]="'Image View'"
      (nzOnCancel)="ImageModalCancel()"
      [nzFooter]="ImageModalFooter"
    >
      <ng-template #content>
        <nz-spin [nzSpinning]="isSpinning">
          <div
            *ngIf="imageshow != undefined && imageshow != null && imageshow != ''"
            class="ss"
            style="height: 400px; overflow: auto"
          >
            <iframe
              [src]="imageshow"
              style="width: 832px; height: 396px"
              frameborder="0"
            ></iframe>
          </div>
        </nz-spin>
      </ng-template>
      <ng-template #ImageModalFooter>
        <button nz-button nzType="default" (click)="ImageModalCancel()">
          Close
        </button>
      </ng-template>
    </nz-modal> -->


  <nz-modal [nzWidth]="900" [(nzVisible)]="ImageModalVisible" nzMaskClosable="false" nzClosable="false"
    [nzContent]="content" [nzTitle]="'Image View'" (nzOnCancel)="ImageModalCancel()" [nzFooter]="ImageModalFooter">
    <ng-template #content>
      <nz-spin [nzSpinning]="isSpinning">
        <div *ngIf="imageshow != undefined && imageshow != null && imageshow != ''" class="ss"
          style="height: 400px; overflow: auto">
          <iframe [src]="imageshow" style="width: 832px; height: 396px" frameborder="0"></iframe>
        </div>
      </nz-spin>
    </ng-template>
    <ng-template #ImageModalFooter>
      <button nz-button nzType="default" (click)="ImageModalCancel()">
        Close
      </button>
    </ng-template>
  </nz-modal>
</div>