<div nz-row nzType="flex" class="header-container">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6">
    <div class="formname">
      <b>{{ formTitle }}</b>
    </div>
  </div>
  <div
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="24"
    nzLg="18"
    nzXl="18"
    class="search-container"
  >
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            name="search"
            nz-input
            placeholder="Search Records"
            (keyup)="keyup($event)"
            [(ngModel)]="searchText"
            class="search-input"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button
            nz-button
            nzType="primary"
            (click)="search(true)"
            nzSearch
            class="search-button"
          >
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
    </form>
  </div>
</div>
<br />
<div nz-row class="table-container">
  <div nz-col nzSpan="24">
    <nz-table
      class="my-scroll no-wrap1 check-item-table"
      nzBordered
      #CheckItemTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="dataList"
      [nzLoading]="loadingRecords"
      [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)"
      [nzScroll]="{ x: '1500px', y: '460px' }"
      nzSize="small"
    >
      <thead>
        <tr>
          <th nzLeft class="action-header">Action</th>
          <th [nzSortFn]="true" nzColumnKey="DATE" class="date-header">Date</th>
          <th
            [nzSortFn]="true"
            nzColumnKey="MOVEMENT_REQUEST_NO"
            class="movement-no-header"
          >
            Movement Request No.
          </th>
          <th
            [nzSortFn]="true"
            nzColumnKey="FROM_GODOWN_NAME"
            class="from-godown-header"
          >
            From Godown Name
          </th>
          <th
            [nzSortFn]="true"
            nzColumnKey="TO_GODOWN_NAME"
            class="to-godown-header"
          >
            To Godown Name
          </th>
          <th
            [nzSortFn]="true"
            nzColumnKey="VEHICLE_NO"
            class="vehicle-no-header"
          >
            Vehicle No
          </th>
          <th
            [nzSortFn]="true"
            nzColumnKey="TOTAL_ITEMS"
            class="total-items-header"
          >
            Total Items
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of CheckItemTable.data" class="table-row">
          <td align="center" nzLeft class="action-cell">
            <a (click)="edit(data)" class="edit-link">
              <span nz-icon class="edit-icon">Check</span>
            </a>
          </td>
          <td class="date-cell">
            {{ data["DATE"] | date : "dd/MM/yyyy" }}
          </td>
          <td class="movement-no-cell">
            {{ data["MOVEMENT_REQUEST_NO"] }}
          </td>
          <td class="from-godown-cell">
            {{ data["FROM_GODOWN_NAME"] }}
          </td>
          <td class="to-godown-cell">
            {{ data["TO_GODOWN_NAME"] }}
          </td>
          <td class="vehicle-no-cell">
            {{ data["VEHICLE_NO"] }}
          </td>
          <td class="total-items-cell">
            {{ data["TOTAL_ITEMS"] }}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer
    [nzBodyStyle]="drawerBodyStyle"
    [nzClosable]="true"
    [nzMask]="true"
    [nzMaskClosable]="false"
    [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle"
    (nzOnClose)="drawerClose()"
    (nzKeyboard)="(true)"
    [nzWidth]="unitWidth"
  >
    <ng-container *nzDrawerContent>
      <app-check-item
        [drawerClose]="closeCallback"
        [drawerVisible]="drawerVisible"
        [data]="drawerData"
        [items]="items"
        [editdata]="editdata"
        [update]="update"
      >
      </app-check-item>
    </ng-container>
  </nz-drawer>
</div>
