:host::ng-deep .ant-card-body {
    padding: 0px;
  }
  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
    display: inline-block;
  }
.back-arrow {
  font-weight: bold;
  cursor: pointer;
}
.header-controls {
  display: flex;
  justify-content: flex-end;
}
.user-type-form-item {
  width: 250px;
}
.user-type-label {
  font-weight: 500;
}
.user-type-select {
  width: 100%;
}
.excel-button {
  color: white;
}
.filter-toggle-form-item {
  width: 47px;
}
.filter-toggle-button {
  cursor: pointer;
}
.filter-content-row {
  padding-top: 0px;
}
.filter-spinner-container {
  text-align: center;
  padding: 40px 0;
}
.filters-grid {
  margin-top: 10px;
}
.filter-card-col {
  margin-bottom: 8px;
}
.filter-card {
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
  align-items: center;
}
.filter-card-header {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
  position: relative;
  margin-bottom: 10px;
}
.filter-name {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.applied-filter-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.filter-actions-row {
  margin-top: 7px;
}
.filter-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.filter-action {
  cursor: pointer;
  font-size: 10px !important;
}
.edit-action {
  margin-right: 5px;
}
.apply-action {
  margin-right: 5px;
}
.clear-action {
  margin-right: 5px;
}
.delete-action {
  margin-right: 5px;
}
.view-action {
  margin-right: 0px;
}
.action-icon {
  font-size: 10px !important;
}
.no-filters-message {
  text-align: center;
  color: red;
  font-weight: bold;
  padding: 40px 0;
}
.filter-footer {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
  border-top: 1px solid #e8e8e8;
  padding-top: 15px;
}
.footer-button {
  margin-right: 10px;
}
.table-container {
  margin-top: 10px;
}
.date-header {
  text-align: center;
}
.user-name-header {
  text-align: center;
}
.action-header {
  text-align: center;
}
.date-cell {
  text-align: center;
}
.user-name-cell {
  white-space: pre-line;
}
.action-cell {
  text-align: center;
}
.date-range-filter-picker {
  width: 100%;
}
.modal-filter-text {
  text-align: center;
  word-wrap: break-word;
  padding: 10px;
}
