th {
  text-align: center !important;
  vertical-align: middle !important;
}
.select {
  width: 200px;
  padding: 8px;
  display: block;
}
.search-box {
  padding: 8px;
}
.search-box input {
  width: 188px;
  display: block;
}
.search-box button {
  width: 90px;
}
.search-button {
  margin-right: 8px;
}
nz-select {
  width: 100%;
}
:host ::ng-deep .ant-card-body {
  padding: 0px;
}
truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}
.back-arrow {
  font-weight: bold;
  cursor: pointer;
}
.header-actions {
  display: flex;
  justify-content: flex-end;
}
.filter-btn-width {
  width: 47px;
}
.filter-padding {
  padding-top: 0px;
}
.center-align {
  text-align: center;
}
.filter-card-margin {
  margin-bottom: 8px;
}
.filter-card {
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
  align-items: center;
}
.filter-card-content {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.filter-card-title {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.filter-check-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.filter-actions {
  margin-top: 7px;
}
.filter-tags-container {
  display: flex;
  justify-content: space-between;
}
.filter-tag {
  cursor: pointer;
  font-size: 10px !important;
}
.filter-tag-icon {
  font-size: 10px !important;
}
.filter-tag-last {
  margin-right: 0px;
}
.no-data-message {
  text-align: center;
  color: red;
  font-weight: bold;
}
.filter-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.filter-btn-margin {
  margin-right: 10px;
}
.table-margin {
  margin-top: 8px;
}
.edit-tag {
  cursor: pointer;
}
.edit-tag-icon {
  font-size: 15px;
}
.modal-query-text {
  text-align: center;
}