nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
}

.category-charcount-text-aj91 {
    color: red;
    font-size: 10px;
}

.footer-cancel-mr-aj92 {
    margin-right: 12px;
}

.footer-dropdown-item-aj93 {
    border-radius: 4px;
    color: white !important;
}

.footer-dropdown-link-aj94 {
    color: white !important;
}