.cardstyle{
    background-color: #fff;
      cursor: pointer;
      padding: 15px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
      border: 1px solid #efefef;
      border-radius: 10px;
}




.mainnam {
    color: #000;
    font-size: 13px !important;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .subnamm {
    color: #6A6A6A;
    font-size: 12px !important;
    font-weight: 500;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
