.my-box {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fafafa;
  }
  .header {
    position: absolute;
    top: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    right: 0px;
 }
th {
  text-align: center !important;
  vertical-align: middle !important;
}
.select{
width: 200px;
padding: 8px;
display: block;
}
.search-box {
  padding: 8px;
}
.search-box input {
  width: 188px;
  display: block;
}
.search-box button {
  width: 90px;
}
.search-button {
  margin-right: 8px;
}
nz-select {
  width: 100%;
}
.back-arrow-icon {
  font-weight: bold;
  cursor: pointer;
}
.flex-end-container {
  display: flex;
  justify-content: flex-end;
}
.new-button-container {
  margin-right: 0px;
}
.table-row-margin {
  margin-top: 10px;
}
.table-pre-line {
  white-space: pre-line;
}
.action-header-center {
  text-align: center;
}
.status-header-center {
  text-align: center;
}
.edit-tag {
  cursor: pointer;
}
.edit-icon {
  font-size: 15px;
}
.full-width-select {
  width: 100%;
}
.drawerBodyStyle {
  height: calc(100% - 55px);
  overflow: auto;
  padding-bottom: 53px;
}