<div>
  <form nz-form>
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Parent Role</nz-form-label>
            <nz-input-group>
              <nz-select name="PARENT_ID" nzPlaceHolder="Select Parent Role" nzShowSearch class="bo-full-width"
                [(ngModel)]="data.PARENT_ID" (ngModelChange)="onChange($event)">
                <nz-option [nzValue]="0" [nzLabel]="'None'"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Name</nz-form-label>
            <nz-form-control nzHasFeedback
              nzErrorTip="Enter Role Name. Only alphabets, spaces, and underscores are allowed.">
              <input nz-input name="name" placeholder="Enter Role Name" [(ngModel)]="data.NAME" required maxlength="128"
                autocomplete="off" (keypress)="commonFunction.allowOnly($event)" (focus)="isFocused = 'name'"
                (blur)="isFocused = ''" />
              <h6 class="bo-char-count" *ngIf="data.NAME && isFocused === 'name'">
                {{ data.NAME.length || 0 }}/128
              </h6>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Type</nz-form-label>
            <nz-select name="TYPE" nzShowSearch class="bo-full-width" [(ngModel)]="data.TYPE"
              nzPlaceHolder="Select Type">
              <nz-option nzValue="Super Admin" nzLabel="Super Admin"></nz-option>
              <nz-option nzValue="Back Office" nzLabel="Back Office"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>

  <div class="footer">
    <button type="button" nz-button (click)="close()" class="ant-btn bo-footer-btn">
      <span>Cancel</span>
    </button>

    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      (click)="save(false)">
      <span>Save & Close</span>
    </button>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc bo-save-new-menu">
          <a class="bo-save-new-link" (click)="save(true)">Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>

    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false)">
      <span>Update & close</span>
    </button>
  </div>
</div>