<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table
      #basicTable
      [nzBordered]="true"
      [nzSize]="'middle'"
      [nzShowPagination]="true"
      [nzData]="paymentTransactionData"
      [nzScroll]="{ x: '500px' }"
      (nzQueryParams)="sort($event)"
      class="payment-transaction-table"
    >
      <thead>
        <tr>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="CUSTOMER_NAME"
            class="customer-name-header"
          >
            Customer Name
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="MOBILE_NUMBER"
            class="mobile-number-header"
          >
            Mobile Number
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="SERVICE_NAME"
            class="service-name-header"
          >
            Service Name
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="SERVICE_FULL_NAME"
            class="service-full-name-header"
          >
            Service Full Name
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="ORDER_NAME"
            class="order-name-header"
          >
            Order Name
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="ORDER_NO"
            class="order-number-header"
          >
            Order Number
          </th>
          <th
            nzWidth="200px"
            [nzSortFn]="true"
            nzColumnKey="JOB_CARD_NO"
            class="job-card-number-header"
          >
            Job Card Number
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="SERVICE_AMOUNT"
            class="service-amount-header"
          >
            Service Amount
          </th>
          <th
            nzWidth="170px"
            [nzSortFn]="true"
            nzColumnKey="TRANSACTION_ID"
            class="transaction-id-header"
          >
            Transaction Id
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="TRANSACTION_DATE"
            class="transaction-date-header"
          >
            Transaction Date
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="TRANSACTION_AMOUNT"
            class="transaction-amount-header"
          >
            Transaction Amount
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="TRANSACTION_STATUS"
            class="transaction-status-header"
          >
            Transaction Status
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="PAYMENT_MODE"
            class="payment-mode-header"
          >
            Payment Mode
          </th>
          <th
            nzWidth="150px"
            [nzSortFn]="true"
            nzColumnKey="PAYMENT_FOR"
            class="payment-for-header"
          >
            Payment For
          </th>
          <th
            nzWidth="200px"
            [nzSortFn]="true"
            nzColumnKey="SERVICE_ADDRESS"
            class="service-address-header"
          >
            Service Address
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data" class="table-row">
          <td class="customer-name-cell">{{ data.CUSTOMER_NAME }}</td>
          <td class="mobile-number-cell">
            {{ data.MOBILE_NUMBER }}
          </td>
          <td class="service-name-cell">
            {{ data.SERVICE_NAME }}
          </td>
          <td class="service-full-name-cell">
            {{ data.SERVICE_FULL_NAME }}
          </td>
          <td class="order-name-cell">{{ data.ORDER_NAME }}</td>
          <td class="order-number-cell">{{ data.ORDER_NO }}</td>
          <td class="job-card-number-cell">{{ data.JOB_CARD_NO }}</td>
          <td class="service-amount-cell">{{ data.SERVICE_AMOUNT }}</td>
          <td class="transaction-id-cell">{{ data.TRANSACTION_ID }}</td>
          <td class="transaction-date-cell">{{ data.TRANSACTION_DATE }}</td>
          <td class="transaction-amount-cell">{{ data.TRANSACTION_AMOUNT }}</td>
          <td class="transaction-status-cell">{{ data.TRANSACTION_STATUS }}</td>
          <td class="payment-mode-cell">{{ data.PAYMENT_MODE }}</td>
          <td class="payment-for-cell">{{ data.PAYMENT_FOR }}</td>
          <td class="service-address-cell">{{ data.SERVICE_ADDRESS }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-modal
  [nzWidth]="1000"
  [nzBodyStyle]="{ height: '590px' }"
  [nzStyle]="{ top: '10px' }"
  [(nzVisible)]="isModalVisible"
  nzMaskClosable="false"
  nzClosable="false"
  [nzContent]="content"
  [nzTitle]="'Invoice PDF'"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="ImageModalFooter"
  class="pdf-modal"
>
  <ng-template #content>
    <div id="printModal" class="pdf-modal-content">
      <iframe [src]="pdfUrl" class="pdf-iframe" frameborder="0"> </iframe>
    </div>
  </ng-template>
  <ng-template #ImageModalFooter>
    <button
      type="button"
      nz-button
      (click)="handleCancel()"
      class="modal-close-btn"
    >
      <span>Close</span>
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="downloadPDF()"
      class="modal-download-btn"
    >
      Download PDF
    </button>
  </ng-template>
</nz-modal>
