th {
    text-align: center !important;
    vertical-align: middle !important;
  }
  .select{
  width: 200px;
  padding: 8px;
  display: block;
  }
  .btn.helpdoc {
    background-color: #39b793;
    color: white;
  }
  .search-box {
    padding: 8px;
  }
  .inputsize {
    font-size: 11px !important;
  }
  .datesize>div>input {
    font-size: 11px !important;
  }
  .inputgroup>span>span {
    font-size: 11px !important;
  }
  .optiongroup>div {
    font-size: 11px !important;
  }
  .search-box input {
    width: 188px;
    display: block;
  }
  .search-box button {
    width: 90px;
  }
  .search-button {
    margin-right: 8px;
  }
  nz-select {
    width: 100%;
  }
  .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 15px 0px 0px 0px;
    padding: 0px;
  }
  .card-header {
    justify-content: space-between;
    align-items:center;
        margin-bottom: 0px;
        padding: 0px !important;
    background-color: white!important;
    border-radius: 8px 8px 0px 0px!important;
    height: 28px;
  }
  .category-name {
    font-weight: bold;
    color: #333;
  }
  .subcategory-name {
    font-weight: bold;
    color: #555;
  }
  .tag {
  font-size: 12px;
  font-weight: bold;
  padding: 3px 12px;
  border-radius: 0px 8px 0px 8px;
  position: relative;
  display: inline-block;
  }
  .card-body {
  align-items: flex-start; 
  gap: 20px;
  }
  .details {
  flex: 1; 
  }
  .service-image {
  flex-shrink: 0; 
  text-align: right;
  }
  .name {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  .truncate-one-line {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    line-clamp: 1;
    max-height: calc(1.5em * 1); 
    cursor: pointer;
    line-height: 1.5em;
  }
  .truncate-three-lines {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    max-height: calc(1.5em * 3); 
    cursor: pointer;
    line-height: 1.5em;
  }
  .description {
    margin: 0;
    color: #555;
    font-size: 14px;
  }
  .service-image {
    flex: 1;
    text-align: right;
  }
  .service-image img {
    padding: 0px 15px 0pc 10px;
    border-radius: 0px;
    border: none;
  }
  .card-footer {
    margin-top: 0px;
  }
  .btn {
    padding: 5px 2px !important;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn.edit {
    background-color: #007bff;
    color: white;
  }
  .btn.edit-details {
    background-color: #ffc107;
    color: black;
  }
  .btn.add-subservice {
    background-color: #28a745;
    color: white;
  }
  .btn.editmap {
    background-color: #af93ff;
    color: white;
  }
  .btn:hover {
    opacity: 0.9;
  }
  .nz-col {
    padding-left: 10px; 
    padding-right: 10px; 
  }
  .activebtns{
    background: #092b9c!important;
    border-color: #092b9c!important;
    color: white !important;
  }
  .custom-popover {
    max-width: 600px; 
    max-height: 400px; 
    overflow-y: auto; 
    white-space: normal !important;
    word-wrap: break-word !important;
  }
  .custom-popover img {
    max-width: 100% !important; 
    max-height: 200px !important; 
    height: auto !important;
    display: block;
    margin: auto;
    border-radius: 5px;
  }
.flex-end-container {
  display: flex;
  justify-content: flex-end;
}
.flex-container {
  display: flex;
}
.flex-align-center {
  display: inline-flex;
  align-items: center;
}
.form-item-no-margin {
  margin-right: 0px;
}
.form-item-inline {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.form-item-mb-0 {
  margin-bottom: 0px;
}
.radio-button-height {
  height: 27px;
  margin-top: 0px !important;
}
.icon-size-12 {
  font-size: 12px;
}
.icon-size-15 {
  font-size: 15px;
}
.icon-green {
  color: #01ac5c;
  margin-right: 8px;
}
.icon-red {
  color: red;
  margin-right: 8px;
}
.icon-blue {
  color: blue;
}
.margin-10-0 {
  margin: 10px 0px;
}
.margin-5 {
  margin: 5px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-38 {
  margin-top: 38px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-0-important {
  margin: 0px !important;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-4-0-0-9 {
  padding: 4px 0px 0px 9px;
  display: flex;
  justify-content: flex-start;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-right-3 {
  padding-right: 3px;
}
.padding-0-3 {
  padding: 0px 3px;
}
.padding-left-3 {
  padding-left: 3px;
}
.padding-8 {
  padding: 8px;
}
.border-dashed-black {
  border: 1px dashed black;
  border-radius: 5px;
  padding: 10px;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-left {
  align: left;
}
.text-justify {
  text-align: justify;
  font-size: 11px !important;
}
.color-red {
  color: red;
}
.color-red-bold {
  color: red;
  font-size: 11px;
}
.color-black {
  color: black;
  margin-right: 10px;
}
.color-grey-12 {
  color: #888;
  font-size: 12px;
}
.color-2d3748-14 {
  font-size: 14px;
  color: #2d3748;
  font-weight: 500;
}
.color-4a5568-12 {
  font-size: 12px;
  color: #4a5568;
}
.color-4a5568-12-border {
  font-size: 12px;
  color: #4a5568;
  border-bottom: 1px solid grey;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-bold {
  font-weight: bold;
}
.font-size-11 {
  font-size: 11px !important;
  font-weight: 500;
}
.font-size-11-important {
  font-size: 11px !important;
}
.width-100 {
  width: 100%;
}
.width-100-important {
  width: 100% !important;
}
.width-60px {
  width: 60px;
}
.width-78px {
  width: 78px !important;
}
.width-128px {
  width: 128px;
}
.height-100px {
  height: 100px;
}
.height-102px {
  height: 102px;
}
.height-400px {
  height: 400px;
  overflow: auto;
}
.height-75vh {
  height: 75vh;
}
.display-flex-justify-center-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-flex-justify-end {
  display: flex;
  justify-content: flex-end;
}
.btn-primary-small {
  padding: 0px 11px !important;
  background: #fafafa !important;
  color: #393d39 !important;
  border-color: #d9d9d9 !important;
  border-left: none !important;
  box-shadow: none;
  border-top-left-radius: 0px !important;
  cursor: none !important;
  border-bottom-left-radius: 0px !important;
}
.btn-white-blue {
  background: white !important;
  color: #092b9c !important;
}
.card-body-height {
  height: 102px;
}
.overflow-auto {
  overflow: auto;
}
.white-space-pre-line {
  white-space: pre-line;
}
.iframe-full {
  width: 832px;
  height: 396px;
}
.iframe-no-border {
  frameborder: 0;
}
.modal-top-20 {
  top: 20px;
}
.custom-select-width {
  width: 78px !important;
}
.truncate-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  width: 100%;
  font-size: 11px !important;
}
.card-footer {
  padding: 5px;
}
.tag {
  margin: 0px !important;
}
.details {
  height: 102px;
}
