.cardstyle {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #efefef;
  border-radius: 10px;
}
:host::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-item {
  color: #282828 !important;
  font-weight: 400 !important;
}
.truncate-text {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-text1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}
.mainnam {
  color: #000;
  font-size: 13px !important;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subnamm {
  color: #6A6A6A;
  font-size: 12px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::-webkit-scrollbar {
  height: 5px;
  width: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233);
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 5px rgb(169, 168, 168);
}
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px rgb(8, 8, 8);
}
.ant-drawer-body {
  padding: 8px 20px !important;
}
.footer {
  left: 8px;
  width: 97% !important;
  background: white !important;
  padding: 10px !important;
  border-radius: 5px !important;
}
.backbbb {
  background: white !important;
  padding: 10px !important;
  border-radius: 5px !important;
}
.cardstyle1 {
  background-color: #fff;
  cursor: pointer;
  padding: 15px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #efefef;
  border-radius: 10px;
}
.mainnam1 {
  color: #000;
  font-size: 13px !important;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subnamm1 {
  color: #6A6A6A;
  font-size: 12px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nz-form-itemm {
  display: inline-block !important;
  margin-bottom: 5px !important;
  width: -webkit-fill-available !important;
  padding: 0px 10px !important;
  font-family: '"Poppins", sans-serif !important';
}
nz-form-item {
  margin-top: 5px;
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.select-container {
  display: flex;
  justify-content: center;
}
body {
  font-family: Arial, sans-serif;
}
.chat-container {
  max-height: 66vh;
  min-height: 55vh;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px;
  overflow: hidden;
}
.message-box {
  flex-grow: 1;
  margin-bottom: 10px;
  padding-right: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f4f4f4;
}
.message-box::-webkit-scrollbar {
  width: 2px;
}
.message-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.message-box::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 3px;
}
.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.customer-message {
  max-width: 70% !important;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
.technician-message {
  max-width: 70%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
.customer-name,
.technician-name {
  font-weight: bold;
  font-size: 10px !important;
}
.timestamp {
  font-size: 10px !important;
  color: gray;
  margin-top: 5px;
}
.message-text {
  font-size: 13px;
  margin-top: 5px;
  background-color: #e4e4e4;
  padding: 5px;
  border-radius: 5px;
}
.technician-message .message-text {
  background-color: #d3f9d8;
}
.input-area {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
textarea {
  width: 80%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
}
.whatsapp-send-icon {
  width: 13%;
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 20px;
  height: 37px;
  cursor: pointer;
}
.whatsapp-send-icon:hover {
  background-color: #45a049;
}
.paper-clip {
  margin-right: 2px;
  background-color: #f4f4f4;
  border: none;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
}
h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.group-date {
  font-size: 12px;
  font-weight: bold;
  margin: 20px 0 10px;
  color: #555;
}
.event-details {
  padding: 10px 0;
}
.event-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}
.event-meta {
  margin-top: 4px;
  font-size: 0.85rem;
  color: #888;
}
.event-meta .time {
  margin-right: 10px;
}
.event-description {
  margin-top: 5px;
  font-size: 10px;
  color: #666;
}
.icon {
  font-size: 1.2rem;
}
.invoice-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.5;
}
.invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}
.company-info h2 {
  margin: 0;
  font-size: 22px;
  color: #092B9C !important;
}
.company-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.invoice-info {
  text-align: right;
}
.invoice-info h3 {
  margin: 0;
  font-size: 24px;
  color: #444;
}
hr {
  border: 0;
  border-top: 1px solid #e4e4e4;
  margin: 20px 0;
}
.customer-info h3 {
  margin: 0;
  font-size: 20px;
  color: #444;
}
.customer-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.detail p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.order-details {
  margin-top: 20px;
}
.order-details h3 {
  margin: 0;
  font-size: 20px;
  color: #444;
}
.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
.invoice-table th,
.invoice-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 14px;
}
.invoice-table th {
  background-color: #f7f7f7;
}
.invoice-summary {
  text-align: right;
  margin-top: 20px;
}
.invoice-summary p {
  margin: 5px 0;
  font-size: 16px;
}
.invoice-footer {
  text-align: center;
  margin-top: 30px;
}
.invoice-footer p {
  font-size: 14px;
  color: #666;
}
.invoice-footer .thank-you {
  font-size: 16px;
  font-weight: bold;
  color: #092B9C !important;
}
.invoice-container {
  max-height: 600px;
  overflow-y: scroll;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
}
.invoice-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.invoice-table {
  width: 100%;
  border-collapse: collapse;
}
.invoice-table th,
.invoice-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
.invoice-footer {
  margin-top: 20px;
  font-size: 14px;
}
.invoice-header h2,
.invoice-info h3 {
  font-size: 18px;
}
.nz-modal-title {
  font-size: 20px;
  font-weight: bold;
}
.subname {
  color: #4c4c4ceb;
  font-size: 12px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  overflow: auto;
}
.image-container img {
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
  max-height: 100%;
}
.controls {
  display: flex;
  justify-content: end;
}
.controls button {
  margin-left: 5px;
  cursor: pointer;
}
.controls button:hover {
  background-color: #0056b3;
}
.gutter-row-fixed-height-scroll {
  min-height: 88vh;
  max-height: 88vh;
  overflow: auto;
}
.order-header-left {
  text-align: start;
}
.order-header-right {
  text-align: end;
}
.order-badge {
  color: #1d39c4 !important;
  background: #f0f5ff !important;
  border-color: #adc6ff !important;
  padding: 5px;
}
.order-badge-number {
  font-size: 11px !important;
}
.order-badge-date {
  font-size: 10px !important;
}
.order-customer-row {
  font-size: 12px !important;
  margin-top: 4px;
  overflow: hidden;
  white-space: nowrap;
}
.order-user-icon {
  margin-right: 3px;
}
.order-address-text {
  font-size: 12px !important;
  text-align: start;
}
.order-contact-left {
  font-size: 11px !important;
  text-align: start;
}
.order-contact-right {
  font-size: 11px !important;
  text-align: end;
}
.order-call-link {
  margin-right: 3px;
  color: #262626 !important;
  cursor: pointer;
}
.order-call-icon {
  color: #262626 !important;
}
.order-cart-wrapper {
  margin-top: 10px;
  display: block;
  overflow: auto;
}
.order-cart-header {
  display: flex;
  justify-content: space-between;
}
.order-track-btn {
  padding: 0 5px;
  font-size: 7px !important;
  height: 25px !important;
}
.order-track-text {
  font-size: 11px !important;
}
.order-cart-items-wrapper {
  max-height: 30vh;
  overflow: auto;
}
.order-cart-item {
  font-size: 11px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px,
    rgb(209, 213, 219) 0 0 0 1px inset;
  padding: 10px;
  margin-bottom: 4px;
}
.order-item-image-col {
  text-align: right;
}
.order-item-image-icon {
  cursor: pointer;
  border: 1px solid grey;
  padding: 3px 4px;
  border-radius: 50px;
  background: white;
  margin-top: -5px;
  font-size: 12px !important;
}
.order-item-brand {
  font-size: 10px !important;
  font-weight: 400;
  color: grey;
}
.order-item-description {
  font-size: 10px !important;
  font-weight: 400;
  color: grey;
}
.order-item-rate {
  font-weight: 500;
  font-size: 11px !important;
}
.order-item-total {
  text-align: right;
  font-weight: 500;
  font-size: 12px !important;
}
.order-summary-row {
  font-size: 12px;
}
.order-summary-label {
  text-align: right;
}
.order-summary-value {
  text-align: right;
}
.order-summary-small {
  font-size: 9px !important;
}
.order-summary-total-row {
  border-top: 1px dashed #7e7272;
  padding: 1px 0;
  font-size: 12px;
}
.order-summary-total-label {
  font-weight: 600;
  text-align: right;
}
.order-summary-total-value {
  font-weight: bold;
  text-align: right;
}
.order-other-detail {
  font-size: 12px;
}
.order-other-value {
  font-weight: 500;
}
.order-footer-tag {
  width: 100% !important;
  text-align: center;
  font-size: 14px !important;
}
.order-verification-icon-pending {
  color: orange;
}
.order-verification-icon-success {
  color: green;
}
.order-scroll-container {
  max-height: 78vh;
  min-height: 76vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
.verify-title {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.verify-process-text {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  color: #0a2b9e;
}
.inline-radio-group {
  display: inline-block;
}
.radio-label {
  margin-right: 10px;
  font-weight: 600;
}
.shiprocket-radio {
  margin-right: 20px;
}
.radio-text {
  font-size: 13px !important;
  margin-right: 4px;
  font-weight: 500 !important;
}
.verify-status-section {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 35px;
}
.radio-accept {
  color: green;
  margin-right: 20px;
  font-weight: 600;
}
.radio-reject {
  color: red;
  margin-right: 20px;
  font-weight: 600;
}
.status-text {
  font-size: 16px !important;
  margin-right: 4px;
}
.status-icon {
  font-size: 18px !important;
}
.verify-form-wrapper {
  padding: 10px;
}
.full-width-textarea {
  width: 100%;
}
.remark-counter {
  color: red;
  font-size: 10px;
}
.verify-action-buttons {
  text-align: center;
  padding-bottom: 20px;
}
.action-btn-margin {
  margin-top: 10px;
}
.action-btn-margin-lg {
  margin-top: 20px;
}
.order-center-title {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.order-process-question {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  color: #0a2b9e;
}
.order-inline-radio-group {
  display: inline-block;
}
.order-radio-option {
  margin-right: 10px;
  font-weight: 600;
}
.order-radio-option-wide {
  margin-right: 20px;
}
.order-radio-text {
  font-size: 13px !important;
  margin-right: 4px;
  font-weight: 500 !important;
}
.order-accept-reject-section {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 35px;
}
.order-radio-accept {
  color: green;
  margin-right: 20px;
  font-weight: 600;
}
.order-radio-reject {
  color: red;
  margin-right: 20px;
  font-weight: 600;
}
.order-status-text {
  font-size: 16px !important;
  margin-right: 4px;
}
.order-status-icon {
  font-size: 18px !important;
}
.order-box-padding {
  padding: 10px;
}
.order-full-width-textarea {
  width: 100%;
}
.order-remark-counter {
  color: red;
  font-size: 10px;
}
.order-warehouse-header {
  display: flex;
  justify-content: space-between;
}
.order-view-stock-tag {
  width: 100% !important;
  text-align: center;
  cursor: pointer;
  font-size: 13px !important;
}
.order-full-width-textarea {
  width: 100%;
}
.order-remark-counter {
  color: red;
  font-size: 10px;
}
.order-full-width-datepicker {
  width: 100%;
}
.order-action-container {
  text-align: center;
  padding-bottom: 20px;
}
.order-action-btn-sm {
  margin-top: 10px;
}
.order-action-btn-lg {
  margin-top: 20px;
}
.order-status-header-centered {
  text-align: center;
  padding: 10px;
  font-size: 16px;
}
.order-status-text-weight {
  font-weight: 500;
}
.order-box-padding {
  padding: 10px;
}
.stage-title-centered {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
.button-container-centered {
  text-align: center;
  padding-bottom: 20px;
}
.button-margin-top-30 {
  margin-top: 30px;
}
.button-padding-bottom-20 {
  padding-bottom: 20px;
}
.cancel-request-message {
  text-align: center;
  padding-top: 30vh;
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 30, 0);
}
.shipment-details-container {
  max-height: 78vh;
  min-height: 76vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
.shipment-details-padding {
  padding: 10px;
}
.shipment-details-header {
  text-align: center;
  color: #1d39c4 !important;
  background: #f0f5ff !important;
  border-color: #adc6ff !important;
  padding: 5px;
}
.shipment-details-header-text {
  font-size: 15px !important;
}
.shipment-item-margin {
  margin-top: 10px;
  color: #5a5a5a !important;
}
.shipment-item-label {
  font-weight: 600 !important;
}
.shipment-label-margin {
  margin-top: 10px;
}
.order-rejected-message {
  text-align: center;
  padding-top: 30vh;
  font-size: 20px;
  font-weight: 500;
  color: red;
}
.order-cancelled-message {
  text-align: center;
  padding-top: 30vh;
  font-size: 20px;
  font-weight: 500;
  color: red;
}
.order-delivered-message {
  text-align: center;
  padding-top: 30vh;
  font-size: 20px;
  font-weight: 500;
  color: rgb(2, 95, 47);
}
.order-status-header-centered {
  text-align: center;
  padding: 10px;
  font-size: 16px;
}
.order-status-text-weight {
  font-weight: 500;
}
.order-box-padding {
  padding: 10px;
}
.stage-title-centered {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
.courier-button-form-item {
  margin: 0px !important;
  text-align: center;
}
.courier-button-style {
  margin-top: 31px;
  color: #00308d;
  border-color: #00308d;
}
.button-container-centered {
  text-align: center;
  padding-bottom: 20px;
}
.button-margin-top-30 {
  margin-top: 30px;
}
.tab-content-container {
  max-height: 78vh;
  min-height: 76vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
.warehouse-details-padding {
  padding: 10px;
}
.warehouse-header-section {
  text-align: center;
  color: #1d39c4 !important;
  background: #f0f5ff !important;
  border-color: #adc6ff !important;
  padding: 5px;
}
.warehouse-header-text {
  font-size: 15px !important;
}
.warehouse-info-item-margin {
  margin-top: 10px;
}
.warehouse-info-item-margin-small {
  margin-top: 5px;
}
.warehouse-info-item-margin-bottom {
  margin-top: 5px;
  margin-bottom: 10px;
}
.warehouse-info-label {
  font-weight: 600 !important;
}
.invoice-tab-margin {
  margin-left: 10px !important;
}
.order-image-container {
  height: 400px;
}
.order-row-margin-top {
  margin-top: 8px;
}
.order-table-preline {
  white-space: pre-line;
}