nz-card {
  width: 255px;
  overflow: auto;
  margin-bottom: 20px;
  border: 1px solid #d9e0eb;
  border-radius: 12px;
  background: #f1f2f636;
  transition: transform 0.2s, box-shadow 0.2s;
}
:host ::ng-deep .ant-card-head-title {
  border-bottom: none;
  padding: 3px 0px;
  color: #092B9C !important;
  font-weight: 500;
  font-size: 15px;
}
:host ::ng-deep .ant-card-head{
  min-height: 34px;
    margin-bottom: 0px;
    padding: 0 14px;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    font-size: 16px;
    background: 0 0;
    border-radius: 2px 2px 0 0;
}
:host ::ng-deep .ant-card-body {
  padding: 10px 15px;
  font-size: 14px;
}
p {
  margin-bottom: 10px !important;
  line-height: 1.5;
  padding-left: 5px !important;
}
p.hovered:hover {
  color: #092B9C !important;
  font-weight: bold;
}
p.searched {
  color: #000000 !important;
  background-color: rgb(250, 250, 96);
}
.ant-btn-primary {
  color: #fff;
  border-color: #092B9C !important;
  background: #092B9C !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  height: 35px !important;
}
.ant-card-head, .ant-card-head .ant-tabs-top-bar {
  border-bottom: 1px solid #f0f0f0;
}
.search-row-margin {
  margin-bottom: 5px;
}
.search-input-height {
  height: 35px;
}
.spin-horizontal-margin {
  margin: 0px 100px;
}
.content-scroll-area {
  height: 75vh;
  overflow: auto;
}
.card-column-center {
  display: flex;
  justify-content: center;
}
.menu-item-text {
  font-size: 13px;
  cursor: pointer;
}
.card-title-icon {
  margin-right: 5px;
  padding-top: 6px !important;
}
.menu-item-text {
  font-size: 13px;
}
