<div nz-row class="search-row-margin">
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input name="searchmenu" placeholder="Enter at least 3 characters and enter to search"
        [(ngModel)]="searchQuery" (ngModelChange)="onSearchQueryChange($event)" (keydown.enter)="onEnterKeyPress()"
        class="search-input-height" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>
        <span nz-icon nzType="search"></span>
      </button>
    </ng-template>
  </div>
  <div nz-col nzSpan="8"></div>
</div>
<br />
<nz-spin [nzSpinning]="loadingRecords" class="spin-horizontal-margin">
  <div nz-row [nzGutter]="8" class="content-scroll-area">
    <div nz-col nzSpan="6" *ngFor="let title of objectKeys(titleWiseChildren); let i = index"
      class="card-column-center">
      <nz-card [nzTitle]="cardTitle" [nzBodyStyle]="{ 'border-bottom': 'none' }">
        <div *ngFor="let child of titleWiseChildren[title]">
          <p [routerLink]="child.link" [ngStyle]="{ cursor: 'pointer' }"
            [ngClass]="{ hovered: true,searched: showclass && (child.title.toLowerCase().includes(searchQuery.toLowerCase()))}"
            (click)="onMenuClick()" class="menu-item-text">
            {{ child.title }}
          </p>
        </div>
      </nz-card>
      <ng-template #cardTitle>
        <i nz-icon [nzType]="forms[i].icon" class="card-title-icon"></i>
        {{ title }}
      </ng-template>
    </div>
  </div>
</nz-spin>