.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}
#Gstno {
  text-transform: lowercase;
  text-transform:  '_';
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
}
#Gstno::placeholder {
  text-transform: initial; 
}
#Gstno::before {
  content: attr(data-text); 
}
#Gstno::after {
  content: '_'; 
  white-space: pre; 
}
nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.vertical-card {
  width: 300px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  background-image: url('/assets/sms.jpg'); 
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif !important;
}
.vertical{
  font-family: 'Roboto', sans-serif !important;
  background-color: rgb(255, 255, 255);
  border-radius:0px 44px 44px 44px;
  margin-top: 1px;
  min-height: 20px;
  position: relative;
  overflow-wrap: break-word;
  padding: 10px;
}
  .image {
    margin: 0;
    padding: 0;
    background-image: url('/assets/sms.jpg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;
  }
  .phone-select {
    width: 70px;
  }
  .header {
      position: absolute;
      top: 0px;
      width: 100%;
      border-top: 1px solid rgb(232, 232, 232);
      padding: 10px 16px;
      text-align: right;
      right: 0px;
    }
    .my-box-top-margin {
  margin-top: 0px;
}
.character-count {
  color: red;
  font-size: 10px;
}
.format-button-bold {
  color: #efefef;
  width: 40px;
}
.bold-text {
  color: black;
}
.format-button-italic {
  color: #efefef;
  width: 40px;
}
.italic-text {
  color: black;
}
.template-textarea {
  margin-top: 5px;
  width: 100%;
  height: 155px;
}
.full-width-select {
  width: 100%;
}
.footer-cancel-btn {
  margin-right: 8px;
}