.limiter {
  width: 100vw;
  margin: 0 auto;
}

h2,
h1 {
  text-align: center;
  color: #63b3fd;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}
.loginb{
  background: #092B9C!important;
    border: 1px solid #092B9C!important;
}

.loginb:hover{
  background: #033AA8;
  border: 1px solid #033AA8;
}
.wrap-login100 {
  width: 350px;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login100-form-title {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 50%;
}

.inputbox {
  height: 45px;
  border-radius: 5px;
  margin-bottom: 20px;
}

nz-input-group {
  border-radius: 5px;
}

.login-form-button {
  width: 110px;
  height: 30px;
  background-color: #092B9C!important;
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.login-form-button:hover {
  background-color: #40a9ff;
}

.container-login100-form-btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.wrap-login100-form-btn {
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.login-form-forgot {
  float: right;
  font-size: 12px;
  color: #092B9C!important;
  margin-bottom: 10px;
  margin-top: 5px;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: linear-gradient(to left, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;
  transition: all 0.4s;
}

nz-form-item {
  display: inline-block;
  margin-bottom: 10px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

/* project name */
.project-title {
  font-size: 1.5rem;
  color: #1a73e8; /* Blue shade for a modern look */
  font-weight: 600;
  text-align: center;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif;
}

/* loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  position: fixed; /* Fix the loader in place */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a slight background for better visibility */
  z-index: 1000; /* Ensure it stays above other content */
}

.loader {
  border: 8px solid white; /* Background color for the loader */
  border-top: 8px solid #1a73e8; /* Color for the spinning part */
  border-radius: 50%;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  animation: spin 1s linear infinite; /* Increased speed */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

