<div>

  <form nz-form #accountMasterPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Organization Name </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Enter Organization Name">
              <input nz-input name="name" maxlength="128" placeholder="Enter Organization Name" [(ngModel)]="data.NAME"
                required [pattern]="namepattern" />
            </nz-form-control>
            <span style="color: red; font-size: 10px" *ngIf="data.NAME">{{ data.NAME.length }}/128</span>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Email ID </nz-form-label>
            <nz-form-control nzHasFeedback
              [nzErrorTip]="email.invalid && email.touched ? 'Please Enter Valid Email' : ''">
              <input nz-input name="email" placeholder="Enter Email" [disabled]="data.ID ? true:false"
                [(ngModel)]="data.EMAIL_ID" required maxlength="128" #email="ngModel" />
            </nz-form-control>
            <span style="color: red; font-size: 10px" *ngIf="data.EMAIL_ID">{{ data.EMAIL_ID.length }}/128</span>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Start Time</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please select start time">
              <nz-time-picker [(ngModel)]="data.DAY_START_TIME" name="day-start-time"
                nzShowTime="{ nzFormat: 'HH:mm a' }" nzFormat="HH:mm a" required [nzMinuteStep]="10"></nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>End Time</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please select end time">
              <nz-time-picker [(ngModel)]="data.DAY_END_TIME" name="day-end-time" nzShowTime="{ nzFormat: 'HH:mm a' }"
                nzFormat="HH:mm a" [nzDisabledHours]="disabledHoursForToTimeMorning()" [nzMinuteStep]="10"
                [nzDisabledMinutes]="disabledMinutesForToTimeMorning()" required></nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label nzNoColon>Is Have Service Price Edit Access?</nz-form-label>
            <nz-form-control>
              <nz-switch name="servicepriceOrg" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                [(ngModel)]="data.CAN_CHANGE_SERVICE_PRICE"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div> -->
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">

          <div class="my-box">
            <span><b>Organization Address Details</b></span>
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Address </nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Address">
                    <textarea nz-input rows="2" name="address1" autocomplete="off" placeholder="Enter Address"
                      maxlength="512" required="required" [(ngModel)]="data.ADDRESS"></textarea>
                    <span style="color: red; font-size: 10px" *ngIf="data.ADDRESS">{{ data.ADDRESS.length }}/512</span>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-row>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Country</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Select Country Name">
                    <nz-select name="countryId" nzPlaceHolder="Select Country Name" nzShowSearch style="width: 100%"
                      [(ngModel)]="data.COUNTRY_ID" (ngModelChange)="
                        getStatesByCountry(data.COUNTRY_ID, false)
                      " [ngModelOptions]="{ standalone: true }" required nzAllowClear>
                      <nz-option *ngFor="let data of CountryData" [nzValue]="data.ID" [nzLabel]="data.NAME">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>State</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Select State Name">
                    <nz-select name="stateId" nzPlaceHolder="Select State Name" nzShowSearch style="width: 100%"
                      [(ngModel)]="data.STATE_ID" [ngModelOptions]="{ standalone: true }" required nzAllowClear
                      (ngModelChange)="getDistByState(data.STATE_ID, false)" [nzLoading]="isStateSpinning">
                      <nz-option *ngFor="let data of StateData" [nzValue]="data.ID" [nzLabel]="data.NAME">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>District</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Select District Name">
                    <nz-select name="distId" nzPlaceHolder="Select District Name" nzShowSearch style="width: 100%"
                      [(ngModel)]="data.DISTRICT_ID" [ngModelOptions]="{ standalone: true }" required nzAllowClear
                      [nzLoading]="isDistSpinning" (ngModelChange)="onDistrictChange($event)">
                      <nz-option *ngFor="let data of DistData" [nzValue]="data.ID" [nzLabel]="data.NAME">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>City</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Select City Name">
                    <nz-select name="cityId" nzPlaceHolder="Select City Name" nzShowSearch style="width: 100%"
                      [(ngModel)]="data.CITY_ID" [ngModelOptions]="{ standalone: true }" required nzAllowClear=""
                      [nzLoading]="isCitySpinning">
                      <nz-option *ngFor="let data of CityData" [nzValue]="data.ID" [nzLabel]="data.NAME">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Pincode </nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Select Pincode ">
                    <nz-select name="pincode" nzPlaceHolder="Select Pincode" nzShowSearch style="width: 100%"
                      [(ngModel)]="data.PINCODE_ID" [ngModelOptions]="{ standalone: true }" required nzAllowClear=""
                      [nzLoading]="isPincodeSpinning" (keypress)="omit($event)"
                      (ngModelChange)="getpincodename($event)">
                      <nz-option *ngFor="let data of PincodeData" [nzValue]="data.ID" [nzLabel]="data.PINCODE_NUMBER">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>

          <div nz-row>

          </div>

        </div>
      </div>


    </nz-spin>
  </form>

  <div class="footer">
    <button type="button" nz-button style="margin-right: 8px;" class="ant-btn" style="margin-right: 8px;"
      (click)="close(accountMasterPage)">
      <span>Cancel</span>
    </button>

    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      (click)="save(false,accountMasterPage)">
      <span>Save & Close</span>
    </button>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc" style="border-radius: 4px;color: white !important;">
          <a (click)="save(true,accountMasterPage)" style="color: white!important;">Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>

    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false,accountMasterPage)"><span>Update & close</span></button>
  </div>
</div>