nz-form-item  {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 5px;
  }
  .form-container-top {
  margin-top: 10px;
}
.character-count-red {
  color: red;
  font-size: 10px;
}
.display-none {
  display: none;
}
.upload-image-btn-small {
  padding: 0px 7px;
  font-size: 10px;
}
.file-input-hidden {
  display: none;
}
.image-link-blue {
  color: blue;
  margin-right: 9px;
}
.delete-icon-cursor {
  cursor: pointer;
}
.delete-icon-margin {
  margin-left: 0px;
}
.service-cost-wrapper {
  padding-right: 5px;
}
.select-full-width {
  width: 100%;
}
.express-service-flex {
  display: flex;
}
.service-details-container {
  padding-left: 5px;
  height: 260px;
  margin-right: 5px;
}
.quantity-input-width {
  width: 40%;
  padding: 4.7px 11px !important;
}
.unit-select-width {
  width: 60%;
}
.custom-select-width {
  width: 100px !important;
}
.duration-flex-container {
  display: flex;
}
.duration-margin-right {
  margin-right: 10px;
}
.minutes-flex-container {
  display: flex;
}
.minutes-select {
  width: 100px !important;
}
.min-btn-styled {
  padding: 0px 11px !important;
  background: #fafafa !important;
  color: #393d39 !important;
  border-color: #d9d9d9 !important;
  border-left: none !important;
  border-top-left-radius: 0px !important;
  cursor: none !important;
  border-bottom-left-radius: 0px !important;
  box-shadow: none;
}
.service-operation-container {
  padding-left: 5px;
  height: 260px;
}
.time-picker-full {
  width: 100%;
}
.footer-cancel-btn {
  margin-right: 12px;
}
.footer-save-btn,
.footer-update-btn {
  margin-right: 8px;
}
.menu-item-rounded {
  border-radius: 4px;
  color: white !important;
}
.menu-item-white {
  color: white !important;
  text-decoration: none;
  display: block;
  padding: 5px 12px;
}
.image-modal-preview {
  height: 400px;
  overflow: auto;
}
.image-modal-iframe {
  width: 832px;
  height: 396px;
  border: none;
}
.modal-close-btn {
  margin-right: 8px;
}

.footer-button {
  color: white !important;
}
.menuc {
  border-radius: 4px;
  color: white !important;
}