<div>
    <form nz-form #websitebannerPage="ngForm">
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Category Name</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Please Select Category Name">
                            <nz-select nzAllowClear="true" nzPlaceHolder="Select Category Name" name="CATEGORY_ID"
                                [(ngModel)]="data.CATEGORY_ID" nzShowSearch (keypress)="commonFunction.numchar($event)"
                                required>
                                <nz-option *ngFor="let data of CategoryData" [nzValue]="data.ID"
                                    [nzLabel]="data.HELP_CATEGORY_NAME"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>
                            Subcategory Name
                        </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Please Enter Subategory Name">
                            <input nz-input name="NAME" placeholder="Enter Subcategory Name" required
                                [(ngModel)]="data.NAME" (focus)="isFocused = 'NAME'" (blur)="isFocused = ''"
                                (keypress)="commonFunction.numchar($event)" autocomplete="off" maxlength="128" />
                            <h6 class="subcategory-charcount-text-lm81" *ngIf="
                  isFocused === 'NAME' || (data.NAME && isFocused === 'NAME')
                ">
                                {{ data.NAME?.length || 0 }}/128
                            </h6>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzNoColon>Status</nz-form-label>
                    <nz-form-control>
                        <nz-switch name="STATUS" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                            [(ngModel)]="data.STATUS"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </nz-spin>
    </form>
</div>
<div class="footer">
    <button nz-button nzType="default" (click)="close()" class="ant-btn footer-cancel-mr-lm82">
        Cancel
    </button>
    <button nz-button *ngIf="!data.ID" nzType="primary" nz-dropdown [nzDropdownMenu]="menu" [nzLoading]="isSpinning"
        (click)="save(false, websitebannerPage)" class="ant-btn ant-btn-primary">
        Save & Close
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item class="menuc footer-dropdown-item-lm83">
                <a class="footer-dropdown-link-lm84" (click)="save(true, websitebannerPage)">
                    Save & New
                </a>
            </li>
        </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
        (click)="save(false, websitebannerPage)">
        <span>Update & Close</span>
    </button>
</div>