.select {
    width: 200px;
    padding: 8px;
    display: block;
}


.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    /* Adjust as needed */
    display: inline-block;
}

:host::ng-deep .ant-card-body {
    padding: 0px;
  }