.comment-container {
  margin: 10px 0; /* Space between comments */
  /* display: flex; Use flexbox for alignment */
}

/* Chat bubble styling */
.chat-bubble {
  padding: 8px 12px; /* Reduced padding for chat bubble */
  border-radius: 15px; /* Rounded corners for chat bubble */
  max-width: 400px; /* Set a fixed width for the chat bubble */
  width: 100%; /* Allow it to take the full width of the container */
  word-wrap: break-word; /* Allow long words to wrap */
  overflow-wrap: break-word; /* Ensures long words will break as needed */
}

/* Own comment styling */
.own-comment {
  margin-top: 10px;
  padding: 5px 10px 27px;
  border: 1px solid #092B9C!important;
  border-radius: 20px 0px 20px 20px;
  background-color: #092B9C!important;
  color: white;
  margin-left: auto;
}

/* Other comment styling */
.other-comment {
  margin-top: 10px;
  padding: 5px 10px 27px;
  border: 1px solid #092B9C!important;
  border-radius: 0px 20px 20px 20px;
  background-color: white;
}

.scrollable-textarea {
  width: 100%;
  height: 100px; /* Fixed height */
  margin-right: 8px;
  overflow-y: auto; /* Enable vertical scroll */
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(97, 94, 94, 0.1);
  background-color: #fdfdfd;
  box-shadow: inset 0 0 5px rgb(202, 199, 199);
  border-radius: 10px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(223, 217, 217);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(216, 211, 211);
}

.cardstyle {
  margin-top: 5px;
  background-color: #fff;
  position: relative;
  /* height: 98%; */
  width: 98%;
  cursor: pointer;
  padding: 10px;
  /* box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25); */
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border: 1px solid #efefef;
  border-radius: 10px;
  padding: 15px 15px 10px 15px;
  min-height: 100px;
}

.mainnam {
  color: #000;
  font-size: 13px;
  font-weight: 600;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subnamm {
  color: #6a6a6a;
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-comments {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #888;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

:host ::ng-deep .ant-drawer-body {
  padding: 13px !important;
}

.ant-drawer-body {
  padding: 13px !important;
}





/* Filters */
th {
  text-align: center !important;
  vertical-align: middle !important;
  /* font-weight: bold; */
}

.select{
width: 200px;
padding: 8px;
display: block;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

nz-select {
  width: 100%;
}


