<div nz-row nzType="flex">
  <div nz-col nzSpan="8">
    <div class="formname">
      <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline"
        class="icon-bold-pointer-ux"></span>&nbsp;&nbsp;{{ formTitle }}
    </div>
  </div>
  <div nz-col nzSpan="16" class="flex-end-ux">
    <form nz-form nzLayout="inline">
      <nz-form-item class="filter-btn-width-ux">
        <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" nz-input placeholder="Min 3 chars required." [(ngModel)]="searchText"
            (keyup)="keyup()" />
        </nz-input-group>
      </nz-form-item>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search()" nzJustify="end">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </form>
  </div>
</div>
<div class="text-center-mb-5px-ux">
  <nz-radio-group [(ngModel)]="radioValue" nzButtonStyle="solid">
    <label nz-radio-button nzValue="A">Pending</label>
    <label nz-radio-button nzValue="B">Assigned</label>
    <label nz-radio-button nzValue="C">Answered</label>
    <label nz-radio-button nzValue="D">Re-Open </label>
    <label nz-radio-button nzValue="E">Closed</label>
    <label nz-radio-button nzValue="F">Banned</label>
  </nz-radio-group>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <form nz-form>
          <div *ngFor="let filter of filterBox; let i = index">
            <div nz-row [nzGutter]="24" class="row-my-10px-ux">
              <div nz-col [nzSpan]="9"></div>
              <div nz-col [nzSpan]="6">
                <nz-select *ngIf="i != 0" [(ngModel)]="filterBox[i]['CONDITION']" name="filterbox-{{ i }}"
                  nzPlaceHolder="Select Operator">
                  <nz-option *ngFor="let operator of operators" [nzValue]="operator" [nzLabel]="operator"></nz-option>
                </nz-select>
              </div>
              <div nz-col [nzSpan]="9"></div>
            </div>
            <div class="filter-box-ux">
              <div nz-row [nzGutter]="24" *ngFor="let subfilter of filter.FILTER; let j = index" class="row-mb-5px-ux">
                <div nz-col [nzSpan]="8">
                  <nz-select name="selection1-{{ i }}-{{ j }}" nzPlaceHolder="Select Column"
                    [(ngModel)]="filter.FILTER[j].SELECTION1">
                    <nz-option *ngFor="let column of columns1" [nzValue]="column.value"
                      [nzLabel]="column.label"></nz-option>
                  </nz-select>
                </div>
                <div nz-col [nzSpan]="4">
                  <nz-select [(ngModel)]="filter.FILTER[j].SELECTION2" name="selection2-{{ i }}-{{ j }}"
                    nzPlaceHolder="Select Comparison">
                    <nz-option *ngFor="let option of getComparisonOptions(subfilter.SELECTION1)" [nzValue]="option"
                      [nzLabel]="option"></nz-option>
                  </nz-select>
                </div>
                <div nz-col [nzSpan]="8">
                  <input *ngIf="filter.FILTER[j].SELECTION1 !== 'CATEGORY_ID'" nz-input
                    [(ngModel)]="filter.FILTER[j].SELECTION3" name="selection3-{{ i }}-{{ j }}" type="text"
                    placeholder="Enter Support Agent Name" required minlength="3" maxlength="32" />
                  <nz-select *ngIf="filter.FILTER[j].SELECTION1 === 'CATEGORY_ID'"
                    name="selection3-dropdown-{{ i }}-{{ j }}" nzPlaceHolder="Select Category"
                    [(ngModel)]="filter.FILTER[j].SELECTION3">
                    <nz-option *ngFor="let category of dataList" [nzValue]="category.CATEGORY_NAME"
                      [nzLabel]="category.CATEGORY_NAME"></nz-option>
                  </nz-select>
                </div>
                <div nz-col [nzSpan]="4">
                  <button class="btn-mr-10px-ux" nz-button nzType="primary" (click)="insertSubCondition(i, j)">
                    <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
                  </button>
                  <button *ngIf="hide" nz-button nzType="primary" (click)="applyFilter(i, j)">
                    <span nz-icon nzType="filter"></span>
                  </button>
                  <button *ngIf="j > 0" nz-button nzType="primary" nzDanger (click)="removeSubCondition(i, j)">
                    <span nz-icon nzType="delete"></span>
                  </button>
                </div>
              </div>
              <div *ngIf="filter.FILTER.length > 2" class="filter-warning-text-ux">
                *If you use mixed comparers, then AND operator will have 1st preference.
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="24" class="pt-10px-ux">
            <div nz-col [nzSpan]="4"></div>
            <div nz-col [nzSpan]="20" class="flex-end-ux">
              <button nz-button nzType="primary" (click)="generateQuery()" class="btn-mr-10px-ux">
                Insert New Condition
              </button>
              <button nz-button nzType="primary" (click)="saveQuery()" class="btn-mr-10px-ux">
                Save
              </button>
              <button nz-button nzType="primary" (click)="createFilterQuery()" class="btn-mr-10px-ux">
                Apply Filter
              </button>
              <button nz-button nzType="default" (click)="resetValues()">
                Reset
              </button>
            </div>
          </div>
          <div nz-row class="pt-10px-ux">
            <div nz-col [nzSpan]="24">
              <div class="filter-box-ux">
                <ng-container *ngIf="INSERT_NAMES && INSERT_NAMES.length > 0; else noData">
                  <ng-container *ngFor="let item of INSERT_NAMES">
                    <nz-tag [nzColor]="'default'" class="tag-item-ux">
                      <span class="tag-text-ux">{{ item.name }}</span>
                      <span>
                        <i nz-icon nzType="search" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Apply Filter'"
                          (click)="createFilterQuery()" class="icon-green-mr-8px-ux"></i>
                        <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Delete'"
                          (click)="deleteItem(item)" class="icon-red-mr-8px-ux"></i>
                        <i nz-icon nzType="eye" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Show Query'"
                          (click)="toggleLiveDemo(item.query, item.name)" class="icon-blue-ux"></i>
                      </span>
                    </nz-tag>
                  </ng-container>
                </ng-container>
                <ng-template #noData>
                  <div class="no-data-text-ux">
                    No Previous Filters Are Found
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1 table-preline-ux" #table [nzData]="dataList" [nzLoading]="loadingRecords"
      [nzTotal]="totalRecords" nzBordered [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)" [nzSize]="'small'"
      nzShowSizeChanger [nzFrontPagination]="false" [nzScroll]="{ y: '50vh' }">
      <thead>
        <tr>
          <th nzWidth="90px" nzLeft>View
          </th>
          <th nzWidth="90px" nzLeft>Status
          </th>
          <th nzWidth="250px" nzShowSort align="center" nzColumnKey="{{ 'QUESTION' }}" [nzSortFn]="true" nzCustomFilter
            nzLeft>
            Question
          </th>
          <th *ngIf="isColumnVisible('CATEGORY_ID')" nzWidth="150px" nzShowSort align="center"
            nzColumnKey="{{ 'CATEGORY_ID' }}" [nzSortFn]="true" nzLeft>
            Category
            <nz-filter-trigger [(nzVisible)]="categoryVisible" [nzDropdownMenu]="categorydropdown">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('SUBCATEGORY_ID')" nzWidth="200px" nzShowSort align="center"
            nzColumnKey="{{ 'SUBCATEGORY_ID' }}" [nzSortFn]="true" nzLeft>
            Sub Category
            <nz-filter-trigger [(nzVisible)]="subcategoryVisible" [nzDropdownMenu]="subcategorydropdown">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="220px" nzShowSort align="center" nzColumnKey="{{ 'NAME' }}" [nzSortFn]="true" nzCustomFilter>
            Name
          </th>
          <th *ngIf="isColumnVisible('DESCRIPTION')" nzWidth="280px" nzShowSort align="center"
            nzColumnKey="{{ 'DESCRIPTION' }}" [nzSortFn]="true" nzCustomFilter>
            Description
          </th>
          <th nzWidth="120px" nzShowSort align="center" nzColumnKey="{{ 'Ticket No.' }}" [nzSortFn]="true"
            nzCustomFilter>
            Ticket No.
          </th>
          <th nzWidth="130px" nzShowSort align="center" nzColumnKey="{{ 'IS_TAKEN' }}" [nzSortFn]="true" nzCustomFilter>
            Is Taken ?
          </th>
          <th nzWidth="120px" nzShowSort align="center" nzColumnKey="{{ 'TAKEN_BY' }}" [nzSortFn]="true" nzCustomFilter>
            Taken By
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td nzLeft>
            <button nz-button nzType="link" (click)="view(data)">
              View
            </button>
          </td>
          <td align="center" nzLeft>
            <nz-tag [nzColor]="'green'">{{ data["STATUS"] }}</nz-tag>
          </td>
          <td align="left" nzLeft *ngIf="isColumnVisible('QUESTION')">
            <span *ngIf="data['QUESTION'] != null">
              <span *ngIf="data['QUESTION'].length >= 20" nz-popover [nzPopoverContent]="data['QUESTION']"
                nzPopoverPlacement="topLeft">
                {{ data["QUESTION"] == null ? "-" : (data["QUESTION"] | slice : 0 : 20)
                }}{{ data["QUESTION"].length > 20 ? "..." : "" }}
              </span>
              <span *ngIf="data['QUESTION'].length < 20">
                {{
                data["QUESTION"] == null ? "-" : (data["QUESTION"] | slice : 0 : 20)
                }}
                {{ data["QUESTION"].length > 20 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['QUESTION'] == null">-</span>
          </td>
          <td *ngIf="isColumnVisible('CATEGORY_ID')" nzLeft>{{ data["CATEGORY_NAME"] }}</td>
          <td *ngIf="isColumnVisible('SUBCATEGORY_ID')" nzLeft>{{ data["SUBCATEGORY_NAME"] }}</td>
          <td align="left" *ngIf="isColumnVisible('NAME')">
            <span *ngIf="data['NAME'] != null">
              <span *ngIf="data['NAME'].length >= 20" nz-popover [nzPopoverContent]="data['NAME']"
                nzPopoverPlacement="topLeft">
                {{ data["NAME"] == null ? "-" : (data["NAME"] | slice : 0 : 20)
                }}{{ data["NAME"].length > 20 ? "..." : "" }}
              </span>
              <span *ngIf="data['NAME'].length < 20">
                {{
                data["NAME"] == null ? "-" : (data["NAME"] | slice : 0 : 20)
                }}
                {{ data["NAME"].length > 20 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['NAME'] == null">-</span>
          </td>
          <td align="left" *ngIf="isColumnVisible('DESCRIPTION')">
            <span *ngIf="data['DESCRIPTION'] != null">
              <span *ngIf="data['DESCRIPTION'].length >= 37" nz-popover [nzPopoverContent]="data['DESCRIPTION']"
                nzPopoverPlacement="topLeft">
                {{
                data["DESCRIPTION"] == null
                ? "-"
                : (data["DESCRIPTION"] | slice : 0 : 37)
                }}{{ data["DESCRIPTION"].length > 37 ? "..." : "" }}
              </span>
              <span *ngIf="data['DESCRIPTION'].length < 37">
                {{
                data["DESCRIPTION"] == null
                ? "-"
                : (data["DESCRIPTION"] | slice : 0 : 37)
                }}
                {{ data["DESCRIPTION"].length > 37 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['DESCRIPTION'] == null">-</span>
          </td>
          <td align="left" *ngIf="isColumnVisible('TICKET_NO')">
            <span *ngIf="data['TICKET_NO'] != null">
              <span *ngIf="data['TICKET_NO'].length >= 15" nz-popover [nzPopoverContent]="data['TICKET_NO']"
                nzPopoverPlacement="topLeft">
                {{
                data["TICKET_NO"] == null
                ? "-"
                : (data["TICKET_NO"] | slice : 0 : 15)
                }}{{ data["TICKET_NO"].length > 15 ? "..." : "" }}
              </span>
              <span *ngIf="data['TICKET_NO'].length < 15">
                {{
                data["TICKET_NO"] == null
                ? "-"
                : (data["TICKET_NO"] | slice : 0 : 15)
                }}
                {{ data["TICKET_NO"].length > 15 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['TICKET_NO'] == null">-</span>
          </td>
          <td align="left" *ngIf="isColumnVisible('IS_TAKEN')">
            <span *ngIf="data['IS_TAKEN'] != null">
              <span *ngIf="data['IS_TAKEN'].length >= 15" nz-popover [nzPopoverContent]="data['IS_TAKEN']"
                nzPopoverPlacement="topLeft">
                {{
                data["IS_TAKEN"] == null
                ? "-"
                : (data["IS_TAKEN"] | slice : 0 : 15)
                }}{{ data["IS_TAKEN"].length > 15 ? "..." : "" }}
              </span>
              <span *ngIf="data['IS_TAKEN'].length < 15">
                {{
                data["IS_TAKEN"] == null
                ? "-"
                : (data["IS_TAKEN"] | slice : 0 : 15)
                }}
                {{ data["IS_TAKEN"].length > 15 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['IS_TAKEN'] == null">-</span>
          </td>
          <td align="left" *ngIf="isColumnVisible('TAKEN_BY')">
            <span *ngIf="data['TAKEN_BY'] != null">
              <span *ngIf="data['TAKEN_BY'].length >= 15" nz-popover [nzPopoverContent]="data['TAKEN_BY']"
                nzPopoverPlacement="topLeft">
                {{
                data["TAKEN_BY"] == null
                ? "-"
                : (data["TAKEN_BY"] | slice : 0 : 15)
                }}{{ data["TAKEN_BY"].length > 15 ? "..." : "" }}
              </span>
              <span *ngIf="data['TAKEN_BY'].length < 15">
                {{
                data["TAKEN_BY"] == null
                ? "-"
                : (data["TAKEN_BY"] | slice : 0 : 15)
                }}
                {{ data["TAKEN_BY"].length > 15 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['TAKEN_BY'] == null">-</span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #showcolumn1="nzDropdownMenu">
      <ul nz-menu nzPlacement="bottomRight">
        <li nz-menu-item *ngFor="let column of showcolumn">
          <label nz-checkbox [(ngModel)]="column.visible" (ngModelChange)="isColumnVisible(column)">
            {{ column.label }}
          </label>
        </li>
      </ul>
    </nz-dropdown-menu>
    <nz-dropdown-menu #categorydropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="select-full-width-ux" nzShowSearch nzAllowClear nzPlaceHolder="Select Category"
            nzMode="multiple" [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedCategories"
            (ngModelChange)="onCategoryChange()">
            <nz-option *ngFor="let data of CategoryData" [nzValue]="data.ID" [nzLabel]="data.NAME">
            </nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #subcategorydropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="select-full-width-ux" nzShowSearch nzAllowClear nzPlaceHolder="Select Subcategory"
            nzMode="multiple" [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedSubCategories"
            (ngModelChange)="onSubCategoryChange()">
            <nz-option *ngFor="let data of SubCategoryData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #sercatname="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="servicecattext" (ngModelChange)="search()"
              placeholder="Search Service Name" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="servicecattext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="servicecattext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #sercatdesc="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="servicecatdesctext" (ngModelChange)="search()"
              placeholder="Search Description" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="servicecatdesctext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="servicecatdesctext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>
<div *ngIf="drawerChatVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="750" [nzVisible]="drawerChatVisible"
    [nzTitle]="drawerChatTitle" (nzOnClose)="drawerChatClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-view-drawer [drawerClose]="closeCallback" [drawerVisible]="drawerChatVisible" [data]="drawerData">
      </app-view-drawer>
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="visiblesave" nzTitle="Generate Query"
  (nzOnCancel)="handleCancelTop()" (nzOnOk)="handleOkTop()" [nzOkText]="'Save'">
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item class="form-item-inline-fill-ux">
          <nz-form-label nzRequired nzNoColon>Query Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Query Name ">
            <input nz-input name="Name" [(ngModel)]="QUERY_NAME" placeholder="Enter Query Name" maxlength="256" required
              autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Query Details'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 class="qry-txt-ctr">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>