th {
  text-align: center !important;
  vertical-align: middle !important;
}
.select {
  width: 200px;
  padding: 8px;
  display: block;
}
.search-box {
  padding: 8px;
}
.search-box input {
  width: 188px;
  display: block;
}
.search-box button {
  width: 90px;
}
.search-button {
  margin-right: 8px;
}
nz-select {
  width: 100%;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}
:host::ng-deep .ant-card-body {
  padding: 0px;
}
.back-arrow-icon {
  font-weight: bold;
  cursor: pointer;
}
.header-action-col {
  display: flex;
  justify-content: flex-end;
}
.filter-btn-width {
  width: 47px;
}
.new-btn-spacing {
  margin-right: 0px;
}
.filter-row-top {
  padding-top: 0px;
}
.center-text {
  text-align: center;
}
.filter-item-spacing {
  margin-bottom: 8px;
}
.filter-card {
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}
.filter-card-header {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.filter-name-text {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.filter-applied-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.filter-card-actions-row {
  margin-top: 7px;
}
.filter-card-actions {
  display: flex;
  justify-content: space-between;
}
.filter-action-tag {
  cursor: pointer;
  font-size: 10px !important;
}
.filter-action-icon {
  font-size: 10px !important;
}
.filter-view-tag {
  margin-right: 0px;
}
.no-data-text {
  text-align: center;
  color: red;
  font-weight: bold;
}
.filter-footer-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10px;
}
.filter-footer-btn {
  margin-right: 10px;
}
.table-top-spacing {
  margin-top: 10px;
}
.th-center {
  text-align: center;
}
.td-center {
  text-align: center;
}
.action-tag {
  cursor: pointer;
}
.action-icon {
  font-size: 15px;
}
.selected-query-center {
  text-align: center;
}