<div nz-row>
  <div nz-col nzSpan="11">
    <form nz-form #teritorymaster="ngForm">
      <div nz-row>
        <div nz-col nzSpan="24">
          <form nz-form #teritorymaster="ngForm">
            <div nz-row class="my-box">
              <div nz-col nzSpan="10">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Help Category</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Please Select Help Category">
                    <nz-select nzAllowClear="true" nzPlaceHolder="Select Help Category" name="catid"
                      [(ngModel)]="categoryId" class="select-full-width" (ngModelChange)="onCategoryChange($event)"
                      nzShowSearch required [nzLoading]="isCategorySpinning">
                      <nz-option *ngFor="let data of categoryList" [nzValue]="data.ID"
                        [nzLabel]="data.HELP_CATEGORY_NAME"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="10">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Help Subcategory</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Please Select Help Subcategory">
                    <nz-select nzAllowClear="true" nzPlaceHolder="Select Help Subcategory" name="subcatid"
                      [(ngModel)]="subCategoryId" class="select-full-width" nzShowSearch required
                      [nzLoading]="isSubCategorySpinning">
                      <nz-option *ngFor="let data of subCategoryList" [nzValue]="data.ID"
                        [nzLabel]="data.NAME"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="4" class="button-column-padding">
                <button class="apply-button-spacing" nz-button nzType="primary" [nzLoading]="isSpinningapply"
                  (click)="apply()">
                  Apply
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="table-container-wrapper">
            <div class="table-header-flex">
              <div class="record-counter-padding">
                <span *ngIf="selectedPincode.length > 0">
                  {{ selectedPincode.length }} records selected out of
                  {{ PincodeMappingdata.length }}</span>
                <span *ngIf="selectedPincode.length == 0">Total Records {{ PincodeMappingdata.length }}</span>
              </div>
              <div>
                <nz-form-item class="search-form-item">
                  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" name="search" class="search-input-width" nz-input
                      placeholder="Enter min 3 characters" [(ngModel)]="searchText" (keyup)="onKeypressEvent($event)"
                      autocomplete="off" />
                  </nz-input-group>
                </nz-form-item>

                <ng-template #suffixIconButton>
                  <button nz-button nzType="primary" id="button" nzSearch (click)="searchopen()">
                    <i nz-icon nzType="search"></i>
                  </button>
                </ng-template>
              </div>
            </div>

            <nz-table class="my-scroll no-wrap1" nzBordered #tableeeee [nzData]="PincodeMappingdata"
              (nzQueryParams)="sort($event)" [nzSize]="'small'" [nzFrontPagination]="false"
              class="table-preline-spacing" [nzLoading]="isSpinning11 || isLoading" [nzScroll]="{ y: '55vh' }">
              <thead>
                <tr>
                  <th nzWidth="50px">
                    <label (ngModelChange)="toggleAll($event)" nz-checkbox [(ngModel)]="allSelected" name="allSelected"
                      [nzIndeterminate]="tableIndeterminate">All</label>
                  </th>
                  <th nzWidth="160px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'NAME' }}">
                    Help Document
                  </th>
                  <th nzWidth="50px">Document</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let data of tableeeee.data; let i = index">
                  <td class="cell-center-align">
                    <label nz-checkbox [(ngModel)]="data.selected" name="allSelecteddd{{ i }}"
                      (ngModelChange)="onPincodeSelecttable(data, $event)"></label>
                  </td>
                  <td align="left">
                    <span *ngIf="data['NAME'] != null">
                      <span *ngIf="data['NAME'].length >= 45" nz-popover [nzPopoverContent]="data['NAME']"
                        nzPopoverPlacement="topLeft">
                        {{
                        data["NAME"] == null
                        ? "-"
                        : (data["NAME"] | slice : 0 : 45)
                        }}{{ data["NAME"].length > 45 ? "..." : "" }}
                      </span>
                      <span *ngIf="data['NAME'].length < 45">
                        {{
                        data["NAME"] == null
                        ? "-"
                        : (data["NAME"] | slice : 0 : 45)
                        }}
                        {{ data["NAME"].length > 45 ? "..." : "" }}
                      </span>
                    </span>
                    <span *ngIf="data['NAME'] == null">-</span>
                  </td>
                  <td align="center">
                    <div *ngIf="data.TYPE == 'D'">
                      <nz-tag nzColor="#2db7f5" (click)="viewImage(data.DOCUMENT)" class="tag-pointer" nz-tooltip
                        nzTooltipTitle="View Document">
                        <span nz-icon nzType="eye" nzTheme="outline" class="icon-size-medium">
                        </span>&nbsp;&nbsp;View</nz-tag>
                      <span *ngIf="this.data.TYPE == null || this.data.TYPE == ''">-</span>
                    </div>

                    <div *ngIf="data.TYPE == 'L'">
                      <nz-tag nzColor="#2db7f5" (click)="viewLink(data.LINK)" class="tag-pointer" nz-tooltip
                        nzTooltipTitle="View Link">
                        <span nz-icon nzType="eye" nzTheme="outline" class="icon-size-medium">
                        </span>&nbsp;&nbsp;View</nz-tag>
                    </div>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div nz-col nzSpan="2" class="center-icon-column">
    <div>
      <nz-spin [nzSpinning]="isSpinning">
        <span nz-icon nzType="right-circle" class="arrow-icon-large" nzTheme="outline"
          *ngIf="selectedPincode.length == 0"></span>
        <span nz-icon nzType="right-circle" class="arrow-icon-clickable" nzTheme="fill" (click)="BulkDocMap()"
          *ngIf="selectedPincode.length > 0"></span>
      </nz-spin>
    </div>
  </div>
  <div nz-col nzSpan="11">
    <div nz-row class="mapping-header-flex">
      <div class="mapping-info-flex">
        <div class="total-records-padding">
          <span *ngIf="selectedPincode11.length == 0">Total Records {{ totoalrecordsss }}</span>
        </div>

        <div class="switch-padding">
          <td align="center" nzLeft>
            <nz-switch name="allChange" nzCheckedChildren="Select All" nzUnCheckedChildren="Deselect All"
              (ngModelChange)="allChange($event)" [(ngModel)]="allChecked"></nz-switch>
          </td>
        </div>
      </div>

      <div class="search-panel-right">
        <form nz-form [nzLayout]="'inline'" class="inline-search-form">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton1" class="pincode-search-margin">
              <input type="text" name="pincodesearch" [(ngModel)]="searchPincode" autocomplete="off"
                (keydown.enter)="handlepincodeEnterKey($event)" (keydown.backspace)="handlepincodeEnterKey($event)"
                class="search-input-height" nz-input placeholder="Min 3 chars required." />
            </nz-input-group>
            <ng-template #suffixIconButton1>
              <button nz-button id="buttonSearch" nzType="primary" nzSearch (click)="searchopennn()">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </form>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="table-container-wrapper">
          <nz-table class="my-scroll no-wrap1" nzBordered #table [nzData]="mappingdata" (nzQueryParams)="sort11($event)"
            [nzSize]="'small'" [nzFrontPagination]="false" class="table-preline-spacing" [nzLoading]="isSpinning22"
            [nzScroll]="{ x: '900px', y: '55vh' }">
            <thead>
              <tr>
                <th nzWidth="60px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'STATUS' }}">
                  Is Mapped ?
                </th>
                <th nzWidth="60px">Document</th>
                <th nzWidth="130px" nzSho30wSort [nzSortFn]="true" nzColumnKey="{{ 'MASTER_NAME' }}">
                  Document Name
                </th>
                <th nzWidth="70px" nzSho30wSort [nzSortFn]="true" nzColumnKey="{{ 'HELP_CATEGORY_NAME' }}">
                  Help Category
                </th>
                <th nzWidth="70px" nzSho30wSort [nzSortFn]="true" nzColumnKey="{{ 'HELP_DOCUMENT_SUB_CATEGORY_NAME' }}">
                  Help Sub Category
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data; let i = index">
                <td align="center" class="cell-preline">
                  <nz-switch name="STATUS" nzCheckedChildren="Yes" nzUnCheckedChildren="No" [(ngModel)]="data['STATUS']"
                    (ngModelChange)="SpecificDOcmap(data, $event)"></nz-switch>
                </td>
                <td align="center">
                  <div *ngIf="data.TYPE == 'D'">
                    <nz-tag nzColor="#2db7f5" (click)="viewImage(data.DOCUMENT)" class="tag-pointer" nz-tooltip
                      nzTooltipTitle="View Document">
                      <span nz-icon nzType="eye" nzTheme="outline" class="icon-size-medium">
                      </span>&nbsp;&nbsp;View</nz-tag>
                    <span *ngIf="this.data.TYPE == null || this.data.TYPE == ''">-</span>
                  </div>

                  <div *ngIf="data.TYPE == 'L'">
                    <nz-tag nzColor="#2db7f5" (click)="viewLink(data.LINK)" class="tag-pointer" nz-tooltip
                      nzTooltipTitle="View Link">
                      <span nz-icon nzType="eye" nzTheme="outline" class="icon-size-medium">
                      </span>&nbsp;&nbsp;View</nz-tag>
                  </div>
                </td>
                <td align="left">
                  <span *ngIf="data['MASTER_NAME'] != null">
                    <span *ngIf="data['MASTER_NAME'].length >= 30" nz-popover [nzPopoverContent]="data['MASTER_NAME']"
                      nzPopoverPlacement="topLeft">
                      {{
                      data["MASTER_NAME"] == null
                      ? "-"
                      : (data["MASTER_NAME"] | slice : 0 : 30)
                      }}{{ data["MASTER_NAME"].length > 30 ? "..." : "" }}
                    </span>
                    <span *ngIf="data['MASTER_NAME'].length < 30">
                      {{
                      data["MASTER_NAME"] == null
                      ? "-"
                      : (data["MASTER_NAME"] | slice : 0 : 25)
                      }}
                      {{ data["MASTER_NAME"].length > 25 ? "..." : "" }}
                    </span>
                  </span>
                  <span *ngIf="data['MASTER_NAME'] == null">-</span>
                </td>
                <td align="left">
                  <span *ngIf="data['HELP_CATEGORY_NAME'] != null">
                    <span *ngIf="data['HELP_CATEGORY_NAME'].length >= 40" nz-popover
                      [nzPopoverContent]="data['HELP_CATEGORY_NAME']" nzPopoverPlacement="topLeft">
                      {{
                      data["HELP_CATEGORY_NAME"] == null
                      ? "-"
                      : (data["HELP_CATEGORY_NAME"] | slice : 0 : 40)
                      }}{{
                      data["HELP_CATEGORY_NAME"].length > 40 ? "..." : ""
                      }}
                    </span>
                    <span *ngIf="data['HELP_CATEGORY_NAME'].length < 40">
                      {{
                      data["HELP_CATEGORY_NAME"] == null
                      ? "-"
                      : (data["HELP_CATEGORY_NAME"] | slice : 0 : 39)
                      }}
                      {{ data["HELP_CATEGORY_NAME"].length > 39 ? "..." : "" }}
                    </span>
                  </span>
                  <span *ngIf="data['HELP_CATEGORY_NAME'] == null">-</span>
                </td>
                <td align="left">
                  <span *ngIf="data['HELP_DOCUMENT_SUB_CATEGORY_NAME'] != null">
                    <span *ngIf="
                        data['HELP_DOCUMENT_SUB_CATEGORY_NAME'].length >= 40
                      " nz-popover [nzPopoverContent]="
                        data['HELP_DOCUMENT_SUB_CATEGORY_NAME']
                      " nzPopoverPlacement="topLeft">
                      {{
                      data["HELP_DOCUMENT_SUB_CATEGORY_NAME"] == null
                      ? "-"
                      : (data["HELP_DOCUMENT_SUB_CATEGORY_NAME"]
                      | slice : 0 : 40)
                      }}{{
                      data["HELP_DOCUMENT_SUB_CATEGORY_NAME"].length > 40
                      ? "..."
                      : ""
                      }}
                    </span>
                    <span *ngIf="
                        data['HELP_DOCUMENT_SUB_CATEGORY_NAME'].length < 40
                      ">
                      {{
                      data["HELP_DOCUMENT_SUB_CATEGORY_NAME"] == null
                      ? "-"
                      : (data["HELP_DOCUMENT_SUB_CATEGORY_NAME"]
                      | slice : 0 : 39)
                      }}
                      {{
                      data["HELP_DOCUMENT_SUB_CATEGORY_NAME"].length > 39
                      ? "..."
                      : ""
                      }}
                    </span>
                  </span>
                  <span *ngIf="data['HELP_DOCUMENT_SUB_CATEGORY_NAME'] == null">-</span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <button type="button" nz-button (click)="close()" class="ant-btn cancel-button-margin">
    <span>Cancel</span>
  </button>
</div>

<nz-modal [nzWidth]="900" [(nzVisible)]="ImageModalVisible" nzMaskClosable="false" nzClosable="false"
  [nzContent]="content" [nzTitle]="'View Document'" (nzOnCancel)="ImageModalCancel()" [nzFooter]="ImageModalFooter">
  <ng-template #content>
    <nz-spin [nzSpinning]="isSpinning">
      <div *ngIf="imageshow != undefined && imageshow != null && imageshow != ''" class="ss modal-iframe-container">
        <iframe [src]="imageshow" class="modal-iframe-dimensions" frameborder="0"></iframe>
      </div>
    </nz-spin>
  </ng-template>
  <ng-template #ImageModalFooter>
    <button nz-button nzType="default" (click)="ImageModalCancel()">
      Close
    </button>
  </ng-template>
</nz-modal>