<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="8">
    <div class="formname">
      <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline" class="back-arrow"></span>&nbsp;&nbsp;{{ formTitle }}
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="16" class="header-actions">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item class="add-button-container" *ngIf="showadd()">
        <button nz-button nzType="primary" (click)="add()" nzJustify="end" [nzLoading]="loadingRecords" class="new-config-button">
          <i nz-icon nzType="plus"></i> New WhatsApp service Config
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="filter-top-row">
          <div nz-col [nzSpan]="24">
            <div class="filter-tags-container">
              <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                <ng-container *ngFor="let item of savedFilters">
                  <nz-tag [style.backgroundColor]="
                      selectedFilter === item.ID ? '#e6f7ff' : 'white'
                    " class="filter-tag">
                    <span class="filter-name">{{ item.FILTER_NAME }}</span>
                    <span class="filter-actions">
                      <i nz-icon nzType="search" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Apply Filter'"
                        (click)="applyfilter(item)" class="filter-action-icon apply-filter"></i>
                      <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Delete'"
                        class="filter-action-icon delete-filter" nz-popconfirm
                        nzPopconfirmTitle="Are you sure to delete this filter?" nzPopconfirmPlacement="top"
                        (nzOnConfirm)="deleteItem(item)">
                      </i>
                      <i nz-icon nzType="eye" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Show Query'"
                        (click)="toggleLiveDemo(item)" class="filter-action-icon view-query"></i>
                    </span>
                  </nz-tag>
                </ng-container>
              </ng-container>
              <ng-template #noData>
                <div class="no-filters-message">
                  No Previous Filters Are Found
                </div>
              </ng-template>
            </div>
          </div>
          <div nz-col [nzSpan]="24" class="filter-buttons-container">
            <button *ngIf="savedFilters && savedFilters.length > 0" nz-button nzType="primary" nzSize="small"
              (click)="Clearfilter()" class="filter-button clear-filter">
              Clear Applied Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()" class="filter-button add-filter">
              Add New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div nz-row class="table-container">
  <div nz-col nzSpan="24">
    <nz-table [nzData]="WhatsappServiceConfigData" #table nzBordered [nzLoading]="loadingRecords" nzShowSizeChanger
      [nzPageSize]="10" [nzShowPagination]="true" [nzFrontPagination]="false" [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzQueryParams)="sort($event)"
      (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" [nzSize]="'small'" nzShowSizeChanger
      [nzScroll]="{ x: '1100px', y: '50vh' }">
      <thead>
        <tr>
          <th nzWidth="90px" class="action-column" nzLeft>
            Action
            <nz-filter-trigger [(nzVisible)]="showcloumnVisible" [nzDropdownMenu]="showcolumn1">
              <span nz-icon nzType="down" nzTheme="outline"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('SERVICE_PROVIDER')" nzLeft nzWidth="300px" nzShowSort align="center"
            nzColumnKey="{{ 'SERVICE_PROVIDER' }}" [nzSortFn]="true" nzCustomFilter>
            Service Provider Name
          </th>
          <th *ngIf="isColumnVisible('AUTHENTICATION_TYPE')" nzLeft nzWidth="200px" nzShowSort align="center"
            nzColumnKey="{{ 'AUTHENTICATION_TYPE' }}" [nzSortFn]="true" nzCustomFilter>
            Authentication Type
          </th>
          <th *ngIf="isColumnVisible('API_URL')" nzLeft nzWidth="300px" nzShowSort align="center"
            nzColumnKey="{{ 'API_URL' }}" [nzSortFn]="true" nzCustomFilter>
            API URL
          </th>
          <th *ngIf="isColumnVisible('API_KEY')" nzWidth="300px" nzShowSort align="center" nzColumnKey="{{ 'API_KEY' }}"
            [nzSortFn]="true" nzCustomFilter>
            API Key
          </th>
          <th *ngIf="isColumnVisible('PHONE_NUMBER_ID')" nzWidth="180px" nzShowSort align="center"
            nzColumnKey="{{ 'PHONE_NUMBER_ID' }}" [nzSortFn]="true" nzCustomFilter>
            Phone No Id
          </th>
          <th *ngIf="isColumnVisible('SENDER_PHONE_NUMBER')" nzWidth="210px" nzShowSort align="center"
            nzColumnKey="{{ 'SENDER_PHONE_NUMBER' }}" [nzSortFn]="true" nzCustomFilter>
            Sender Phone Number
          </th>
          <th *ngIf="isColumnVisible('RETRY_ATTEMPTS')" nzWidth="190px" nzShowSort align="center"
            nzColumnKey="{{ 'RETRY_ATTEMPTS' }}" [nzSortFn]="true" nzCustomFilter>
            Retry Attempts
          </th>
          <th *ngIf="isColumnVisible('TIMEOUT_SECONDS')" nzWidth="190px" nzShowSort align="center"
            nzColumnKey="{{ 'TIMEOUT_SECONDS' }}" [nzSortFn]="true" nzCustomFilter>
            Timeout (Seconds)
          </th>
          <th *ngIf="isColumnVisible('IS_ACTIVE')" nzShowSort nzColumnKey="{{ 'IS_ACTIVE' }}" nzWidth="110px"
            class="status-column">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td align="center" nzLeft>
            <nz-tag nzColor="#2db7f5" (click)="edit(data)" class="edit-tag">
              <span nz-icon nzType="edit" nzTheme="outline" class="edit-icon">
              </span>&nbsp;&nbsp;Edit</nz-tag>
          </td>
          <td align="left" nzLeft *ngIf="isColumnVisible('SERVICE_PROVIDER')">
            <span *ngIf="data['SERVICE_PROVIDER'] != null">
              <span *ngIf="data['SERVICE_PROVIDER'].length >= 60" nz-popover
                [nzPopoverContent]="data['SERVICE_PROVIDER']" nzPopoverPlacement="topLeft">
                {{
                data["SERVICE_PROVIDER"] == null
                ? "-"
                : (data["SERVICE_PROVIDER"] | slice : 0 : 60)
                }}{{ data["SERVICE_PROVIDER"].length > 60 ? "..." : "" }}
              </span>
              <span *ngIf="data['SERVICE_PROVIDER'].length < 60">
                {{
                data["SERVICE_PROVIDER"] == null
                ? "-"
                : (data["SERVICE_PROVIDER"] | slice : 0 : 60)
                }}
                {{ data["SERVICE_PROVIDER"].length > 60 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['SERVICE_PROVIDER'] == null">-</span>
          </td>
          <td nzLeft *ngIf="isColumnVisible('AUTHENTICATION_TYPE')">
            {{ data.AUTHENTICATION_TYPE ?? "-" }}
          </td>
          <td align="left" nzLeft *ngIf="isColumnVisible('API_URL')">
            <span *ngIf="data['API_URL'] != null">
              <span *ngIf="data['API_URL'].length >= 30" nz-popover [nzPopoverContent]="data['API_URL']"
                nzPopoverPlacement="topLeft">
                {{
                data["API_URL"] == null
                ? "-"
                : (data["API_URL"] | slice : 0 : 30)
                }}{{ data["API_URL"].length > 30 ? "..." : "" }}
              </span>
              <span *ngIf="data['API_URL'].length < 30">
                {{
                data["API_URL"] == null
                ? "-"
                : (data["API_URL"] | slice : 0 : 30)
                }}
                {{ data["API_URL"].length > 30 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['API_URL'] == null">-</span>
          </td>
          <td align="left" *ngIf="isColumnVisible('API_KEY')">
            <span *ngIf="data['API_KEY'] != null">
              <span *ngIf="data['API_KEY'].length >= 30" nz-popover [nzPopoverContent]="data['API_KEY']"
                nzPopoverPlacement="topLeft">
                {{
                data["API_KEY"] == null
                ? "-"
                : (data["API_KEY"] | slice : 0 : 30)
                }}{{ data["API_KEY"].length > 30 ? "..." : "" }}
              </span>
              <span *ngIf="data['API_KEY'].length < 30">
                {{
                data["API_KEY"] == null
                ? "-"
                : (data["API_KEY"] | slice : 0 : 30)
                }}
                {{ data["API_KEY"].length > 30 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['SERVICE_PROVIDER'] == null">-</span>
          </td>
          <td align="center" *ngIf="isColumnVisible('PHONE_NUMBER_ID')">
            {{ data.PHONE_NUMBER_ID ?? "-" }}
          </td>
          <td align="center" *ngIf="isColumnVisible('SENDER_PHONE_NUMBER')">
            {{ data.DEFAULT_COUNTRY_CODE }}&nbsp;&nbsp;{{
            data.SENDER_PHONE_NUMBER ?? "-"
            }}
          </td>
          <td align="center" *ngIf="isColumnVisible('RETRY_ATTEMPTS')">
            {{ data.RETRY_ATTEMPTS ?? "-" }}
          </td>
          <td align="center" *ngIf="isColumnVisible('TIMEOUT_SECONDS')">
            {{ data.TIMEOUT_SECONDS ?? "-" }}
          </td>
          <td align="center" *ngIf="isColumnVisible('IS_ACTIVE')">
            <i nz-icon *ngIf="data['IS_ACTIVE']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'" class="status-icon active"></i>
            <i nz-icon *ngIf="!data['IS_ACTIVE']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'" class="status-icon inactive"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #showcolumn1="nzDropdownMenu">
      <ul nz-menu nzPlacement="bottomRight">
        <li *ngFor="let column of showcolumn" nz-menu-item>
          <label [(ngModel)]="column.visible" (ngModelChange)="isColumnVisible(column)" nz-checkbox class="column-checkbox">
            {{ column.label }}
          </label>
        </li>
      </ul>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Provider="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="ProviderText" (keyup)="onKeyup($event)" (onkeypress)="search()"
              placeholder="Search provider Name" class="filter-search-input" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="ProviderText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="ProviderText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #URL="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="URLText" (keyup)="onKeyup($event)" (onkeypress)="search()"
              placeholder="Search API Url" class="filter-search-input" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="URLText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="URLText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Phone="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="Phonetext" (keyup)="onKeyup($event)" (onkeypress)="search()"
              placeholder="Search Phone No Id" class="filter-search-input" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="Phonetext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="Phonetext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Sender="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="SenderText" (keyup)="onKeyup($event)" (onkeypress)="search()"
              placeholder="Search Sender Phone No." class="filter-search-input" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="SenderText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="SenderText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Retry="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="RetryText" (keyup)="onKeyup($event)" (onkeypress)="search()"
              placeholder="Search Retry Attempts" class="filter-search-input" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="RetryText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="RetryText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Timeout="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="TimeoutText" (keyup)="onKeyup($event)" (onkeypress)="search()"
              placeholder="Search Timeout (Seconds)" class="filter-search-input" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="TimeoutText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="TimeoutText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #URL="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="TimeoutText" (keyup)="onKeyup($event)" (onkeypress)="search()"
              placeholder="Search Service provider" class="filter-search-input" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="TimeoutText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="TimeoutText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Key="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="KeyText" (keyup)="onKeyup($event)" (onkeypress)="search()"
              placeholder="Search API Key" class="filter-search-input" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="KeyText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="KeyText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Type="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Select Type" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="authenticiation" (ngModelChange)="onTypeChange()">
            <nz-option *ngFor="let data of whatsappApiAuthentication" [nzValue]="data.Id"
              [nzLabel]="data.Name"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #Country="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Select Country Code" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedCountry" (ngModelChange)="onCountryCodeChange()">
            <nz-option *ngFor="let data of countryCodes" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>
<nz-drawer [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="true" [nzWidth]="900" 
  [nzVisible]="drawerVisible" [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
  <ng-container *nzDrawerContent>
    <app-whatsapp-service-config [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData">
    </app-whatsapp-service-config>
  </ng-container>
</nz-drawer>
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" 
    [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible" [nzTitle]="drawerTitle" (nzOnClose)="drawerfilterClose()" 
    (nzKeyboard)="(true)" [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [drawerClose]="filtercloseCallback" [filterGroups]="[]" [TabId]="TabId"
        [fields]="filterFields"></app-main-filter>
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Query Details'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <h6 class="query-details-text">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>