nz-form-item{
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
  width: 100%;
}
.textarea-char-counter-red-10px-no-margin {
  color: red;
  font-size: 10px;
  margin-bottom: 0px !important;
}
.hsn-footer-cancel-btn-mr8 {
  margin-right: 8px;
}
.hsn-dropdown-menu-item-rounded-white {
  border-radius: 4px;
  color: white !important;
}
.hsn-dropdown-link-white {
  color: white !important;
}