::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
th {
  text-align: center !important;
  vertical-align: middle !important;
}
#centerAlign {
  text-align: center !important;
  vertical-align: middle !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  background: #fff;
  border-color: #092b9c;
}
.ant-radio-button-wrapper-checked {
  background-color: #092b9c !important;
  color: white !important;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 
  display: inline-block;
}
.back-arrow {
  font-weight: bold;
  cursor: pointer;
}
.header-controls {
  display: flex;
  justify-content: flex-end;
}
.create-ticket-btn {
  cursor: pointer;
}
.radio-group-row {
  margin-top: 10px;
}
.radio-group-container {
  display: flex;
  justify-content: center;
}
.date-label {
  font-weight: 500;
}
.date-range-picker-full {
  width: 100%;
  margin-bottom: 0px;
}
.empty-label {
  display: block;
  height: 22px; 
}
.filter-form-item {
  display: flex;
  margin-bottom: 0px;
}
.filter-action-btn {
  margin-right: 10px;
}
.apply-filter-btn {
  margin-right: 10px;
}
.clear-filter-btn {
}
.table-header {
  font-weight: bold;
  text-align: center;
}
.filterable-header {
  font-weight: bold;
  text-align: center;
}
.status-header {
  text-align: center;
}
.close-ticket-icon {
  color: red;
  cursor: pointer;
}
.view-details-tag {
  cursor: pointer;
}
.view-icon {
  font-size: 15px;
}
.date-range-filter-picker {
  width: 100%;
}
.overflow-drawer {
  overflow-x: hidden;
}
