.bo-form-title {
  display: flex;
  align-items: center;
}
.bo-back-icon {
  font-weight: bold;
  cursor: pointer;
}
.bo-form-actions form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.bo-form-item {
  margin-right: 8px;
}
.bo-search-group {
  width: 270px;
}
.bo-search-input {
  height: 32px;
}
.bo-search-btn {
  height: 32px;
}
.bo-add-btn {
  margin-right: 0px;
}
.bo-table-th-bold {
  font-weight: bold;
  text-align: center;
}
.bo-table-th-center {
  text-align: center;
}
.bo-table-cell-preline {
  white-space: pre-line;
}
.bo-table-row {
  padding-top: 10px;
}
.bo-descreption-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}
.bo-action-icon {
  font-size: 15px;
  cursor: pointer;
}
.bo-form-icon {
  color: #0d6efd;
}