th {
    text-align: center !important;
    vertical-align: middle !important;
  }
  .select{
  width: 200px;
  padding: 8px;
  display: block;
  }
  .search-box {
    padding: 8px;
  }
  .btn.helpdoc {
    background-color: #39b793;
    color: white;
  }
  .search-box input {
    width: 188px;
    display: block;
  }
  .search-box button {
    width: 90px;
  }
  .search-button {
    margin-right: 8px;
  }
  nz-select {
    width: 100%;
  }
  .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 15px 0px 0px 0px;
    padding: 0px;
  }
  .card-header {
    justify-content: space-between;
    align-items:center;
        margin-bottom: 0px;
        padding: 0px !important;
    background-color: white!important;
    border-radius: 8px 8px 0px 0px!important;
    height: 28px;
  }
  .category-name {
    font-weight: bold;
    color: #333;
  }
  .subcategory-name {
    font-weight: bold;
    color: #555;
  }
  .tag {
  font-size: 12px;
  font-weight: bold;
  padding: 3px 12px;
  border-radius: 0px 8px 0px 8px;
  position: relative;
  display: inline-block;
  }
  .card-body {
  align-items: flex-start; 
  gap: 20px;
  }
  .details {
  flex: 1; 
  }
  .service-image {
  flex-shrink: 0; 
  text-align: right;
  }
  .name {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  .truncate-one-line {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    line-clamp: 1;
    max-height: calc(1.5em * 1); 
    cursor: pointer;
    line-height: 1.5em;
  }
  .truncate-three-lines {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    max-height: calc(1.5em * 3); 
    cursor: pointer;
    line-height: 1.5em;
  }
  .description {
    margin: 0;
    color: #555;
    font-size: 14px;
  }
  .service-image {
    flex: 1;
    text-align: right;
  }
  .service-image img {
    padding: 0px 15px 0pc 10px;
    border-radius: 0px;
    border: none;
  }
  .card-footer {
    margin-top: 0px;
  }
  .btn {
    padding: 5px 2px !important;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn.edit {
    background-color: #007bff;
    color: white;
  }
  .btn.edit-details {
    background-color: #ffc107;
    color: black;
  }
  .btn.add-subservice {
    background-color: #28a745;
    color: white;
  }
  .btn.editmap {
    background-color: #af93ff;
    color: white;
  }
  .btn:hover {
    opacity: 0.9;
  }
  .nz-col {
    padding-left: 10px; 
    padding-right: 10px; 
  }
  .custom-popover {
    max-width: 600px; 
    max-height: 400px; 
    overflow-y: auto; 
    white-space: normal !important;
    word-wrap: break-word !important;
  }
  .custom-popover img {
    max-width: 100% !important; 
    max-height: 200px !important; 
    height: auto !important;
    display: block;
    margin: auto;
    border-radius: 5px;
  }
.search-filter-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.filter-button-container {
  width: 47px;
}
.new-subservice-button-container {
  margin-right: 0px;
}
.filter-content-row {
  padding-top: 10px;
}
.filter-tags-container {
  border: 1px dashed black;
  border-radius: 5px;
  padding: 10px;
}
.spin-container {
  text-align: center;
}
.filter-tag-item {
  margin: 5px;
  display: inline-flex;
  align-items: center;
  background-color: white;
}
.filter-tag-name {
  color: black;
  margin-right: 10px;
}
.filter-tag-actions {
  display: inline-flex;
  align-items: center;
}
.filter-action-icon {
  margin-right: 8px;
}
.apply-icon {
  color: #01ac5c;
}
.delete-icon {
  color: red;
}
.view-icon {
  color: blue;
}
.no-filters-message {
  text-align: center;
  color: red;
  font-weight: bold;
}
.filter-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.clear-filter-button {
  margin-right: 10px;
}
.add-filter-button {
  margin-right: 10px;
}
.service-card-wrapper {
  padding: 5px;
}
.category-container {
  padding: 4px 0px 0px 9px;
}
.status-container {
  text-align: end;
}
.status-icon {
  font-size: 15px;
}
.express-tag {
  margin: 0px !important;
}
.details {
  height: 102px;
}
.service-description {
  text-align: justify;
  font-size: 11px !important;
}
.price-row {
  margin-top: 5px;
}
.price-col {
  font-size: 11px !important;
  font-weight: 500;
}
.price-value {
  font-size: 11px !important;
}
.card-footer {
  padding: 5px;
}
.footer-buttons-row {
  display: flex;
}
.footer-button-col {
  padding: 0px 3px;
}
.edit-button-col {
  padding-right: 3px;
}
.helpdoc-button-col {
  padding: 0px 3px;
}
.map-button-col {
  padding: 0px 3px;
}
.changelog-button-col {
  padding-left: 3px;
}
.edit-details-button,
.helpdoc-button,
.map-skill-button,
.change-logs-button {
  width: 100%;
  font-size: 11px !important;
}
.empty-state-container {
  height: 75vh;
}
.empty-state-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-modal-content {
  height: 400px;
  overflow: auto;
}
.image-iframe {
  width: 832px;
  height: 396px;
}
.query-details-content {
  text-align: center;
}
.truncate-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}