.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 12px;
  background-color: #fafafa;
}
#Gstno {
  text-transform: lowercase;
  text-transform: "_";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#Gstno::placeholder {
  text-transform: initial;
}
#Gstno::before {
  content: attr(data-text);
}
#Gstno::after {
  content: "_";
  white-space: pre;
}
nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.vertical-card {
  width: 300px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  background-image: url("/assets/email.jpg");
  background-repeat: repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif !important;
}
.vertical {
  font-family: "Roboto", sans-serif !important;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 44px 44px 44px;
  margin-top: 1px;
  min-height: 20px;
  position: relative;
  overflow-wrap: break-word;
  padding: 10px;
}
.image {
  margin: 0;
  padding: 0;
  background-image: url("/assets/email.jpg");
  background-repeat: repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif !important;
}
.phone-select {
  width: 70px;
}
.header {
  position: absolute;
  top: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  right: 0px;
}
:host::ng-deep div[nz-col][nzSpan="12"] {
  padding-left: 0 !important;
}
div[nz-col][nzSpan="12"] {
  padding-left: 0 !important;
  padding-right: 0px !important;
}
:host::ng-deep div[nz-col][nzSpan="24"] {
  padding-left: 0 !important;
}
div[nz-col][nzSpan="24"] {
  padding-left: 0 !important;
  padding-right: 0px !important;
}
.full-wdth {
  width: 100%;
}
.txtarea-size {
  color: red;
  font-size: 10px
}
.footer-cancel-spacing {
  margin-right: 8px;
}
.footer-primary-btn {
  border-radius: 4px;
  color: white;
}
