  .header {
    position: absolute;
    top: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    right: 0px;
  }
  nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 5px;
  }
  .full-wdt {
    width: 100%;
  }
  .variant-option-wrapper {
    white-space: pre-line;
  }
  .variant-category-text {
    font-size: 11px;
    color: #272425;
    white-space: pre-line;
  }
  .variant-combination-text {
    font-size: 14px;
    color: black;
  }
  .tracking-type-text {
    color: blue;
  }
  .quantity-input-field {
    width: 40%;
    padding: 4.7px 11px !important;
  }
  .unit-select-field {
    width: 60%;
  }
  .add-button-spacing {
    margin-top: 3px;
  }
  .row-margin-fix {
    margin-bottom: -22px;
  }
  .table-preline {
    white-space: pre-line;
  }
  .table-header-center-bold {
    font-weight: bold;
    text-align: center;
  }
  .table-cell-center {
    text-align: center;
  }
  .global-unique-input {
    margin-top: 5px;
    font-size: 12px !important;
  }
  .global-expiry-picker {
    margin-top: 5px;
    font-size: 12px !important;
  }
  .row-unique-input {
    font-size: 12px !important;
  }
  .row-expiry-picker {
    font-size: 12px !important;
  }
  .variant-name-text {
    font-size: 10px !important;
    color: gray;
  }
  .footer-cancel-btn-spacing {
    margin-right: 8px;
  }
  .footer-menu-item-rounded {
    border-radius: 4px;
  }
  .footer-menu-link-text {
    color: white !important;
  }
  .container-block {
    padding: 5px;
    cursor: pointer;
    margin: 5px
  }