<div>
  <form #myForm="ngForm" nz-form>
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row class="my-box">
        <div nz-col nzSpan="4">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Stock Check-In Date</nz-form-label>

            <nz-form-control nzErrorTip="Enter Name">
              <nz-date-picker [(ngModel)]="data.INWARD_DATE" [nzDisabled]="true" [nzShowToday]="false" required
                name="INWARD_DATE" autocomplete="off" nzPlaceHolder="Select Date" nzFormat="dd/MM/yyyy"
                style="width: 100%">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="5">
          <nz-form-item>
            <nz-form-label nzNoColon>PO Number</nz-form-label>

            <nz-form-control nzErrorTip="Enter PO Number">
              <input [(ngModel)]="data.PO_NUMBER" (keypress)="commonFunction.allowOnly1Numbers($event)" name="PO_NUMBER"
                autocomplete="off" nz-input maxlength="128" placeholder="Enter PO Number" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="9">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Warehouse</nz-form-label>

            <nz-form-control nzErrorTip="Select Warehouse">
              <nz-select nzShowSearch nzAllowClear="false" style="width: 100%" nzPlaceHolder="Select Warehouse"
                [(ngModel)]="data.WAREHOUSE_ID" name="WAREHOUSE_ID" (ngModelChange)="onWarehousechange($event)"
                [nzMaxTagCount]="2" [nzLoading]="warehouseLoading">
                <nz-option *ngFor="let unit of warehouseList" [nzValue]="unit.ID" [nzLabel]="unit.NAME">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzNoColon>SKU Code<span nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip
                nzTooltipTitle="SKU stands for Stock Keeping Unit. It is a unique code assigned to each inventory item to manage your inentory efficiently.">&nbsp;</span>
            </nz-form-label>

            <nz-form-control>
              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconSKU">
                <input type="text" [(ngModel)]="data.SKU_CODE" (keypress)="commonFunction.allowOnly1Numbers($event)"
                  name="SKU_CODE" autocomplete="off" nz-input maxlength="128" placeholder="Enter SKU Code To Search" />
              </nz-input-group>

              <ng-template #suffixIconSKU>
                <button nz-button nzType="primary" nzSearch (click)="getItemsAsPerSKU(data.SKU_CODE)">
                  <span nz-icon nzType="search"></span>
                </button>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="my-box">
        <div nz-row>
          <div nz-col [nzSpan]="data.IS_VARIANT ? 6 : 9">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Item Name</nz-form-label>

              <nz-form-control nzErrorTip="Select Item Name">
                <nz-tree-select name="INWARD_ITEM_ID" style="width: 100%" [nzHideUnMatched]="true" [nzDropdownStyle]="{
                    'min-height': '10px',
                    'max-height': '220px',
                    'overflow-x': 'auto'
                  }" [nzNodes]="InventoryCategoryList" (ngModelChange)="
                    getNamesCatAndSub($event); GetVariants($event)
                  " nzShowSearch [nzAllowClear]="false" [nzPlaceHolder]="
                    inventoryLoading ? 'Loading...' : 'Select Item Name'
                  " [(ngModel)]="data.INWARD_ITEM_ID" required>
                </nz-tree-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6" *ngIf="data.IS_VARIANT">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Variant Name</nz-form-label>

              <nz-form-control>
                <nz-select [(ngModel)]="data.INWARD_VARIANT_ID" [nzLoading]="isVarientLoading"
                  nzPlaceHolder="Select Variant" name="INWARD_VARIANT_ID" [nzOptionHeightPx]="50"
                  (ngModelChange)="variantchange($event)" nzShowSearch nzAllowClear>
                  <nz-option *ngFor="let option of InwardVarientsGet" [nzLabel]="option.VARIANT_COMBINATION"
                    [nzValue]="option.ID" nzCustomContent>
                    <div style="white-space: pre-line">
                      <div nz-row>
                        <div nz-col nzSpan="24" style="
                            font-size: 11px;
                            color: #272425;
                            white-space: pre-line;
                          ">
                          {{ option.INVENTORY_CATEGORY_NAME }} >
                          {{ option.INVENTRY_SUB_CATEGORY_NAME }}
                        </div>

                        <div nz-col nzSpan="24" style="font-size: 14px; color: black">
                          <b>{{ option.VARIANT_COMBINATION }}</b>
                        </div>
                      </div>
                    </div>
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="4">
            <nz-form-item>
              <nz-form-label nzNoColon> Tracking Type</nz-form-label>

              <nz-form-control>
                <label *ngIf="ItemDetails" style="color: blue">
                  <span [ngSwitch]="ItemDetails['INVENTORY_TRACKING_TYPE']">
                    <span *ngSwitchCase="'N'">None</span>
                    <span *ngSwitchCase="'S'">Serial No. Wise</span>
                    <span *ngSwitchCase="'B'">Batch Wise</span>
                  </span>
                </label>

                <label *ngIf="!ItemDetails" style="color: blue"> --- </label>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Quantity</nz-form-label>

              <nz-form-control>
                <nz-input-group nzCompact>
                  <input nz-input placeholder="Quantity" name="QUANTITY"
                    style="width: 40%; padding: 4.7px 11px !important" required [(ngModel)]="data.QUANTITY"
                    (keypress)="commonFunction.onlynum($event)" maxlength="5" autocomplete="off" />

                  <nz-select nzShowSearch nzAllowClear="false" style="width: 60%" nzPlaceHolder="Select Unit"
                    [(ngModel)]="data.UNIT_ID" name="Unitss" (ngModelChange)="onChange($event)" [nzLoading]="Unitload">
                    <nz-option *ngFor="let unit of UnitList" [nzValue]="unit.UNIT_ID" [nzLabel]="unit.UNIT_NAME">
                    </nz-option>
                  </nz-select>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="2">
            <nz-form-item>
              <nz-form-label nzNoColon></nz-form-label>
              <nz-form-control>
                <button type="button" *ngIf="ItemDetails; else elseblockitem" nz-button class="ant-btn-primary"
                  style="margin-top: 3px" (click)="
                    generateInwardData(
                      data.QUANTITY,
                      ItemDetails['INVENTORY_TRACKING_TYPE']
                    )
                  ">
                  <span nz-icon nzType="plus" nzTheme="outline"></span> Add
                </button>
                <ng-template #elseblockitem>
                  <button type="button" nz-button class="ant-btn-primary" style="margin-top: 3px"
                    (click)="generateInwardData1()">
                    <span nz-icon nzType="plus" nzTheme="outline"></span> Add
                  </button>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <ng-container *ngFor="let inwardData of finalInwardArray; let i = index">
            <nz-tag nzMode="closeable" (nzOnClose)="onItemTagClose(i)"
              [nzColor]="selectedTagIndex === i ? '#87d068' : '#f50'" style="padding: 5px; cursor: pointer; margin: 5px"
              (click)="onItemTagClick(i)">
              {{
              inwardData["IS_VARIANT"]
              ? inwardData["INWARD_VARIANT_NAME"]
              : inwardData["INWARD_ITEM_NAME"]
              }}
            </nz-tag>
          </ng-container>
        </div>
      </div>

      <div nz-row style="margin-bottom: -22px">
        <div nz-col nzSpan="24">
          <nz-table #table [nzFrontPagination]="false" [nzData]="inwardDataList" [nzLoading]="inwardLoadingRecords"
            [nzSize]="'small'" [nzScroll]="{ y: '35vh' }" class="my-scroll no-wrap1" nzBordered nzShowSizeChanger
            style="white-space: pre-line">
            <thead>
              <tr>
                <th nzLeft nzWidth="250px">Item Name</th>
                <th nzWidth="180px">Tracking Type</th>
                <th nzWidth="180px">Unit</th>
                <th nzWidth="180px">Contains Qty</th>

                <th nzWidth="180px" style="font-weight: bold; text-align: center">
                  <span *ngIf="inwardDataList && inwardDataList.length > 0">
                    <span [ngSwitch]="inwardDataList[0]['INVENTORY_TRACKING_TYPE']">
                      <span *ngSwitchCase="'N'">Unique No.&nbsp;<span nz-icon nzType="info-circle" nzTheme="twotone"
                          nz-tooltip nzTooltipTitle="Please enetr unique number"></span></span>
                      <span *ngSwitchCase="'S'">Serial No.&nbsp;<span nz-icon nzType="info-circle" nzTheme="twotone"
                          nz-tooltip nzTooltipTitle="Please enter unique serial number"></span></span>
                      <span *ngSwitchCase="'B'">Batch No.&nbsp;<span nz-icon nzType="info-circle" nzTheme="twotone"
                          nz-tooltip nzTooltipTitle="Please enter unique batch number"></span></span>
                    </span>
                    <input nz-input nzSize="small" style="margin-top: 5px; font-size: 12px !important"
                      name="UNIQUE_NOGlobals" [(ngModel)]="UNIQUE_NOGlobal"
                      (keypress)="commonFunction.allowOnly1Numbers($event)" autocomplete="off" maxlength="32"
                      placeholder="Enter {{
                        inwardDataList[0].INVENTORY_TRACKING_TYPE == 'B'
                          ? 'Batch No.'
                          : inwardDataList[0].INVENTORY_TRACKING_TYPE == 'S'
                          ? 'Serial No.'
                          : 'Unique No.'
                      }}" (ngModelChange)="Uniquenochange($event)" />
                  </span>
                </th>
                <th nzWidth="180px">
                  Expiry Date <br />
                  <nz-date-picker *ngIf="inwardDataList && inwardDataList.length > 0" nzSize="small"
                    style="margin-top: 5px; font-size: 12px !important" [(ngModel)]="GLOBAL_EXPIRY_DATE"
                    [nzDisabledDate]="disabledPastDates" [nzShowToday]="false" name="GLOBAL_EXPIRY_DATE"
                    nzPlaceHolder="Select Date" nzFormat="dd/MM/yyyy" style="width: 100%"
                    (ngModelChange)="onGlobalExpiryDateChange($event)">
                  </nz-date-picker>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let data of table.data; let i = index">
                <td nzLeft nzWidth="250px">
                  {{ data.ITEM_NAME }}

                  <ng-container *ngIf="data.INWARD_VARIANT_NAME">
                    <br />
                    <span style="font-size: 10px !important; color: gray">
                      ({{ data.INWARD_VARIANT_NAME }})
                    </span>
                  </ng-container>
                </td>

                <td nzWidth="180px">
                  <span [ngSwitch]="data.INVENTORY_TRACKING_TYPE">
                    <span *ngSwitchCase="'N'">None</span>
                    <span *ngSwitchCase="'S'">Serial No. Wise</span>
                    <span *ngSwitchCase="'B'">Batch Wise</span>
                  </span>
                </td>
                <td nzWidth="180px">
                  <span> {{ data.ACTUAL_UNIT_NAME }}</span>
                </td>
                <td nzWidth="180px">
                  <span>{{ data.BASE_QUANTITY }} qty </span>
                </td>
                <td nzWidth="180px" style="text-align: center">
                  <input nz-input nzSize="small" style="font-size: 12px !important" name="UNIQUE_NO{{ i }}"
                    [(ngModel)]="data.UNIQUE_NO" (keypress)="commonFunction.allowOnly1Numbers($event)"
                    autocomplete="off" maxlength="32" placeholder="Enter {{
                      data.INVENTORY_TRACKING_TYPE == 'B'
                        ? 'Batch No.'
                        : data.INVENTORY_TRACKING_TYPE == 'S'
                        ? 'Serial No.'
                        : 'Unique No.'
                    }}" />
                </td>
                <td nzWidth="180px">
                  <nz-date-picker nzSize="small" style="font-size: 12px !important" [(ngModel)]="data.EXPIRY_DATE"
                    [nzShowToday]="false" name="EXPIRY_DATE{{ i }}" (ngModelChange)="onExpiryDateChange($event,i)"
                    nzPlaceHolder="Select Date" nzFormat="dd/MM/yyyy" [nzDisabledDate]="disabledPastDates"
                    style="width: 100%" [nzDisabled]="data.EXPIRY_DATE_ALLOWED ? 'false' : 'true'">
                  </nz-date-picker>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-spin>
  </form>

  <div class="footer">
    <button nz-button (click)="close(myForm)" type="button" class="ant-btn" style="margin-right: 8px">
      <span>Cancel</span>
    </button>

    <button nz-button *ngIf="!data.ID" [nzLoading]="isSpinning" [nzDropdownMenu]="menu"
      (nzOnConfirm)="save(false, myForm)" [nzOkText]="'Yes'" (nzOnCancel)="deleteCancel()" nz-popconfirm
      nzPopconfirmTitle="Are you sure, you want to save information?" nzPopconfirmPlacement="top" type="button"
      class="ant-btn ant-btn-primary" nz-dropdown>
      <span>Save & Close</span>
    </button>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc" style="border-radius: 4px">
          <a (nzOnConfirm)="save(true, myForm)" [nzOkText]="'Yes'" (nzOnCancel)="deleteCancel()" nz-popconfirm
            nzPopconfirmTitle="Are you sure, you want to save information?" nzPopconfirmPlacement="top"
            style="color: white !important">
            Save & New
          </a>
        </li>
      </ul>
    </nz-dropdown-menu>

    <button nz-button *ngIf="data.ID" [nzLoading]="isSpinning" (nzOnConfirm)="save(false, myForm)" [nzOkText]="'Yes'"
      (nzOnCancel)="deleteCancel()" nz-popconfirm nzPopconfirmTitle="Are you sure, you want to update information?"
      nzPopconfirmPlacement="top" type="button" class="ant-btn ant-btn-primary">
      <span>Update & Close</span>
    </button>
  </div>
</div>