:host ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  margin-top: 5px;
}
nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.custom-date-cell {
  font-size: 12px;
  padding: 5px;
  text-align: center;
  color: #555;
}
.custom-date-cell br {
  margin: 2px 0;
}
:host ::ng-deep .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: #e6f7ff !important;
}
.nz-calendar-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #333;
}
.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 8px;
}
:host::ng-deep .ant-calendar {
  width: 280px;
  height: 280px;
}
:host::ng-deep .ant-calendar-header {
  font-size: 12px;
}
:host::ng-deep .ant-calendar-cell {
  font-size: 10px;
}
:host::ng-deep .ant-calendar {
  height: 280px;
  overflow: hidden;
}
:host::ng-deep .ant-calendar-body {
  max-height: calc(5 * 32px);
  overflow: hidden;
}
:host::ng-deep .ant-calendar-row {
  display: block;
}
.calendar-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}
nz-calendar {
  position: relative;
}
.nz-calendar {
  height: calc(5 * 40px);
  overflow: hidden;
}
.calendar-wrapper {
  border: 1px solid #ccc;
  padding: 5px;
  position: relative;
}
.calendar-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0 10px;
}
.calendar-available-text {
  font-size: 11px;
}
.calendar-label-text {
  font-size: 10px;
}
.calendar-not-available-wrapper {
  text-align: center;
}
.calendar-not-available-tag {
  height: 30px;
  width: 150px;
  font-size: 16px;
  padding-top: 5px;
  font-weight: bolder;
}