<div>
  <div nz-row>
    <div nz-col nzSpan="18" class="tl-item-bold">
      {{ ITEM_NAME }}
    </div>
    <div nz-col nzSpan="6">
      <div class="tl-header-actions">
        <button nz-button class="tl-filter-btn-space" nzTooltipTitle="Filter" [nzType]="isFilterApplied"
          nzTooltipPlacement="top" nz-tooltip (click)="showFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <div class="filter {{ filterClass }}">
        <div class="filter-box">
          <form nz-form>
            <div nz-row>
              <div nz-col nzSpan="8">
                <nz-form-item class="tl-form-item-space">
                  <nz-form-label nzNoColon>Date</nz-form-label>
                  <nz-range-picker class="tl-full-width" [nzFormat]="'dd/MM/yyyy'" nzAllowClear="false"
                    [nzRanges]="ranges" (nzOnCalendarChange)="changeDate($event)" name="selectedDate"
                    [(ngModel)]="selectedDate">
                  </nz-range-picker>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8" class="tl-filter-actions">
                <button nz-button [nzLoading]="isSpinning" nzType="primary" class="flexicons" (click)="applyFilter()">
                  <i nz-icon nzType="filter"></i>Apply Filter
                </button>
                <button nz-button nzType="default" class="flexicons" (click)="clearFilter()">
                  <i nz-icon nzType="delete"></i>Clear filter
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <nz-divider class="tl-divider-space"></nz-divider>
  <nz-spin [nzSpinning]="loadactionlogs">
    <div class="tl-timeline-offset">
      <nz-timeline [nzMode]="mode">
        <nz-timeline-item *ngFor="let group of timelineData" nzLabel="{{ group.date | date : 'hh/MMM/yyyy' }}">
          <div class="event-details">
            <div class="event-title">
              <span class="tl-event-action">{{ group.events.ACTION_TYPE }}</span>
              |
              <span class="tl-event-time">
                {{ group.events.time }}
              </span>
            </div>
            <div class="event-meta">
              <span class="time">
                <span>{{ group.events.title }}</span> </span><br />
              <span class="event-description tl-event-small" *ngIf="group.events.WAREHOUSE_NAME != ''">Warehouse Name
                :&nbsp;
                <span class="tl-event-small">
                  {{ group.events.WAREHOUSE_NAME }}</span>
                &nbsp;&nbsp; Quantity :&nbsp;<span class="tl-event-small">
                  {{ group.events.QUANTITY }} {{ group.events.UNIT_NAME }}
                </span>
              </span>
              <span class="event-description tl-event-small" *ngIf="group.events.description != ''">Reason :&nbsp;
                <span class="tl-event-small">
                  {{ group.events.description }}</span>
              </span>
            </div>
          </div>
        </nz-timeline-item>
      </nz-timeline>
    </div>
    <ng-template #loadingTemplate>
      <nz-spin>Loading timeline data...</nz-spin>
    </ng-template>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngIf="timelineData.length == 0"
      class="tl-empty-state">
      <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
        <ng-template #contentTpl>
          <span> Data Not Found</span>
        </ng-template>
        <ng-template #footerTpl> </ng-template>
      </nz-empty>
    </div>
  </nz-spin>
</div>