nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}


.disabled-row {
  pointer-events: none;
  opacity: 0.6;
  background-color: #eee;
}