<nz-layout class="main-layout">
    <nz-sider nzWidth="220px" nzTheme="light" [nzReverseArrow]="false" (nzCollapsedChange)="isCollapsed = $event"
        class="custom-sider sider-bg-white">
        <div class="logo logo-container">
            <div>
                <nz-avatar nzIcon="question" class="logo-avatar"></nz-avatar>
            </div>
            <div class="logo-text-wrap">
                <span class="logo-title">FAQs</span><br />
            </div>
        </div>
        <ul nz-menu nzMode="inline" class="sider-menu sider-menu-noborder">
            <li *ngFor="let menu of menuItems" nz-submenu class="submenu-title"
                [nzTitle]="menu.title?.length > 20 ? menu.title.slice(0, 20) + '...' : menu.title"
                nzTooltipPlacement="top" nz-tooltip [nzTooltipTitle]="menu.title" [(nzOpen)]="menu.open">
                <ul class="submenu-list">
                    <li *ngFor="let group of menu.children" nz-menu-group class="menu-group-item">
                        <ul>
                            <li *ngFor="let item of group.items" nz-menu-item class="menu-item"
                                [nzSelected]="ItemID?.id === item.id" nz-tooltip nzTooltipPlacement="right"
                                [nzTooltipTitle]="item.title?.length > 20 ? item.title : ''"
                                (click)="onMenuItemClick(item)">
                                <span *ngIf="item.title?.length >= 20" class="menu-item-ellipsis">
                                    {{ item.title?.slice(0, 20) + "..." }}
                                </span>
                                <span *ngIf="item.title?.length < 20">{{ item.title }}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout class="content-layout">
        <nz-header class="header">
            <div class="search-container">
                <nz-input-group nzSize="large" [nzPrefix]="prefixIcon" [nzSuffix]="searchQuery ? clearIcon : undefined">
                    <input nz-input placeholder="Search FAQs..." name="skillesearch" [(ngModel)]="searchQuery"
                        (ngModelChange)="SearchSkill($event)" />
                </nz-input-group>
            </div>
            <ng-template #prefixIcon>
                <i nz-icon nzType="search"></i>
            </ng-template>
            <ng-template #clearIcon>
                <i nz-icon nzType="close-circle" class="clear-icon" (click)="clearSearch()"></i>
            </ng-template>
        </nz-header>
        <nz-content class="content content-bg-white">
            <nz-spin [nzSpinning]="isSpinning">
                <nz-collapse *ngIf="selectedContent?.length" [nzExpandIconPosition]="'right'" [nzAccordion]="true">
                    <nz-collapse-panel *ngFor="let faq of selectedContent; let i = index" class="faq-panel"
                        [nzHeader]="faq.QUESTION" [nzShowArrow]="true" [nzActive]="i === 0">
                        <div class="faq-header faq-preline">
                            <p class="faq-answer faq-answer1">
                                {{ faq.ANSWER }}
                            </p>
                            <div class="icons">
                                <span class="thumbs-up" [ngClass]="{ active: faq.userLiked }"
                                    (click)="increasePositive(faq)">
                                    <span nz-icon nzType="like" [nzTheme]="faq.userLiked ? 'fill' : 'outline'"></span>
                                    {{ faq.POSITIVE_COUNT }}
                                </span>
                                <span class="thumbs-down" [ngClass]="{ active: faq.showTextArea || faq.userDisliked }"
                                    (click)="submitNegativeResponse(faq)">
                                    <span nz-icon nzType="dislike"
                                        [nzTheme]="faq.userDisliked ? 'fill' : 'outline'"></span>
                                    {{ faq.NEGATIVE_COUNT }}
                                </span>
                            </div>
                        </div>
                        <div *ngIf="faq.showTextArea" class="negative-response">
                            <textarea [(ngModel)]="faq.negativeFeedback" maxlength="512"
                                placeholder="Enter your feedback..."></textarea>
                            <button (click)="updateFeedback(faq)">Submit</button>
                        </div>
                    </nz-collapse-panel>
                </nz-collapse>
            </nz-spin>
            <div *ngIf="!selectedContent?.length" class="select-message">
                <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                    [nzNotFoundContent]="contentTpl43" [nzNotFoundFooter]="footerTpl43" class="empty-mt-38">
                    <ng-template #contentTpl43>
                        <span> Data Not Found</span>
                    </ng-template>
                    <ng-template #footerTpl43></ng-template>
                </nz-empty>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>