<div nz-row>
  <div nz-col nzSpan="11">
    <form nz-form #teritorymaster="ngForm">
      <div nz-row>
        <div nz-col nzSpan="12" class="cls-left-info">
          <span *ngIf="selectedPincode.length > 0">
            {{ selectedPincode.length }} records selected out of
            {{ PincodeMappingdata.length }}
          </span>
          <span *ngIf="selectedPincode.length == 0">
            Total Records {{ PincodeMappingdata.length }}
          </span>
        </div>
        <div nz-col nzSpan="12" class="cls-right-search">
          <form nz-form [nzLayout]="'inline'" class="cls-inline-form">
            <nz-form-item class="cls-zero-margin-bottom">
              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="cls-search-input-group">
                <input type="text" name="postsearch" [(ngModel)]="searchskill" autocomplete="off"
                  (keydown.enter)="handleEnterKey($event)" (keydown.backspace)="handleEnterKey($event)" nz-input
                  class="cls-search-input" placeholder="Min 3 chars required." />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" id="button" (click)="SearchPincode(searchskill)">
                  <i nz-icon nzType="search"></i>
                </button>
              </ng-template>
            </nz-form-item>
          </form>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="cls-table-wrapper">
            <nz-table class="my-scroll no-wrap1 cls-table-spacing" nzBordered #tableeeee [nzData]="PincodeMappingdata"
              (nzQueryParams)="sort($event)" [nzSize]="'small'" [nzFrontPagination]="false"
              [nzLoading]="isSpinning11 || isLoading" [nzScroll]="{ y: '55vh' }">
              <thead>
                <tr>
                  <th nzWidth="40px">
                    <label (ngModelChange)="toggleAll($event)" nz-checkbox [(ngModel)]="allSelected" name="allSelected"
                      [nzIndeterminate]="tableIndeterminate">
                      All
                    </label>
                  </th>
                  <th nzWidth="160px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'NAME' }}">
                    Skill
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of tableeeee.data; let i = index">
                  <td class="cls-checkbox-center">
                    <label nz-checkbox [(ngModel)]="data.selected" name="allSelecteddd{{ i }}"
                      (ngModelChange)="onPincodeSelecttable(data, $event)">
                    </label>
                  </td>
                  <td align="left">
                    <span *ngIf="data['NAME'] != null">
                      <span *ngIf="data['NAME'].length >= 50" nz-popover [nzPopoverContent]="data['NAME']"
                        nzPopoverPlacement="topLeft">
                        {{
                        data["NAME"] == null
                        ? "-"
                        : (data["NAME"] | slice : 0 : 50)
                        }}{{ data["NAME"].length > 50 ? "..." : "" }}
                      </span>
                      <span *ngIf="data['NAME'].length < 50">
                        {{
                        data["NAME"] == null
                        ? "-"
                        : (data["NAME"] | slice : 0 : 50)
                        }}
                        {{ data["NAME"].length > 50 ? "..." : "" }}
                      </span>
                    </span>
                    <span *ngIf="data['NAME'] == null">-</span>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div nz-col nzSpan="2" class="cls-center-col">
    <div>
      <nz-spin [nzSpinning]="isSpinning">
        <span nz-icon nzType="right-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="No Skill selected"
          *ngIf="selectedPincode.length == 0" class="cls-arrow-icon">
        </span>
        <span nz-icon nzType="right-circle" nzTheme="fill" nz-tooltip nzTooltipTitle="Click Here to Map Skills"
          (click)="mapdatatopincode()" *ngIf="selectedPincode.length > 0" class="cls-arrow-icon">
        </span>
      </nz-spin>
    </div>
  </div>
  <div nz-col nzSpan="11">
    <div nz-row class="cls-mapheader-row-uniq">
      <div class="cls-mapheader-left-uniq">
        <div class="cls-mapheader-lefttext-uniq">
          <span *ngIf="selectedPincode11.length == 0">
            Total Records {{ totoalrecordsss }}
          </span>
        </div>
        <div class="cls-mapheader-lefttext-uniq">
          <td nzLeft align="center" class="cls-mapheader-nowrap-uniq">
            <nz-switch name="allChange" nzCheckedChildren="Select All" nzUnCheckedChildren="Deselect All"
              (ngModelChange)="allChange($event)" [(ngModel)]="allChecked">
            </nz-switch>
          </td>
        </div>
      </div>
      <div class="cls-mapheader-right-uniq">
        <form nz-form [nzLayout]="'inline'" class="cls-mapheader-inlineform-uniq">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton1" class="cls-mapheader-searchgroup-uniq">
              <input type="text" name="skillesearch" [(ngModel)]="mapsearchskill" autocomplete="off"
                (keydown.enter)="handlepincodeEnterKey($event)" (keydown.backspace)="handlepincodeEnterKey($event)"
                nz-input class="cls-mapheader-searchinput-uniq" placeholder="Min 3 chars required." />
            </nz-input-group>
            <ng-template #suffixIconButton1>
              <button nz-button nzType="primary" id="button" (click)="SearchSkill(mapsearchskill)">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="cls-mapping-table-wrapper">
          <nz-table class="my-scroll no-wrap1 cls-mapping-table-spacing" nzBordered #table [nzData]="mappingdata"
            (nzQueryParams)="sort11($event)" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="isSpinning22"
            [nzScroll]="{ y: '55vh' }">
            <thead>
              <tr>
                <th nzWidth="50px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'IS_ACTIVE' }}">
                  Is Mapped ?
                </th>
                <th nzWidth="160px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'SKILL_NAME' }}">
                  Skill
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data; let i = index">
                <td align="center" class="cls-mapping-nowrap-cell">
                  <nz-switch name="IS_ACTIVE" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                    [(ngModel)]="data['IS_ACTIVE']" (ngModelChange)="onPincodeSelecttable11111(data, $event)">
                  </nz-switch>
                </td>
                <td align="left">
                  <span *ngIf="data['SKILL_NAME'] != null">
                    <span *ngIf="data['SKILL_NAME'].length >= 50" nz-popover [nzPopoverContent]="data['SKILL_NAME']"
                      nzPopoverPlacement="topLeft">
                      {{
                      data["SKILL_NAME"] == null
                      ? "-"
                      : (data["SKILL_NAME"] | slice : 0 : 50)
                      }}{{ data["SKILL_NAME"].length > 50 ? "..." : "" }}
                    </span>
                    <span *ngIf="data['SKILL_NAME'].length < 50">
                      {{
                      data["SKILL_NAME"] == null
                      ? "-"
                      : (data["SKILL_NAME"] | slice : 0 : 50)
                      }}
                      {{ data["SKILL_NAME"].length > 50 ? "..." : "" }}
                    </span>
                  </span>
                  <span *ngIf="data['SKILL_NAME'] == null">-</span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <button type="button" nz-button (click)="close()" class="ant-btn cls-footer-cancel-gap">
    <span>Cancel</span>
  </button>
</div>