nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.header {
  position: absolute;
  top: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  right: 0px;
}
.coupon-footer-btn-x3 {
  margin-right: 8px;
}
.coupon-dropdown-item-x3 {
  border-radius: 4px;
  color: white !important;
}
.coupon-dropdown-link-x3 {
  color: white !important;
}