<div>
  <form nz-form #couponTypePage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Coupon Type </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Enter Coupon Type">
              <input nz-input name="name" type="text" autocomplete="off" [(ngModel)]="data.NAME" maxlength="64" required
                placeholder="Enter Coupon Type" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon>Is Active</nz-form-label>
            <nz-form-control>
              <nz-switch name="is_active" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                [(ngModel)]="data.IS_ACTIVE"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>
  <div class="footer">
    <button type="button" nz-button (click)="close(couponTypePage)" class="ant-btn coupon-footer-btn-x3">
      <span>Cancel</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      [nzLoading]="isSpinning" (click)="save(false, couponTypePage)">
      <span>Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc coupon-dropdown-item-x3">
          <a (click)="save(true, couponTypePage)" class="coupon-dropdown-link-x3">
            Save & New
          </a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false, couponTypePage)">
      <span>Update & close</span>
    </button>
  </div>
</div>