nz-form-item  {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 5px;
}
.service-form-wrapper {
    margin-top: 10px;
}
.service-select-full-width {
    width: 100%;
}
.service-char-counter {
    color: red;
    font-size: 10px;
}
.service-express-col {
    padding-left: 7px;
}
.service-input-full-width {
    width: 100%;
}
.service-upload-button {
    height: 28px;
    padding: 0px 7px;
    font-size: 10px;
    width: 30%;
}
.service-file-hidden {
    display: none;
}
.service-image-warning {
    color: red;
    font-size: 10px !important;
    display: block;
    margin-top: 5px;
}
.service-image-link {
    color: blue;
}
.service-image-link-margin {
    margin-right: 9px;
}
.service-cursor-pointer {
    cursor: pointer;
}
.service-delete-margin {
    margin-left: 10px;
}
.service-cancel-button-margin {
    margin-right: 12px;
}
.service-dropdown-menu-item {
    border-radius: 4px;
    color: white !important;
}
.service-footer-button-white {
    color: white !important;
}
.service-modal-content {
    height: 400px;
    overflow: auto;
}
.service-modal-iframe {
    width: 832px;
    height: 396px;
}