nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.bo-char-count {
  color: red;
  font-size: 10px;
}
.bo-footer-cancel-btn {
  margin-right: 8px;
}
.bo-save-new-item {
  border-radius: 4px;
  color: white !important;
}
.bo-save-new-link {
  color: white !important;
}