 nz-form-item {
   display: inline-block;
   width: 100%;
   margin-bottom: 8px;
 }
 .error-msg {
   color: red;
   font-size: 10px;
   text-align: left;
 }
 .custom-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .text-white-important {
   color: #ffffff !important;
 }
 .cursor-icon {
   cursor: pointer
 }
 .high-wdth {
   height: 300px;
   width: 100%
 }
 .mrg-right {
   margin-right: 8px
 }
 .wt-100 {
   width: 100%
 }
 .primary-bg-rounded {
   border-radius: 4px;
   background-color: #092B9C !important;
 }
 .left-section {
   display: flex;
   align-items: center;
 }
 .close-icon {
   cursor: pointer;
   font-size: 18px;
   margin-right: 10px;
 }
 .search-text {
   font-size: 16px;
   font-weight: 500;
 }
 .search-container {
   flex-grow: 1;
   max-width: 280px;
 }
 .search-container input {
   width: 100%;
   padding: 8px 12px;
   border-radius: 20px;
   border: 1px solid #ccc;
   font-size: 14px;
   outline: none;
 }
 .footer button {
   margin-left: 8px;
 }