<div>
  <form nz-form #accountMasterPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row nzAlign="middle" nzGutter="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Select Location</nz-form-label>
            <i nz-tooltip nzTooltipTitle="Select Location" nz-icon (click)="openmapModal()" class="cursor-icon">
              <img src="assets/loc.png" height="30" width="30" />
            </i>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="16">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control>
              <input nz-input name="latitude" maxlength="32" placeholder="Enter Latitude" [(ngModel)]="data.LATTITUDE"
                (keypress)="commonFunction.numberWithDecimal($event)" autocomplete="off" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control>
              <input nz-input name="longitude" maxlength="32" placeholder="Enter Longitude" [(ngModel)]="data.LONGITUDE"
                (keypress)="commonFunction.numberWithDecimal($event)" autocomplete="off" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="16">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Country</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Country Name">
              <nz-select name="countryId" nzPlaceHolder="Select Country" nzShowSearch class="wt-100"
                [(ngModel)]="data.COUNTRY_ID" [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="getStatesByCountry(data.COUNTRY_ID, true)" required nzAllowClear
                [nzLoading]="isContrySpinning">
                <nz-option *ngFor="let c of CountryData" [nzValue]="c.ID" [nzLabel]="c.NAME"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>State</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select State Name">
              <nz-select name="stateId" nzPlaceHolder="Select State" nzShowSearch class="wt-100"
                [(ngModel)]="data.STATE" [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="getDistrictByState(data.STATE, true)" required nzAllowClear
                [nzLoading]="isStateSpinning">
                <nz-option *ngFor="let s of StateData" [nzValue]="s.ID" [nzLabel]="s.NAME"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="16">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>District</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select District Name">
              <nz-select name="DistrictId" nzPlaceHolder="Select District" nzShowSearch class="wt-100"
                [(ngModel)]="data.DISTRICT" [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="getData(data.DISTRICT)" required nzAllowClear [nzLoading]="isDistSpinning">
                <nz-option *ngFor="let d of DistrictData" [nzValue]="d.ID" [nzLabel]="d.NAME"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Pincode</nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input name="Pincode" [(ngModel)]="data.PINCODE" placeholder="Enter Pincode"
                (keypress)="commonFunction.onlynum($event)" required autocomplete="off" #pincode="ngModel" />
            </nz-form-control>
            <div class="error-msg">
              <span *ngIf="pincode.errors?.['required'] && pincode.touched">Please Enter Pincode.</span>
              <span *ngIf="pincode.errors?.['minlength'] && pincode.touched">Pincode must be at least 4 characters
                long.</span>
              <span *ngIf="pincode.errors?.['maxlength'] && pincode.touched">Pincode cannot exceed 10 characters.</span>
            </div>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="16">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Pincode For</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Pincode For">
              <nz-select nzShowSearch nzAllowClear="false" class="wt-100" nzPlaceHolder="Select Pincode For"
                [(ngModel)]="data.PINCODE_FOR" name="pincodefor">
                <nz-option nzValue="S" nzLabel="For Service"></nz-option>
                <nz-option nzValue="I" nzLabel="For Shop"></nz-option>
                <nz-option nzValue="B" nzLabel="Both Service & Shop"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzNoColon>Status</nz-form-label>
            <nz-form-control>
              <nz-switch name="Status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                [(ngModel)]="data.IS_ACTIVE">
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>
  <div class="footer">
    <button type="button" nz-button class="ant-btn mrg-right" (click)="close(accountMasterPage)">
      <span>Cancel</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      (click)="save(false, accountMasterPage)">
      <span>Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc primary-bg-rounded">
          <a (click)="save(true, accountMasterPage)" class="text-white-important">Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false, accountMasterPage)">
      <span>Update & close</span>
    </button>
  </div>
</div>
<nz-modal [(nzVisible)]="mapDraweVisible" nzClosable="false" nzMaskClosable="false" nzWidth="1000px"
  [nzFooter]="modalFooter" [nzStyle]="{ height: '40vh' }" (nzOnCancel)="clearSearchBox()">
  <ng-template #customHeader>
    <div class="custom-header">
      <div class="left-section">
        <span class="close-icon" (click)="clearSearchBox()">✖</span>
        <span class="search-text">Set Location</span>
      </div>
      <div class="search-container">
        <input id="searchBox" type="text" placeholder="Search location..." (keyup)="handleSearch1($event)" />
      </div>
    </div>
  </ng-template>
  <ng-container *nzModalContent>
    <div id="map" class="high-wdth"></div>
  </ng-container>
</nz-modal>
<ng-template #modalFooter>
  <button nz-button nzType="primary" (click)="clearSearchBox()">Save</button>
</ng-template>