nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 5px;
}

/* .ant-select:not(.ant-select-customize-input) .ant-select-selector{
  margin-top: 0px !important;
} */
.mainnam {
  /* color: #000; */
  font-size: 12px !important;
  font-weight: 600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subname {
  color: #4c4c4ceb;
  font-size: 11px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}