::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(233, 233, 233);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(131, 131, 131);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}
:host::ng-deep .nz-radio-button-wrapper-checked {
    color: white !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    background: #fff;
    border-color: #092b9c;
}
.ant-radio-button-wrapper-checked {
    background-color: #092b9c !important;
    color: white !important;
}
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
}
.back-arrow {
  font-weight: bold;
  cursor: pointer;
}
.form-controls-container {
  display: flex;
  justify-content: flex-end;
}
.radio-group-row {
  margin-top: 10px;
}
.radio-group-container {
  display: flex;
  justify-content: center;
}
.date-range-picker {
  width: 100%;
}
.filter-button {
  margin-right: 10px;
}
.apply-filter-button {
  margin-right: 10px;
}
.clear-filter-button {
  margin-right: 10px;
}
.ticket-table {
  white-space: pre-line;
}
.table-header {
  font-weight: bold;
  text-align: center;
}
.created-by-header {
  font-weight: bold;
  text-align: center;
}
.filterable-header {
  font-weight: bold;
  text-align: center;
}
.status-header {
  text-align: center;
}
.view-tag {
  cursor: pointer;
}
.view-icon {
  font-size: 15px;
}
.date-range-filter-picker {
  width: 100%;
}
