<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="8">
    <div class="formname">
      <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline" class="header-back-icon"></span>&nbsp;&nbsp;
      <b>{{ formTitle }}</b>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="16" class="header-right-container">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item class="filter-btn-width">
        <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" (keyup)="keyup($event)" (keydown.enter)="onEnterKey($event)"
            [(ngModel)]="searchText" nz-input placeholder="Min 3 chars required." />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(searchText.length >= 3)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item class="add-btn-no-margin">
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>
          New Payment Gateway
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="filter-row-top">
          <div nz-col [nzSpan]="24">
            <ng-container *ngIf="filterloading; else filtersContent">
              <div class="center-text">
                <nz-spin nzSimple></nz-spin>
              </div>
            </ng-container>
            <ng-template #filtersContent>
              <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="6" *ngFor="let item of savedFilters" class="filter-item-margin">
                    <nz-card class="filter-card">
                      <div class="filter-card-header">
                        <span class="filter-name-text">
                          <span *ngIf="item.FILTER_NAME != null">
                            <span *ngIf="item.FILTER_NAME.length >= 25" nz-popover [nzPopoverContent]="item.FILTER_NAME"
                              nzPopoverPlacement="topLeft">
                              {{ item.FILTER_NAME | slice : 0 : 25
                              }}{{ item.FILTER_NAME.length > 25 ? "..." : "" }}
                            </span>
                            <span *ngIf="item.FILTER_NAME.length < 25">
                              {{ item.FILTER_NAME }}
                            </span>
                          </span>
                          <span *ngIf="item.FILTER_NAME == null">-</span>
                        </span>
                        <i *ngIf="selectedFilter === item.ID" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                          [nzTwotoneColor]="'#52c41a'" nz-tooltip
                          [nzTooltipTitle]="'This filter is applied on current data'" class="filter-selected-icon"></i>
                      </div>
                      <div nz-row class="filter-card-actions-row">
                        <div nz-col nzSpan="24" class="filter-card-actions">
                          <nz-tag nzColor="#2db7f5" (click)="editQuery(item)" class="filter-tag" nz-tooltip
                            nzTooltipTitle="Edit Filter">
                            <span nz-icon nzType="edit" nzTheme="outline" class="filter-tag-icon"></span>
                            &nbsp;&nbsp;Edit
                          </nz-tag>
                          <nz-tag *ngIf="selectedFilter !== item.ID" nzColor="#87d068" (click)="applyfilter(item)"
                            class="filter-tag" nz-tooltip nzTooltipTitle="Apply Filter">
                            <span nz-icon nzType="search" nzTheme="outline" class="filter-tag-icon"></span>
                            &nbsp;&nbsp;Apply
                          </nz-tag>
                          <nz-tag *ngIf="selectedFilter === item.ID" nzColor="#faad14" (click)="Clearfilter()"
                            class="filter-tag" nz-tooltip nzTooltipTitle="Clear this Filter">
                            <span nz-icon nzType="close" nzTheme="outline" class="filter-tag-icon"></span>
                            &nbsp;&nbsp;Clear
                          </nz-tag>
                          <nz-tag nzColor="#cd201f" nz-popconfirm
                            nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteItem(item)" class="filter-tag" nz-tooltip
                            nzTooltipTitle="Delete Filter">
                            <span nz-icon nzType="delete" nzTheme="outline" class="filter-tag-icon"></span>
                            &nbsp;&nbsp;Delete
                          </nz-tag>
                          <nz-tag nzColor="#3b5999" class="filter-tag filter-tag-no-margin" nz-tooltip
                            nzTooltipTitle="View Filter Text" (click)="toggleLiveDemo(item)">
                            <span nz-icon nzType="eye" nzTheme="outline" class="filter-tag-icon"></span>
                            &nbsp;&nbsp;View
                          </nz-tag>
                        </div>
                      </div>
                    </nz-card>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #noData>
              <div class="no-data-text">
                No Previous Filters Are Found
              </div>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="24" class="filter-footer-actions">
            <button *ngIf="savedFilters && savedFilters.length > 0" nz-button nzType="primary" nzSize="small"
              (click)="Clearfilter()" class="footer-action-btn">
              <span nz-icon nzType="reload" nzTheme="outline"></span>
              Reset Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()" class="footer-action-btn">
              <span nz-icon nzType="plus"></span>
              New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" #table [nzData]="dataList" [nzLoading]="loadingRecords"
      [nzTotal]="totalRecords" nzBordered [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)" [nzSize]="'small'"
      nzShowSizeChanger [nzFrontPagination]="false" [nzScroll]="{ y: '50vh', x: '100vw' }">
      <thead>
        <tr>
          <th nzLeft nzWidth="80px" nzLeft>
            Action
            <nz-filter-trigger [(nzVisible)]="showcloumnVisible" [nzDropdownMenu]="showcolumn1">
              <span nz-icon nzType="down" nzTheme="outline"></span>
            </nz-filter-trigger>
          </th>
          <th nzLeft *ngIf="isColumnVisible('GATEWAY_NAME')" nzWidth="370px" nzShowSort align="center"
            nzColumnKey="{{ 'GATEWAY_NAME' }}" [nzSortFn]="true" nzCustomFilter>
            Gateway Name
            <nz-filter-trigger [(nzVisible)]="gatewayvisible" [nzDropdownMenu]="nameDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isnameFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('GATEWAY_TYPE')" nzWidth="370px" nzShowSort align="center"
            nzColumnKey="{{ 'GATEWAY_TYPE' }}" [nzSortFn]="true" nzCustomFilter>
            Gateway Type
            <nz-filter-trigger [(nzVisible)]="gatewaytypevisible" [nzDropdownMenu]="typeDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: istypeFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('API_KEY')" nzWidth="370px" nzShowSort align="center" nzColumnKey="{{ 'API_KEY' }}"
            [nzSortFn]="true" nzCustomFilter>
            Api Key
            <nz-filter-trigger [(nzVisible)]="apikeyvisible" [nzDropdownMenu]="apikeyDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isapikeyFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('API_SECRET')" nzWidth="370px" nzShowSort align="center"
            nzColumnKey="{{ 'API_SECRET' }}" [nzSortFn]="true" nzCustomFilter>
            Api Secret
            <nz-filter-trigger [(nzVisible)]="apisecretvisible" [nzDropdownMenu]="secreteDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isapisecretFilterApplied
                    ? '#092B9C'
                    : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('MERCHANT_ID')" nzWidth="370px" nzShowSort align="center"
            nzColumnKey="{{ 'MERCHANT_ID' }}" [nzSortFn]="true" nzCustomFilter>
            Merchant
            <nz-filter-trigger [(nzVisible)]="merchantvisible" [nzDropdownMenu]="merchanteDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: ismerchantFilterApplied
                    ? '#092B9C'
                    : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('ENDPOINT_URL')" nzWidth="370px" nzShowSort align="center"
            nzColumnKey="{{ 'ENDPOINT_URL' }}" [nzSortFn]="true" nzCustomFilter>
            Endpoint Url
            <nz-filter-trigger [(nzVisible)]="endpointvisible" [nzDropdownMenu]="encryptionurlDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isendpointFilterApplied
                    ? '#092B9C'
                    : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('WEBHOOK_URL')" nzWidth="370px" nzShowSort align="center"
            nzColumnKey="{{ 'WEBHOOK_URL' }}" [nzSortFn]="true" nzCustomFilter>
            Webhook Url
            <nz-filter-trigger [(nzVisible)]="webhookvisible" [nzDropdownMenu]="webhookurlDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: iswebhookFilterApplied
                    ? '#092B9C'
                    : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('SUPPORTED_CURRENCIES')" nzWidth="370px" nzShowSort align="center"
            nzColumnKey="SUPPORTED_CURRENCIES" [nzSortFn]="true" nzCustomFilter>
            Supported Currencies
            <nz-filter-trigger [(nzVisible)]="currencyvisible" [nzDropdownMenu]="currencyDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: iscurrenciesFilterApplied
                    ? '#092B9C'
                    : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('ENCRYPTION_KEY')" nzWidth="370px" nzShowSort align="center"
            nzColumnKey="{{ 'ENCRYPTION_KEY' }}" [nzSortFn]="true" nzCustomFilter>
            Encryption Key
            <nz-filter-trigger [(nzVisible)]="encryptionkeyvisible" [nzDropdownMenu]="encryptionkeyDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isencryptionkeyFilterApplied
                    ? '#092B9C'
                    : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('MIN_AMOUNT')" nzWidth="200px" nzShowSort align="center"
            nzColumnKey="{{ 'MIN_AMOUNT' }}" [nzSortFn]="true" nzCustomFilter>
            Minimum Amount (₹)
            <nz-filter-trigger [(nzVisible)]="minamountvisible" [nzDropdownMenu]="minamountDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isminamountFilterApplied
                    ? '#092B9C'
                    : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('MAX_AMOUNT')" nzWidth="200px" nzShowSort align="center"
            nzColumnKey="{{ 'MAX_AMOUNT' }}" [nzSortFn]="true" nzCustomFilter>
            Maximum Amount (₹)
            <nz-filter-trigger [(nzVisible)]="maxamoutvisible" [nzDropdownMenu]="maxamountDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: ismaxamountFilterApplied
                    ? '#092B9C'
                    : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('SETTLEMENT_TIME')" nzWidth="180px" nzShowSort align="center"
            nzColumnKey="SETTLEMENT_TIME" [nzSortFn]="true" nzCustomFilter>
            Settlement Time
            <nz-filter-trigger [(nzVisible)]="timevisible" [nzDropdownMenu]="timeDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: istimeFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('MODE')" nzWidth="150px" nzShowSort align="center" nzColumnKey="{{ 'MODE' }}"
            [nzSortFn]="true" nzCustomFilter>
            Mode
            <nz-filter-trigger [(nzVisible)]="modevisible" [nzDropdownMenu]="modeDropdown">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: ismodeFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('IS_ACTIVE')" nzWidth="90px" nzShowSort nzColumnKey="{{ 'IS_ACTIVE' }}"
            [nzSortFn]="true" [nzFilters]="listOfFilter" [nzFilterFn]="true" [nzFilterMultiple]="false"
            (nzFilterChange)="onStatusFilterChange($event)">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td nzLeft align="center" nzLeft>
            <nz-tag nzColor="#2db7f5" (click)="edit(data)" class="table-edit-tag">
              <span nz-icon nzType="edit" nzTheme="outline" class="table-edit-icon">
              </span>&nbsp;&nbsp;Edit
            </nz-tag>
          </td>
          <td nzLeft align="left" [nzTooltipTitle]="isTextOverflow ? data['GATEWAY_NAME'] : null"
            #tooltipRef1="nzTooltip" nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["GATEWAY_NAME"] ? data["GATEWAY_NAME"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['GATEWAY_TYPE'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["GATEWAY_TYPE"] ? data["GATEWAY_TYPE"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['API_KEY'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["API_KEY"] ? data["API_KEY"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['API_SECRET'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["API_SECRET"] ? data["API_SECRET"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['MERCHANT_ID'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["MERCHANT_ID"] ? data["MERCHANT_ID"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['ENDPOINT_URL'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["ENDPOINT_URL"] ? data["ENDPOINT_URL"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['WEBHOOK_URL'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["WEBHOOK_URL"] ? data["WEBHOOK_URL"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['SUPPORTED_CURRENCIES'] : null"
            #tooltipRef1="nzTooltip" nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["SUPPORTED_CURRENCIES"] ? data["SUPPORTED_CURRENCIES"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['ENCRYPTION_KEY'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["ENCRYPTION_KEY"] ? data["ENCRYPTION_KEY"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['MIN_AMOUNT'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["MIN_AMOUNT"] ? data["MIN_AMOUNT"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['MAX_AMOUNT'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["MAX_AMOUNT"] ? data["MAX_AMOUNT"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['SETTLEMENT_TIME'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["SETTLEMENT_TIME"] ? data["SETTLEMENT_TIME"] + " " + "Hours" : "-" }}
            </div>
          </td>
          <td align="center" *ngIf="isColumnVisible('MODE')">
            {{ data["MODE"] }}
          </td>
          <td align="center" *ngIf="isColumnVisible('IS_ACTIVE')">
            <i nz-icon *ngIf="data['IS_ACTIVE']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>
            <i nz-icon *ngIf="!data['IS_ACTIVE']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #showcolumn1="nzDropdownMenu" nzScroll="y:700px">
      <ul nz-menu nzPlacement="bottomRight" class="dropdown-scroll-menu">
        <li nz-menu-item *ngFor="let column of showcolumn">
          <label nz-checkbox [(ngModel)]="column.visible" (ngModelChange)="isColumnVisible(column)">
            {{ column.label }}
          </label>
        </li>
      </ul>
    </nz-dropdown-menu>
    <nz-dropdown-menu #nameDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="GatewayName" (keydown.enter)="gatewayNameFilter()"
              (keyup)="onKeyup($event)" placeholder="Search Gateway Name" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="GatewayName"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="GatewayName == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #typeDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="GatewayType" (keydown.enter)="gatewayTypeeFilter()"
              (keyup)="onKeyup($event)" placeholder="Search Gateway Type" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="GatewayType"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="GatewayType == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #apikeyDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="apikey" (keydown.enter)="apiKeyFilter()" (keyup)="onKeyup($event)"
              placeholder="Search Api Key" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="apikey"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="apikey == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #secreteDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="apisecret" (keydown.enter)="apiSecretFilter()"
              (keyup)="onKeyup($event)" placeholder="Search Api Secret" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="apisecret"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="apisecret == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #merchanteDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="merchant" (keydown.enter)="merchantFilter()"
              (keyup)="onKeyup($event)" placeholder="Search merchant" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="apisecret"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="apisecret == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #encryptionurlDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="endpointurl" (keydown.enter)="endpointurlFilter()"
              (keyup)="onKeyup($event)" placeholder="Search Endpoint Url" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="endpointurl"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="endpointurl == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #webhookurlDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="webhookurl" (keydown.enter)="webhookurlFilter()"
              (keyup)="onKeyup($event)" placeholder="Search Webhook Url" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="webhookurl"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="webhookurl == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #currencyDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select [nzCustomTemplate]="multipleTemplate1" [(ngModel)]="currency" class="full-width"
            (ngModelChange)="onCategoryChange()" nzShowSearch nzAllowClear nzPlaceHolder="Select Currencies"
            nzMode="multiple">
            <nz-option n *ngFor="let currency of CurrencyData" [nzValue]="currency.CURRENCY_NAME"
              [nzLabel]="currency.CURRENCY_NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate1 let-selected>
            <div class="ant-select-selection-item-content">
              <span [nzType]="selected.nzValue" nz-icon></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #encryptionkeyDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="encryptionkey" (keydown.enter)="encryptionKeyFilter()"
              (keyup)="onKeyup($event)" placeholder="Search Encryption Key" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="encryptionkey"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="encryptionkey == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #minamountDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="minamount" (keydown.enter)="minamountFilter()"
              (keyup)="onKeyup($event)" placeholder="Search Minimum Amount" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="encryptionkey"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="encryptionkey == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #maxamountDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="maxamount" (keydown.enter)="maxamountFilter()"
              (keyup)="onKeyup($event)" placeholder="Search Maximum Amount" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="encryptionkey"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="encryptionkey == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #timeDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="settlementtime" (keydown.enter)="settlementtimeFilter()"
              (keyup)="onKeyup($event)" placeholder="Search Settlement Time" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="encryptionkey"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="encryptionkey == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #modeDropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-select nzAllowClear="true" nzPlaceHolder="Select Mode" [(ngModel)]="mode" nzShowSearch
            (ngModelChange)="search()" (nzOnClear)="reset()">
            <nz-option *ngFor="let data of ModeData" [nzValue]="data.value" [nzLabel]="data.label">
            </nz-option>
          </nz-select>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="mode"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="mode == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="750" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-payment-gateway-master-drawer [drawerClose]="closeCallback" [drawerVisible]="drawerVisible"
        [data]="drawerData"></app-payment-gateway-master-drawer> </ng-container></nz-drawer>
</div>
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerflterClose('buttontype', 'updateButton')" (nzKeyboard)="(true)"
    [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [filterGroups]="filterGroups" [filterGroups2]="filterGroups2" [name]="FILTER_NAME"
        [data]="EditQueryData" [editButton]="editButton" [fields]="filterFields" [drawerClose]="closefilterCallback"
        [TabId]="TabId" (filterApplied)="onFilterApplied($event)"></app-main-filter> </ng-container></nz-drawer>
</div>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Filter Text'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 class="text-centerr">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>