<div>
    <form nz-form #paymentGatewayForm="ngForm">
        <nz-spin [nzSpinning]="isSpinning">
            <div class="my-box">
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>Gateway Name</nz-form-label>
                            <nz-form-control nzHasFeedback>
                                <input nz-input [(ngModel)]="data.GATEWAY_NAME" name="GATEWAY_NAME"
                                    placeholder="Enter Gateway Name" required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>Gateway Provider</nz-form-label>
                            <nz-form-control nzHasFeedback>
                                <input nz-input [(ngModel)]="data.GATEWAY_PROVIDER" name="GATEWAY_PROVIDER"
                                    placeholder="Enter Gateway Provider" required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>API URL</nz-form-label>
                            <nz-form-control nzHasFeedback>
                                <input nz-input [(ngModel)]="data.API_URL" name="API_URL" placeholder="Enter API URL"
                                    required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>API Key</nz-form-label>
                            <nz-form-control nzHasFeedback>
                                <input nz-input [(ngModel)]="data.API_KEY" name="API_KEY" placeholder="Enter API Key"
                                    required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>Currency</nz-form-label>
                            <nz-form-control nzHasFeedback>
                                <nz-input-group nzAddOnBefore="₹">
                                    <input type="text" nz-input [(ngModel)]="data.CURRENCY" name="CURRENCY"
                                        placeholder="Enter Currency" required />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>Supported Methods</nz-form-label>
                            <nz-form-control nzHasFeedback>
                                <input nz-input [(ngModel)]="data.SUPPORTED_METHODS" name="SUPPORTED_METHODS"
                                    placeholder="Enter Supported Methods" required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="6">
                        <nz-form-item>
                            <nz-form-label nzNoColon>Test Mode</nz-form-label>
                            <nz-form-control>
                                <nz-switch [(ngModel)]="data.IS_TEST_MODE" name="IS_TEST_MODE" nzCheckedChildren="Test"
                                    nzUnCheckedChildren="Live" required></nz-switch>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="6">
                        <nz-form-item>
                            <nz-form-label nzNoColon>Status</nz-form-label>
                            <nz-form-control>
                                <nz-switch [(ngModel)]="data.IS_ACTIVE" name="IS_ACTIVE" nzCheckedChildren="Active"
                                    nzUnCheckedChildren="Inactive" required></nz-switch>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </nz-spin>
    </form>
    <div class="footer">
        <button type="button" nz-button (click)="Close()" class="ant-btn footer-btn-margin-8">
            <span>Cancel</span>
        </button>
        <button type="button" class="ant-btn ant-btn-primary footer-primary-btn" nz-button nz-dropdown
            [nzDropdownMenu]="menu" [nzLoading]="isSpinning">
            <span>Save & Close</span>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc footer-dropdown-item-white">
                    <a class="footer-dropdown-link-white">Save & New</a>
                </li>
            </ul>
        </nz-dropdown-menu>
    </div>
</div>