.my-box {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fafafa;
  }
  .header {
    position: absolute;
    top: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    right: 0px;
 }
nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.footer-btn-margin-8 {
  margin-right: 8px;
}
.footer-primary-btn {
  border-radius: 4px;
  color: white !important;
}
.footer-dropdown-item-white {
  border-radius: 4px;
  color: white !important;
}
.footer-dropdown-link-white {
  color: white !important;
}
