.file-name,
.folder-name {
  margin-left: 4px;
  cursor: pointer;
}
.file-desc,
.folder-desc {
  cursor: pointer;
  padding: 0 8px;
  display: inline-block;
  background: #4e4e4e;
  color: #ffffff;
  position: relative;
  left: 12px;
  font-size: 10px;
  border-radius: 8px;
}
.sc {
  height: 65vh;
  overflow: auto;
  width: 73vw;
}
.sc::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.sc::-webkit-scrollbar-track {
  background-color: rgb(241, 241, 241);
}
.sc::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.625);
}
nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.icon-bold-pointer {
  font-weight: bold;
  cursor: pointer;
}
.text-align-right-ux {
  text-align: right;
}
.mt-5px-ux {
  margin-top: 5px;
}
.folder-name-q-ux {
  color: #ff5d74;
  font-weight: bold;
  font-size: 15px;
}
.file-name-o-ux {
  color: #0097d3;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}
.flex-end-ux {
  display: flex;
  justify-content: flex-end;
}
.select-full-width-ux {
  width: 100%;
}
.error-text-ux {
  color: red;
  font-size: 10px;
}
.btn-mr-8px-ux {
  margin-right: 8px;
}
.question-bold-ux {
  font-weight: bold;
}
.select-full-width-ux {
  width: 100%;
}
.table-preline-ux {
  white-space: pre-line;
}
.input-number-full-ux {
  width: 100%;
}
.btn-mr-8px-ux {
  margin-right: 8px;
}
.flex-justify-end-ux {
  display: flex;
  justify-content: flex-end;
}