.file-name,
.folder-name {
  margin-left: 4px;
  cursor: pointer;
}

.file-desc,
.folder-desc {
  cursor: pointer;
  padding: 0 8px;
  display: inline-block;
  background: #4e4e4e;
  color: #ffffff;
  position: relative;
  left: 12px;
  font-size: 10px;
  border-radius: 8px;
}

.sc{
  height: 65vh;
  overflow: auto;
  width: 73vw;
}

.sc::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.sc::-webkit-scrollbar-track {
  background-color: rgb(241, 241, 241);
}

.sc::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.625);
}

nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
