th {
  text-align: center !important;
  vertical-align: middle !important;
}
.select {
  width: 200px;
  padding: 8px;
  display: block;
}
.btn.helpdoc {
  background-color: #39b793;
  color: white;
}
.search-box {
  padding: 8px;
}
.inputsize {
  font-size: 11px !important;
}
.datesize>div>input {
  font-size: 11px !important;
}
.inputgroup>span>span {
  font-size: 11px !important;
}
.optiongroup>div {
  font-size: 11px !important;
}
.search-box input {
  width: 188px;
  display: block;
}
.search-box button {
  width: 90px;
}
.search-button {
  margin-right: 8px;
}
nz-select {
  width: 100%;
}
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 15px 0px 0px 0px;
  padding: 0px;
}
.card-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px !important;
  background-color: white !important;
  border-radius: 8px 8px 0px 0px !important;
  height: 28px;
}
.category-name {
  font-weight: bold;
  color: #333;
}
.subcategory-name {
  font-weight: bold;
  color: #555;
}
.tag {
  font-size: 12px;
  font-weight: bold;
  padding: 3px 12px;
  border-radius: 0px 8px 0px 8px;
  position: relative;
  display: inline-block;
}
.card-body {
  align-items: flex-start;
  gap: 20px;
}
.details {
  flex: 1;
}
.service-image {
  flex-shrink: 0;
  text-align: right;
}
.name {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.truncate-one-line {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  max-height: calc(1.5em * 1);
  cursor: pointer;
  line-height: 1.5em;
}
.truncate-three-lines {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  max-height: calc(1.5em * 3);
  cursor: pointer;
  line-height: 1.5em;
}
.description {
  margin: 0;
  color: #555;
  font-size: 14px;
}
.service-image {
  flex: 1;
  text-align: right;
}
.service-image img {
  padding: 0px 15px 0pc 10px;
  border-radius: 0px;
  border: none;
}
.card-footer {
  margin-top: 0px;
}
.btn {
  padding: 5px !important;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn.edit {
  background-color: #007bff;
  color: white;
}
.btn.edit-details {
  background-color: #ffc107;
  color: black;
}
.btn.add-subservice {
  background-color: #28a745;
  color: white;
}
.btn.editmap {
  background-color: #af93ff;
  color: white;
}
.btn:hover {
  opacity: 0.9;
}
.nz-col {
  padding-left: 10px;
  padding-right: 10px;
}
.activebtns {
  background: #092b9c !important;
  border-color: #092b9c !important;
  color: white !important;
}
.custom-popover {
  max-width: 600px;
  max-height: 400px;
  overflow-y: auto;
  white-space: normal !important;
  word-wrap: break-word !important;
}
.custom-popover img {
  max-width: 100% !important;
  max-height: 200px !important;
  height: auto !important;
  display: block;
  margin: auto;
  border-radius: 5px;
}
.flex-end-container {
  display: flex;
  justify-content: flex-end;
}
.custom-height-no-margin {
  height: 27px;
  margin-top: 0 !important;
}
.margin-vertical-10 {
  margin: 10px 0;
}
.dashed-border-box {
  border: 1px dashed black;
  border-radius: 5px;
  padding: 10px;
}
.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}
.blacktext {
  color: black;
  margin-right: 10px;
}
.greenicon {
  color: #01ac5c;
  margin-right: 8px
}
.redicon {
  color: red;
  margin-right: 8px
}
.textstyle {
  text-align: center;
  color: red;
  font-weight: bold
}
.categorystyle {
  padding: 4px 0px 0px 9px;
  display: flex;
  justify-content: flex-start;
}
.descstyle {
  text-align: justify;
  font-size: 11px !important;
}
.icon-font-12 {
  font-size: 12px;
}
.no-right-margin {
  margin-right: 0;
}
.subfilter-row-margin {
  margin-bottom: 5px;
}
.filter-warning-text {
  color: red;
  font-size: 11px;
}
.padding-top-10 {
  padding-top: 10px;
}
.btn-margin-right {
  margin-right: 10px;
}
.blueicon {
  color: blue;
}
.price-text-nosize {
  font-size: 11px !important
}
.card-wrapper-padding {
  padding: 5px;
}
.text-align-end {
  text-align: end;
}
.tag-no-margin {
  margin: 0 !important;
}
.status-icon {
  font-size: 15px;
}
.fixed-details-height {
  height: 102px;
}
.price-row-margin {
  margin-top: 5px;
}
.price-text {
  font-size: 11px !important;
  font-weight: 500;
}
.card-footer-padding {
  padding: 5px;
}
.footer-col-right {
  padding-right: 3px;
}
.footer-col-right1 {
  padding: 0px 3px;
}
.footer-col-middle {
  padding: 0 3px;
}
.footer-col-left {
  padding-left: 3px;
}
.btn-small-full {
  width: 100%;
  font-size: 11px !important;
}
.load-more-container {
  text-align: center;
  margin-top: 20px;
}
.empty-wrapper-height {
  height: 75vh;
}
.empty-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-top-margin {
  margin-top: 38px;
}
.table-pre-line {
  white-space: pre-line;
}
.input-full-width {
  width: 100%;
}
.flex-row {
  display: flex;
}
.margin-left-5 {
  margin-left: 5px;
}
.min-static-button {
  padding: 0 11px !important;
  background: #fafafa !important;
  color: #393d39 !important;
  border-color: #d9d9d9 !important;
  border-left: none !important;
  box-shadow: none;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  cursor: default !important;
}
.zerobottom {
  margin-bottom: 0px
}
.servtype {
  color: #888;
  font-size: 12px;
}
.drawer-body-default {
  height: calc(100% - 55px);
  overflow: auto;
  padding: 3px 20px 53px;
}
.image-modal-container {
  height: 400px;
  overflow: auto;
}
.image-modal-frame {
  width: 832px;
  height: 396px;
  border: none;
}
.center-text {
  text-align: center;
}
.query-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0 10px;
}
.service-option-title {
  font-size: 14px;
  color: #2d3748;
  font-weight: 500;
}
.service-option-sub {
  font-size: 12px;
  color: #4a5568;
}
.service-option-divider {
  font-size: 12px;
  color: #4a5568;
  border-bottom: 1px solid grey;
}
.filter-footer {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}
.filter-cancel-btn {
  background: white !important;
  color: #092b9c !important;
}
.hours-input {
  width: 60px;
}
.minutes-select {
  width: 78px !important;
}
.price-text-col {
  display: block;
}
.service-img-size {
  width: 128px;
  height: 100px;
}
.modalTopStyle {
  top: 20px;
}
.time-picker-full-width {
  width: 100%;
}
.drawerBodyStyle {
  height: calc(100% - 55px);
  overflow: auto;
  padding-bottom: 53px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
}
.drawerServiceMapedBodyStyle {
  height: calc(105% - 55px);
  overflow: auto;
  padding-bottom: 53px;
}
.drawerMappingBodyStyle {
  height: calc(100% - 55px);
  overflow: auto;
  padding-bottom: 53px;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 17px;
}
.dropdownStyleMulti {
  min-height: 10px;
  max-height: 200px;
  overflow-x: auto;
}
.w-100 {
  width: 100%
}
.font-wgt {
  font-weight: 500
}