<div class="slot-container">
  <nz-spin [nzSpinning]="loadingRecords">
    <form nz-form #Unitmaster="ngForm">
      <div nz-row nzSpan="24">
        <div nz-col nzSpan="24" class="full-width">
          <b><nz-divider nzText="Slot 1" class="slot-divider"></nz-divider></b>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item class="form-item-full">
            <nz-form-label nzRequired nzNoColon>Start Time</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Start Time">
              <nz-time-picker name="Slot1StartTime" [nzNowText]="' '" [(ngModel)]="dataList.SLOT1_START_TIME"
                [nzFormat]="'HH:mm a'" nzPlaceHolder="Select Time" [nzMinuteStep]="10" required
                class="full-width-time-picker" [nzDisabledHours]="disabledSlot1Hours"
                [nzDisabledMinutes]="disabledSlot1Minutes" (ngModelChange)="onTimeChange('SLOT1_START_TIME', $event)">
              </nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item class="form-item-full">
            <nz-form-label nzRequired nzNoColon>End Time</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select End Time">
              <nz-time-picker name="Slot1EndTime" [nzNowText]="' '" [(ngModel)]="dataList.SLOT1_END_TIME"
                [nzFormat]="'HH:mm a'" nzPlaceHolder="Select Time" [nzMinuteStep]="10" required
                class="full-width-time-picker" [nzDisabledHours]="disabledSlot1EndHours"
                [nzDisabledMinutes]="disabledSlot1EndMinutes" (ngModelChange)="onTimeChange('SLOT1_END_TIME', $event)">
              </nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24" class="full-width">
          <b><nz-divider nzText="Slot 2" class="slot-divider slot-divider-top"></nz-divider></b>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item class="form-item-full">
            <nz-form-label nzRequired nzNoColon>Start Time</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Slot 2 Start Time">
              <nz-time-picker name="Slot2StartTime" [nzNowText]="' '" [(ngModel)]="dataList.SLOT2_START_TIME"
                [nzFormat]="'HH:mm a'" [nzMinuteStep]="10" nzPlaceHolder="Select Time" required
                class="full-width-time-picker" [nzDisabledHours]="disabledSlot2Hours"
                [nzDisabledMinutes]="disabledSlot2Minutes" (ngModelChange)="onTimeChange('SLOT2_START_TIME', $event)">
              </nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item class="form-item-full">
            <nz-form-label nzRequired nzNoColon>End Time</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Slot 2 End Time">
              <nz-time-picker name="Slot2EndTime" [nzNowText]="' '" [(ngModel)]="dataList.SLOT2_END_TIME"
                [nzFormat]="'HH:mm a'" [nzMinuteStep]="10" nzPlaceHolder="Select End Time" required
                class="full-width-time-picker" [nzDisabledHours]="disabledSlot2EndHours"
                [nzDisabledMinutes]="disabledSlot2EndMinutes" (ngModelChange)="onTimeChange('SLOT2_END_TIME', $event)">
              </nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24" class="full-width">
          <b><nz-divider nzText="Slot 3" class="slot-divider slot-divider-top"></nz-divider></b>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item class="form-item-full">
            <nz-form-label nzRequired nzNoColon>Start Time</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Start Time">
              <nz-time-picker name="Slot3StartTime" [nzNowText]="' '" [(ngModel)]="dataList.SLOT3_START_TIME"
                [nzFormat]="'HH:mm a'" [nzMinuteStep]="10" nzPlaceHolder="Select Time" required
                class="full-width-time-picker" [nzDisabledHours]="disabledSlot3Hours"
                [nzDisabledMinutes]="disabledSlot3Minutes" (ngModelChange)="onTimeChange('SLOT3_START_TIME', $event)">
              </nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item class="form-item-full">
            <nz-form-label nzRequired nzNoColon>End Time</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select End Time">
              <nz-time-picker name="Slot3EndTime" [nzNowText]="' '" [(ngModel)]="dataList.SLOT3_END_TIME"
                [nzFormat]="'HH:mm a'" [nzMinuteStep]="10" nzPlaceHolder="Select Time" required
                class="full-width-time-picker" [nzDisabledHours]="disabledSlot3EndHours"
                [nzDisabledMinutes]="disabledSlot3EndMinutes" (ngModelChange)="onTimeChange('SLOT3_END_TIME', $event)">
              </nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-spin>
  <div class="footer">
    <button nz-button nzType="default" class="btn-cancel" (click)="close(Unitmaster)">Cancel</button>
    <button nz-button *ngIf="!dataList?.ID" nzType="primary" nz-dropdown [nzLoading]="isSpinning"
      class="ant-btn-primary" (click)="save(false, Unitmaster)">Save & Close</button>
    <button type="button" nz-button [nzLoading]="isSpinning" *ngIf="dataList?.ID" class="ant-btn-primary"
      (click)="save(false, Unitmaster)">Update & Close</button>
  </div>
</div>