nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
  }
.slot-container {
  margin-top: 10px;
}
.full-width {
  width: 100%;
}
.slot-divider {
  margin-top: 5px;
  margin-bottom: 0px;
}
.slot-divider-top {
  margin-top: 10px;
}
.form-item-full {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0 10px;
}
.full-width-time-picker {
  width: 100%;
}
.footer {
  margin-top: 15px;
}
.btn-cancel {
  margin-right: 12px;
}
