.left-text-container {
    text-align: left;
    padding-left: 10px;
}
.right-form-container {
    text-align: right;
    padding-right: 10px;
}
.inline-flex-form {
    display: inline-flex;
}
.input-group-margin {
    margin-left: 26px !important;
}
.input-height {
    height: 32px;
}
.relative-container {
    position: relative;
}
.center-text {
    text-align: center;
}
.table-pre-line {
    white-space: pre-line;
}
.icon-large {
    font-size: 26px !important;
}
.space-between-row {
    display: flex;
    justify-content: space-between;
}
.left-flex-row {
    display: flex;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-5 {
  padding-right: 5px;
}

.inline-flex-form {
  display: inline-flex;
}
.search-input-group {
  margin-left: 26px !important;
}
.search-input {
  height: 32px;
}

.table-wrapper {
  position: relative;
}
.pre-line-table {
  white-space: pre-line;
}
.pre-line-text {
  white-space: pre-line;
}

.icon-column {
  align-self: center;
  text-align: center;
  align-items: center;
}
.icon-large {
  font-size: 26px !important;
}

.space-between-row {
  display: flex;
  justify-content: space-between;
}
.flex-row {
  display: flex;
}