<div nz-row>
  <div nz-col nzSpan="11">
    <div nz-row>
      <div nz-col nzSpan="12" class="text-left pl-10">
        <span *ngIf="selectedPincode.length > 0">
          {{ selectedPincode.length }} records selected out of
          {{ PincodeMappingdata.length }}</span>
        <span *ngIf="selectedPincode.length == 0">Total Records {{ PincodeMappingdata.length }}</span>
      </div>
      <div nz-col nzSpan="12" class="text-right pr-10">
        <form nz-form [nzLayout]="'inline'" class="inline-flex-form">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="search-input-group">
              <input type="text" name="pincodesearch" [(ngModel)]="searchskill" autocomplete="off"
                (keydown.enter)="handleEnterKey($event)" (keydown.backspace)="handleEnterKey($event)" nz-input
                class="search-input" placeholder="Min 3 chars required." />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" id="button" (click)="SearchPincode(searchskill)">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </form>
      </div>
    </div>
    <form nz-form #teritorymaster="ngForm">
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="table-wrapper">
            <nz-table class="my-scroll no-wrap1" nzBordered #tableeeee [nzData]="PincodeMappingdata"
              (nzQueryParams)="sort($event)" [nzSize]="'small'" [nzFrontPagination]="false"
              class="pre-line-table" [nzLoading]="isSpinning11 || isLoading" [nzScroll]="{ y: '60vh' }">
              
              <thead>
                <tr>
                  <th nzWidth="50px">
                    <label (ngModelChange)="toggleAll($event)" nz-checkbox [(ngModel)]="allSelected" name="allSelected"
                      [nzIndeterminate]="tableIndeterminate">All</label>
                  </th>
                  <th nzWidth="160px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'NAME' }}">
                    Technician
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of tableeeee.data; let i = index">
                  <td class="text-center">
                    <label nz-checkbox [(ngModel)]="data.selected" name="allSelecteddd{{ i }}"
                      (ngModelChange)="onPincodeSelecttable(data, $event)"></label>
                  </td>
                  <td align="left">
                    <span *ngIf="data['NAME'] != null">
                      <span *ngIf="data['NAME'].length >= 45" nz-popover [nzPopoverContent]="data['NAME']"
                        nzPopoverPlacement="topLeft">
                        {{
                        data["NAME"] == null
                        ? "-"
                        : (data["NAME"] | slice : 0 : 45)
                        }}{{ data["NAME"].length > 45 ? "..." : "" }}
                      </span>
                      <span *ngIf="data['NAME'].length < 45">
                        {{
                        data["NAME"] == null
                        ? "-"
                        : (data["NAME"] | slice : 0 : 45)
                        }}
                        {{ data["NAME"].length > 45 ? "..." : "" }}
                      </span>
                    </span>
                    <span *ngIf="data['NAME'] == null">-</span>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div nz-col nzSpan="2" class="icon-column">
    <div>
      <nz-spin [nzSpinning]="isSpinning">
        <span nz-icon nzType="right-circle" nz-tooltip nzTooltipTitle="No Technician selected"
          class="icon-large" nzTheme="outline" *ngIf="selectedPincode.length == 0"></span>
        <span nz-icon nzType="right-circle" nz-tooltip nzTooltipTitle="Click here to map technician to customer"
          class="icon-large" nzTheme="fill" (click)="mapdatatopincode()"
          *ngIf="selectedPincode.length > 0"></span>
      </nz-spin>
    </div>
  </div>
  <div nz-col nzSpan="11">
    <div nz-row class="space-between-row">
      <div class="flex-row">
        <div class="text-left pl-10">
          <span *ngIf="selectedPincode11.length > 0">{{ selectedPincode11.length }} records selected out of
            {{ totoalrecordsss }}</span>
          <span *ngIf="selectedPincode11.length == 0">Total Records {{ totoalrecordsss }}</span>
        </div>
        <div class="text-left pl-10">
          <td align="center" class="pre-line-text" nzLeft>
            <nz-switch name="allChange" nzCheckedChildren="Select All" nzUnCheckedChildren="Deselect All"
              (ngModelChange)="allChange($event)" [(ngModel)]="allChecked"></nz-switch>
          </td>
        </div>
      </div>
      <div class="text-right pr-5">
        <form nz-form [nzLayout]="'inline'" class="inline-flex-form">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton1" class="search-input-group">
              <input type="text" name="skillesearch" [(ngModel)]="mapsearchskill" autocomplete="off"
                (keydown.enter)="handlepincodeEnterKey($event)" (keydown.backspace)="handlepincodeEnterKey($event)"
                nz-input class="search-input" placeholder="Min 3 chars required." />
            </nz-input-group>
            <ng-template #suffixIconButton1>
              <button nz-button nzType="primary" id="button" (click)="SearchTechnician(mapsearchskill)">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </form>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="table-wrapper">
            <nz-table class="my-scroll no-wrap1" nzBordered #table [nzData]="mappingdata"
              (nzQueryParams)="sort11($event)" [nzSize]="'small'" [nzFrontPagination]="false"
              class="pre-line-table" [nzLoading]="isSpinning22" [nzScroll]="{ y: '60vh' }">
              <thead>
                <tr>
                  <th nzWidth="100px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'IS_ACTIVE' }}">
                    Is Mapped ?
                  </th>
                  <th nzWidth="160px" nzShowSort [nzSortFn]="true" nzColumnKey="{{ 'TECHNICIAN_NAME' }}">
                    Technician
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of table.data; let i = index">
                  <td align="center" class="pre-line-text">
                    <nz-switch name="IS_ACTIVE" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                      [(ngModel)]="data['IS_ACTIVE']"
                      (ngModelChange)="onPincodeSelecttable11111(data, $event)"></nz-switch>
                  </td>
                  <td align="left">
                    <span *ngIf="data['TECHNICIAN_NAME'] != null">
                      <span *ngIf="data['TECHNICIAN_NAME'].length >= 35" nz-popover
                        [nzPopoverContent]="data['TECHNICIAN_NAME']" nzPopoverPlacement="topLeft">
                        {{
                        data["TECHNICIAN_NAME"] == null
                        ? "-"
                        : (data["TECHNICIAN_NAME"] | slice : 0 : 35)
                        }}{{ data["TECHNICIAN_NAME"].length > 35 ? "..." : "" }}
                      </span>
                      <span *ngIf="data['TECHNICIAN_NAME'].length < 35">
                        {{
                        data["TECHNICIAN_NAME"] == null
                        ? "-"
                        : (data["TECHNICIAN_NAME"] | slice : 0 : 35)
                        }}
                        {{ data["TECHNICIAN_NAME"].length > 35 ? "..." : "" }}
                      </span>
                    </span>
                    <span *ngIf="data['TECHNICIAN_NAME'] == null">-</span>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>