.txt-cntr {
    text-align: center;
}
.header-right-flex {
    display: flex;
    justify-content: flex-end;
}
.no-right-margin {
    margin-right: 0px;
}
.row-margin-top-10 {
    margin-top: 10px;
}
.table-pre-line {
    white-space: pre-line;
}