table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    text-align: center !important;
    vertical-align: middle !important;
}

tr:nth-child(even) {
    background-color: #dddddd;
} */

.container {
    height: 100px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

:host::ng-deep .ant-card-body {
    padding: 0px;
  }