nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 5px;
}
nz-divider {
  border-color: #7cb305 !important;
}
.dnon {
  display: none
}
.margtop {
  margin-top: 10px
}
.centeri {
  align-items: center
}
.menuc {
  border-radius: 4px;
  color: white !important
}
.butcolor {
  color: white !important
}
.bo-length-indicator {
  color: red;
  font-size: 10px !important;
  margin-bottom: 0 !important;
}
.bo-password-error-container {
  color: red;
  font-size: 10px;
  text-align: left;
}
.bo-profile-delete {
  cursor: pointer;
  color: red;
  margin-left: 10px;
}
.bo-upload-btn {
  height: 28px;
  padding: 0 7px;
  font-size: 10px;
  width: 40%;
}
.bo-hidden-file-input {
  display: none !important;
}
.bo-uploaded-image {
  width: 120px;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
}
.bo-preview-image-center {
  align-items: center
}
.bo-uploaded-image-top {
  margin-top: 10px;
}
.bo-preview-image {
  height: auto;
  width: auto;
  overflow: auto;
  max-width: 600px;
  max-height: 400px;
}
.bo-footer {
  display: flex;
  justify-content: flex-end;
}
.bo-footer-cancel {
  margin-right: 12px;
}
.bo-crop-container {
  height: 500px;
  overflow: scroll;
}
.bo-cropped-preview {
  text-align: center;
}
.bo-cropped-image {
  width: 128px;
  height: 128px;
}
.txt-align {
  text-align: left
}