<div>
  <div nz-row class="order-row-padding-lg">
    <div nz-col nzSpan="12" class="mainnam"></div>
    <div nz-col nzSpan="12" class="mainnam"></div>
    <div nz-col nzSpan="12" class="mainnam"></div>
    <div nz-col nzSpan="12" class="mainnam"></div>
  </div>
  <div nz-row class="order-row-padding-sm">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <nz-table class="my-scroll no-wrap1 order-table-preline" nzBordered #maptrainpoint nzShowSizeChanger
        [nzData]="items" [nzBordered]="true" [nzFrontPagination]="false" [nzTotal]="totaldata"
        [nzShowPagination]="false" [nzScroll]="{ y: '290px' }" nzSize="small">
        <thead>
          <tr>
            <th nzWidth="120px">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of maptrainpoint.data; let i = index">
            <td class="order-td-preline-left"></td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
<div class="footer"></div>