nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.kb-subcat-length {
  color: red;
  font-size: 10px;
}
.kb-desc-length {
  color: red;
  font-size: 10px;
}
.kb-footer-cancel {
  margin-right: 12px;
}
.kb-footer-menu {
  border-radius: 4px;
  color: white !important;
}
.kb-footer-link {
  color: white !important;
}
