<div>
  <form nz-form #Skillmaster="ngForm" class="skill-form-margin">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Skill Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Skill Name">
            <input nz-input name="name" placeholder="Enter Skill Name" required [(ngModel)]="data.NAME"
              #nameField="ngModel" (keypress)="commonFunction.allowOnly($event)" (focus)="isFocused = 'skillName'"
              (blur)="isFocused = ''" maxlength="256" autocomplete="off" />
            <h6 class="character-count" *ngIf="
                isFocused === 'skillName' ||
                (data.NAME != undefined && data.NAME != null && data.NAME != '' && isFocused === 'skillName')
              ">
              {{ data.NAME.length || 0 }}/256
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzNoColon>Description</nz-form-label>
          <nz-form-control>
            <textarea nz-input name="desc" placeholder="Enter Description" [(ngModel)]="data.DESCRIPTION"
              #nameField="ngModel" (keypress)="commonFunction.allowOnly($event)" (focus)="isFocused = 'description'"
              (blur)="isFocused = ''" maxlength="512" [nzAutosize]="{ minRows: 3, maxRows: 6 }" autocomplete="off"
              class="description-textarea"></textarea>
            <h6 class="character-count" *ngIf="
                isFocused === 'description' ||
                (data.DESCRIPTION != undefined &&
                  data.DESCRIPTION != null &&
                  data.DESCRIPTION != '' &&
                  isFocused === 'description')
              ">
              {{ data.DESCRIPTION.length || 0 }}/512
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzNoColon>Status</nz-form-label>
          <nz-form-control>
            <nz-switch name="status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
              [(ngModel)]="data.IS_ACTIVE"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <button nz-button nzType="default" (click)="close()" class="ant-btn footer-cancel-button">
    Cancel
  </button>
  <button nz-button *ngIf="!data.ID" nzType="primary" nz-dropdown [nzDropdownMenu]="menu" [nzLoading]="isSpinning"
    (click)="save(false, Skillmaster)" class="ant-btn ant-btn-primary">
    Save & Close
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item class="menuc menu-item-dropdown">
        <a class="footer-button footer-link-white" (click)="save(true, Skillmaster)">Save & New</a>
      </li>
    </ul>
  </nz-dropdown-menu>
  <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
    (click)="save(false, Skillmaster)">
    <span>Update & Close</span>
  </button>
</div>