nz-form-item{
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.header {
  position: absolute;
  top: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  right: 0px;
}
:host::ng-deep .ant-picker-ok button {
  color: white !important;
}
.coupon-width-full-a1 {
  width: 100%;
}
.coupon-text-counter-a1 {
  color: red;
  font-size: 10px;
}
.coupon-radio-active-a1 {
  color: white;
}
.coupon-radio-inactive-a1 {
  color: black;
}
.coupon-footer-gap-a1 {
  margin-right: 8px;
}
.coupon-menu-item-a9 {
  border-radius: 4px;
  color: white !important;
}
.coupon-menu-link-a9 {
  color: white !important;
}
.coupon-menu-item-style {
    border-radius: 4px;
    color: white !important;
}

.coupon-menu-link-white {
    color: white !important;
}