
nz-form-item{
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.header {
  position: absolute;
  top: 0px;
  /* bottom: 0px; */
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  /* left: 0px; */
  right: 0px;
  /* background: #fff; */
}
:host::ng-deep .ant-picker-ok button {
  color: white !important;
}
