<div nz-row>
  <div nz-col nzSpan="3"></div>
  <div nz-col nzSpan="18">
    <div nz-row>
      <div nz-col nzSpan="12">
        <div class="formname" *ngIf="TYPE === ''">
          <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline"
            class="back-icon"></span>&nbsp;&nbsp;{{ TYPE == 'SHOP_ORDER' ? 'Order Ratings' :
          'Customer Ratings for Technicians' }}
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div class="header-actions">
          <button nz-button class="filter-btn" nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
            *ngIf="TYPE != 'SHOP_ORDER'" [nzType]="isFilterApplied" (click)="showFilter()">
            <i nz-icon nzType="filter"></i>
          </button>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="filter {{ filterClass }}">
          <div class="filter-box">
            <form nz-form>
              <div nz-row>
                <div nz-col nzSpan="8" *ngIf="TYPE != 'CUSTOMER' && TYPE != 'VENDOR' && TYPE != 'ORDER'">
                  <nz-form-item class="form-item-gap">
                    <nz-form-label nzNoColon>Customers</nz-form-label>
                    <nz-select nzShowSearch nzAllowClear nzMode="multiple" nzPlaceHolder="Select Customers"
                      [nzMaxTagCount]="2" class="full-width" [(ngModel)]="Customers" name="Customerss">
                      <nz-option *ngFor="let list of CustomersData" [nzValue]="list.ID"
                        [nzLabel]="list.NAME"></nz-option>
                    </nz-select>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8" *ngIf="TYPE != 'TECHNICIAN'">
                  <nz-form-item class="form-item-gap">
                    <nz-form-label nzNoColon>Technician</nz-form-label>
                    <nz-select nzShowSearch nzAllowClear nzMode="multiple" nzPlaceHolder="Select Technician"
                      [nzMaxTagCount]="2" class="full-width" [(ngModel)]="Technician" name="Technicians">
                      <nz-option *ngFor="let list of TechData" [nzValue]="list.ID" [nzLabel]="list.NAME"></nz-option>
                    </nz-select>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8" class="filter-actions">
                  <button nz-button nzType="primary" [nzLoading]="isSpinning" (click)="applyFilter()">
                    <i nz-icon nzType="filter"></i>Apply Filter
                  </button>
                  <button nz-button nzType="primary" (click)="clearFilter()">
                    <i nz-icon nzType="delete"></i>Clear filter
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row *ngIf="dataList.length > 0">
      <div nz-col nzSpan="12">
        <nz-rate [(ngModel)]="averageRating" nzDisabled></nz-rate>
        <span class="ant-rate-text">{{ averageRating }} Out Of 5</span>
        <span class="ant-rate-text">({{ globalRating }} global ratings)</span>
      </div>
      <div nz-col nzSpan="12" class="progress-section">
        <div *ngFor="let prog of progressList">
          <div nz-row>
            <div nz-col nzSpan="4">{{ prog.rating }} Star</div>
            <div nz-col nzSpan="20">
              <nz-progress [nzPercent]="prog.progress_percentage" [nzStrokeColor]="'Yellow'" [nzStatus]="
                  prog.progress_percentage === 100 ? 'normal' : 'active'
                ">
                <ng-template #text>
                  {{
                  prog.progress_percentage === 100
                  ? "100%"
                  : prog.progress_percentage + "%"
                  }}
                </ng-template>
              </nz-progress>
            </div>
          </div>
        </div>
      </div>
      <nz-divider nzText="Comments" nzOrientation="center"></nz-divider>
      <div nz-col nzSpan="24" class="comment-section">
        <div *ngFor="let item of dataList;let i=index;">
          <nz-comment nzAuthor="{{ item['CUSTOMER_NAME'] }}">
            <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="assets/img/blueEmpImage.png"></nz-avatar>
            <nz-comment-content>
              <span *ngIf="dataList != null && item.TECHNICIAN_NAME"
                class="technician-label">To Technician : {{ item.TECHNICIAN_NAME
                }}</span><br />
              <span>
                {{ item["COMMENTS"] }}
              </span>
              <div class="rating-box">
                <nz-rate [ngModel]="roundRating(item.RATING)" nzAllowHalf nzDisabled></nz-rate>
              </div>
            </nz-comment-content>
          </nz-comment>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngIf="dataList.length == 0"
        class="empty-state">
        <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
          [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
          <ng-template #contentTpl>
            <span> Data Not Found</span>
          </ng-template>
          <ng-template #footerTpl> </ng-template>
        </nz-empty>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngIf="totalRecords > 10">
        <div class="load-more-wrapper" *ngIf="totalRecords > dataList.length">
          <button nz-button nzType="primary" (click)="loadMore()">
            Load More
          </button>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngIf="dataList.length == 0"
        class="no-data-container">
        <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
          [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
          <ng-template #contentTpl>
            <span> Data Not Found</span>
          </ng-template>
          <ng-template #footerTpl> </ng-template>
        </nz-empty>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="3"></div>
</div>