<div nz-row nzType="flex">
  <div nz-col nzSpan="8">
    <div class="formname">
      <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline"
        class="coupon-header-back-x9"></span>&nbsp;&nbsp;{{ formTitle }}
    </div>
  </div>
  <div nz-col nzSpan="16" class="coupon-header-actions-x9">
    <form nz-form nzLayout="inline">
      <nz-form-item class="coupon-filter-btn-x9">
        <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" nz-input autocomplete="off" id="button" placeholder="Min 3 chars required."
            [(ngModel)]="searchText" (keydown.enter)="onEnterKey($event)" (keyup)="onKeypressEvent($event)" />
        </nz-input-group>
      </nz-form-item>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" id="button" nzSearch (click)="search()">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
      <nz-form-item class="coupon-add-btn-x9">
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i> New Coupon
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="filter-row-top-x10">
          <div nz-col [nzSpan]="24">
            <ng-container *ngIf="filterloading; else filtersContent">
              <div class="filter-loader-center-x10">
                <nz-spin nzSimple></nz-spin>
              </div>
            </ng-container>
            <ng-template #filtersContent>
              <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="6" *ngFor="let item of savedFilters" class="filter-card-wrapper-x10">
                    <nz-card class="filter-card-x10">
                      <div class="filter-card-header-x10">
                        <span class="filter-card-title-x10">
                          <span *ngIf="item.FILTER_NAME != null">
                            <span *ngIf="item.FILTER_NAME.length >= 25" nz-popover [nzPopoverContent]="item.FILTER_NAME"
                              nzPopoverPlacement="topLeft">
                              {{ item.FILTER_NAME | slice : 0 : 25
                              }}{{ item.FILTER_NAME.length > 25 ? "..." : "" }}
                            </span>
                            <span *ngIf="item.FILTER_NAME.length < 25">
                              {{ item.FILTER_NAME }}
                            </span>
                          </span>
                          <span *ngIf="item.FILTER_NAME == null">-</span>
                        </span>
                        <i *ngIf="selectedFilter === item.ID" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                          [nzTwotoneColor]="'#52c41a'" nz-tooltip
                          [nzTooltipTitle]="'This filter is applied on current data'"
                          class="filter-applied-icon-x10"></i>
                      </div>
                      <div nz-row class="filter-card-actions-x10">
                        <div nz-col nzSpan="24" class="filter-action-row-x10">
                          <nz-tag nzColor="#2db7f5" (click)="editQuery(item)" nz-tooltip nzTooltipTitle="Edit Filter"
                            class="filter-action-tag-x10">
                            <span nz-icon nzType="edit" nzTheme="outline" class="filter-action-icon-x10"></span>
                            &nbsp;&nbsp;Edit
                          </nz-tag>
                          <nz-tag *ngIf="selectedFilter !== item.ID" nzColor="#87d068" (click)="applyfilter(item)"
                            nz-tooltip nzTooltipTitle="Apply Filter" class="filter-action-tag-x10">
                            <span nz-icon nzType="search" nzTheme="outline" class="filter-action-icon-x10"></span>
                            &nbsp;&nbsp;Apply
                          </nz-tag>
                          <nz-tag *ngIf="selectedFilter === item.ID" nzColor="#faad14" (click)="Clearfilter()"
                            nz-tooltip nzTooltipTitle="Clear this Filter" class="filter-action-tag-x10">
                            <span nz-icon nzType="close" nzTheme="outline" class="filter-action-icon-x10"></span>
                            &nbsp;&nbsp;Clear
                          </nz-tag>
                          <nz-tag nzColor="#cd201f" nz-popconfirm
                            nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteItem(item)" nz-tooltip nzTooltipTitle="Delete Filter"
                            class="filter-action-tag-x10">
                            <span nz-icon nzType="delete" nzTheme="outline" class="filter-action-icon-x10"></span>
                            &nbsp;&nbsp;Delete
                          </nz-tag>
                          <nz-tag nzColor="#3b5999" nz-tooltip nzTooltipTitle="View Filter Text"
                            (click)="toggleLiveDemo(item)" class="filter-action-tag-alt-x10">
                            <span nz-icon nzType="eye" nzTheme="outline" class="filter-action-icon-x10"></span>
                            &nbsp;&nbsp;View
                          </nz-tag>
                        </div>
                      </div>
                    </nz-card>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #noData>
              <div class="filter-no-data-x10">
                No Previous Filters Are Found
              </div>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="24" class="filter-footer-actions-x10">
            <button *ngIf="savedFilters && savedFilters.length > 0" nz-button nzType="primary" nzSize="small"
              (click)="Clearfilter()" class="filter-footer-btn-x10">
              <span nz-icon nzType="reload" nzTheme="outline"></span>
              Reset Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()" class="filter-footer-btn-x10">
              <span nz-icon nzType="plus"></span>
              New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" nzBordered #table nzShowSizeChanger [nzFrontPagination]="false" #headerTable
      [nzScroll]="{ x: '100vw', y: '50vh' }" [nzData]="dataList" [nzLoading]="loadingRecords" [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzQueryParams)="sort($event)" [nzSize]="'small'">
      <thead>
        <tr>
          <th nzLeft nzWidth="80px" class="coupon-table-header-x11">Action</th>
          <th nzLeft nzWidth="95px" class="coupon-table-header-x11">Service Map</th>
          <th nzLeft nzWidth="110px" class="coupon-table-header-x11">Inventory Map</th>
          <th nzLeft nzWidth="110px" class="coupon-table-header-x11">Territory Map</th>
          <th nzLeft nzWidth="220px" nzShowSort align="center" nzColumnKey="{{ 'COUPON_TYPE_NAME' }}" [nzSortFn]="true"
            nzCustomFilter>
            Coupon Type Name
            <nz-filter-trigger [(nzVisible)]="couponTypeVisible" [nzDropdownMenu]="COUPON_TYPE">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{ color: iscoupontypeFilterApplied ? '#092B9C' : 'inherit' }"></span>
            </nz-filter-trigger>
          </th>
          <th nzLeft nzWidth="220px" nzShowSort align="center" nzColumnKey="{{ 'NAME' }}" [nzSortFn]="true"
            nzCustomFilter>
            Name
            <nz-filter-trigger [(nzVisible)]="NameVisible" [nzDropdownMenu]="NAME">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{ color: isNameFilterApplied ? '#092B9C' : 'inherit' }"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="170px" nzShowSort align="center" nzColumnKey="{{ 'START_DATE' }}" [nzSortFn]="true"
            nzCustomFilter>
            Start Date
            <nz-filter-trigger [(nzVisible)]="startDateVisible" [nzDropdownMenu]="startDateFilter">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{ color: startDateText ? '#092B9C' : 'inherit' }"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="170px" nzShowSort align="center" nzColumnKey="{{ 'EXPIRY_DATE' }}" [nzSortFn]="true"
            nzCustomFilter>
            Expiry Date
            <nz-filter-trigger [(nzVisible)]="expiryDateVisible" [nzDropdownMenu]="expiryDateFilter">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{ color: expiryDateText ? '#092B9C' : 'inherit' }"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="170px" nzShowSort align="center" nzColumnKey="{{ 'MAX_USES_COUNT' }}" [nzSortFn]="true"
            nzCustomFilter>
            Max Usage Count
            <nz-filter-trigger [(nzVisible)]="MaxUsesCountVisible" [nzDropdownMenu]="MAX_USES_COUNT">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{ color: isMaxUsesCountFilterApplied ? '#092B9C' : 'inherit' }"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="130px" nzShowSort align="center" nzColumnKey="{{ 'COUPON_FOR' }}" [nzSortFn]="true"
            nzCustomFilter>
            Coupon For
            <nz-filter-trigger [(nzVisible)]="CouponForVisible" [nzDropdownMenu]="COUPON_FOR">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{ color: isCouponForVisibleFilterApplied ? '#092B9C' : 'inherit' }"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="140px" nzShowSort align="center" nzColumnKey="{{ 'COUPON_CODE' }}" [nzSortFn]="true"
            nzCustomFilter>
            Coupon Code
            <nz-filter-trigger [(nzVisible)]="CouponCodeVisible" [nzDropdownMenu]="COUPON_CODE">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{ color: isCouponCodeVisibleFilterApplied ? '#092B9C' : 'inherit' }"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="150px" nzShowSort align="center" nzColumnKey="{{ 'COUPON_VALUE' }}" [nzSortFn]="true"
            nzCustomFilter>
            Coupon Value
            <nz-filter-trigger [(nzVisible)]="CouponValueVisible" [nzDropdownMenu]="COUPON_VALUE">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{ color: isCouponValueVisibleFilterApplied ? '#092B9C' : 'inherit' }"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="180px" nzShowSort align="center" nzColumnKey="{{ 'PERUSER_MAX_COUNT' }}" [nzSortFn]="true"
            nzCustomFilter>
            Per User Max Count
            <nz-filter-trigger [(nzVisible)]="PerUserMaxCountVisible" [nzDropdownMenu]="PERUSER_MAX_COUNT">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{ color: isPerUserMaxCountVisibleFilterApplied ? '#092B9C' : 'inherit' }"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="100px" nzColumnKey="STATUS" [nzSortFn]="true" [nzFilters]="listOfFilter"
            [nzFilterMultiple]="false" (nzFilterChange)="onStatusFilterChange($event)" class="coupon-table-header-x11">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data" class="coupon-table-row-x11">
          <td nzLeft class="coupon-cell-center-x11">
            <nz-tag nzColor="#2db7f5" (click)="edit(data)" class="coupon-action-tag-x11">
              <span nz-icon nzType="edit" nzTheme="outline" class="coupon-action-icon-x11"></span>
              &nbsp;&nbsp;Edit
            </nz-tag>
          </td>
          <td nzLeft class="coupon-cell-center-x11">
            <nz-tag *ngIf="data.COUPON_FOR === 'BO' || data.COUPON_FOR === 'SE'; else elseblockssss" nzColor="#2db7f5"
              (click)="MapFacility(data)" class="coupon-action-tag-x11">
              <span nz-icon nzType="form" nzTheme="outline" class="coupon-action-icon-x11"></span>
              &nbsp;&nbsp;Map
            </nz-tag>
            <ng-template #elseblockssss>-</ng-template>
          </td>
          <td nzLeft class="coupon-cell-center-x11">
            <nz-tag *ngIf="data.COUPON_FOR === 'BO' || data.COUPON_FOR === 'IN'; else elseblock" nzColor="#2db7f5"
              (click)="MapInventory(data)" class="coupon-action-tag-x11">
              <span nz-icon nzType="form" nzTheme="outline" class="coupon-action-icon-x11"></span>
              &nbsp;&nbsp;Map
            </nz-tag>
            <ng-template #elseblock>-</ng-template>
          </td>
          <td nzLeft class="coupon-cell-center-x11">
            <nz-tag nzColor="#2db7f5" (click)="MapTerritory(data)" class="coupon-action-tag-x11">
              <span nz-icon nzType="form" nzTheme="outline" class="coupon-action-icon-x11"></span>
              &nbsp;&nbsp;Map
            </nz-tag>
          </td>
          <td nzLeft align="left" nz-tooltip [nzTooltipTitle]="isTextOverflow ? data['COUPON_TYPE_NAME'] : null">
            <div class="truncate-text">
              {{ data["COUPON_TYPE_NAME"] ? data["COUPON_TYPE_NAME"] : "-" }}
            </div>
          </td>
          <td nzLeft align="left" nz-tooltip [nzTooltipTitle]="isTextOverflow ? data['NAME'] : null">
            <div class="truncate-text">
              {{ data["NAME"] ? data["NAME"] : "-" }}
            </div>
          </td>
          <td align="center">
            {{ data?.START_DATE ? (data.START_DATE | date : "dd/MM/yyyy HH:mm a") : "-" }}
          </td>
          <td align="center">
            {{ data?.EXPIRY_DATE ? (data.EXPIRY_DATE | date : "dd/MM/yyyy HH:mm a") : "-" }}
          </td>
          <td align="center">{{ data.MAX_USES_COUNT }}</td>
          <td align="center">
            <span *ngIf="data['COUPON_FOR'] == 'BO'">Both</span>
            <span *ngIf="data['COUPON_FOR'] == 'IN'">Inventory</span>
            <span *ngIf="data['COUPON_FOR'] == 'SE'">Service</span>
            <span *ngIf="data['COUPON_FOR'] == null">-</span>
          </td>
          <td align="center" nz-tooltip [nzTooltipTitle]="isTextOverflow ? data['COUPON_CODE'] : null">
            <div class="truncate-text">
              {{ data["COUPON_CODE"] ? data["COUPON_CODE"] : "-" }}
            </div>
          </td>
          <td align="center" nz-tooltip [nzTooltipTitle]="isTextOverflow ? data['COUPON_VALUE'] : null">
            <div class="truncate-text">
              {{ data["COUPON_VALUE"] ? data["COUPON_VALUE"] : "-" }}
            </div>
          </td>
          <td align="center">{{ data.PERUSER_MAX_COUNT }}</td>
          <td align="center">
            <i nz-icon *ngIf="data.STATUS" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>
            <i nz-icon *ngIf="!data.STATUS" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1000" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-coupon [drawerClose]="closeCallback" [data]="drawerData"></app-coupon>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerVisiblemapping">
  <nz-drawer [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'100%'"
    [nzVisible]="drawerVisiblemapping" [nzTitle]="drawerTitlemapping" (nzOnClose)="drawerClosemapping()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-couponfacilitymapping [drawerClose]="closeCallbackmapping" [drawerVisible]="drawerVisiblemapping"
        [data]="drawerData"></app-couponfacilitymapping>
    </ng-container>
  </nz-drawer>
</div>
<nz-dropdown-menu #COUPON_TYPE="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="select">
      <nz-select class="coupon-select-full-x12" nzShowSearch nzAllowClear nzPlaceHolder="Select Coupon Type"
        nzMode="multiple" [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedCouponType"
        (ngModelChange)="onCouponTypeChange()">
        <nz-option *ngFor="let data of CouponTypeData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
      </nz-select>
      <ng-template #multipleTemplate let-selected>
        <div class="ant-select-selection-item-content">
          <span nz-icon [nzType]="selected.nzValue"></span>
          {{ selected.nzLabel }}
        </div>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #NAME="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input type="text" nz-input [(ngModel)]="nametext" (keyup)="onKeyup($event, 'name')" placeholder="Search  Name"
          (keydown.enter)="onEnterKey($event)" />
      </nz-input-group>
      <ng-template #inputClearTpl>
        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="nametext"
          (click)="reset()"></span>
        <span nz-icon nzType="search" nzTheme="outline" *ngIf="nametext == ''"></span>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #MAX_USES_COUNT="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input type="text" nz-input [(ngModel)]="maxusescounttext" (keyup)="onKeyup($event, 'maxusescount')"
          placeholder="Search Max Usage Count" (keydown.enter)="onEnterKey($event)" />
      </nz-input-group>
      <ng-template #inputClearTpl>
        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="maxusescounttext"
          (click)="reset()"></span>
        <span nz-icon nzType="search" nzTheme="outline" *ngIf="maxusescounttext == ''"></span>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #COUPON_FOR="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="select">
      <nz-select class="coupon-select-full-x12" nz-input nzAllowClear nzPlaceHolder="Select Coupon For"
        nzMode="multiple" [(ngModel)]="selectedCouponfor" nzShowSearch (ngModelChange)="search()">
        <nz-option nzLabel="Both" nzValue="'BO'"></nz-option>
        <nz-option nzLabel="Inventory" nzValue="'IN'"></nz-option>
        <nz-option nzLabel="Service" nzValue="'SE'"></nz-option>
      </nz-select>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #COUPON_CODE="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input type="text" nz-input [(ngModel)]="CouponCodetext" (keyup)="onKeyup($event, 'couponcode')"
          placeholder="Search Coupon Code" (keydown.enter)="onEnterKey($event)" />
      </nz-input-group>
      <ng-template #inputClearTpl>
        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="CouponCodetext"
          (click)="reset()"></span>
        <span nz-icon nzType="search" nzTheme="outline" *ngIf="CouponCodetext == ''"></span>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #COUPON_VALUE="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input type="text" nz-input [(ngModel)]="CouponValuetext" (keyup)="onKeyup($event, 'couponvalue')"
          placeholder="Search Coupon Value" (keydown.enter)="onEnterKey($event)" />
      </nz-input-group>
      <ng-template #inputClearTpl>
        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="CouponValuetext"
          (click)="reset()"></span>
        <span nz-icon nzType="search" nzTheme="outline" *ngIf="CouponValuetext == ''"></span>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #PERUSER_MAX_COUNT="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input type="text" nz-input [(ngModel)]="PerUserMaxCounttext" (keyup)="onKeyup($event, 'PerUserMaxCount')"
          placeholder="Search Per User Max Count" (keydown.enter)="onEnterKey($event)" />
      </nz-input-group>
      <ng-template #inputClearTpl>
        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="PerUserMaxCounttext"
          (click)="reset()"></span>
        <span nz-icon nzType="search" nzTheme="outline" *ngIf="PerUserMaxCounttext == ''"></span>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #startDateFilter="nzDropdownMenu">
  <div class="ant-table-filter-dropdown coupon-date-dropdown-x12">
    <div class="search-box coupon-date-box-x12">
      <nz-range-picker name="startDateText" [(ngModel)]="startDateText" required nzFormat="dd/MM/yyyy"
        (ngModelChange)="onStartDateChange($event)"></nz-range-picker>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #expiryDateFilter="nzDropdownMenu">
  <div class="ant-table-filter-dropdown coupon-date-dropdown-x12">
    <div class="search-box coupon-date-box-x12">
      <nz-range-picker name="expiryDateText" [(ngModel)]="expiryDateText" required nzFormat="dd/MM/yyyy"
        (ngModelChange)="onExpiryDateChange($event)"></nz-range-picker>
    </div>
  </div>
</nz-dropdown-menu>
<div *ngIf="drawerVisibleInventoryMapping">
  <nz-drawer [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'100%'"
    [nzVisible]="drawerVisibleInventoryMapping" [nzTitle]="drawerTitleInventoryMap"
    (nzOnClose)="drawerCloseInventorymapping()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-couponinventorymapping [drawerClose]="closeCallbackInventorymapping"
        [drawerVisible]="drawerVisibleInventoryMapping" [data]="drawerData"></app-couponinventorymapping>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerCouponTerritoryVisible">
  <nz-drawer [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'100%'"
    [nzVisible]="drawerCouponTerritoryVisible" [nzTitle]="drawerTitleCouponTerritory"
    (nzOnClose)="drawerCloseTerritorymapping()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-couponterritotymapping [drawerClose]="closeCallbackTerritorymapping"
        [data]="drawerDataCouponTerritory"></app-couponterritotymapping>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerfilterClose('buttontype', 'updateButton')" (nzKeyboard)="(true)"
    [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [filterGroups]="filterGroups" [filterGroups2]="filterGroups2" [name]="FILTER_NAME"
        [data]="EditQueryData" [drawerClose]="closefilterCallback" [fields]="filterFields" [TabId]="TabId"
        [editButton]="editButton" (filterApplied)="onFilterApplied($event)" [filterData]="filterData">
      </app-main-filter>
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Filter Text'" [nzFooter]="null" (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <h6 class="filter-query-text-x13">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>