<div>
	<form #accountMasterPage="ngForm" nz-form>
		<nz-spin [nzSpinning]="isSpinning">
			<div nz-row>
				<div nz-col nzSpan="24">
					<nz-form-item>
						<nz-form-label nzRequired nzNoColon>
							Inventory Category
						</nz-form-label>
						<nz-form-control nzHasFeedback nzErrorTip="Please Select Inventory Category">
							<nz-select [(ngModel)]="data.INVENTRY_CATEGORY_ID" nz-input name="inventorycat"
								nzPlaceHolder="Select Inventory Category" nzAllowClear
								class="invsubcatform-select-width" nzShowSearch required>
								<nz-option *ngFor="let item of InventoryCategoryList" [nzValue]="item.ID"
									[nzLabel]="item.CATEGORY_NAME"></nz-option>
							</nz-select>
						</nz-form-control>
					</nz-form-item>
				</div>
			</div>
			<div nz-row>
				<div nz-col nzSpan="24">
					<nz-form-item>
						<nz-form-label nzRequired nzNoColon>Sub Category Name</nz-form-label>
						<nz-form-control nzErrorTip="Please Enter Subcategory Name">
							<input [(ngModel)]="data.NAME" (keypress)="commonFunction.allowOnly($event)"
								name="subcategoryname" autocomplete="off" nz-input maxlength="128"
								placeholder="Enter Subcategory Name" nzShowSearch required (focus)="isFocused = 'NAME'"
								(blur)="isFocused = ''" />
							<br />
							<h6 class="invsubcatform-char-count" *ngIf="
					isFocused === 'NAME' || (data.NAME && isFocused === 'NAME')
				  ">
								{{ data.NAME?.length || 0 }}/128
							</h6>
						</nz-form-control>
					</nz-form-item>
				</div>
			</div>
			<div nz-row>
				<div nz-col nzSpan="24">
					<nz-form-item>
						<nz-form-label nzNoColon>Description</nz-form-label>
						<nz-form-control>
							<textarea [(ngModel)]="data.DESCRIPTION" nz-input rows="3" name="Description"
								placeholder="Enter Description" maxlength="512" nzShowSearch
								(focus)="isFocused = 'DESCRIPTION'" (blur)="isFocused = ''"></textarea>
							<br />
							<h6 class="invsubcatform-char-count" *ngIf="
					isFocused === 'DESCRIPTION' ||
					(data.DESCRIPTION && isFocused === 'DESCRIPTION')
				  ">
								{{ data.DESCRIPTION?.length || 0 }}/512
							</h6>
						</nz-form-control>
					</nz-form-item>
				</div>
				<div nz-col nzSpan="12">
					<nz-form-item>
						<nz-form-label nzNoColon nzRequired>Sequence No.</nz-form-label>
						<nz-form-control nzHasFeedback nzErrorTip="Please Enter Sequence No.">
							<input nz-input placeholder="Sequence No." name="SeqNo" required [(ngModel)]="data.SEQ_NO"
								required (keypress)="commonFunction.onlynum($event)" maxlength="8" autocomplete="off" />
						</nz-form-control>
					</nz-form-item>
				</div>
				<div nz-col nzSpan="6">
					<nz-form-item>
						<nz-form-label nzNoColon>Is Active</nz-form-label>
						<nz-switch class="invsubcatform-switch-line" name="isactive" nzCheckedChildren="Active"
							nzUnCheckedChildren="Inactive" [(ngModel)]="data.IS_ACTIVE">
						</nz-switch>
					</nz-form-item>
				</div>
			</div>
			<div nz-col nzSpan="24">
				<nz-form-item>
					<nz-form-label nzNoColon nzRequired>Subcategory Icon&nbsp;<span nz-icon nzType="info-circle"
							nzTheme="twotone" nz-tooltip nzTooltipTitle=" Please select an image file (PNG, JPG, JPEG) with a image
						  dimension 128*128."></span>
						<span *ngIf="(data.ICON && data.ICON != ' ') || fileURL" nz-popconfirm
							nzPopconfirmTitle="Are you sure you want to delete?" nzPopconfirmPlacement="top"
							(nzOnConfirm)="image1DeleteConfirm(data)" (nzOnCancel)="deleteCancel()"
							class="invsubcatform-delete-icon">
							<span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#FF0000'" nz-tooltip
								nzTooltipTitle="Delete"></span>
						</span>
					</nz-form-label>
					<nz-form-control nzHasFeedback nzErrorTip="Select Subcategory Icon">
						<button *ngIf="!fileURL && (!data.ICON || data.ICON.trim() === '')" nz-button
							class="invsubcatform-upload-btn" (click)="image1.click()">
							Upload Icon
							<input #image1 name="image1" type="file" accept=".png, .jpg, .jpeg"
								(change)="onFileSelected($event)" class="invsubcatform-file-hidden" />
						</button>
						<div *ngIf="
				  data.ICON &&
				  data.ICON != null &&
				  data.ICON != undefined &&
				  data.ICON != ' ' &&
				  data.ICON != '' &&
				  (fileURL == undefined || fileURL == null || fileURL == '')
				" class="invsubcatform-image-mt">
							<img nz-image [nzSrc]="fullImageUrl" alt="Uploaded Image"
								class="invsubcatform-image-uploaded" />
						</div>
						<div *ngIf="
				  fileURL != undefined &&
				  fileURL != null &&
				  fileURL != '' &&
				  fileURL != ' '
				" class="ss invsubcatform-image-center">
							<img nz-image [nzSrc]="imagePreview" alt="Preview" class="invsubcatform-image-preview" />
						</div>
					</nz-form-control>
				</nz-form-item>
			</div>
		</nz-spin>
	</form>
	<div class="footer">
		<button (click)="close(accountMasterPage)" type="button" nz-button class="ant-btn invsubcatform-cancel-btn">
			<span>Cancel</span>
		</button>
		<button *ngIf="!data.ID" [nzLoading]="isSpinning" [nzDropdownMenu]="menu"
			(click)="save(false, accountMasterPage)" type="button" class="ant-btn ant-btn-primary" nz-button
			nz-dropdown>
			<span> Save & Close </span>
		</button>
		<nz-dropdown-menu #menu="nzDropdownMenu">
			<ul nz-menu>
				<li nz-menu-item class="menuc invsubcatform-menu-item">
					<a (click)="save(true, accountMasterPage)" class="invsubcatform-menu-link">Save & New</a>
				</li>
			</ul>
		</nz-dropdown-menu>
		<button *ngIf="data.ID" [nzLoading]="isSpinning" (click)="save(false, accountMasterPage)" type="button"
			class="ant-btn ant-btn-primary" nz-button>
			<span>Update & close</span>
		</button>
	</div>
</div>
<nz-modal [nzWidth]="900" [nzStyle]="{ 'margin-top': '-80px' }" [(nzVisible)]="CropImageModalVisible"
	nzMaskClosable="false" nzClosable="false" [nzContent]="content2" [nzTitle]="'Crop Image'"
	(nzOnCancel)="CropImageModalCancel()" [nzFooter]="CropImageModalFooter">
	<ng-template #content2>
		<nz-spin [nzSpinning]="isSpinningCrop">
			<div *ngIf="
			cropimageshow != undefined &&
			cropimageshow != null &&
			cropimageshow != ''
		  " class="ss invsubcatform-crop-container">
				<div *ngIf="croppedImage" class="invsubcatform-text-center">
					<p>Cropped Image:</p>
					<img [src]="croppedImage" width="128" height="128" />
				</div>
				<nz-divider [ngStyle]="{ width: imageWidth - 900 + 'px' }" nzPlain nzVariant="solid"></nz-divider>
				<image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" format="png"
					(imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)"
					(cropperReady)="cropperReady($event)" (loadImageFailed)="loadImageFailed()"></image-cropper>
			</div>
		</nz-spin>
	</ng-template>
	<ng-template #CropImageModalFooter>
		<button nz-button nzType="default" (click)="CropImageModalCancel()">
			Close
		</button>
		<button nz-button nzType="primary" (click)="onFileSelected(imageChangedEvent)">
			Upload
		</button>
	</ng-template>
</nz-modal>