#map {
  height: 500px;
  width: 100%;
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 6px;
  cursor: pointer;
}
.close-btn:hover {
  color: red;
}
.popover-content {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.subnamm {
  color: #6A6A6A;
  font-size: 12px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gm-ui-hover-effect {
  width: 15px !important;
  height: 15px !important;
  top: 5px !important;
  right: 5px !important;
}
.gm-ui-hover-effect {
  width: 100% !important;
  height: 100% !important;
}
:host::ng-deep .gm-ui-hover-effect {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.emptyDataTex {
  color: grey;
  font-weight: 500;
  font-size: 20px;
}
.map-wrapper {
  width: 100%;
}
.map-container {
  width: 100%;
  height: 68vh;
}
.map-empty {
  text-align: center;
  margin-top: 20vh;
}
.emptyDataText {
  font-size: 14px;
  font-weight: 500;
  color: #888;
}