<div nz-row>
  <div nz-col nzSpan="24">
    <nz-form-item>
      <nz-form-label nzNoColon>Allow access to earnings summary?</nz-form-label>
      <nz-form-control class="cfg-switch-align-end">
        <nz-switch name="status" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
          [(ngModel)]="data.CAN_VIEW_SERVICE_PRICES_SUMMARY">
        </nz-switch>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="24">
    <nz-form-item>
      <nz-form-label nzNoColon>Allow access to accept job ?</nz-form-label>
      <nz-form-control class="cfg-switch-align-end">
        <nz-switch name="status" nzCheckedChildren="Yes" nzUnCheckedChildren="No" [(ngModel)]="data.CAN_ACCEPT_JOB">
        </nz-switch>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="24">
    <nz-form-item>
      <nz-form-label nzNoColon>Allow to add skills ?</nz-form-label>
      <nz-form-control class="cfg-switch-align-end">
        <nz-switch name="status" nzCheckedChildren="Yes" nzUnCheckedChildren="No" [(ngModel)]="data.CAN_EDIT_SKILL">
        </nz-switch>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div class="footer">
  <button nz-button nzType="default" (click)="close()" class="ant-btn cfg-footer-cancel-btn">
    Cancel
  </button>
  <button nz-button nzType="primary" [nzLoading]="isSpinning" (click)="save()" class="ant-btn ant-btn-primary">
    Change Configuration
  </button>
</div>