<div>
  <div nz-row nzType="flex">
    <div nz-col nzSpan="24" class="bo-flex-end">
      <form nz-form [nzLayout]="'inline'">
        <nz-form-item class="bo-empty-item"> </nz-form-item>
        <nz-form-item>
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" name="search" (keyup)="keyup($event)" (keydown.enter)="onEnterKey($event)"
              autocomplete="off" [(ngModel)]="searchText" nz-input placeholder="Min 3 chars required." />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" (click)="search(true)" nzSearch>
              <i nz-icon nzType="search"></i>
            </button>
          </ng-template>
        </nz-form-item>
        <nz-form-item class="bo-no-margin-right">
          <button nz-button nzType="primary" (click)="add()" nzJustify="end">
            <i nz-icon nzType="plus"></i>New Login
          </button>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1 bo-table-pre-line" nzBordered #organizationTable nzShowSizeChanger
      [nzFrontPagination]="false" [nzData]="dataList" [nzLoading]="loadingRecords" [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)" nzSize="small" [nzScroll]="{ y: '50vh' }">
      <thead>
        <tr>
          <th nzWidth="150px" nzLeft class="bo-th-center-bold">
            Action
          </th>
          <th nzWidth="150px" nzLeft class="bo-th-center-bold">
            View Logs
          </th>
          <th nzWidth="300px" class="bo-th-center-bold" nzColumnKey="NAME" [nzSortFn]="true">
            Customer Name
          </th>
          <th nzWidth="280px" class="bo-th-center-bold" nzColumnKey="EMAIL" [nzSortFn]="true">
            Email ID
          </th>
          <th nzWidth="150px" class="bo-th-center-bold" nzColumnKey="MOBILE_NO" [nzSortFn]="true">
            Mobile No.
          </th>
          <th nzWidth="130px" nzShowSort align="center" nzColumnKey="{{ 'SHORT_CODE' }}" [nzSortFn]="true"
            nzCustomFilter>
            Short Code
          </th>
          <th nzWidth="90px" class="bo-th-center-bold" nzColumnKey="ACCOUNT_STATUS" [nzSortFn]="true">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of organizationTable.data" class="bo-text-center">
          <td nzLeft class="bo-flex-center">
            <nz-tag nzColor="#2db7f5" (click)="edit(data)" class="bo-clickable">
              <span nz-icon nzType="edit" nzTheme="outline" class="bo-icon-md">
              </span>&nbsp;&nbsp;Edit</nz-tag>
          </td>
          <td nzLeft>
            <nz-tag nzColor="#2db7f5" (click)="viewLogs(data)" class="bo-clickable" nzTooltipTitle="View" nz-tooltip>
              <span nz-icon nzType="eye" nzTheme="outline" class="bo-icon-md">
              </span>&nbsp;&nbsp;View</nz-tag>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['NAME'] : null" #tooltipRef1="nzTooltip" nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["NAME"] ? commonFunction.convertHtmlToPlainText(data["NAME"]) : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['EMAIL'] : null" #tooltipRef2="nzTooltip" nz-tooltip>
            <div #textContainer2 class="truncate-text" (mouseenter)="checkOverflow(textContainer2, tooltipRef2)">
              {{ data["EMAIL"] ? commonFunction.convertHtmlToPlainText(data["EMAIL"]) : "-" }}
            </div>
          </td>
          <td align="center">
            <span *ngIf="data['MOBILE_NO'] != null">
              {{ data.COUNTRY_CODE }}&nbsp;&nbsp;{{ commonFunction.convertHtmlToPlainText(data["MOBILE_NO"]) }}
            </span>
            <span *ngIf="data['MOBILE_NO'] == null">-</span>
          </td>
          <td align="left">
            {{ data["SHORT_CODE"] ? commonFunction.convertHtmlToPlainText(data["SHORT_CODE"]) : "-" }}
          </td>
          <td>
            <i nz-icon *ngIf="data['ACCOUNT_STATUS']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>
            <i nz-icon *ngIf="!data['ACCOUNT_STATUS']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-dropdown-menu #shortcode="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input type="text" nz-input [(ngModel)]="shorttext" (onkeypress)="search()" (keyup)="onKeyup($event)"
          placeholder="Search Short Code" />
      </nz-input-group>
      <ng-template #inputClearTpl>
        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="shorttext"
          (click)="reset()"></span>
        <span nz-icon nzType="search" nzTheme="outline" *ngIf="shorttext == ''">
        </span>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<div *ngIf="drawerCustomerAddLoginVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(105% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="widthCustomerAddLogin"
    [nzVisible]="drawerCustomerAddLoginVisible" [nzTitle]="drawerTitle" (nzOnClose)="drawerCustomerAddLoginClose()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-add-login-customer [drawerClose]="closeCustomerAddLoginCallback"
        [drawerVisible]="drawerCustomerAddLoginVisible" [data]="drawerDataAddLogin" [custid]="custid"
        [mainCustData]="mainCustData" [companyName]="companyName" [isParentId]="isparentId"></app-add-login-customer>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerVisibleCustomersLogs">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="true" [nzWidth]="width"
    [nzVisible]="drawerVisibleCustomersLogs" [nzTitle]="drawerTitleCustomersLogs"
    (nzOnClose)="drawerCloseCustomersLogs()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-customer-address-logs-report [drawerClose]="closeCallbackCustomersLogs"
        [drawerVisible]="drawerVisibleCustomersLogs" [data]="drawerDataCustomersLogs" [custmoerid]="custmoerid">
      </app-customer-address-logs-report>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="drawerCustomerEmailVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(105% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="widthCustomerEmail"
    [nzVisible]="drawerCustomerEmailVisible" [nzTitle]="drawerTitle" (nzOnClose)="drawerCustomerEmailClose()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-map-email-to-child-customer [drawerClose]="closeCustomerEmailCallback"
        [drawerVisible]="drawerCustomerEmailVisible" [data]="drawerDataEmail"
        [mainCustData]="mainCustDataEmail"></app-map-email-to-child-customer>
    </ng-container>
  </nz-drawer>
</div>