nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
}
.tm-role-select-width {
    width: 100%;
}
.tm-char-counter {
    color: red;
    font-size: 10px;
}
.tm-footer-cancel-margin {
    margin-right: 12px;
}
.tm-dropdown-menu-item {
    border-radius: 4px;
    color: white !important;
}
.tm-dropdown-menu-link {
    color: white !important;
}