<div class="template-form-container">
  <p class="form-description">
    This template creation form allows individuals to generate templates. It is
    essential to fill in all mandatory fields when creating a template.
    Furthermore, dynamic values can be inserted within double curly braces
    format. A live preview of the template is visible on the right side of the
    form. Save the template for future use.
  </p>
  <form nz-form>
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="17">
          <div nz-col nzSpan="24" class="my-box">
            <div nz-row>
              <div nz-col nzSpan="10">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon class="form-label-bold"> Template Name </nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Enter Template Name">
                    <input nz-input autocomplete="off" name="name" type="text" [(ngModel)]="data.NAME"
                      placeholder="Enter Template Name" required maxlength="128" (focus)="isFocused = 'NAME'"
                      (blur)="isFocused = ''" class="template-name-input" />
                  </nz-form-control>
                  <h6 class="character-count" *ngIf="
                      isFocused === 'NAME' ||
                      (data.NAME && isFocused === 'NAME')
                    ">
                    {{ data.NAME?.length || 0 }}/128
                  </h6>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="7">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon class="form-label-bold"> Category
                  </nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Select Category">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Category" name="agent12"
                      [(ngModel)]="data.TYPE" required class="category-select">
                      <nz-option nzValue="UTILITY" nzLabel="Utility"></nz-option>
                      <nz-option nzDisabled nzValue="AUTHENTICATION" nzLabel="Authentication"></nz-option>
                      <nz-option nzValue="MARKETING" nzLabel="marketing"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="7">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon class="form-label-bold">Language
                  </nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Select Language">
                    <nz-select nzShowSearch nzAllowClear required nzPlaceHolder="Select Language" name="agent"
                      [(ngModel)]="data.LANGUAGE" class="language-select">
                      <nz-option nzValue="en" nzLabel="English"></nz-option>
                      <nz-option nzValue="en_US" nzLabel="English(US)"></nz-option>
                      <nz-option nzValue="en_UK" nzLabel="English(UK)"></nz-option>
                      <nz-option nzValue="mr" nzLabel="Marathi"></nz-option>
                      <nz-option nzValue="hi" nzLabel="Hindi"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="24">
            <div>
              <div nz-row class="my-box">
                <div nz-col nzSpan="10">
                  <nz-form-item>
                    <nz-form-label nzNoColon class="form-label-bold"> Header (Optional) </nz-form-label>
                    <span nz-icon nzType="info-circle"
                        nzTheme="twotone" nz-tooltip
                        nzTooltipTitle="Add a Text or choose type of Media for header. Your title can not include more than one variable" class="info-icon"></span>
                    <nz-form-control>
                      <nz-select [disabled]="visiblemedia" nzShowSearch nzAllowClear nzPlaceHolder="Select Header Type"
                        name="agent1" [(ngModel)]="data.HEADER_TYPE" class="header-type-select">
                        <nz-option nzValue="N" nzLabel="None"></nz-option>
                        <nz-option nzValue="T" nzLabel="Text"></nz-option>
                        <nz-option nzValue="M" nzLabel="Media"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="14" *ngIf="data.HEADER_TYPE == 'T'">
                  <nz-form-item>
                    <nz-form-label nzRequired nzNoColon class="header-text-label">Header Text</nz-form-label>
                    <nz-form-control nzHasFeedback nzErrorTip="Enter Header Text">
                      <input nz-input autocomplete="off" required name="text1" type="text"
                        [(ngModel)]="data.HEADER_TEXT" (focus)="isFocused = 'HEADER_TEXT'" (blur)="isFocused = ''"
                        (input)="checkInput()" placeholder="Enter Header Text..." maxlength="60" class="header-text-input" />
                    </nz-form-control>
                    <h6 class="character-count" *ngIf="
                        isFocused === 'HEADER_TEXT' ||
                        (data.HEADER_TEXT && isFocused === 'HEADER_TEXT')
                      ">
                      {{ data.HEADER_TEXT?.length || 0 }}/60
                    </h6>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="24" *ngIf="showDynamicInput">
                  <nz-form-item>
                    <nz-form-label nzRequired nzNoColon class="sample-values-label">Sample Values For Header Content</nz-form-label>
                    <nz-form-control>
                      <nz-select class="sample-values-select" nzMode="tags" nzPlaceHolder="Enter Sample Values" name="tag"
                        [(ngModel)]="data.HEADER_VALUES" (ngModelChange)="check()">
                        <nz-option *ngFor="let option of inputValuess" [nzLabel]="option"
                          [nzValue]="option"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="14" *ngIf="data.HEADER_TYPE == 'M'">
                  <div nz-row nzSpan="24" class="media-upload-row">
                    <div nz-col nzSpan="8">
                      <nz-form-item>
                        <nz-form-label nzNoColon class="upload-label">
                          <b>Image</b>
                          <span nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip
                            nzTooltipTitle="Please select an image file (PNG, JPG, JPEG) with a size up to 1MB." class="info-icon"></span>
                        </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Upload Image.">
                          <button nz-button class="upload-button" (click)="fileInput.click()" [disabled]="visiblemedia">
                            Upload Image
                            <input accept="image/*" #fileInput name="albumimage" type="file"
                              (change)="onFileSelected($event)" class="file-input" required />
                          </button>
                        </nz-form-control>
                      </nz-form-item>
                      <div nz-col nzSpan="24" *ngIf="fileURL != null" class="file-name-container">
                        {{ fileURL.name | slice : 0 : 15
                        }}{{ fileURL.name.length > 15 ? "..." : "" }}
                        <p nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Remove Image"
                          nzTooltipPlacement="top" nz-tooltip class="remove-file-icon" (click)="clearimg()"></p>
                      </div>
                    </div>
                    <div nz-col nzSpan="8">
                      <nz-form-item>
                        <nz-form-label nzNoColon class="upload-label">
                          <b>Video</b>
                          <span nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip
                            nzTooltipTitle="Please select a video with a size up to 1MB." class="info-icon"></span>
                        </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Please select Video.... ">
                          <button nz-button [disabled]="visiblemedia" class="upload-button" (click)="fileInput1.click()">
                            Upload Video
                            <input #fileInput1 name="video" type="file" (click)="fileInput1.value = ''" value=""
                              (change)="onFileSelected1($event)" class="file-input" accept="video/*" required />
                          </button>
                        </nz-form-control>
                      </nz-form-item>
                      <div nz-col nzSpan="23" *ngIf="fileDataIMAGE_URL != null" class="video-file-name-container">
                        {{ fileDataIMAGE_URL.name | slice : 0 : 10
                        }}{{ fileDataIMAGE_URL.name.length > 10 ? "..." : "" }}
                        <span nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Remove Video"
                          nzTooltipPlacement="top" nz-tooltip class="remove-video-icon" (click)="clearvid()"></span>
                      </div>
                    </div>
                    <div nz-col nzSpan="8">
                      <nz-form-item>
                        <nz-form-label nzNoColon class="upload-label">
                          <b>Document</b>
                          <span nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip
                            nzTooltipTitle="Please select an icon file (PDF, Doc, Docs) with a size up to 1MB." class="info-icon"></span>
                        </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Upload File">
                          <button [disabled]="visiblemedia" nz-button (click)="fileInput12.click()" class="upload-button">
                            Upload Document
                            <input #fileInput12 name="otherimage" type="file"
                              accept="application/pdf, application/vnd.ms-excel" (change)="onFileSelected3($event)"
                              class="file-input" required />
                          </button>
                        </nz-form-control>
                      </nz-form-item>
                      <div nz-col nzSpan="23" *ngIf="fileURLPDF != null" class="document-file-name-container">
                        {{ fileURLPDF.name | slice : 0 : 15
                        }}{{ fileURLPDF.name.length > 15 ? "..." : "" }}
                        <span nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Remove Document"
                          nzTooltipPlacement="top" nz-tooltip class="remove-document-icon" (click)="cleardoc()"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <h6 *ngIf="data.HEADER_TYPE == 'M'" class="media-upload-note">
                  Note: You are limited to upload single attachment.
                </h6>
              </div>
              <div nz-col nzSpan="24" class="my-box">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon class="form-label-bold"> Body</nz-form-label>
                  <span nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip nzTooltipTitle="To add a custom variable, please add a variable in double curly
                    brackets like:{{ abc }}" class="info-icon"></span>
                  <br />
                  <nz-form-control nzHasFeedback nzErrorTip="Body is required">
                    <button nz-button class="format-button" (click)="convertB()">
                      <span class="format-button-text"><b>B</b></span>
                    </button>
                    <button nz-button class="format-button" (click)="convertI()">
                      <span class="format-button-text"><i>I</i></span>
                    </button>
                    <button nz-button class="emoji-button" iconClass="fa fa-smile-o"
                      (click)="showEmojiPicker = !showEmojiPicker">
                      <span nz-icon nzType="smile" nzTheme="outline" class="emoji-icon"></span>
                    </button>
                    <textarea #textArea id="messages2" (keyup)="checkCurlyBraces($event)"
                      (mouseup)="onEditorMouseUp($event)" (input)="checkInput1()" class="body-textarea"
                      nz-input rows="6" name="description" [(ngModel)]="data.BODY_TEXT" placeholder="Enter Body Text"
                      required></textarea>
                    <emoji-mart *ngIf="showEmojiPicker" (emojiSelect)="onEmojiSelect($event)"
                      [showPreview]="false"></emoji-mart>
                    <h6 class="character-count" *ngIf="inputBody != undefined">
                    </h6>
                  </nz-form-control>
                </nz-form-item>
                <span *ngIf="showDynamicInput1">
                  <nz-form-item>
                    <nz-form-label nzRequired nzNoColon class="sample-values-label">Sample Values For Body Content</nz-form-label>
                    <nz-form-control>
                      <nz-select class="sample-values-select" nzMode="tags" nzPlaceHolder="Enter Sample Values For Body Text"
                        name="tag1" [(ngModel)]="data.BODY_VALUES" (ngModelChange)="check1()">
                        <nz-option *ngFor="let option of inputValuess1" [nzLabel]="option"
                          [nzValue]="option"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </span>
              </div>
              <div nz-col nzSpan="24" class="my-box">
                <nz-form-item>
                  <nz-form-label nzNoColon class="form-label-bold"> Footer (Optional)</nz-form-label>
                  <span nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip
                    nzTooltipTitle="Add a short line of text to the bottom of your template" class="info-icon"></span>
                  <br />
                  <nz-form-control>
                    <textarea nz-input rows="2" autocomplete="off" name="footer" type="text"
                      [(ngModel)]="data.FOOTER_TEXT" PlaceHolder="Enter Footer" maxlength="60"
                      (focus)="isFocused = 'FOOTER_TEXT'" (blur)="isFocused = ''" class="footer-textarea"></textarea>
                    <h6 class="character-count" *ngIf="
                        isFocused === 'FOOTER_TEXT' ||
                        (data.FOOTER_TEXT && isFocused === 'FOOTER_TEXT')
                      ">
                      {{ data.FOOTER_TEXT?.length || 0 }}/60
                    </h6>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="24">
            <div nz-row class="my-box">
              <div nz-col nzSpan="10">
                <nz-form-item>
                  <nz-form-label nzNoColon class="form-label-bold"> Button (Optional)</nz-form-label>
                  <nz-select [disabled]="visiblebutton || visiblebuttonn" class="button-type-select" nzShowSearch nzAllowClear
                    nzPlaceHolder="Select Button" name="button" [(ngModel)]="data.BUTTON_VALUES"
                    (ngModelChange)="offercode()">
                    <nz-option nzCustomContent nzValue="URL" nzLabel="Visit Website">
                      <div nz-col nzSpan="24">Visit Website</div>
                      <div nz-col nzSpan="24" class="button-description">
                        2 buttons maximum
                      </div>
                    </nz-option>
                    <nz-option nzCustomContent nzValue="PHONE_NUMBER" nzLabel="Call Phone number">
                      <div nz-col nzSpan="24">Call Phone number</div>
                      <div nz-col nzSpan="24" class="button-description">
                        1 button maximum
                      </div>
                    </nz-option>
                    <nz-option nzCustomContent nzValue="COPY_CODE" nzLabel="Send Offer Code">
                      <div nz-col nzSpan="24">Send Offer Code</div>
                      <div nz-col nzSpan="24" class="button-description">
                        1 button maximum
                      </div>
                    </nz-option>
                    <nz-option nzCustomContent nzValue="QUICK_REPLY" nzLabel="Custom">
                      <div nz-col nzSpan="24">Custom</div>
                      <div nz-col nzSpan="24" class="button-description">
                        10 buttons maximum
                      </div>
                    </nz-option>
                    <nz-option *ngIf="data.TYPE == 'MARKETING'" nzValue="COPY_CODE"
                      nzLabel="Send Offer Code"></nz-option>
                  </nz-select>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="4" *ngIf="data.BUTTON_VALUES != null">
                <nz-form-item>
                  <button nz-button nzType="primary" class="add-button-button" (click)="addData1()">
                    <i nz-icon nzType="plus"></i>Add Button
                  </button>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="24" *ngIf="data.BUTTON_VALUES == 'QUICK_REPLY'">
                <div nz-row class="button-input-row">
                  <div nz-col nzSpan="10">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please Enter Button Text">
                        <nz-form-label nzRequired nzNoColon class="button-text-label">
                          Button Text
                        </nz-form-label>
                        <input nz-input autocomplete="off" name="Webistetext" [disabled]="disablecustom" type="text"
                          required PlaceHolder="Enter Text" [(ngModel)]="custom" maxlength="25" required
                          (focus)="isFocused = 'custom'" (blur)="isFocused = ''" class="button-text-input" />
                        <h6 class="character-count" *ngIf="
                            isFocused === 'custom' ||
                            (custom && isFocused === 'custom')
                          ">
                          {{ custom?.length || 0 }}/25
                        </h6>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="4">
                    <span nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Remove" nzTooltipPlacement="top"
                      nz-tooltip class="remove-custom-button" (click)="clearcustom()"></span>
                  </div>
                  <nz-form-item>
                    <span *ngIf="disablecustom" class="warning-message">
                      <img src="assets/warning.png" alt="Logo" class="warning-icon" />
                      <b>You can add only ten button of "Custom"</b>
                    </span>
                  </nz-form-item>
                </div>
              </div>
              <div nz-col nzSpan="24" *ngIf="data.BUTTON_VALUES == 'URL'">
                <div nz-row class="button-input-row">
                  <div nz-col nzSpan="6">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please Enter Button Text">
                        <nz-form-label nzRequired nzNoColon class="button-text-label">
                          Button Text
                        </nz-form-label>
                        <input nz-input autocomplete="off" name="Webistetext" [disabled]="dsiableurl" type="text"
                          required PlaceHolder="Enter Text" [(ngModel)]="websitebuttontext" maxlength="25"
                          (focus)="isFocused = 'websitebuttontext'" (blur)="isFocused = ''" class="button-text-input" />
                        <h6 class="character-count" *ngIf="
                            isFocused === 'websitebuttontext' ||
                            (websitebuttontext &&
                              isFocused === 'websitebuttontext')
                          ">
                          {{ websitebuttontext?.length || 0 }}/25
                        </h6>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="4">
                    <nz-form-item>
                      <nz-form-label nzRequired nzNoColon class="url-type-label">URL Type</nz-form-label>
                      <nz-select class="url-type-select" nzShowSearch nzAllowClear name="url" [(ngModel)]="urlmode">
                        <nz-option nzValue="S" nzLabel="Static"></nz-option>
                        <nz-option nzValue="D" nzLabel="Dyanmic"></nz-option>
                      </nz-select>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="10">
                    <nz-form-item>
                      <nz-form-control>
                        <nz-form-label nzRequired nzNoColon class="website-url-label">
                          Website URL
                        </nz-form-label>
                        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" class="url-input-group">
                          <input nz-input autocomplete="off" name="Webisteurl" type="text" (input)="checkInputURL1()"
                            PlaceHolder="www.example.com" [(ngModel)]="WEBSITE_URL" maxlength="2000" class="url-input" />
                        </nz-input-group>
                        <ng-template #addOnBeforeTemplate>
                          <nz-select class="url-prefix-select" [(ngModel)]="prefixValue" name="prefixValue">
                            <nz-option nzLabel="Http://" nzValue="Http://"></nz-option>
                            <nz-option nzLabel="Https://" nzValue="Https://"></nz-option>
                          </nz-select>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="2">
                    <span nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Remove" nzTooltipPlacement="top"
                      nz-tooltip class="remove-button-icon" (click)="clearbuttons()"></span>
                  </div>
                  <nz-form-item>
                    <span *ngIf="dsiableurl" class="warning-message">
                      <img src="assets/warning.png" alt="Logo" class="warning-icon" />
                      &nbsp;<b>You can add only two button of "Visit Website"</b>
                    </span>
                  </nz-form-item>
                  <div nz-col nzSpan="24" *ngIf="showDynamicInputURL">
                    <nz-form-item>
                      <nz-form-label nzRequired nzNoColon class="sample-values-label">Sample Values for URL</nz-form-label>
                      <nz-form-control>
                        <nz-select class="sample-values-select" nzMode="tags" nzPlaceHolder="Enter Sample Values for URL"
                          name="tag" [(ngModel)]="URL_SAMPLE" (ngModelChange)="checkInputURL()">
                          <nz-option *ngFor="let option of urlinputValuess" [nzLabel]="option"
                            [nzValue]="option"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
              <div nz-col nzSpan="24" *ngIf="data.BUTTON_VALUES == 'PHONE_NUMBER'">
                <div nz-row class="button-input-row">
                  <div nz-col nzSpan="10">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please Enter Button Text">
                        <nz-form-label nzRequired nzNoColon class="button-text-label">
                          Button Text
                        </nz-form-label>
                        <input nz-input autocomplete="off" name="Webistetext12" type="text" [disabled]="disablephone"
                          required [(ngModel)]="BUTTON1" PlaceHolder="Enter Text" maxlength="25"
                          (focus)="isFocused = 'BUTTON1'" (blur)="isFocused = ''" class="button-text-input" />
                        <h6 class="character-count" *ngIf="
                            isFocused === 'BUTTON1' ||
                            (BUTTON1 && isFocused === 'BUTTON1')
                          ">
                          {{ BUTTON1?.length || 0 }}/25
                        </h6>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="10">
                    <nz-form-item>
                      <nz-form-control>
                        <nz-form-label nzRequired nzNoColon class="phone-number-label">
                          Phone Number
                        </nz-form-label>
                        <nz-input-group nzCompact class="phone-input-group">
                          <input [disabled]="true" type="text" name="prefix" nz-input [ngModel]="PREFIX" class="phone-prefix-input" />
                          <input nzErrorTip="Please enter valid Mobile No." nz-input autocomplete="off" name="phone"
                            type="text" PlaceHolder="Enter Mobile Number" [(ngModel)]="mobile" [pattern]="mobpattern"
                            (keypress)="omit($event)" maxlength="10" class="phone-number-input" />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="4">
                    <span nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Remove" nzTooltipPlacement="top"
                      nz-tooltip class="remove-button-icon" (click)="clearbuttons2()"></span>
                  </div>
                  <nz-form-item>
                    <span *ngIf="disablephone" class="warning-message">
                      <img src="assets/warning.png" alt="Logo" class="warning-icon" />
                      &nbsp;<b>You can add only one button of "Call to Phone"</b>
                    </span>
                  </nz-form-item>
                </div>
              </div>
              <div nz-col nzSpan="24" *ngIf="data.BUTTON_VALUES == 'COPY_CODE'">
                <div nz-row class="button-input-row">
                  <div nz-col nzSpan="10">
                    <nz-form-item>
                      <nz-form-control>
                        <nz-form-label nzRequired nzNoColon class="button-text-label">
                          Button Text
                        </nz-form-label>
                        <input [disabled]="BUTTON12diabled" nz-input autocomplete="off" name="Webistetext12" type="text"
                          [(ngModel)]="BUTTON12" PlaceHolder="Enter Text" maxlength="25" class="button-text-input" />
                        <h6 class="character-count" *ngIf="BUTTON12 != undefined">
                          {{ BUTTON12.length }}/25
                        </h6>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="10">
                    <nz-form-item>
                      <nz-form-control>
                        <nz-form-label nzRequired nzNoColon class="offer-code-label">
                          Offer Code
                        </nz-form-label>
                        <input nz-input autocomplete="off" name="phone" type="text" [disabled]="disableoffer"
                          PlaceHolder="Offer Code" [(ngModel)]="code" class="offer-code-input" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="4">
                    <span nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Remove" nzTooltipPlacement="top"
                      nz-tooltip class="remove-button-icon" (click)="clearbuttons1()"></span>
                  </div>
                  <nz-form-item>
                    <span *ngIf="disableoffer" class="warning-message">
                      <img src="assets/warning.png" alt="Logo" class="warning-icon" />
                      &nbsp;<b>You can add only one button of "Copy Offer Code"</b>
                    </span>
                  </nz-form-item>
                </div>
              </div>
              <h6 *ngIf="
                  (data.BUTTON_VALUES == 'PHONE_NUMBER' ||
                    data.BUTTON_VALUES == 'COPY_CODE' ||
                    data.BUTTON_VALUES == 'URL' ||
                    data.BUTTON_VALUES == 'QUICK_REPLY') &&
                  data.BUTTON_VALUES !== null
                " class="button-note">
                Note: After adding information of button please click on Add Button.
              </h6>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-table *ngIf="showtable" class="my-scroll no-wrap1" nzBordered #table [nzShowPagination]="false"
                  nzShowSizeChanger [nzData]="FamilyDetails" [nzSize]="'small'">
                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>Button Type</th>
                      <th>Custom Text</th>
                      <th>Mobile Number</th>
                      <th>Offer Code</th>
                      <th>Website URL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of FamilyDetails; index as i">
                      <td>
                        <span nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Remove" nzTooltipPlacement="top"
                          nz-tooltip class="table-remove-icon" nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Button"
                          (nzOnConfirm)="clear(i)" (nzOnCancel)="cancel()"></span>
                      </td>
                      <td>{{ data.Type }}</td>
                      <td>{{ data.Name }}</td>
                      <td>{{ data.mobile }}</td>
                      <td>{{ data.code }}</td>
                      <td>{{ data.WEBSITE_URL }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="1"></div>
        <div nz-col nzSpan="6" class="vertical-card">
          <div class="preview-header">
            <span><b>Template Preview</b></span>
          </div>
          <div nz-row>
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="22">
              <nz-card class="vertical">
                <nz-form-item>
                  <span class="preview-header-text" *ngIf="data.HEADER_TYPE == 'T'"><b>{{ inputValue }}</b></span>
                  <div nz-col nzSpan="24" *ngIf="fileURL != null && IMAGE != ''" class="image-preview-container">
                    <img width="100%" height="100px" [src]="image" class="preview-image" />
                  </div>
                  <div nz-col nzSpan="22" *ngIf="fileDataIMAGE_URL != null && VIDEO_URL != ''" class="video-preview-container">
                    <video class="preview-video" controls>
                      <source [src]="video" />
                      <source [src]="video" />
                      <source [src]="video" />
                    </video>
                    <br />
                  </div>
                  <div nz-col nzSpan="24" *ngIf="fileURLPDF != null" class="document-preview-container">
                    <div nz-row>
                      <div nz-col nzSpan="4">
                        <svg *ngIf="TYPE == 'xlsx'" xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                          viewBox="0 0 79.996 98" class="document-icon">
                        </svg>
                        <svg *ngIf="TYPE == 'docx'" xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                          viewBox="0 0 80.002 98" class="document-icon">
                        </svg>
                        <svg *ngIf="TYPE == 'txt'" xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                          viewBox="0 0 80.001 98" class="document-icon">
                        </svg>
                        <svg *ngIf="TYPE == 'pdf'" xmlns="http://www.w3.org/2000/svg" width="29" height="25"
                          viewBox="0 0 79.999 98" class="document-icon">
                        </svg>
                        <svg *ngIf="TYPE == 'pptx'" xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                          viewBox="0 0 79.995 98" class="document-icon">
                        </svg>
                        <svg *ngIf="TYPE == 'zip'" xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                          viewBox="0 0 384 512" class="document-icon">
                        </svg>
                      </div>
                      <div nz-col nzSpan="1"></div>
                      <div nz-col nzSpan="19" class="document-info">
                        <span>{{ upload }}&nbsp;&nbsp;<a><i nz-icon nzType="eye" (click)="showfile()"
                              nzTheme="outline" class="preview-eye-icon"></i>
                            &nbsp;&nbsp;</a>
                          <br />
                          <span class="document-size" *ngIf="TYPE == 'pdf'">PDF.{{ fileSizedocKB }}KB</span>
                          <span class="document-size" *ngIf="TYPE == 'zip'">ZIP.{{ fileSizedocKB }}KB</span>
                          <span class="document-size" *ngIf="TYPE == 'pptx'">PPT.{{ fileSizedocKB }}KB</span>
                          <span class="document-size" *ngIf="TYPE == 'txt'">TXT.{{ fileSizedocKB }}KB</span>
                          <span class="document-size" *ngIf="TYPE == 'xlsx'">XLSX.{{ fileSizedocKB }}KB</span>
                          <span class="document-size" *ngIf="TYPE == 'docx'">DOCX.{{ fileSizedocKB }}KB</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <br />
                  <span class="preview-body" [innerHTML]="inputBody"></span>
                  <br />
                  <span class="preview-footer">{{ data.FOOTER_TEXT }}</span>
                  <br />
                  <hr class="preview-divider" />
                  <div nz-row nzSpan="24">
                    <table class="preview-buttons-table">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let button of addedButtons" class="preview-button-row">
                          <td class="button-spacer"></td>
                          <td class="button-content">
                            <ng-container [ngSwitch]="button.type">
                              <ng-container *ngSwitchCase="'PHONE_NUMBER'">
                                <a><svg xmlns="http://www.w3.org/2000/svg" width="28" height="14" viewBox="0 0 22 21"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="button-icon">
                                    <path
                                      d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                    </path>
                                  </svg></a>
                              </ng-container>
                              <ng-container *ngSwitchCase="'COPY_CODE'">
                                <a><span nz-icon nzType="copy" nzTheme="outline" class="button-icon"></span></a>
                              </ng-container>
                              <ng-container *ngSwitchCase="'URL'">
                                <a><span nz-icon nzType="link" nzTheme="outline" class="button-icon"></span></a>
                              </ng-container>
                              <ng-container *ngSwitchCase="'QUICK_REPLY'">
                                <a><svg xmlns="http://www.w3.org/2000/svg" width="28" height="14" fill="none"
                                    stroke="currentColor" class="button-icon bi bi-box-arrow-up-left" viewBox="0 0 16 16">
                                  </svg></a>
                              </ng-container>
                            </ng-container>
                            <a class="button-text">{{ button.buttonText }}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <span class="preview-time">{{ Date | date : "hh:mm:a" }}</span>
                </nz-form-item>
              </nz-card>
            </div>
            <div nz-col nzSpan="1"></div>
          </div>
        </div>
      </div>
    </nz-spin>
  </form>
  <div class="footer">
    <button type="button" nz-button (click)="close()" class="cancel-button">
      <span>Cancel</span>
    </button>
    <button type="button" class="save-button" nz-button nz-dropdown (click)="save(false)" [nzLoading]="isSpinning">
      <span>Save & Close</span>
    </button>
  </div>
</div>