
@import '~@ctrl/ngx-emoji-mart/picker';
.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;

}

#Gstno {

  text-transform: lowercase;
  text-transform: '_';
  white-space: nowrap;
  /* Prevent line breaks */
  overflow: hidden;
  /* Hide overflowing text */
  text-overflow: ellipsis;
  /* Add ellipsis (...) for long text */


}

#Gstno::placeholder {

  text-transform: initial;
  /* Set it to "initial" to reset the transformation for the placeholder */

}


#Gstno::before {
  content: attr(data-text);
  /* Display the original text as a data attribute */
}

#Gstno::after {
  content: '_';
  /* Display underscores after spaces */
  white-space: pre;
  /* Preserve whitespace, including spaces and underscores */
}

nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

.vertical-card {
  width: 300px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  background-image: url('/assets/whatsapp.jpg');
  /* Replace with your background image URL */
  background-repeat: repeat;
  /* You can use 'repeat', 'repeat-x', or 'repeat-y' to create a pattern */
  background-size: cover;
  /* Adjust to fit your design */
  /* font-family: Arial, sans-serif; */
  /* background-color:  rgb(250, 250, 250); */
  font-family: 'Roboto', sans-serif !important;

}

.vertical {

  /* font-family: Helvetica; */
  font-family: 'Roboto', sans-serif !important;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 1px;
  min-height: 20px;
  position: relative;
  overflow-wrap: break-word;
  padding: 10px;

}

.image {
  margin: 0;
  padding: 0;
  background-image: url('/assets/whatsapp.png');
  /* Replace with your background image URL */
  background-repeat: repeat;
  /* You can use 'repeat', 'repeat-x', or 'repeat-y' to create a pattern */
  background-size: cover;
  /* Adjust to fit your design */
  /* font-family: Arial, sans-serif; */
  font-family: 'Roboto', sans-serif !important;

}

.phone-select {
  width: 70px;
}

#textArea strong {
  display: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}



.emoji-mart {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
  font-size: 16px;
  display: inline-block;
  color: #222427;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: #fff;
  height: 345px;
  min-width: 100% !important;
}
