th {
  text-align: center !important;
  vertical-align: middle !important;
}
.select {
  width: 200px;
  padding: 8px;
  display: block;
}
.search-box {
  padding: 8px;
}
.search-box input {
  width: 188px;
  display: block;
}
.search-box button {
  width: 90px;
}
.search-button {
  margin-right: 8px;
}
nz-select {
  width: 100%;
}
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 15px 0px 0px 0px;
  padding: 0px;
}
.card-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px !important;
  background-color: white !important;
  border-radius: 8px 8px 0px 0px !important;
  height: 28px;
}
.category-name {
  font-weight: bold;
  color: #333;
}
.subcategory-name {
  font-weight: bold;
  color: #555;
}
.tag {
  font-size: 12px;
  font-weight: bold;
  padding: 3px 12px;
  border-radius: 0px 8px 0px 8px;
  position: relative;
  display: inline-block;
}
.card-body {
  align-items: flex-start;
  gap: 20px;
}
.details {
  flex: 1;
}
.service-image {
  flex-shrink: 0;
  text-align: right;
}
.name {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.truncate-one-line {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  max-height: calc(1.5em * 1);
  cursor: pointer;
  line-height: 1.5em;
}
.truncate-three-lines {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  max-height: calc(1.5em * 3);
  cursor: pointer;
  line-height: 1.5em;
}
.description {
  margin: 0;
  color: #555;
  font-size: 14px;
}
.service-image {
  flex: 1;
  text-align: right;
}
.service-image img {
  padding: 0px 15px 0pc 10px;
  border-radius: 0px;
  border: none;
}
.card-footer {
  margin-top: 0px;
}
.btn {
  padding: 5px 2px !important;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn.edit {
  background-color: #007bff;
  color: white;
}
.btn.edit-details {
  background-color: #ffc107;
  color: black;
}
.btn.helpdoc {
  background-color: #39b793;
  color: white;
}
.btn.add-subservice {
  background-color: #28a745;
  color: white;
}
.btn.editmap {
  background-color: #af93ff;
  color: white;
}
.btn:hover {
  opacity: 0.9;
}
.nz-col {
  padding-left: 10px;
  padding-right: 10px;
}
:host::ng-deep .ant-card-body {
  padding: 0px;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}
.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.child-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.child-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}
.custom-popover {
  max-width: 600px;
  max-height: 400px;
  overflow-y: auto;
  white-space: normal !important;
  word-wrap: break-word !important;
}
.custom-popover img {
  max-width: 100% !important;
  max-height: 200px !important;
  height: auto !important;
  display: block;
  margin: auto;
  border-radius: 5px;
}
.back-arrow-style {
  font-weight: bold;
  cursor: pointer;
}
.header-right-align {
  display: flex;
  justify-content: flex-end;
}
.filter-item-width {
  width: 47px;
}
.search-input-width {
  width: 300px;
}
.new-service-item {
  margin-right: 0px;
}
.filter-padding-top {
  padding-top: 0px;
}
.text-center {
  text-align: center;
}
.filter-card-margin {
  margin-bottom: 8px;
}
.filter-card-wrapper {
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
  align-items: center;
}
.filter-card-header {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.filter-title-text {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.filter-active-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.filter-actions-margin {
  margin-top: 7px;
}
.filter-actions-flex {
  display: flex;
  justify-content: space-between;
}
.filter-tag-style {
  cursor: pointer;
  font-size: 10px !important;
}
.filter-icon-size {
  font-size: 10px !important;
}
.filter-tag-last {
  margin-right: 0px;
}
.no-filters-text {
  text-align: center;
  color: red;
  font-weight: bold;
}
.filter-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.filter-btn-margin {
  margin-right: 10px;
}
.service-card-padding {
  padding: 5px;
}
.category-padding {
  padding: 4px 0px 0px 9px;
  display: flex;
  justify-content: flex-start;
}
.rating-status-wrapper {
  display: flex;
  justify-content: end;
  align-self: center;
}
.rating-icon-align {
  align-self: center;
}
.status-icon-size {
  font-size: 15px;
}
.express-tag-style {
  margin: 0px !important;
}
.details-height {
  height: 102px;
}
.description-text-style {
  text-align: justify;
  font-size: 11px !important;
}
.price-row-margin {
  margin-top: 5px;
}
.price-text-style {
  font-size: 11px !important;
  font-weight: 500;
}
.price-value-style {
  font-size: 11px !important;
}
.card-footer-padding {
  padding: 5px;
}
.edit-col-padding {
  padding-right: 3px;
}
.button-style {
  width: 100%;
  font-size: 11px !important;
}
.map-skill-col-padding {
  padding: 0px 3px;
}
.help-doc-col-padding {
  padding: 0px 3px;
}
.sub-service-col-padding {
  padding: 0px 3px;
}
.change-log-col-padding {
  padding-left: 3px;
}
.load-more-container {
  text-align: center;
  margin-top: 20px;
}
.no-data-container {
  height: 75vh;
}
.no-data-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-state {
  margin-top: 38px;
}
.image-modal-container {
  height: 400px;
  overflow: auto;
}
.image-iframe {
  width: 832px;
  height: 396px;
}
.modal-text-center {
  text-align: center;
}
.rating-align-svg-path-gray {
    fill: #999999;
}

.rating-align-svg-polygon-darkgray {
    fill: #858c8b;
}

.rating-align-svg-path-darkgray {
    fill: #858c8b;
}

.rating-align-svg-path-orange {
    fill: #ffb000;
}

.rating-align-svg-path-darkorange {
    fill: #ff9d00;
}

.rating-align-svg-polygon-darkorange {
    fill: #ff9d00;
}