<div nz-row>
  <div nz-col nzSpan="11">
    <div nz-row>
      <div nz-col nzSpan="12" class="table-header-left">
        <span *ngIf="selectedPincode.length > 0">
          {{ selectedPincode.length }} records selected out of {{ PincodeMappingdata.length }}
        </span>
        <span *ngIf="selectedPincode.length == 0">
          Total Records {{ PincodeMappingdata.length }}
        </span>
      </div>
      <div nz-col nzSpan="12" class="table-header-right">
        <form nz-form [nzLayout]="'inline'" class="form-inline">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="search-input-group">
              <input type="text" name="pincodesearch" [(ngModel)]="searchskill" autocomplete="off"
                (keydown.enter)="handleEnterKey($event)" (keydown.backspace)="handleEnterKey($event)" nz-input
                class="search-input" placeholder="Min 3 chars required." />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" (click)="SearchPincode(searchskill)" class="search-btn">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </form>
      </div>
    </div>
    <form nz-form #teritorymaster="ngForm">
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="relative-container">
            <nz-table class="my-scroll no-wrap1 table-preline" nzBordered #tableeeee [nzData]="PincodeMappingdata"
              (nzQueryParams)="sort($event)" [nzSize]="'small'" [nzFrontPagination]="false"
              [nzLoading]="isSpinning11 || isLoading" [nzScroll]="{ y: '60vh' }">
              <thead>
                <tr>
                  <th nzWidth="50px">
                    <label (ngModelChange)="toggleAll($event)" nz-checkbox [(ngModel)]="allSelected" name="allSelected"
                      [nzIndeterminate]="tableIndeterminate">All</label>
                  </th>
                  <th nzWidth="160px" nzShowSort [nzSortFn]="true" nzColumnKey="NAME">
                    Skill
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of tableeeee.data; let i = index">
                  <td class="table-center">
                    <label nz-checkbox [(ngModel)]="data.selected" name="allSelecteddd{{ i }}"
                      (ngModelChange)="onPincodeSelecttable(data, $event)"></label>
                  </td>
                  <td class="table-left">
                    <span *ngIf="data['NAME'] != null">
                      <span *ngIf="data['NAME'].length >= 45" nz-popover [nzPopoverContent]="data['NAME']"
                        nzPopoverPlacement="topLeft">
                        {{ data["NAME"] | slice:0:45 }}{{ data["NAME"].length > 45 ? "..." : "" }}
                      </span>
                      <span *ngIf="data['NAME'].length < 45">
                        {{ data["NAME"] | slice:0:45 }}
                      </span>
                    </span>
                    <span *ngIf="data['NAME'] == null">-</span>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div nz-col nzSpan="2" class="bo-center-arrow">
    <nz-spin [nzSpinning]="isSpinning">
      <span nz-icon nzType="right-circle" nz-tooltip nzTooltipTitle="No skill selected" nzTheme="outline"
        class="bo-map-arrow-icon" *ngIf="selectedPincode.length == 0">
      </span>
      <span nz-icon nzType="right-circle" nz-tooltip nzTooltipTitle="Click here to map data to skill" nzTheme="fill"
        class="bo-map-arrow-icon bo-map-arrow-clickable" (click)="mapdatatopincode()"
        *ngIf="selectedPincode.length > 0">
      </span>
    </nz-spin>
  </div>
  <div nz-col nzSpan="11">
    <div nz-row class="flex-space-between">
      <div class="flex-left">
        <div class="table-header-left">
          <span *ngIf="selectedPincode11.length > 0">{{ selectedPincode11.length }} records selected out of {{
            totoalrecordsss }}</span>
          <span *ngIf="selectedPincode11.length == 0">Total Records {{ totoalrecordsss }}</span>
        </div>
        <div class="table-header-left">
          <td class="table-center table-preline" nzLeft>
            <nz-switch name="allChange" nzCheckedChildren="Select All" nzUnCheckedChildren="Deselect All"
              (ngModelChange)="allChange($event)" [(ngModel)]="allChecked"></nz-switch>
          </td>
        </div>
      </div>
      <div class="table-header-right">
        <form nz-form [nzLayout]="'inline'" class="form-inline">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton1" class="search-input-group">
              <input type="text" name="skillesearch" [(ngModel)]="mapsearchskill" autocomplete="off"
                (keydown.enter)="handlepincodeEnterKey($event)" (keydown.backspace)="handlepincodeEnterKey($event)"
                nz-input class="search-input" placeholder="Min 3 chars required." />
            </nz-input-group>
            <ng-template #suffixIconButton1>
              <button nz-button nzType="primary" (click)="SearchSkill(mapsearchskill)" class="search-btn">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="relative-container">
          <nz-table class="my-scroll no-wrap1 table-preline" nzBordered #table [nzData]="mappingdata"
            (nzQueryParams)="sort11($event)" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="isSpinning22"
            [nzScroll]="{ y: '60vh' }">
            <thead>
              <tr>
                <th nzWidth="100px" nzShowSort [nzSortFn]="true" nzColumnKey="IS_ACTIVE">
                  Is Mapped ?
                </th>
                <th nzWidth="160px" nzShowSort [nzSortFn]="true" nzColumnKey="SKILL_NAME">
                  Skill
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data; let i = index">
                <td class="table-center table-preline">
                  <nz-switch name="IS_ACTIVE" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                    [(ngModel)]="data['IS_ACTIVE']"
                    (ngModelChange)="onPincodeSelecttable11111(data, $event)"></nz-switch>
                </td>
                <td class="table-left">
                  <span *ngIf="data['SKILL_NAME'] != null">
                    <span *ngIf="data['SKILL_NAME'].length >= 35" nz-popover [nzPopoverContent]="data['SKILL_NAME']"
                      nzPopoverPlacement="topLeft">
                      {{ data["SKILL_NAME"] | slice:0:35 }}{{ data["SKILL_NAME"].length > 35 ? "..." : "" }}
                    </span>
                    <span *ngIf="data['SKILL_NAME'].length < 35">
                      {{ data["SKILL_NAME"] | slice:0:35 }}
                    </span>
                  </span>
                  <span *ngIf="data['SKILL_NAME'] == null">-</span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>