<!-- No Comments Available -->
<div *ngIf="dataList.length < 1" style="
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #888;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
  ">
  <span style="color: #555; font-style: italic">No comments available. </span>
</div>

<div *ngIf="dataList.length > 0">
  <nz-spin [nzSpinning]="isLoading">
    <div nz-row style="margin-top: 5px; padding: 5px; max-height: 70vh; overflow: auto; padding-right: 10px;"
      #commentsContainer>
      <div nz-col nzSpan="24">
        <div *ngFor="let item of dataList">
          <div class="comment-container">
            <nz-row>
              <!-- Grid for own comments -->
              <nz-col *ngIf="item.COMMENTER_ID === userId" [nzSpan]="10" class="blank-space"></nz-col>
              <!-- Blank space for own comment -->
              <nz-col *ngIf="item.COMMENTER_ID === userId" [nzSpan]="14">
                <div class="chat-bubble own-comment">
                  <div>
                    <span>Me &nbsp;</span>
                    <span style="
                        color: white;
                        font-size: 11px;
                        font-weight: 100;
                      ">
                      | &nbsp;
                      {{
                      item.COMMENT_DATETIME | date : "dd/MM/yyyy HH:mm a"
                      }}</span>
                    <!-- Author name -->
                    <div style="
                        color: white;
                        font-size: 12px;
                        font-weight: 500;
                      ">
                      {{ item.COMMENT }}
                    </div>
                  </div>
                  s
                </div>
              </nz-col>

              <!-- Grid for other comments -->
              <nz-col *ngIf="item.COMMENTER_ID !== userId" [nzSpan]="14">
                <div class="chat-bubble other-comment">
                  <div>
                    <span>{{ item.COMMENTER_NAME }} &nbsp;</span>
                    <span style="
                        color: black;
                        font-size: 11px;
                        font-weight: 100;
                      ">
                      | &nbsp;
                      {{
                      item.COMMENT_DATETIME | date : "dd/MM/yyyy HH:mm a"
                      }}</span>

                    <div style="
                        color: black;
                        font-size: 12px;
                        font-weight: 500;
                      ">
                      {{ item.COMMENT }}
                    </div>
                  </div>
                </div>
              </nz-col>
              <nz-col *ngIf="item.COMMENTER_ID !== userId" [nzSpan]="10" class="blank-space"></nz-col>
              <!-- Blank space for others' comments -->
            </nz-row>
          </div>
          <div *ngIf="item.TYPE == 'A'" style="text-align: center; margin-top: 15px">
            <nz-tag style="font-size: 12px; white-space: pre-line" [nzColor]="'blue'">
              {{ item.COMMENT }}
            </nz-tag>
          </div>
        </div>
      </div>
    </div>
  </nz-spin>
</div>

<!-- Enter Comment Box -->

<div class="footer">
  <div nz-row>
    <div nz-col nzSpan="21">
      <textarea name="comment" [(ngModel)]="COMMENT" nz-input rows="2" placeholder="Enter Comment" required
        maxlength="1024"></textarea>
      <div>
      </div>
    </div>
    <div nz-col nzSpan="3" style="text-align: center">
      <button type="button" class="ant-btn ant-btn-primary" nz-button nzType="primary" (click)="AddComment()"
        class="custom-button" style="margin-top: 11px" [nzLoading]="ButtonSpinning">
        <!-- Ant Design send icon -->
        <!-- <span>Comment</span> -->
        <i nz-icon nzType="send" class="send-icon"></i>
      </button>
    </div>
  </div>
  <!-- Action Buttons Section -->
  <div nz-row style="
       margin-top: 15px;
       display: flex;
       justify-content: center;
       padding: 10px 0;
     ">
    <div style="text-align: center;">
      <nz-space>
        <button nz-button nzType="primary" (click)="onHold()" *nzSpaceItem> Pick / On Hold</button>
        <button nz-button nzType="primary" (click)="onTransfer()" *nzSpaceItem>Transfer</button>
        <button nz-button nzType="primary" (click)="onClose()" *nzSpaceItem>Close Ticket</button>

      </nz-space>

    </div>
  </div>
</div>