<div class="filter-container">
  <div *ngFor="let group of filterGroups; let i = index">
    <div nz-row>
      <div nz-col nzSpan="8" class="filter-group-title">
        Group {{ i + 1 }}
        <i *ngIf="filterGroups.length > 1" nz-tooltip nzTooltipTitle="Remove Condition" (click)="removeGroup(i)"
          class="filter-group-delete-icon icon-size-4" nz-icon nzType="delete">
        </i>
      </div>
      <div *ngIf="filterGroups.length > 1 && i != 0" nz-col nzSpan="8" class="filter-group-operator-wrapper">
        <nz-select name="LogicalOperator{{ i }}" [(ngModel)]="group.operator"
          class="logical-operator filter-group-operator-select">
          <nz-option nzValue="AND" nzLabel="AND"></nz-option>
          <nz-option nzValue="OR" nzLabel="OR"></nz-option>
        </nz-select>
      </div>
      <div nz-col nzSpan="24" class="filter-conditions-wrapper">
        <div *ngFor="let conditionObj of group.conditions; let j = index" class="filter-condition-row">
          <div nz-row [nzGutter]="16">
            <div nz-col nzSpan="3">
              <nz-select *ngIf="j > 0" name="operator{{ i }}{{ j }}" [(ngModel)]="conditionObj.operator"
                class="full-width-select">
                <nz-option nzValue="AND" nzLabel="AND"></nz-option>
                <nz-option nzValue="OR" nzLabel="OR"></nz-option>
              </nz-select>
              <div *ngIf="j == 0" class="filter-when-text">
                When
              </div>
            </div>
            <div nz-col nzSpan="6">
              <nz-select name="Selector{{ i }}{{ j }}" [(ngModel)]="conditionObj.condition.field" nzShowSearch
                (ngModelChange)="onFieldChange(conditionObj.condition)" nzPlaceHolder="Select Column Name"
                class="full-width-select">
                <nz-option *ngFor="let field of fields" [nzValue]="field.key" [nzLabel]="field.label">
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6">
              <nz-select name="Comparator{{ i }}{{ j }}" [(ngModel)]="conditionObj.condition.comparator"
                nzPlaceHolder="Select Comparator" class="full-width-select">
                <nz-option *ngFor="let comparator of getComparators(conditionObj.condition.field)"
                  [nzValue]="comparator" [nzLabel]="comparator">
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="6">
              <input *ngIf="isInputField(conditionObj.condition.field)" nz-input name="value{{ i }}{{ j }}"
                [(ngModel)]="conditionObj.condition.value" [placeholder]="getPlaceholder(conditionObj.condition.field)"
                class="full-width-input" />
              <nz-date-picker *ngIf="isDateField(conditionObj.condition.field)" name="value{{ i }}{{ j }}"
                [(ngModel)]="conditionObj.condition.value"
                [nzPlaceHolder]="getPlaceholder(conditionObj.condition.field)" class="full-width-input">
              </nz-date-picker>
              <nz-select *ngIf="isSelectField(conditionObj.condition.field)" name="value{{ i }}{{ j }}"
                [(ngModel)]="conditionObj.condition.value" nzShowSearch
                [nzPlaceHolder]="getPlaceholder(conditionObj.condition.field)" class="full-width-input">
                <nz-option *ngFor="let option of getOptions(conditionObj.condition.field)" [nzValue]="option.value"
                  [nzLabel]="option.display">
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="3" class="filter-condition-actions">
              <button *ngIf="group.conditions.length > 1" nzShape="circle" nz-button nzType="primary" nzDanger
                (click)="removeCondition(i, j)">
                <span nz-icon nzType="delete"></span>
              </button>
              <button nzShape="circle" nz-button nzType="primary" class="add-condition-btn"
                (click)="addCondition(i, j)">
                <span nz-icon nzType="plus-circle"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="filter-actions">
    <button nz-button nzType="primary" (click)="addGroup()">Add New Group</button>
    <button nz-button (click)="resetFilters()">Reset All</button>
    <button nz-button nzType="primary" (click)="openNameModal()">
      <span nz-icon nzType="filter"></span> Save Filter
    </button>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Enter Name For Filter" (nzOnCancel)="handleCancel()"
  nzOkText="Save & Close" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <input nz-input [(ngModel)]="name" name="name" maxlength="128" placeholder="Enter Special Instruction"
      autocomplete="off" class="filter-name-input" />
    <span *ngIf="name" class="filter-name-counter">
      {{ name.length }}/128
    </span>
  </ng-container>
</nz-modal>