.body {
  position: relative;
  margin: 0 auto;
  height: 70vh;
}

.body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(8px); /* Adjust the blur value as needed */
  -webkit-filter: blur(8px); /* For Safari */
}

.inner-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
