<div class="body">
  <iframe
    *ngIf="is_show == true"
    [src]="grafanaUrl"
    width="100%"
    height="1800px"
  ></iframe>
  <div class="inner-body" *ngIf="is_show == false">
    <div class="welcome-container">
      <span class="welcome-title">Welcome</span>
      <br />
      <span class="welcome-username">
        {{ decreptedUserName | uppercase }}
      </span>
      <br />
      <span class="welcome-email">
        <span nz-icon nzType="mail" nzTheme="twotone"></span>
        {{ decryptedEmail }}
      </span>
    </div>
  </div>
</div>
