::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(116, 116, 116, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline         : 1px solid rgb(170, 182, 194);
}
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}