<div>
  <div *ngIf="!showFull" class="search-header">
    <h1 class="main-title"><b>Hi, How can we help you?</b></h1>
    <div class="search-container">
      <nz-input-group nzSearch [nzPrefix]="suffixIconSearch">
        <input
          type="text"
          nz-input
          [(ngModel)]="searchText"
          class="search-input"
          placeholder="Search Here..."
          (keyup.enter)="search(searchText)"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i
          nz-icon
          nzType="search"
          class="search-icon"
          (click)="search(searchText)"
        ></i>
      </ng-template>
    </div>
  </div>
  <div *ngIf="!showFull">
    <div *ngIf="!issearched && faqHeads.length > 0" class="faq-heads-container">
      <nz-breadcrumb class="breadcrumb-top">
        <nz-breadcrumb-item>
          <a> <i nz-icon nzType="left" (click)="back34()"></i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <span>{{ searchText1 }}</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div
        nz-col
        nzSpan="8"
        *ngFor="let fhead of faqHeads"
        class="faq-head-card-col"
      >
        <nz-card nzHoverable class="faq-head-card">
          <p (click)="search1(fhead)" class="faq-head-title">
            <b> {{ fhead.NAME }}</b>
          </p>
          <h5 class="faq-head-description">
            {{ fhead.DESCRIPTION }}
          </h5>
          <h5 *ngIf="fhead.IS_PARENT == 0" class="view-all-link">
            <a (click)="search(fhead.NAME)" class="view-all-text"
              >View All Questions</a
            >
          </h5>
        </nz-card>
      </div>
    </div>
    <div *ngIf="issearched && dataList.length > 0" class="search-results">
      <div nz-col nzSpan="24" class="search-breadcrumb">
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <a> <i nz-icon nzType="left" (click)="back2()"></i></a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <span>{{ searchText1 }}</span>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
      <div nz-col nzSpan="3" class="search-spacer"></div>
      <div nz-col nzSpan="18" class="faq-collapse-container">
        <nz-collapse
          class="faq-collapse"
          *ngFor="let panel of dataList"
          nzAccordion
        >
          <nz-collapse-panel
            [nzHeader]="panel.QUESTION"
            [nzActive]="panel.active"
          >
            <p (click)="expandFAQ(panel)">{{ panel.ANSWER }}</p>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
    <div *ngIf="issearched && dataList.length == 0" class="no-results">
      <div nz-col nzSpan="24" class="no-results-content">
        <nz-empty
          [nzNotFoundImage]="
            'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'
          "
          [nzNotFoundContent]="contentTpl"
          [nzNotFoundFooter]="footerTpl"
        >
          <ng-template #contentTpl>
            <span> No Data Available</span>
          </ng-template>
          <ng-template #footerTpl>
            <button
              nz-button
              nzType="primary"
              (click)="back2()"
              class="back-button"
            >
              <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
              Back
            </button>
          </ng-template>
        </nz-empty>
      </div>
    </div>
  </div>
  <div *ngIf="showFull" class="faq-details">
    <div nz-row>
      <div nz-col nzSpan="24" class="details-breadcrumb">
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <a (click)="back()"
              ><i nz-icon nzType="left" nzTheme="outline"></i
            ></a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a
              ><span>
                {{ faqDetails["FAQ_HEAD_NAME"] }}
              </span></a
            >
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
      <div nz-col nzSpan="3" class="details-spacer"></div>
      <div nz-col nzSpan="18" class="faq-category-name">
        <p class="category-text">
          {{ faqDetails["FAQ_HEAD_NAME"] }}
        </p>
      </div>
      <div nz-col nzSpan="18" class="faq-question-container">
        <p class="question-text">
          {{ faqDetails.QUESTION }}
        </p>
      </div>
      <div *ngIf="faqDetails.URL != ''" class="faq-image-container">
        <div nz-col nzSpan="24" class="faq-image-wrapper">
          <img
            class="faq-image"
            src="{{ api.retriveimgUrl }}ticket/{{ faqDetails.URL }}"
          />
        </div>
      </div>
      <div *ngIf="faqDetails.URL == ''" class="empty-image-container">
        <div nz-col nzSpan="24" class="empty-image-wrapper">
          <div class="empty-image-spacer"></div>
        </div>
      </div>
      <div nz-col nzSpan="18" class="faq-answer-container">
        <p class="answer-text">
          {{ faqDetails.ANSWER }}
        </p>
      </div>
      <div *ngIf="!showSuggest" class="feedback-section">
        <div nzGutter="4" class="feedback-grid">
          <div nz-col nzSpan="24" class="feedback-title">
            <h3 class="feedback-title-text">Was this article helpful?</h3>
          </div>
          <div nz-col nzSpan="10" class="feedback-spacer-left"></div>
          <div nz-col nzSpan="2" class="feedback-option yes-option">
            <i
              nz-icon
              nzType="like"
              class="feedback-icon"
              (click)="yes('Y')"
              nzTheme="outline"
            ></i>
            <h4 class="option-label">Yes</h4>
          </div>
          <div nz-col nzSpan="2" class="feedback-option no-option">
            <i
              nz-icon
              nzType="dislike"
              class="feedback-icon"
              (click)="no()"
              nzTheme="outline"
            ></i>
            <h4 class="option-label">No</h4>
          </div>
          <div nz-col nzSpan="10" class="feedback-spacer-right"></div>
        </div>
      </div>
      <div
        nz-col
        nzSpan="5"
        *ngIf="showSuggest"
        class="suggestion-spacer"
      ></div>
      <div nz-col nzSpan="14" *ngIf="showSuggest" class="suggestion-container">
        <h4 class="suggestion-title">Any Suggestion :</h4>
        <textarea
          rows="2"
          nz-input
          [(ngModel)]="inputValue"
          class="suggestion-textarea"
        ></textarea>
        <div class="suggestion-buttons">
          <button
            nz-button
            nzType="default"
            (click)="cancel()"
            class="cancel-button"
          >
            Cancel
          </button>
          <button
            nz-button
            nzType="primary"
            (click)="yes('N')"
            class="save-button"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
