<div>
  <div nz-row *ngIf="loading" class="loading-container">
    <div nz-col nzSpan="24" class="loading-col">
      <nz-spin [nzSpinning]="loading"></nz-spin>
    </div>
  </div>
  <form nz-form *ngIf="!loading">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row class="header-row">
        <div nz-col nzSpan="24" class="header-col">
          <div class="name">
            {{ newstr }}
          </div>
        </div>
      </div>
      <div *ngFor="let data of data2; let i = index">
        <div nz-row *ngIf="data.data.length > 0" class="date-tag-row">
          <div nz-col nzSpan="24" class="date-tag-col">
            <nz-tag [nzColor]="'red'" class="date-tag">
              {{
              (data.key | date : "ddMMyyyy") ===
              (todayDate | date : "ddMMyyyy")
              ? "Today"
              : (data.key | date : "dd MM yyyy")
              }}
            </nz-tag>
          </div>
        </div>
        <div *ngFor="let data of data.data">
          <div nz-col nzSpan="24" class="system-message-container" *ngIf="data.SENDER == 'X'">
            <nz-tag [nzColor]="'green'" class="system-message-tag">
              <div nz-row>
                <div nz-col nzSpan="24" class="system-message-content">
                  <div class="noty">
                    {{ data.DESCRIPTION }}
                  </div>
                </div>
                <div nz-col nzSpan="24" class="system-message-time">
                  {{ data.CREATED_MODIFIED_DATE | date : "HH:mm a" }}
                </div>
              </div>
            </nz-tag>
          </div>
          <div nz-col nzSpan="24" class="message-container">
            <div nz-col nzSpan="14" *ngIf="data.SENDER == 'U'" class="user-message user-sent">
              <div class="sender-name">
                {{data.CREATER_NAME}}
              </div>
              <div class="message-text">{{ data.DESCRIPTION }}</div>
              <img src="{{ getUrl(data.URL) }}" (click)="urlClick(data.URL)" *ngIf="data.URL" class="message-image" />
              <div class="message-time">
                {{ data.CREATED_MODIFIED_DATE | date : "HH:mm a" }}
              </div>
            </div>
            <div nz-col nzSpan="14" *ngIf="data.SENDER == 'S' && data.SENDER_ID != decrepteduserID" class="staff-message staff-other">
              <div class="sender-name">
                {{ getSenderEmpName(data.SENDER_ID) }}
              </div>
              <div class="message-text">{{ data.DESCRIPTION }}</div>
              <img src="{{ getUrl(data.URL) }}" (click)="urlClick(data.URL)" *ngIf="data.URL" class="message-image" />
              <div class="message-time">
                {{ data.CREATED_MODIFIED_DATE | date : "HH:mm a" }}
              </div>
            </div>
          </div>
          <div nz-col nzSpan="24" class="message-container-right">
            <div nz-col nzSpan="10" class="spacer-col"></div>
            <div nz-col nzOffset="10" nzSpan="14" *ngIf="data.SENDER == 'S' && data.SENDER_ID == decrepteduserID" class="staff-message staff-self">
              <div class="message-text-self">{{ data.DESCRIPTION }}</div>
              <img src="{{ getUrl(data.URL) }}" (click)="urlClick(data.URL)" *ngIf="data.URL" class="message-image" />
              <div class="message-time-self">
                {{ data.CREATED_MODIFIED_DATE | date : "HH:mm a" }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngIf="data2.length <= 0" class="no-data-container">
        <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
          [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
          <ng-template #contentTpl>
            <span> Data Not Found</span>
          </ng-template>
          <ng-template #footerTpl> </ng-template>
        </nz-empty>
      </div>
    </nz-spin>
  </form>
  <div id=":h8" class="a1 aaA aMZ scroll-spacer">
    <div class="a3I">&nbsp;</div>
  </div>
  <div class="footer" *ngIf="userroleid1!==1 && userroleid1!==8">
    <div nz-row *ngIf="
        data.IS_TAKEN == 1 &&
        (data.STATUS == 'R' ||
          data.STATUS == 'O' ||
          data.STATUS == 'S' ||
          data.STATUS == 'H') &&
        data.TAKEN_BY_USER_ID == decrepteduserID
      " class="reply-section">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <div nz-row>
            <div nz-col nzSpan="24" class="image-close-container">
              <span *ngIf="
                  fileDataLOGO_URL != undefined || fileDataLOGO_URL != null
                ">
                <i *ngIf="imageSrc != ''" (click)="clearImg()" nz-icon nzType="close-circle" nzTheme="fill" class="image-close-icon"></i>
              </span>
            </div>
            <div nz-col nzSpan="24" class="image-preview-container">
              <span *ngIf="
                  fileDataLOGO_URL != undefined || fileDataLOGO_URL != null
                ">
                <img [src]="imageSrc" *ngIf="imageSrc != ''" class="preview-image" />
              </span>
            </div>
          </div>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="20" class="reply-textarea-col">
        <nz-form-item>
          <nz-form-control>
            <textarea nz-input name="question" rows="1" [(ngModel)]="DESCRIPTION" class="reply-textarea" placeholder="Enter solution"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="2" class="attachment-col">
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" (click)="file.click()" class="attachment-button">
              <i nz-icon nzType="paper-clip" nzTheme="outline" class="attachment-icon"></i>
            </button>
            <input type="file" #file class="file-input" (change)="onFileSelectedLOGO_URL($event)" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="2" class="send-col">
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" (click)="send(data)" class="send-button">
              <img src="/assets/img/sendIcon.png" class="send-icon" alt="" />
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="ticket-actions">
      <button nz-button nzType="primary" *ngIf="data.IS_TAKEN == 0 && data.STATUS != 'R'" (click)="takeTicket(data)" class="action-button take-ticket-btn">
        Take Ticket
      </button>
      <button nz-button nzType="primary" *ngIf="
          data.IS_TAKEN == 1 &&
          data.STATUS != 'H' &&
          data.STATUS != 'C' &&
          data.STATUS != 'B' &&
          data.TAKEN_BY_USER_ID == decrepteduserID
        " (click)="keepOnHold(data)" class="action-button hold-btn">
        Keep On Hold
      </button>
      <button nz-button nzType="primary" *ngIf="
          data.IS_TAKEN == 1 &&
          data.STATUS == 'B' &&
          data.TAKEN_BY_USER_ID == decrepteduserID
        " (click)="unbannTicket(data)" class="action-button unban-btn">
        Un-Ban Ticket
      </button>
      <button nz-button nzType="primary" *ngIf="
          data.IS_TAKEN == 1 &&
          data.STATUS != 'C' &&
          (data.STATUS == 'R' || data.STATUS == 'O') &&
          data.TAKEN_BY_USER_ID == decrepteduserID
        " (click)="bannTicket(data)" class="action-button ban-btn">
        Ban Ticket
      </button>
      <button nz-button nzType="primary" (click)="transferTicket(data)" *ngIf="
          data.IS_TAKEN == 1 &&
          data.TAKEN_BY_USER_ID == decrepteduserID &&
          data.STATUS != 'S' &&
          data.STATUS != 'C' &&
          data.STATUS != 'B' &&
          data.STATUS != 'O' &&
          data.STATUS != 'H'
        " class="action-button transfer-btn">
        Transfer Ticket
      </button>
    </div>
    <div *ngIf="
        data.IS_TAKEN == 1 &&
        data.TAKEN_BY_USER_ID != 0 &&
        data.TAKEN_BY_USER_ID != decrepteduserID &&
        data.STATUS != 'B'
      " class="taken-by-other">
      <nz-form-item>
        <nz-form-label nzNoColon class="taken-by-label">Taken By Another User</nz-form-label>
      </nz-form-item>
    </div>
  </div>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 100px)',
      overflow: 'auto',
      'padding-bottom': '65px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="500" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="transferTicketDrawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-transfer-ticket-drawer [drawerClose]="transferTicketCloseCallback" [data]="transferTicketDrawerData"
        [empList]="transferTicketDrawerData" [data2]="data" [EMPLOYEE_ID]="empid"></app-transfer-ticket-drawer>
    </ng-container>
  </nz-drawer>
</div>