th {
  text-align: center !important;
  vertical-align: middle !important;
}
.select{
width: 200px;
padding: 8px;
display: block;
}
.search-box {
  padding: 8px;
}
.search-box input {
  width: 188px;
  display: block;
}
.search-box button {
  width: 90px;
}
.search-button {
  margin-right: 8px;
}
nz-select {
  width: 100%;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 
  display: inline-block;
}
:host::ng-deep .ant-card-body {
  padding: 0px;
}
.arrow-back-icon {
  font-weight: bold;
  cursor: pointer;
}
.flex-end-container {
  display: flex;
  justify-content: flex-end;
}
.filter-button-item {
  width: 47px;
}
.no-margin-right {
  margin-right: 0px;
}
.padding-top-zero {
  padding-top: 0px;
}
.text-center {
  text-align: center;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.filter-card {
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
  align-items: center;
}
.filter-card-content {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.filter-card-title {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.check-icon-absolute {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}
.margin-top-7 {
  margin-top: 7px;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.cursor-pointer-fontsize-10 {
  cursor: pointer;
  font-size: 10px !important;
}
.font-size-10 {
  font-size: 10px !important;
}
.cursor-pointer-fontsize-10-margin-right-0 {
  cursor: pointer;
  font-size: 10px !important;
  margin-right: 0px;
}
.no-data-found {
  text-align: center;
  color: red;
  font-weight: bold;
}
.flex-end-align-left-margin-top-10 {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}
.font-bold-text-center {
  font-weight: bold;
  text-align: center;
}
.cursor-pointer {
  cursor: pointer;
}
.font-size-15 {
  font-size: 15px;
}
.width-100 {
  width: 100%;
}
.text-align-center {
  text-align: center;
}
.image-modal-container {
  max-height: 80vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-modal-iframe {
  width: 850px;
  height: 500px;
  max-width: 100%;
  max-height: 80vh;
  border: none;
}