<div>
  <form nz-form #accountMasterPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="24" class="kb-hidden">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Parent Name </nz-form-label>
            <nz-input-group>
              <nz-form-control nzErrorTip="Please Select Correct Option ">
                <nz-select nzShowSearch nzAllowClear name="parent_id" class="kb-full-width"
                  nzPlaceHolder="Select Parent Name" [(ngModel)]="data.PARENT_ID">
                  <nz-option [nzValue]="0" [nzLabel]="'None'"></nz-option>
                  <nz-option *ngFor="let val of faqHeads" [nzValue]="val.ID" [nzLabel]="val.NAME">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-input-group>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>FAQ Head Name</nz-form-label>
            <nz-form-control nzErrorTip="Please Enter Valid Name">
              <input nz-input placeholder="Enter FAQ Head Name" maxlength="128" name="FAQname" type="text"
                [(ngModel)]="data.NAME" required (focus)="isFocused = 'name'" (blur)="isFocused = ''"
                autocomplete="off" />
              <h6 class="kb-char-count" *ngIf="isFocused === 'name' ||
                  (data.NAME != undefined &&
                    data.NAME != null &&
                    data.NAME != '' &&
                    isFocused === 'name')
                ">
                {{ data.NAME?.length || 0 }}/128
              </h6>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>FAQ Head For</nz-form-label>
            <nz-input-group>
              <nz-radio-group name="FAQ_HEAD_TYPE" [(ngModel)]="data.FAQ_HEAD_TYPE">
                <label nz-radio nzValue="C">Customer</label>
                <label nz-radio nzValue="T">Technician</label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
            <nz-form-control nzErrorTip="Please Enter Valid Sequence Number">
              <nz-input-number (keypress)="omit($event)" class="kb-full-width" name="seqno"
                [(ngModel)]="data.SEQUENCE_NO" [nzMin]="1" [nzStep]="1" required>
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzNoColon>Status</nz-form-label>
            <nz-form-control>
              <nz-switch name="status" [(ngModel)]="data.STATUS" nzCheckedChildren="Active"
                nzUnCheckedChildren="Inactive">
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>
  <div class="footer">
    <button type="button" nz-button (click)="close(accountMasterPage)" class="ant-btn kb-footer-cancel">
      <span>Cancel</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      (click)="save(false, accountMasterPage)">
      <span>Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc kb-footer-menu">
          <a (click)="save(true, accountMasterPage)" class="kb-footer-link">
            Save & New
          </a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false, accountMasterPage)">
      <span>Update & close</span>
    </button>
  </div>
</div>