nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.kb-char-count {
  color: red;
  font-size: 10px;
}
.kb-footer-btn-space {
  margin-right: 12px;
}
.kb-save-new-item {
  border-radius: 4px;
  color: white !important;
}
.kb-save-new-link {
  color: white !important;
}
