<div nz-row nzType="flex">
  <div nz-col nzXs="10" nzSm="24" nzMd="20" nzLg="20" nzXl="12">
    <div class="formname">
      <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline" class="back-arrow"></span>&nbsp;&nbsp;{{ formTitle }}
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12" class="header-controls">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <button nz-button [nzType]="isFilterApplied" (click)="showFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" nz-input placeholder="Min 3 chars required." [(ngModel)]="searchText"
            (keyup)="keyup($event)" autocomplete="off" (keydown.enter)="onEnterKey($event)" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button id="searchBtn" nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row class="radio-group-row">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="radio-group-container">
    <nz-form-item>
      <nz-radio-group name="STATUS" [(ngModel)]="STATUS" (ngModelChange)="changeRadioButton($event)"
        nzButtonStyle="solid">
        <label nz-radio-button nzValue="P">Pending</label>
        <label nz-radio-button nzValue="S">Assigned</label>
        <label nz-radio-button nzValue="R">Answered</label>
        <label nz-radio-button nzValue="O">Re-Open</label>
        <label nz-radio-button nzValue="C">Closed</label>
        <label nz-radio-button nzValue="B">Banned</label>
        <label nz-radio-button nzValue="H">On-Hold</label>
      </nz-radio-group>
    </nz-form-item>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <form nz-form>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="10">
              <nz-form-item>
                <nz-range-picker class="date-range-picker" [nzFormat]="dateFormat" (nzOnCalendarChange)="changeDate($event)"
                  name="selectedDate" [(ngModel)]="selectedDate"></nz-range-picker>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <button class="filter-button apply-filter-button" nz-button [nzLoading]="isSpinning" nzType="primary"
                  (click)="applyFilter()" nzJustify="end">
                  <i nz-icon nzType="filter"></i>Apply Filter
                </button>
                <button class="filter-button clear-filter-button" nz-button [nzLoading]="isSpinning" nzType="primary"
                  (click)="clearFilter()" nzJustify="end">
                  <i nz-icon nzType="filter"></i>Clear Filter
                </button>
              </nz-form-item>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" nzBordered #table nzShowSizeChanger [nzFrontPagination]="false"
      [nzData]="dataList" [nzLoading]="loadingRecords" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize" (nzQueryParams)="sort($event)" (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)" [nzScroll]="{ y: '50vh' }" [nzSize]="'small'">
      <thead>
        <tr>
          <th align="center" nzWidth="100px" nzLeft><b>View</b></th>
          <th nzLeft nzWidth="300px" class="table-header created-by-header">
            Created By
          </th>
          <th nzLeft *ngIf="isColumnVisible('TICKET_NO')" nzWidth="200px" class="table-header filterable-header"
            nzColumnKey="TICKET_NO" [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter>
            Ticket Number
            <nz-filter-trigger [(nzVisible)]="ticketnoVisible" [nzDropdownMenu]="ticket">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isticketnoFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzLeft *ngIf="isColumnVisible('DEPARTMENT_NAME')" nzWidth="300px" class="table-header filterable-header"
            nzColumnKey="DEPARTMENT_NAME" [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter>
            Department Name
            <nz-filter-trigger [(nzVisible)]="departmentVisible" [nzDropdownMenu]="department">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isnameFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('EMAIL_ID')" nzWidth="250px" class="table-header filterable-header"
            nzColumnKey="EMAIL_ID" [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter>
            Email Id
            <nz-filter-trigger [(nzVisible)]="emailVisible" [nzDropdownMenu]="email">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isemailFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('MOBILE_NO')" nzWidth="180px" class="table-header filterable-header"
            nzColumnKey="MOBILE_NO" [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter>
            Mobile Number
            <nz-filter-trigger [(nzVisible)]="mobilenoVisible" [nzDropdownMenu]="mobile">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: ismobilenoFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('QUESTION')" nzWidth="250px" class="table-header filterable-header"
            nzColumnKey="QUESTION" [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter>
            Question
            <nz-filter-trigger [(nzVisible)]="questionVisible" [nzDropdownMenu]="question">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isquestionFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="180px" class="table-header filterable-header" nzColumnKey="GUARANTEE_PERIOD"
            [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter>
            Guarantee Period
            <nz-filter-trigger [(nzVisible)]="guaranteeVisible" [nzDropdownMenu]="guarantee">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isguaranteeFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="180px" class="table-header filterable-header" nzColumnKey="WARRANTY_PERIOD"
            [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter>
            Warranty Period
            <nz-filter-trigger [(nzVisible)]="warrantyVisible" [nzDropdownMenu]="warranty">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: iswarrantyFilterApplied ? '#092B9C' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('IS_TAKEN_STATUS')" nzShowSort nzColumnKey="{{ 'IS_TAKEN_STATUS' }}"
            nzWidth="200px" class="table-header status-header" [nzSortFn]="true" [nzFilters]="listOfFilter" [nzFilterFn]="true"
            [nzFilterMultiple]="false" (nzFilterChange)="onStatusFilterChange($event)">
            Taken Status
          </th>
          <th nzShowSort nzColumnKey="LAST_RESPONDED" nzWidth="200px" class="table-header filterable-header" [nzSortFn]="true"
            nzCustomFilter>
            Last Responded Date
            <nz-filter-trigger [(nzVisible)]="lastrespondedDateVisible" [nzDropdownMenu]="lastrespondedDateFilter">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{
                  color: isscheduleDateFilterApplied ? '#1890ff' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('STATUS')" nzShowSort nzColumnKey="{{ 'STATUS' }}" nzWidth="100px"
            class="table-header status-header" [nzSortFn]="true">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td align="center" nzLeft>
            <nz-tag nzColor="#2db7f5" (click)="ViewDetails(data)" class="view-tag" nzTooltipTitle="View"
              nz-tooltip>
              <span nz-icon nzType="eye" nzTheme="outline" class="view-icon">
              </span>&nbsp;&nbsp;View</nz-tag>
          </td>
          <td align="left" nzLeft [nzTooltipTitle]="
              isTextOverflow ? data['CREATOR_EMPLOYEE_NAME'] : null
            " #tooltipRef="nzTooltip" nz-tooltip>
            <div #textContainers class="truncate-text" (mouseenter)="checkOverflow(textContainers, tooltipRef)">
              {{
              data["CREATOR_EMPLOYEE_NAME"]
              ? data["CREATOR_EMPLOYEE_NAME"]
              : "-"
              }}
            </div>
          </td>
          <td align="center" nzLeft>
            <span *ngIf="data['TICKET_NO'] != null">
              {{ data["TICKET_NO"] }}
            </span>
            <span *ngIf="data['TICKET_NO'] == null">-</span>
          </td>
          <td align="left" nzLeft [nzTooltipTitle]="isTextOverflow ? data['DEPARTMENT_NAME'] : null"
            #tooltipRef="nzTooltip" nz-tooltip>
            <div #textContainer class="truncate-text" (mouseenter)="checkOverflow(textContainer, tooltipRef)">
              {{ data["DEPARTMENT_NAME"] ? data["DEPARTMENT_NAME"] : "-" }}
            </div>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['EMAIL_ID'] : null" #tooltipRef1="nzTooltip"
            nz-tooltip>
            <div #textContainer1 class="truncate-text" (mouseenter)="checkOverflow(textContainer1, tooltipRef1)">
              {{ data["EMAIL_ID"] ? data["EMAIL_ID"] : "-" }}
            </div>
          </td>
          <td align="center">
            <span *ngIf="data['MOBILE_NO'] != null">
              {{ data["MOBILE_NO"] }}
            </span>
            <span *ngIf="
                data['MOBILE_NO'] == null || data['MOBILE_NO'].trim() == ''
              ">-</span>
          </td>
          <td align="left" [nzTooltipTitle]="isTextOverflow ? data['QUESTION'] : null" #tooltipRef2="nzTooltip"
            nz-tooltip>
            <div #textContainer2 class="truncate-text" (mouseenter)="checkOverflow(textContainer2, tooltipRef2)">
              {{ data["QUESTION"] ? data["QUESTION"] : "-" }}
            </div>
          </td>
          <td align="center">
            <ng-container *ngIf="data.GUARANTEE_ALLOWED == 1; else elseguaranteeBlock">
              <div #textContainer3 class="truncate-text" (mouseenter)="checkOverflow(textContainer3, tooltipRef3)"
                [nzTooltipTitle]="
                  isTextOverflow ? data['GUARANTEE_PERIOD'] : null
                " #tooltipRef3="nzTooltip" nz-tooltip>
                {{ data["GUARANTEE_PERIOD"] ? data["GUARANTEE_PERIOD"] : "-" }}
              </div>
            </ng-container>
            <ng-template #elseguaranteeBlock> - </ng-template>
          </td>
          <td align="center">
            <ng-container *ngIf="data.WARRANTY_ALLOWED == 1; else elsewarblock">
              <div #textContainer4 class="truncate-text" (mouseenter)="checkOverflow(textContainer4, tooltipRef4)"
                [nzTooltipTitle]="
                  isTextOverflow ? data['WARRANTY_PERIOD'] : null
                " #tooltipRef4="nzTooltip" nz-tooltip>
                {{ data["WARRANTY_PERIOD"] ? data["WARRANTY_PERIOD"] : "-" }}
              </div>
            </ng-container>
            <ng-template #elsewarblock> - </ng-template>
          </td>
          <td align="center" *ngIf="isColumnVisible('IS_TAKEN_STATUS')">
            <nz-tag *ngIf="data['IS_TAKEN_STATUS'] == 'Yes'" [nzColor]="'green'">Yes</nz-tag>
            <nz-tag *ngIf="data['IS_TAKEN_STATUS'] == 'No'" [nzColor]="'red'">No</nz-tag>
            <span *ngIf="
                data['IS_TAKEN_STATUS'] != 'Yes' &&
                data['IS_TAKEN_STATUS'] != 'No'
              ">-</span>
          </td>
          <td align="center">
            {{
            data?.LAST_RESPONDED
            ? (data.LAST_RESPONDED | date : "dd/MM/yyyy HH:mm a")
            : "-"
            }}
          </td>
          <td align="center" *ngIf="isColumnVisible('STATUS')">
            <span *ngIf="data['STATUS'] == 'P'">
              <nz-tag [nzColor]="'red'">Pending</nz-tag>
            </span>
            <span *ngIf="data['STATUS'] == 'C'">
              <nz-tag [nzColor]="'green'">Closed</nz-tag>
            </span>
            <span *ngIf="data['STATUS'] == 'S'">
              <nz-tag [nzColor]="'green'">Assigned</nz-tag>
            </span>
            <span *ngIf="data['STATUS'] == 'R'">
              <nz-tag [nzColor]="'green'">Answered</nz-tag>
            </span>
            <span *ngIf="data['STATUS'] == 'O'">
              <nz-tag [nzColor]="'green'">Re-Open</nz-tag>
            </span>
            <span *ngIf="data['STATUS'] == 'B'">
              <nz-tag [nzColor]="'red'">Banned</nz-tag>
            </span>
            <span *ngIf="data['STATUS'] == 'H'">
              <nz-tag [nzColor]="'yellow'">On-Hold</nz-tag>
            </span>
            <span *ngIf="!data['STATUS']">
              <nz-tag [nzColor]="'default'">Unknown</nz-tag>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #department="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="departmentText" (keyup)="onKeyup($event)"
              placeholder="Search Department Name" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="departmentText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="departmentText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #ticket="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="ticketnoText" (keyup)="onKeyup($event)"
              placeholder="Search Ticket Number" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="ticketnoText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="ticketnoText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #mobile="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="mobileText" (keyup)="onKeyup($event)"
              placeholder="Search Mobile Number" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="mobileText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="mobileText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #email="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="emailText" (keyup)="onKeyup($event)"
              placeholder="Search Email Id" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="emailText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="emailText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #question="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="questionText" (keyup)="onKeyup($event)"
              placeholder="Search Question" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="questionText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="questionText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #guarantee="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="guaranteeText" (keyup)="onKeyup($event)"
              placeholder="Search Guarantee Period" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="guaranteeText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="guaranteeText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #warranty="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="warrantyText" (keyup)="onKeyup($event)"
              placeholder="Search Warranty Period" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="warrantyText"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="warrantyText == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #lastrespondedDateFilter="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-range-picker [(ngModel)]="StartDate" name="StartDate" class="date-range-filter-picker"
            [nzFormat]="commonFunction.dateFormatMMM" (ngModelChange)="onDateRangeChange()">
          </nz-range-picker>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 100px)',
      overflow: 'auto',
      'padding-bottom': '125px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="550" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-ticketdetails [newstr]="newstr" [drawerClose]="closeCallback" [data2]="data1" [data]="drawerData"
        [loading]="isloading">
      </app-ticketdetails>
    </ng-container>
  </nz-drawer>
</div>