::-webkit-scrollbar {

  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

:host::ng-deep .nz-radio-button-wrapper-checked {
  color: white !important;
}


.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  /* color: #092b9c; */
  background: #fff;
  border-color: #092b9c;
}
 
.ant-radio-button-wrapper-checked {
  background-color: #092b9c !important;
  color: white !important;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Adjust as needed */
  display: inline-block;
}