<div>
  <form nz-form #accountMasterPage="ngForm">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Category Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Category Name">
            <input nz-input autocomplete="off" placeholder="Enter Category Name"
              (keypress)="commonFunction.allowOnly($event)" maxlength="128" name="name" [(ngModel)]="data.NAME" required
              (focus)="isFocused = 'categoryName'" (blur)="isFocused = ''" />
          </nz-form-control>
          <h6 class="char-count-text-ac01" *ngIf="
              isFocused === 'categoryName' ||
              (data.NAME && isFocused === 'categoryName')
            ">
            {{ data.NAME.length || 0 }}/128
          </h6>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzNoColon>Description</nz-form-label>
          <nz-form-control>
            <textarea nz-input rows="2" name="description" maxlength="512" [(ngModel)]="data.DESCRIPTION"
              placeholder="Enter Description" (focus)="isFocused = 'description'" (blur)="isFocused = ''"></textarea>
          </nz-form-control>
          <h6 class="char-count-text-ac01" *ngIf="
              isFocused === 'description' ||
              (data.DESCRIPTION && isFocused === 'description')
            ">
            {{ data.DESCRIPTION?.length || 0 }}/512
          </h6>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="10">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Sequence No.">
            <input nz-input placeholder="Sequence No." name="SeqNo" class="seq-input-width-ac02" required
              [(ngModel)]="data.SEQ_NO" #seqNo="ngModel" (keypress)="commonFunction.onlynum($event)" maxlength="8"
              autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzNoColon>Is New?</nz-form-label>
          <nz-form-control>
            <nz-switch name="IS_NEW" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
              [(ngModel)]="data.IS_NEW"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzNoColon>Status</nz-form-label>
          <nz-form-control>
            <nz-switch name="Status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
              [(ngModel)]="data.STATUS"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzNoColon nzRequired>
            Category Icon&nbsp;
            <span nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip
              nzTooltipTitle=" Please select an image file (PNG, JPG, JPEG) with a image dimension 200*200."></span>
            <span *ngIf="(data.ICON && data.ICON != ' ') || fileURL" nz-popconfirm
              nzPopconfirmTitle="Are you sure you want to delete?" nzPopconfirmPlacement="top"
              (nzOnConfirm)="image1DeleteConfirm(data)" (nzOnCancel)="deleteCancel()" class="icon-delete-action-ac03">
              <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#FF0000'" nz-tooltip
                nzTooltipTitle="Delete"></span>
            </span>
          </nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Select Category Icon">
            <button *ngIf="!fileURL && (!data.ICON || data.ICON.trim() === '')" nz-button class="upload-btn-ac04"
              (click)="image1.click()">
              Upload Icon
              <input #image1 name="image1" type="file" accept=".png, .jpg, .jpeg" class="hidden-file-input-ac05"
                (change)="onFileSelected($event)" />
            </button>
            <div *ngIf="
                data.ICON &&
                data.ICON != null &&
                data.ICON != undefined &&
                data.ICON != ' ' &&
                data.ICON != '' &&
                (fileURL == undefined || fileURL == null || fileURL == '')
              " class="icon-preview-wrapper-ac06">
              <img nz-image [nzSrc]="fullImageUrl" alt="Uploaded Image" class="icon-preview-img-ac07" />
            </div>
            <div *ngIf="
                fileURL != undefined &&
                fileURL != null &&
                fileURL != '' &&
                fileURL != ' '
              " class="ss icon-preview-center-ac08">
              <img nz-image [nzSrc]="imagePreview" alt="Preview" class="icon-preview-square-ac09" />
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" nz-button class="ant-btn footer-btn-mr-ac10" (click)="close(accountMasterPage)">
      <span>Cancel</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      [nzLoading]="isSpinning" (click)="save(false, accountMasterPage)">
      <span>Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc footer-dropdown-item-ac11">
          <a class="footer-dropdown-link-ac12" (click)="save(true, accountMasterPage)">Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false, accountMasterPage)">
      <span>Update & close</span>
    </button>
  </div>
  <nz-modal [nzWidth]="900" [(nzVisible)]="ImageModalVisible" nzMaskClosable="false" nzClosable="false"
    [nzContent]="content" [nzTitle]="'Image View'" (nzOnCancel)="ImageModalCancel()" [nzFooter]="ImageModalFooter">
    <ng-template #content>
      <nz-spin [nzSpinning]="isSpinning">
        <div *ngIf="imageshow != undefined && imageshow != null && imageshow != ''" class="ss image-modal-body-ac13">
          <iframe [src]="imageshow" class="image-modal-iframe-ac14" frameborder="0"></iframe>
        </div>
      </nz-spin>
    </ng-template>
    <ng-template #ImageModalFooter>
      <button nz-button nzType="default" (click)="ImageModalCancel()">
        Close
      </button>
    </ng-template>
  </nz-modal>
  <nz-modal [nzWidth]="500" [nzStyle]="{ 'margin-top': '-80px' }" [(nzVisible)]="CropImageModalVisible"
    nzMaskClosable="false" nzClosable="false" [nzContent]="content2" [nzTitle]="'Crop Image'"
    (nzOnCancel)="CropImageModalCancel()" [nzFooter]="CropImageModalFooter">
    <ng-template #content2>
      <nz-spin [nzSpinning]="isSpinningCrop">
        <div *ngIf="
            cropimageshow != undefined &&
            cropimageshow != null &&
            cropimageshow != ''
          " class="ss crop-modal-body-ac15">
          <div *ngIf="croppedImage" class="crop-preview-center-ac16">
            <p>Cropped Image:</p>
            <img [src]="croppedImage" width="200" height="200" />
          </div>
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
            [cropper]="cropperPosition" format="png" (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded($event)" [imageQuality]="100" (cropperReady)="cropperReady($event)"
            (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
      </nz-spin>
    </ng-template>
    <ng-template #CropImageModalFooter>
      <button nz-button nzType="default" (click)="CropImageModalCancel()">
        Close
      </button>
      <button nz-button nzType="primary" (click)="onFileSelected(imageChangedEvent)">
        Upload
      </button>
    </ng-template>
  </nz-modal>
</div>