.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;

}

.header {

  position: absolute;

  top: 0px;

  /* bottom: 0px; */

  width: 100%;

  border-top: 1px solid rgb(232, 232, 232);

  padding: 10px 16px;

  text-align: right;

  /* left: 0px; */

  right: 0px;

  /* background: #fff; */

}

nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

image-cropper {
  /* display: block; */
  margin: 20px auto;
  max-width: 100%;
  height: 100%;
}

.image-cropper-container {
  width: 100%;
  max-width: 500px;
  /* Adjust as needed */
  height: auto;
  overflow: hidden;
  /* Prevents overflow */
  display: flex;
  justify-content: center;
  align-items: center;
}