<div class="form-container">
  <form nz-form #Unitmaster="ngForm">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Unit Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Unit Name">
            <input nz-input name="name" placeholder="Enter Unit Name" required [(ngModel)]="data.NAME"
              #nameField="ngModel" (keypress)="commonFunction.alphaOnly($event)" maxlength="32" autocomplete="off"
              (focus)="isFocused = 'unitName'" (blur)="isFocused = ''" />
            <h6 class="char-count" *ngIf="
                isFocused === 'unitName' ||
                (data.NAME && isFocused === 'unitName')
              ">
              {{ data.NAME?.length || 0 }}/32
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Short Code</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Short Code">
            <input nz-input name="shortcode" placeholder="Enter Short Code" required [(ngModel)]="data.SHORT_CODE"
              autocomplete="off" #nameField="ngModel" (keypress)="commonFunction.alphaOnly($event)" maxlength="8"
              (focus)="isFocused = 'shortCode'" (blur)="isFocused = ''" />
            <h6 class="char-count" *ngIf="
                isFocused === 'shortCode' || 
                (data.SHORT_CODE && isFocused === 'shortCode')
              ">
              {{ data.SHORT_CODE?.length || 0 }}/8
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Plese Enter Sequence No.">
            <input nz-input name="SeqNo" placeholder="Enter Sequence No." required [(ngModel)]="data.SEQ_NO"
              #nameField="ngModel" (keypress)="commonFunction.onlynum($event)" maxlength="8" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzNoColon>Status</nz-form-label>
          <nz-form-control>
            <nz-switch name="status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
              [(ngModel)]="data.IS_ACTIVE"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <button nz-button nzType="default" (click)="close()" class="ant-btn footer-cancel-btn">
    Cancel
  </button>
  <button nz-button *ngIf="!data.ID" nzType="primary" nz-dropdown [nzDropdownMenu]="menu" [nzLoading]="isSpinning"
    (click)="save(false, Unitmaster)" class="ant-btn ant-btn-primary">
    Save & Close
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item class="menuc menu-item-style">
        <a class="footer-button footer-link-style" (click)="save(true, Unitmaster)">Save & New</a>
      </li>
    </ul>
  </nz-dropdown-menu>
  <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
    (click)="save(false, Unitmaster)">
    <span>Update & Close</span>
  </button>
</div>