.filter-box nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
    width: 100%;
}
.cardstyle {
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #efefef;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
.cardstyle:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.mainnam {
    color: #000;
    font-size: 13px !important;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s ease-in-out;
}
.subnamm {
    color: #6A6A6A;
    font-size: 12px !important;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ant-drawer-body {
    padding: 8px 20px !important;
}
.emptyDataTex {
    color: grey;
    font-weight: 500;
}
button[nz-button] {
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}
button[nz-button]:hover {
    transform: scale(1.05);
}
button[nz-button]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.3);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
}
button[nz-button]:active::after {
    width: 0;
    height: 0;
    opacity: 1;
    transition: 0s;
}
.warehouse-container {
    display: flex;
    align-items: center;
}
.warehouse-box {
    border: 2px solid #888;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    background-color: #fff;
}
.arrow {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}
:host::ng-deep .ant-card-body {
    padding: 0px;
}
.arrow-back-style {
  font-weight: bold;
  cursor: pointer;
}
.flex-end-wrapper {
  display: flex;
  justify-content: flex-end;
}
.search-input-item {
  margin-right: 15px;
}
.no-margin-right {
  margin-right: 0px;
}
.padding-top-ten {
  padding-top: 10px;
}
.dashed-border-container {
  border: 1px dashed black;
  border-radius: 5px;
  padding: 10px;
}
.full-width-picker {
  width: 100%;
}
.full-width-select {
  width: 100%;
}
.button-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.margin-right-ten {
  margin-right: 10px;
}
.padding-top-zero {
  padding-top: 0px;
}
.center-text-align {
  text-align: center;
}
.margin-bottom-eight {
  margin-bottom: 8px;
}
.filter-card-wrapper {
  align-items: center;
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
  border-radius: 7px;
}
.filter-card-content {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.filter-card-name {
  color: black;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}
.filter-check-absolute {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}
.margin-top-seven {
  margin-top: 7px;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.filter-tag-cursor {
  cursor: pointer;
  font-size: 10px !important;
}
.filter-tag-icon-size {
  font-size: 10px !important;
}
.filter-tag-no-margin {
  cursor: pointer;
  font-size: 10px !important;
  margin-right: 0px;
}
.no-data-error {
  text-align: center;
  color: red;
  font-weight: bold;
}
.buttons-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: 10px;
}
.scroll-container {
  overflow: auto;
  padding: 10px;
  height: 67vh;
  padding-top: 0px;
}
.card-margin-bottom-ten {
  margin-bottom: 10px;
}
.card-date-badge {
  color: #1d39c4 !important;
  background: #f0f5ff !important;
  border-color: #adc6ff !important;
  font-weight: bold;
  font-size: 13px;
  padding: 3px;
}
.card-action-section {
  font-size: 12px;
  text-align: right;
  padding: 3px;
}
.float-right-span {
  float: right;
}
.eye-icon-cursor {
  font-size: 15px;
  cursor: pointer;
}
.info-text-style {
  font-size: 12px;
  text-align: left;
  padding: 3px;
  border-radius: 15px;
}
.detail-text-left {
  font-size: 12px;
  text-align: left;
  padding: 3px;
}
.detail-text-padding {
  font-size: 12px;
  padding: 3px;
}
.load-more-wrapper {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-justify {
  text-align: justify;
}
.modal-title-center {
  text-align: center;
}