.card-wrapper {
    margin-bottom: 20px;
}

.card-container {
    border: none;
    background-color: rgba(255, 255, 255, 0.952);
}

/* 
.report-card {
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
} */


.report-card {
    font-size: 13px;
    /* display: flex; */
    /* Enables flexbox */
    align-items: center;
    /* Centers text vertically */
    /* justify-content: center; */
    /* Centers content horizontally */
    cursor: pointer;
    padding: 13px;
    /* Slightly increased padding for better spacing */
    height: 55px;
    /* Ensures consistent height */
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.report-card:hover {
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}