::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233);
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
 
.header {
  position: absolute;
  top: 0px;
  padding: 10px 430px;
}
 
h6 {
  color: rgba(0, 0, 0, .85);
  font-weight: 400;
  font-size: 15px;
}