<div>
  <nz-spin [nzSpinning]="isSpinning">
    <div>
      <div nz-row>
        <div nz-col nzSpan="1" *ngIf="index > 0">
          <i
            (click)="prevData()"
            nz-icon
            nzType="caret-left"
            nzTheme="outline"
            class="nav-icon"
          ></i>
        </div>
        <div
          nz-col
          nzSpan="23"
          *ngIf="ticketQuestion['VALUE'] != null"
          class="question-container"
        >
          <h6 class="question-text">{{ ticketQuestion["VALUE"] }}</h6>
        </div>
      </div>
      <div nz-row *ngFor="let group of ticketGroups" class="ticket-group">
        <div (click)="nextData(group)" nz-col nzSpan="22" class="group-value">
          {{ group.VALUE }}
        </div>
        <div (click)="nextData(group)" nz-col nzSpan="2" class="group-arrow">
          <i
            nz-icon
            nzType="right-circle"
            nzTheme="fill"
            class="arrow-icon"
          ></i>
        </div>
      </div>
    </div>
    <div *ngIf="isLast" class="faq-section">
      <h3 class="faq-heading">
        We found some similar issues before this. So we have listed some FAQs
        related to them. Please read FAQs before create ticket.
      </h3>
      <nz-collapse nzAccordion>
        <nz-collapse-panel
          *ngFor="let panel of faqs"
          [nzHeader]="panel.QUESTION"
        >
          <p>{{ panel.ANSWER }}</p>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div
      nz-col
      nzXs="24"
      nzSm="24"
      nzMd="24"
      nzLg="24"
      nzXl="24"
      *ngIf="!isLast && nodata && !ticketQuestion['VALUE']"
      class="no-data-container"
    >
      <nz-empty
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl"
        [nzNotFoundFooter]="footerTpl"
      >
        <ng-template #contentTpl>
          <span> Data Not Found</span>
        </ng-template>
        <ng-template #footerTpl> </ng-template>
      </nz-empty>
    </div>
  </nz-spin>
  <div class="footer" *ngIf="isLast">
    <div nz-row *ngIf="isAddTicket" class="ticket-actions">
      <div nz-col nzSpan="24" class="action-title">
        <b>Still Not Solve Issue ?</b>
      </div>
      <div nz-col nzSpan="24" class="action-buttons">
        <button
          nz-button
          nzType="primary"
          [nzLoading]="myTicketLoading"
          (click)="backToPrevious()"
          class="action-btn back-btn"
        >
          Back
        </button>
        <button
          nz-button
          nzType="primary"
          [nzLoading]="myTicketLoading"
          nz-popconfirm
          [nzCondition]="myTicketCount > 0 ? false : true"
          [nzPopconfirmTitle]="popConfirmTitle"
          nzPopconfirmPlacement="top"
          (nzOnConfirm)="openTicketWindow()"
          (nzOnCancel)="cancel()"
          class="action-btn add-ticket-btn"
        >
          Add Ticket
        </button>
        <ng-template #popConfirmTitle>
          <span
            >There are <b>{{ myTicketCount }} ticket(s)</b> which are not
            closed, wan't to continue?</span
          >
        </ng-template>
      </div>
    </div>
    <div nz-row *ngIf="!isAddTicket" class="ticket-form">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <textarea
              nz-input
              name="question"
              [(ngModel)]="DESCRIPTION"
              placeholder="Describe your problem"
              class="description-textarea"
            >
            </textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24" class="attachment-section">
        <nz-form-item>
          <nz-form-label nzNoColon class="attachment-label">
            Any Attachment?&nbsp;<span
              nz-icon
              nzType="info-circle"
              nzTheme="twotone"
              nz-tooltip
              nzTooltipTitle=" Please select an image file (PNG, JPG, JPEG)."
              class="info-icon"
            ></span>
          </nz-form-label>
          <nz-form-control>
            <div nz-row class="upload-row">
              <div nz-col nzSpan="22" class="upload-col">
                <button
                  nz-button
                  nzType="primary"
                  (click)="file.click()"
                  nzSize="small"
                  class="upload-btn"
                >
                  Upload
                </button>
                <span
                  *ngIf="
                    fileDataLOGO_URL != undefined || fileDataLOGO_URL != null
                  "
                  class="file-name"
                >
                  {{ fileDataLOGO_URL.name }}
                </span>
              </div>
              <div nz-col nzSpan="2" class="delete-col">
                <i
                  (click)="clearImg()"
                  *ngIf="
                    fileDataLOGO_URL != undefined || fileDataLOGO_URL != null
                  "
                  nz-icon
                  nzType="delete"
                  nzTheme="fill"
                  class="delete-icon"
                ></i>
              </div>
            </div>
            <input
              type="file"
              #file
              class="file-input"
              (change)="onFileSelectedLOGO_URL($event)"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24" class="form-buttons">
        <button
          nz-button
          nzType="primary"
          (click)="cancel()"
          class="form-btn cancel-btn"
        >
          Cancel
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="send()"
          class="form-btn create-btn"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
