<div>
  <form nz-form #websitebannerPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row nzGutter="20">
        <div nz-col nzSpan="24">
          <div nz-row class="my-box">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Gateway Name</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Enter Gateway Name">
                  <input nz-input name="GATEWAY_NAME" placeholder="Enter Gateway Name" required
                    (keypress)="this.commonFunction.alphaOnly($event)" [(ngModel)]="data.GATEWAY_NAME"
                    autocomplete="off" maxlength="128" (focus)="isFocused = 'GATEWAY_NAME'" (blur)="isFocused = ''" />
                </nz-form-control>
                <h6 class="heading-txt" *ngIf="
                    isFocused === 'GATEWAY_NAME' ||
                    (data.GATEWAY_NAME && isFocused === 'GATEWAY_NAME')
                  ">
                  {{ data.GATEWAY_NAME?.toString().length || 0 }}/128
                </h6>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Gateway Type</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Enter Gateway Type">
                  <input nz-input name="GATEWAY_TYPE" placeholder="Enter Gateway Type" required
                    (keypress)="this.commonFunction.alphaOnly($event)" [(ngModel)]="data.GATEWAY_TYPE"
                    autocomplete="off" maxlength="128" (focus)="isFocused = 'GATEWAY_TYPE'" (blur)="isFocused = ''" />
                </nz-form-control>
                <h6 class="heading-txt" *ngIf="
                    isFocused === 'GATEWAY_TYPE' ||
                    (data.GATEWAY_TYPE && isFocused === 'GATEWAY_TYPE')
                  ">
                  {{ data.GATEWAY_TYPE?.toString().length || 0 }}/128
                </h6>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Api Secret</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Enter Api Secret">
                  <input nz-input name="API_SECRET" placeholder="Enter Api Secret" required
                    [(ngModel)]="data.API_SECRET" (keypress)="commonFunction.allowOnly($event)" autocomplete="off"
                    maxlength="128" (focus)="isFocused = 'API_SECRET'" (blur)="isFocused = ''" />
                </nz-form-control>
                <h6 class="heading-txt" *ngIf="
                    isFocused === 'API_SECRET' ||
                    (data.API_SECRET && isFocused === 'API_SECRET')
                  ">
                  {{ data.API_SECRET?.toString().length || 0 }}/128
                </h6>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Merchant</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Enter Merchant Id">
                  <input nz-input name="MERCHANT_ID" placeholder="Enter Merchant Id" required
                    (keypress)="this.commonFunction.numchar($event)" [(ngModel)]="data.MERCHANT_ID" autocomplete="off"
                    maxlength="128" (focus)="isFocused = 'MERCHANT_ID'" (blur)="isFocused = ''" />
                </nz-form-control>
                <h6 class="heading-txt" *ngIf="
                    isFocused === 'MERCHANT_ID' ||
                    (data.MERCHANT_ID && isFocused === 'MERCHANT_ID')
                  ">
                  {{ data.MERCHANT_ID?.toString().length || 0 }}/128
                </h6>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Api Key</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Enter Api Key">
                  <input nz-input name="API_KEY" placeholder="Enter Api Key" required [(ngModel)]="data.API_KEY"
                    (keypress)="commonFunction.allowOnly($event)" autocomplete="off" maxlength="128"
                    (focus)="isFocused = 'API_KEY'" (blur)="isFocused = ''" />
                </nz-form-control>
                <h6 class="heading-txt" *ngIf="
                    isFocused === 'API_KEY' ||
                    (data.API_KEY && isFocused === 'API_KEY')
                  ">
                  {{ data.API_KEY?.toString().length || 0 }}/128
                </h6>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Encryption Key</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Enter Encryption Key">
                  <input nz-input name="ENCRYPTION_KEY" placeholder="Enter Encryption Key" required
                    [(ngModel)]="data.ENCRYPTION_KEY" (keypress)="commonFunction.allowOnly($event)" autocomplete="off"
                    maxlength="128" (focus)="isFocused = 'ENCRYPTION_KEY'" (blur)="isFocused = ''" />
                </nz-form-control>
                <h6 class="heading-txt" *ngIf="
                    isFocused === 'ENCRYPTION_KEY' ||
                    (data.ENCRYPTION_KEY && isFocused === 'ENCRYPTION_KEY')
                  ">
                  {{ data.ENCRYPTION_KEY?.toString().length || 0 }}/128
                </h6>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
      <div nz-row nzGutter="20">
        <div nz-col nzSpan="24">
          <div nz-row class="my-box">
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Endpoint Url</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Enter Endpoint Url">
                  <nz-input-group nzAddOnBefore="http://">
                    <input nz-input name="ENDPOINT_URL" placeholder="Enter Endpoint Url" required
                      [(ngModel)]="data.ENDPOINT_URL" (keypress)="this.commonFunction.alphaOnly($event)"
                      autocomplete="off" maxlength="128" (focus)="isFocused = 'ENDPOINT_URL'" (blur)="isFocused = ''" />
                  </nz-input-group>
                </nz-form-control>
                <h6 class="heading-txt" *ngIf="
                    isFocused === 'ENDPOINT_URL' ||
                    (data.ENDPOINT_URL && isFocused === 'ENDPOINT_URL')
                  ">
                  {{ data.ENDPOINT_URL?.toString().length || 0 }}/128
                </h6>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Webhook Url</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Enter Webhook Url">
                  <nz-input-group nzAddOnBefore="http://">
                    <input nz-input name="WEBHOOK_URL" placeholder="Enter Webhook Url" required
                      [(ngModel)]="data.WEBHOOK_URL" (keypress)="this.commonFunction.alphaOnly($event)"
                      autocomplete="off" maxlength="128" (focus)="isFocused = 'WEBHOOK_URL'" (blur)="isFocused = ''" />
                  </nz-input-group>
                </nz-form-control>
                <h6 class="heading-txt" *ngIf="
                    isFocused === 'WEBHOOK_URL' ||
                    (data.WEBHOOK_URL && isFocused === 'WEBHOOK_URL')
                  ">
                  {{ data.WEBHOOK_URL?.toString().length || 0 }}/128
                </h6>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24" class="my-box">
          <div nz-row>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Supported Currencies</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Select currencies">
                  <nz-select nzAllowClear nzPlaceHolder="Select Currencies" name="SUPPORTED_CURRENCIES"
                    [(ngModel)]="data.SUPPORTED_CURRENCIES" nzShowSearch required nzMode="multiple" [nzMaxTagCount]="2">
                    <nz-option *ngFor="let currency of CurrencyData" [nzValue]="currency.CURRENCY_NAME"
                      [nzLabel]="currency.CURRENCY_NAME">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Minimum Amount</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Enter Minimum Amount">
                  <nz-input-group nzAddOnAfter="₹">
                    <input nz-input name="MIN_AMOUNT" placeholder="Enter Minimum Amount" required
                      [(ngModel)]="data.MIN_AMOUNT" (keypress)="commonFunction.forCostFunction($event)"
                      (paste)="commonFunction.handlePaste($event)" autocomplete="off" maxlength="10"
                      (focus)="isFocused = 'MIN_AMOUNT'" (blur)="isFocused = ''" />
                  </nz-input-group>
                </nz-form-control>
                <h6 class="heading-txt" *ngIf="
                    isFocused === 'MIN_AMOUNT' ||
                    (data.MIN_AMOUNT && isFocused === 'MIN_AMOUNT')
                  ">
                  {{ data.MIN_AMOUNT?.toString().length || 0 }}/10
                </h6>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Maximum Amount</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Enter Maximum Amount">
                  <nz-input-group nzAddOnAfter="₹">
                    <input nz-input name="MAX_AMOUNT" placeholder="Enter Maximum Amount" required
                      [(ngModel)]="data.MAX_AMOUNT" (keypress)="commonFunction.forCostFunction($event)"
                      (paste)="commonFunction.handlePaste($event)" autocomplete="off" maxlength="10"
                      (focus)="isFocused = 'MAX_AMOUNT'" (blur)="isFocused = ''" />
                  </nz-input-group>
                </nz-form-control>
                <h6 class="heading-txt" *ngIf="
                    isFocused === 'MAX_AMOUNT' ||
                    (data.MAX_AMOUNT && isFocused === 'MAX_AMOUNT')
                  ">
                  {{ data.MAX_AMOUNT?.toString().length || 0 }}/10
                </h6>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label nzNoColon>Settlement Time</nz-form-label>
                    <nz-form-control>
                      <nz-input-group nzSuffix="(Hrs)">
                        <input nz-input name="SETTLEMENT_TIME" placeholder="Enter Settlement Time" required
                          (keypress)="this.numberOnly($event)" [(ngModel)]="data.SETTLEMENT_TIME" autocomplete="off"
                          maxlength="128" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label nzNoColon>Mode</nz-form-label>
                    <nz-form-control>
                      <nz-select nzAllowClear="true" nzPlaceHolder="Select Mode" name="Mode" [(ngModel)]="data.MODE"
                        nzShowSearch required>
                        <nz-option *ngFor="let mode of ModeData" [nzValue]="mode.value"
                          [nzLabel]="mode.label"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="4">
                  <nz-form-item>
                    <nz-form-label nzNoColon>Status</nz-form-label>
                    <nz-form-control>
                      <nz-switch name="STATUS" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                        [(ngModel)]="data.IS_ACTIVE"></nz-switch>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </form>
</div>
<div class="footer">
  <button nz-button nzType="default" (click)="close()" class="ant-btn footer-btn-margin-12">
    Cancel
  </button>
  <button nz-button *ngIf="!data.ID" nzType="primary" nz-dropdown [nzDropdownMenu]="menu" [nzLoading]="isSpinning"
    (click)="save(false, websitebannerPage)" class="ant-btn ant-btn-primary">
    Save & Close
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item class="menuc footer-dropdown-item-white">
        <a class="footer-button footer-dropdown-link-white" (click)="save(true, websitebannerPage)">
          Save & New
        </a>
      </li>
    </ul>
  </nz-dropdown-menu>
  <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
    (click)="save(false, websitebannerPage)">
    <span>Update & Close</span>
  </button>
</div>