<div>
  <form #myForm="ngForm" nz-form>
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row class="my-box">
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Sub Category Name</nz-form-label>
            <nz-form-control nzErrorTip="Select Category">
              <nz-tree-select name="INVENTRY_SUB_CATEGORY_ID" class="tree-select-full-width" [nzHideUnMatched]="true"
                [nzDropdownStyle]="{
                  'min-height': '10px',
                  'max-height': '300px',
                  'overflow-x': 'auto'
                }" [nzNodes]="InventoryCategoryList" (ngModelChange)="getNamesCatAndSub($event)" nzShowSearch
                [nzAllowClear]="false" nzPlaceHolder="Select Sub Category" [(ngModel)]="data.INVENTRY_SUB_CATEGORY_ID"
                required>
              </nz-tree-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Name</nz-form-label>
            <nz-form-control nzErrorTip="Enter Name">
              <input [(ngModel)]="data.ITEM_NAME" (keypress)="commonFunction.allowOnly($event)" name="itemname"
                autocomplete="off" nz-input maxlength="128" placeholder="Enter Name" required
                (focus)="isFocused = 'ITEM_NAME'" (blur)="isFocused = ''" />
            </nz-form-control>
            <h6 *ngIf="
                isFocused === 'ITEM_NAME' ||
                (data.ITEM_NAME && isFocused === 'ITEM_NAME')
              " class="char-counter-red">
              {{ data.ITEM_NAME?.length || 0 }}/128
            </h6>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="5">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Inventory Type</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Select Inventory Type">
              <nz-select nzShowSearch nzAllowClear="false" class="select-full-width" [nzDisabled]="data.ID ? true : false"
              nzPlaceHolder="Select Inventory Type" [(ngModel)]="data.INVENTORY_TYPE" name="INVENTORY_TYPE">
                <nz-option nzValue="B" nzLabel="Both Sellable & Technician Parts"></nz-option>
                <nz-option nzValue="P" nzLabel="Sellable Inventory"></nz-option>
                <nz-option nzValue="S" nzLabel="Technician Parts Only"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="3">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Short Code</nz-form-label>
            <nz-form-control nzErrorTip="Enter Short Code">
              <input class="input-full-width" nz-input name="ProductShortCode" maxlength="8"
                [(ngModel)]="data.SHORT_CODE" placeholder="Short Code" type="text" required autocomplete="off" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="2">
          <nz-form-item>
            <nz-form-label nzNoColon>Status</nz-form-label>
            <nz-form-control>
              <nz-switch name="STATUS" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                [(ngModel)]="data.STATUS" (ngModelChange)="onStatusChange(data.STATUS)">
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row>
          <div nz-col nzSpan="14">
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Description</nz-form-label>
                  <nz-form-control nzErrorTip="Enter Description">
                    <angular-editor class="editor-resize" name="DESCRIPTIONs" autocomplete="off" id="editor3"
                      [(ngModel)]="data.DESCRIPTION" (ngModelChange)="checkDescriptionLength()" [config]="editorConfig"
                      placeholder="Enter Description"></angular-editor>
                    <h6 class="char-counter-red" *ngIf="cleanTextLength > 0 || isFocused === 'DESCRIPTION'">
                      {{ cleanTextLength }}/50,000
                    </h6>
                    <div *ngIf="showLengthError" class="length-error-text">
                      Description must not exceed 50,000 characters (including tags, formatting, and images).
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="10">
            <div nz-row>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Brand Name</nz-form-label>
                  <nz-form-control nzErrorTip="Select Brand Name">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Brand Name" name="BRAND_ID"
                      [(ngModel)]="data.BRAND_ID" required (ngModelChange)="OnBrandChange($event)">
                      <nz-option *ngFor="let data of BrandData" [nzValue]="data.ID" [nzLabel]="data.BRAND_NAME">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="2">
                <nz-form-item>
                  <div class="brand-button-container">
                    <button nz-button nzType="primary" nzTooltipTitle="Add Brand" nz-tooltip (click)="addBrand()">
                      <span nz-icon nzType="plus" nzTheme="outline"></span>
                    </button>
                  </div>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="10">
                <nz-form-item>
                  <nz-form-label nzNoColon nzRequired>Is Refurbished?</nz-form-label>
                  <nz-form-control>
                    <nz-switch name="IS_REFURBISHED" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                      [(ngModel)]="data.IS_REFURBISHED">
                    </nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzNoColon>HSN Code</nz-form-label>
                  <nz-form-control nzErrorTip="Select HSN Code">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select HSN Code" name="HSNCODE"
                      [(ngModel)]="data.HSN_ID" required (ngModelChange)="OnHSNChange($event)">
                      <nz-option nzCustomContent *ngFor="let data of HSNdata" [nzValue]="data.ID" [nzLabel]="data.CODE">
                        <div class="mainnam">{{ data.CODE }}</div>
                        <div class="subname">{{ data.DESCRIPTION }}</div>
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzNoColon>SKU Code
                    <span nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip
                      nzTooltipTitle="SKU stands for Stock Keeping Unit. It is a unique code assigned to each inventory item to manage your inentory efficiently.">&nbsp;</span>
                  </nz-form-label>
                  <nz-form-control nzErrorTip="Enter SKU Code">
                    <input class="input-full-width" nz-input name="SKU_CODE" maxlength="32" [(ngModel)]="data.SKU_CODE"
                      placeholder="Enter SKU Code" autocomplete="off"
                      (keypress)="commonFunction.allowOnlyaplhaandnum($event)" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="10">
                <nz-form-item>
                  <nz-form-label nzNoColon>Is Have Variants?</nz-form-label>
                  <nz-form-control>
                    <nz-switch name="IS_HAVE_VARIANTS" (ngModelChange)="onVariantChange($event)" nzCheckedChildren="Yes"
                      nzUnCheckedChildren="No" [(ngModel)]="data.IS_HAVE_VARIANTS">
                    </nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" *ngIf="!data.IS_HAVE_VARIANTS">
                <nz-form-item>
                  <nz-form-label nzNoColon>Inventory Details &nbsp;
                    <span><i nz-icon nzType="info-circle" nzTheme="twotone"
                        nzTooltipTitle="Please select an Image file (PNG, JPG, JPEG) with a size up to 1MB."
                        nzTooltipPlacement="top" nz-tooltip>
                      </i> </span></nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Select Inventory Details">
                    <button *ngIf="
                        data.INVENTORY_DETAILS_IMAGE == ' ' ||
                        data.INVENTORY_DETAILS_IMAGE == null
                      " nz-button class="upload-button" (click)="image2.click()">
                      <span nz-icon nzType="upload"></span>Upload Image
                      <input #image2 name="image2" type="file" accept=".png, .jpg, .jpeg"
                        (change)="onFileSelected1($event)" class="file-input-hidden" />
                    </button>
                    <span *ngIf="
                        data.INVENTORY_DETAILS_IMAGE != null &&
                        data.INVENTORY_DETAILS_IMAGE != undefined &&
                        data.INVENTORY_DETAILS_IMAGE != ' '
                      ">
                      <div *ngIf="progressBarImageOne1">
                        <nz-progress [style.width]="percentImageOne1 + '%'" [nzPercent]="percentImageOne1">{{
                          percentImageOne1 }}%</nz-progress>
                      </div>
                    </span>
                    <div *ngIf="
                        data.INVENTORY_DETAILS_IMAGE != null &&
                        data.INVENTORY_DETAILS_IMAGE != undefined &&
                        data.INVENTORY_DETAILS_IMAGE != ' '
                      ">
                      <a class="image-link" (click)="viewImage1(data.INVENTORY_DETAILS_IMAGE)">
                        {{ data.INVENTORY_DETAILS_IMAGE }}
                      </a>
                      <a class="image-link view-icon" (click)="viewImage1(data.INVENTORY_DETAILS_IMAGE)" nz-tooltip
                        nzTooltipTitle="Click Here To View Uploaded Image">
                        <span nz-icon nzType="eye" nzTheme="outline"></span>
                      </a>
                      <span *ngIf="data.ID">
                        <span class="delete-icon-container" nz-popconfirm
                          nzPopconfirmTitle="Are you sure want to delete?" nzPopconfirmPlacement="top"
                          (nzOnConfirm)="image1DeleteConfirm1(data)" (nzOnCancel)="deleteCancel1()">
                          <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#FF0000'" nz-tooltip
                            nzTooltipTitle="Delete">
                          </span>
                        </span>
                      </span>
                      <span *ngIf="!data.ID">
                        <span class="delete-icon-container" nz-popconfirm
                          nzPopconfirmTitle="Are you sure want to delete?" nzPopconfirmPlacement="top"
                          (nzOnConfirm)="removeImage1()" (nzOnCancel)="deleteCancel1()">
                          <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#FF0000'" nz-tooltip
                            nzTooltipTitle="Delete">
                          </span>
                        </span>
                      </span>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-row *ngIf="!data.IS_HAVE_VARIANTS" [nzGutter]="4">
        <div nz-col nzSpan="24">
          <div class="my-box">
            <div nz-row>
              <div nz-col nzSpan="3">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Base Unit</nz-form-label>
                  <nz-form-control nzErrorTip="Select Base Unit">
                    <nz-select [nzDisabled]="disableItems" nzShowSearch (ngModelChange)="onChange($event)"
                      [nzLoading]="Unitload" nzAllowClear="false" nzPlaceHolder="Select Base Unit " name="Unit Name"
                      [(ngModel)]="data.BASE_UNIT_ID" required>
                      <nz-option *ngFor="let data of UnitList" [nzValue]="data.ID" [nzLabel]="data.NAME">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Quantity Per Unit</nz-form-label>
                  <nz-form-control nzErrorTip="Select Qty Per Unit">
                    <input class="input-full-width" nz-input name="BASE_QUANTITY" nzAllowClear="false" maxlength="8"
                      (keypress)="commonFunction.omit($event)" [(ngModel)]="data.BASE_QUANTITY"
                      placeholder="Quantity Per Unit" autocomplete="off" type="text" required
                      [disabled]="data.ID ? true : false" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Average Level</nz-form-label>
                  <nz-form-control nzErrorTip="Enter Average Level">
                    <nz-input-group class="input-group-full-width" [nzAddOnAfter]="UnitName">
                      <input class="input-full-width" nz-input name="AVG_LEVEL" maxlength="8"
                        (keypress)="commonFunction.onlynumdot($event)" [(ngModel)]="data.AVG_LEVEL"
                        placeholder="Average Level" autocomplete="off" type="text" required />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Re-Order Level</nz-form-label>
                  <nz-form-control nzErrorTip="Enter Re-Order Level">
                    <nz-input-group class="input-group-full-width" [nzAddOnAfter]="UnitName">
                      <input class="input-full-width" nz-input name="REORDER_STOCK_LEVEL" maxlength="8"
                        (keypress)="commonFunction.onlynumdot($event)" [(ngModel)]="data.REORDER_STOCK_LEVEL"
                        placeholder="Re-Order Level" autocomplete="off" type="text" required />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Alert Level</nz-form-label>
                  <nz-form-control nzErrorTip="Enter Alert Level">
                    <nz-input-group class="input-group-full-width" [nzAddOnAfter]="UnitName">
                      <input class="input-full-width" nz-input name="ALERT_STOCK_LEVEL" maxlength="8"
                        (keypress)="commonFunction.onlynumdot($event)" [(ngModel)]="data.ALERT_STOCK_LEVEL"
                        placeholder="Alert Level" autocomplete="off" type="text" required />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="4">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Expected Delivery Day(s)</nz-form-label>
                  <nz-form-control nzErrorTip="Expected Delivery Day(s)">
                    <nz-input-group nzAddOnAfter="Days">
                      <input class="input-full-width" nz-input name="EXPECTED_DELIVERY_IN_DAYS" nzAllowClear="false"
                        maxlength="8" (keypress)="commonFunction.omit($event)"
                        [(ngModel)]="data.EXPECTED_DELIVERY_IN_DAYS" placeholder="Expected Delivery Day(s)"
                        autocomplete="off" type="text" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="5">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Expected Delivery Charges</nz-form-label>
                  <nz-form-control nzErrorTip="Expected Delivery Charges">
                    <nz-form-control nzErrorTip="Discount Price">
                      <nz-input-group nzAddOnBefore="₹">
                        <input class="input-width-65" nz-input name="EXPECTED_DELIVERY_CHARGES" nzAllowClear="false"
                          maxlength="8" (keypress)="commonFunction.forCostFunction($event)"
                          (paste)="commonFunction.handlePaste($event)" [(ngModel)]="data.EXPECTED_DELIVERY_CHARGES"
                          placeholder="Expected Delivery Charges" autocomplete="off" type="text" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div class="my-box">
            <div nz-row>
              <div nz-col nzSpan="3">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Base Price</nz-form-label>
                  <nz-form-control nzErrorTip="Enter Base Price">
                    <nz-input-group nzAddOnBefore="₹">
                      <input class="input-full-width text-right" nz-input name="BASE_PRICE" nzAllowClear="false"
                        maxlength="8" (keypress)="commonFunction.forCostFunction($event)"
                        (paste)="commonFunction.handlePaste($event)" [(ngModel)]="data.BASE_PRICE"
                        (ngModelChange)="onBasePriceChange($event)" placeholder="Base Price" autocomplete="off"
                        type="text" required />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Tax Preference</nz-form-label>
                  <nz-form-control nzErrorTip="Select Tax Preference">
                    <nz-select nzShowSearch nzAllowClear="false" nzPlaceHolder="Tax Preference" name="TaxPreference"
                      [(ngModel)]="data.TAX_PREFERENCE" (ngModelChange)="onChangeTax($event)" required>
                      <nz-option [nzValue]="'T'" [nzLabel]="'Taxable'"></nz-option>
                      <nz-option [nzValue]="'NT'" [nzLabel]="'Non Taxable'"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6" *ngIf="data.TAX_PREFERENCE === 'T'">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Tax Slab</nz-form-label>
                  <nz-form-control nzErrorTip="Select Tax Slab">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Tax Slab" name="TAX_ID"
                      [(ngModel)]="data.TAX_ID" required (ngModelChange)="onTaxChange($event)">
                      <nz-option *ngFor="let data of taxData" [nzValue]="data.ID" [nzLabel]="data.NAME">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Selling Price</nz-form-label>
                  <nz-form-control nzErrorTip="Enter Selling Price">
                    <nz-input-group nzAddOnBefore="₹">
                      <input class="input-full-width text-right" nz-input name="SELLING_PRICE" maxlength="8"
                        (keypress)="commonFunction.forCostFunction($event)" (paste)="commonFunction.handlePaste($event)"
                        [(ngModel)]="data.SELLING_PRICE" (ngModelChange)="onSellingPriceChange($event)"
                        placeholder="Selling Price" autocomplete="off" type="text" required
                        [disabled]="data.TAX_PREFERENCE === 'T'" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3">
                <nz-form-item>
                  <nz-form-label nzNoColon>Discount Allowed?</nz-form-label>
                  <nz-form-control>
                    <nz-switch name="DISCOUNT_ALLOWED" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                      [(ngModel)]="data.DISCOUNT_ALLOWED">
                    </nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="data.DISCOUNT_ALLOWED">
                <nz-form-item>
                  <nz-form-label nzNoColon>Discount Price</nz-form-label>
                  <nz-form-control nzErrorTip="Discounted Price">
                    <nz-input-group nzAddOnBefore="₹">
                      <input class="input-full-width" nz-input name="DISCOUNTED_PRICE" nzAllowClear="false"
                        maxlength="8" (keypress)="commonFunction.forCostFunction($event)"
                        (paste)="commonFunction.handlePaste($event)" [(ngModel)]="data.DISCOUNTED_PRICE"
                        placeholder="Discounted Price" autocomplete="off" type="text" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="24">
          <div nz-row class="my-box">
            <div nz-col nzSpan="2">
              <nz-form-item>
                <nz-form-label nzNoColon>Is New?</nz-form-label>
                <nz-form-control>
                  <nz-switch name="IS_NEW" nzCheckedChildren="Yes" nzUnCheckedChildren="No" [(ngModel)]="data.IS_NEW">
                  </nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>
                  Tracking Type</nz-form-label>
                <nz-form-control nzErrorTip="Select Tracking Type">
                  <nz-select nzShowSearch nzAllowClear="false" class="select-full-width"
                    nzPlaceHolder="Select Tracking Type" [(ngModel)]="data.INVENTORY_TRACKING_TYPE"
                    (ngModelChange)="changeTrackingType($event)" name="trackingtype">
                    <nz-option nzValue="N" nzLabel="None"></nz-option>
                    <nz-option nzValue="S" nzLabel="Serial No. Wise"></nz-option>
                    <nz-option nzValue="B" nzLabel="Batch Wise"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="3" *ngIf="data.INVENTORY_TRACKING_TYPE === 'S'">
              <nz-form-item>
                <nz-form-label nzNoColon>Warranty Allowed?</nz-form-label>
                <nz-form-control>
                  <nz-switch name="WARRANTY_ALLOWED" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                    [(ngModel)]="data.WARRANTY_ALLOWED" (ngModelChange)="warrantyUpdate($event)"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="3" *ngIf="
                data.INVENTORY_TRACKING_TYPE === 'S' && data.WARRANTY_ALLOWED
              ">
              <nz-form-item>
                <nz-form-label nzNoColon>Warranty Period<span nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip
                    nzTooltipTitle="Add warranty period in day(s)">&nbsp;</span></nz-form-label>
                <nz-form-control nzErrorTip="Warranty Period">
                  <nz-input-group nzAddOnAfter="Days">
                    <input class="input-full-width" nz-input name="WARRANTY_PERIOD" nzAllowClear="false" maxlength="8"
                      (keypress)="commonFunction.omit($event)" [(ngModel)]="data.WARRANTY_PERIOD"
                      placeholder="Warranty Period" autocomplete="off" type="text" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="5" *ngIf="
                data.INVENTORY_TRACKING_TYPE === 'S' && data.WARRANTY_ALLOWED
              ">
              <nz-form-item>
                <nz-form-label nzNoColon nzRequired>Warranty Card&nbsp;<span nz-icon nzType="info-circle"
                    nzTheme="twotone" nz-tooltip
                    nzTooltipTitle=" Please select an image or pdf file (PNG, JPG, JPEG, pdf) with 1mb file size"></span>
                  <span *ngIf="
                      (data.WARRANTY_CARD && data.WARRANTY_CARD != ' ') ||
                      fileURL
                    " nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete?" nzPopconfirmPlacement="top"
                    (nzOnConfirm)="image1DeleteConfirm(data)" (nzOnCancel)="deleteCancel()"
                    class="warranty-delete-container">
                    <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#FF0000'" nz-tooltip
                      nzTooltipTitle="Delete"></span>
                  </span>
                </nz-form-label>
                <nz-form-control nzHasFeedback>
                  <button *ngIf="
                      !fileURL &&
                      (!data.WARRANTY_CARD || data.WARRANTY_CARD.trim() === '')
                    " class="warranty-upload-button" (click)="image1.click()">
                    <span nz-icon nzType="upload" nzTheme="outline"></span>
                    &nbsp; Warranty Card
                    <input #image1 name="image1" type="file" accept=".png, .jpg, .jpeg, .pdf, .doc, .docx"
                      (change)="onFileSelected($event)" class="file-input-hidden" />
                  </button>
                  &nbsp;
                  <span class="warranty-file-name">
                    {{ data.WARRANTY_CARD }}
                  </span>
                  &nbsp;
                  <a *ngIf="
                      data.WARRANTY_CARD && data.WARRANTY_CARD.trim() !== ''
                    " class="warranty-view-link" [href]="
                      retriveimgUrl + 'WarrantyCard/' + data.WARRANTY_CARD
                    " target="_blank" nz-tooltip nzTooltipTitle="Click Here To View Uploaded file">
                    <span nz-icon nzType="eye" nzTheme="outline"></span>
                  </a>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4" *ngIf="data.INVENTORY_TRACKING_TYPE === 'S'">
              <nz-form-item>
                <nz-form-label nzNoColon>Guarantee Allowed?</nz-form-label>
                <nz-form-control>
                  <nz-switch name="GUARANTEE_ALLOWED" (ngModelChange)="guarantyUpdate($event)" nzCheckedChildren="Yes"
                    nzUnCheckedChildren="No" [(ngModel)]="data.GUARANTEE_ALLOWED">
                  </nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4" *ngIf="
                data.INVENTORY_TRACKING_TYPE === 'S' && data.GUARANTEE_ALLOWED
              ">
              <nz-form-item>
                <nz-form-label nzNoColon>Gaurantee Period<span nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip
                    nzTooltipTitle="Add gaurantee period in day(s)">&nbsp;</span></nz-form-label>
                <nz-form-control nzErrorTip="Guarantee Period">
                  <nz-input-group nzAddOnAfter="Days">
                    <input class="input-full-width" nz-input name="GUARANTEE_PERIOD" nzAllowClear="false" maxlength="8"
                      (keypress)="commonFunction.omit($event)" [(ngModel)]="data.GUARANTEE_PERIOD"
                      placeholder="Gaurantee Period" autocomplete="off" type="text" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="3" *ngIf="
                data.INVENTORY_TRACKING_TYPE === 'B' ||
                data.INVENTORY_TRACKING_TYPE === 'S'
              ">
              <nz-form-item>
                <nz-form-label nzNoColon>Expiry Allowed?</nz-form-label>
                <nz-form-control>
                  <nz-switch name="EXPIRY_DATE_ALLOWED" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                    [(ngModel)]="data.EXPIRY_DATE_ALLOWED"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </form>
  <div class="footer">
    <button nz-button (click)="close(myForm)" type="button" class="ant-btn footer-button-cancel">
      <span>Cancel</span>
    </button>
    <button nz-button *ngIf="!data.ID" [nzLoading]="isSpinning" [nzDropdownMenu]="menu"
      (nzOnConfirm)="save(false, myForm)" [nzOkText]="'Yes'" (nzOnCancel)="deleteCancel()" nz-popconfirm
      nzPopconfirmTitle="Are you sure, you want to save inventory information?" nzPopconfirmPlacement="top"
      type="button" class="ant-btn ant-btn-primary" nz-dropdown>
      <span>Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc menu-item-rounded">
          <a (nzOnConfirm)="save(true, myForm)" [nzOkText]="'Yes'" (nzOnCancel)="deleteCancel()" nz-popconfirm
            nzPopconfirmTitle="Are you sure, you want to save inventory information?" nzPopconfirmPlacement="top"
            class="menu-link-white">Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button *ngIf="data.ID" [nzLoading]="isSpinning" (nzOnConfirm)="save(false, myForm)" [nzOkText]="'Yes'"
      (nzOnCancel)="deleteCancel()" nz-popconfirm
      nzPopconfirmTitle="Are you sure, you want to update inventory information?" nzPopconfirmPlacement="top"
      type="button" class="ant-btn ant-btn-primary" nz-button>
      <span>Update & Close</span>
    </button>
  </div>
</div>
<div *ngIf="drawerbrandVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="true" [nzWidth]="500" [nzVisible]="drawerbrandVisible"
    [nzTitle]="drawerbrandTitle" (nzOnClose)="drawerbrandClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-brand-master-form [drawerClose]="closebrandCallback" [drawerVisible]="drawerbrandVisible"
        [data]="drawerbrandData"></app-brand-master-form>
    </ng-container>
  </nz-drawer>
</div>
<nz-modal [nzWidth]="1000" [(nzVisible)]="ImageModalVisible1" nzMaskClosable="false" nzClosable="false"
  [nzContent]="content1" [nzTitle]="'Image View'" (nzOnCancel)="ImageModalCancel1()" [nzFooter]="ImageModalFooter1">
  <ng-template #content1>
    <nz-spin [nzSpinning]="isSpinning">
      <div *ngIf="imageshow1" class="modal-iframe-container">
        <iframe [src]="imageshow1" class="modal-iframe" frameborder="0">
        </iframe>
      </div>
    </nz-spin>
  </ng-template>
  <ng-template #ImageModalFooter1>
    <button nz-button nzType="default" (click)="ImageModalCancel1()">
      Close
    </button>
  </ng-template>
</nz-modal>