<div nz-row nzType="flex">
  <div nz-col nzSpan="8">
    <div class="formname"><span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline"
        style="font-weight: bold; cursor: pointer"></span>&nbsp;&nbsp;{{ formTitle }}</div>
  </div>

  <div nz-col nzSpan="16" style="display: flex; justify-content: flex-end">
    <form nz-form nzLayout="inline">
      <nz-form-item style="width: 47px">
        <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>

      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" nz-input placeholder="Min 3 chars required." [(ngModel)]="searchText"
            (keyup)="keyup()" />
        </nz-input-group>
      </nz-form-item>

      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search()">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>

      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add Service catalogue
        </button>
      </nz-form-item>
    </form>
  </div>
</div>

<!-- Main Filter -->
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <form nz-form>
          <div *ngFor="let filter of filterBox; let i = index">
            <div nz-row [nzGutter]="24" style="margin: 10px 0px">
              <div nz-col [nzSpan]="9"></div>
              <div nz-col [nzSpan]="6">
                <nz-select *ngIf="i != 0" [(ngModel)]="filterBox[i]['CONDITION']" name="filterbox-{{ i }}"
                  nzPlaceHolder="Select Operator">
                  <nz-option *ngFor="let operator of operators" [nzValue]="operator" [nzLabel]="operator"></nz-option>
                </nz-select>
              </div>
              <div nz-col [nzSpan]="9"></div>
            </div>

            <div style="
                border: 1px dashed black;
                border-radius: 5px;
                padding: 10px;
              ">
              <!-- <nz-card style="border: 1px dashed black; border-radius: 5px; padding: 0px;">
              <nz-card-meta [nzTitle]="'Condition ' + (i + 1)">
                <span *ngIf="filterBox.length > 1">
                  <i nz-icon nzType="delete" nzTheme="fill" (click)="removeCondition(i)"></i>
                </span>
              </nz-card-meta> -->

              <div nz-row [nzGutter]="24" *ngFor="let subfilter of filter.FILTER; let j = index"
                style="margin-bottom: 5px">
                <div nz-col [nzSpan]="8">
                  <nz-select name="selection1-{{ i }}-{{ j }}" nzPlaceHolder="Select Column"
                    [(ngModel)]="filter.FILTER[j].SELECTION1">
                    <nz-option *ngFor="let column of columns1" [nzValue]="column.value"
                      [nzLabel]="column.label"></nz-option>
                  </nz-select>
                </div>
                <div nz-col [nzSpan]="4">
                  <nz-select [(ngModel)]="filter.FILTER[j].SELECTION2" name="selection2-{{ i }}-{{ j }}"
                    nzPlaceHolder="Select Comparison">
                    <nz-option *ngFor="let option of getComparisonOptions(subfilter.SELECTION1)" [nzValue]="option"
                      [nzLabel]="option"></nz-option>
                  </nz-select>
                </div>
                <div nz-col [nzSpan]="8">
                  <input *ngIf="
                  filter.FILTER[j].SELECTION1 !== 'Description' &&
                  filter.FILTER[j].SELECTION1 !== 'EXPRESS_PRICE_B2B'  &&
                  filter.FILTER[j].SELECTION1 !== 'EXPRESS_PRICE_B2C'  &&
                  filter.FILTER[j].SELECTION1 !== 'REGULAR_PRICE_B2C'  &&
                  filter.FILTER[j].SELECTION1 !== 'REGULAR_PRICE_B2B'  &&
                  filter.FILTER[j].SELECTION1 !== 'CATEGORY_ID'  &&
                  filter.FILTER[j].SELECTION1 !== 'SUBCATEGORY_ID' &&
                  filter.FILTER[j].SELECTION1 !== 'DURATION' &&
                  filter.FILTER[j].SELECTION1 !== 'AVAILABILITY_STATUS'" nz-input
                    [(ngModel)]="filter.FILTER[j].SELECTION3" name="selection3-{{ i }}-{{ j }}" type="text"
                    placeholder="Enter Name" required minlength="3" maxlength="32" />
                  <input *ngIf="
                  filter.FILTER[j].SELECTION1 === 'Description' " nz-input [(ngModel)]="filter.FILTER[j].SELECTION3"
                    name="selection3-{{ i }}-{{ j }}" type="text" placeholder="Enter Description" required minlength="3"
                    maxlength="32" />
                  <nz-select *ngIf="
                      filter.FILTER[j].SELECTION1 === 'CATEGORY_ID'
                    " name="selection3-dropdown-{{ i }}-{{ j }}" nzPlaceHolder="Select Category"
                    [(ngModel)]="filter.FILTER[j].SELECTION3">
                    <nz-option *ngFor="let category of CategoryData" [nzValue]="category.ID"
                      [nzLabel]="category.CATEGORY_NAME"></nz-option>
                  </nz-select>

                  <nz-select *ngIf="
                      filter.FILTER[j].SELECTION1 === 'SUBCATEGORY_ID'
                    " name="selection3-dropdown-{{ i }}-{{ j }}" nzPlaceHolder="Select Sub Category"
                    [(ngModel)]="filter.FILTER[j].SELECTION3">
                    <nz-option *ngFor="let subcategory of SubCategoryData" [nzValue]="subcategory.ID"
                      [nzLabel]="subcategory.NAME"></nz-option>
                  </nz-select>
                  <input *ngIf="
                  filter.FILTER[j].SELECTION1 === 'REGULAR_PRICE_B2B' " nz-input
                    [(ngModel)]="filter.FILTER[j].SELECTION3" name="selection3-{{ i }}-{{ j }}" type="text"
                    placeholder="Enter Price B2B (₹)" required minlength="3" maxlength="32" />
                  <input *ngIf="
                  filter.FILTER[j].SELECTION1 === 'REGULAR_PRICE_B2C' " nz-input
                    [(ngModel)]="filter.FILTER[j].SELECTION3" name="selection3-{{ i }}-{{ j }}" type="text"
                    placeholder="Enter Price B2C (₹)" required minlength="3" maxlength="32" />
                  <input *ngIf="
                  filter.FILTER[j].SELECTION1 === 'EXPRESS_PRICE_B2B' " nz-input
                    [(ngModel)]="filter.FILTER[j].SELECTION3" name="selection3-{{ i }}-{{ j }}" type="text"
                    placeholder="Enter Express Price B2B (₹)" required minlength="3" maxlength="32" />
                  <input *ngIf="
                  filter.FILTER[j].SELECTION1 === 'EXPRESS_PRICE_B2C' " nz-input
                    [(ngModel)]="filter.FILTER[j].SELECTION3" name="selection3-{{ i }}-{{ j }}" type="text"
                    placeholder="Enter Express Price B2C (₹)" required minlength="3" maxlength="32" />
                  <input *ngIf="
                  filter.FILTER[j].SELECTION1 === 'DURATION' " nz-input [(ngModel)]="filter.FILTER[j].SELECTION3"
                    name="selection3-{{ i }}-{{ j }}" type="text" placeholder="Enter Estimation Time (mins)" required
                    minlength="3" maxlength="32" />
                  <nz-select *ngIf="filter.FILTER[j].SELECTION1 === 'AVAILABILITY_STATUS'"
                    name="selection3-dropdown-{{i}}-{{j}}" nzPlaceHolder="Select Status"
                    [(ngModel)]="filter.FILTER[j].SELECTION3">
                    <nz-option *ngFor="let status of listOfFilter" [nzValue]="status.value"
                      [nzLabel]="status.text"></nz-option>
                  </nz-select>
                </div>
                <div nz-col [nzSpan]="4">
                  <button style="margin-right: 10px" nz-button nzType="primary" (click)="insertSubCondition(i, j)">
                    <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
                  </button>
                  <button *ngIf="hide" nz-button nzType="primary" (click)="applyFilter(i, j)">
                    <span nz-icon nzType="filter"></span>
                  </button>
                  <button *ngIf="j > 0" nz-button nzType="primary" nzDanger (click)="removeSubCondition(i, j)">
                    <span nz-icon nzType="delete"></span>
                  </button>
                </div>
              </div>

              <div *ngIf="filter.FILTER.length > 2" style="color: red; font-size: 11px">
                *If you use mixed comparers, then AND operator will have 1st
                preference.
              </div>
            </div>
            <!-- </nz-card> -->
          </div>

          <div nz-row [nzGutter]="24" style="padding-top: 10px">
            <div nz-col [nzSpan]="4"></div>
            <div nz-col [nzSpan]="20" style="display: flex; justify-content: flex-end">
              <button nz-button nzType="primary" (click)="generateQuery()" style="margin-right: 10px">
                Insert New Condition
              </button>
              <button nz-button nzType="primary" (click)="saveQuery()" style="margin-right: 10px">
                Save
              </button>
              <button nz-button nzType="primary" (click)="createFilterQuery()" style="margin-right: 10px">
                Apply Filter
              </button>
              <button nz-button nzType="default" (click)="resetValues()">
                Reset
              </button>
            </div>
          </div>

          <div nz-row style="padding-top: 10px">
            <div nz-col [nzSpan]="24">
              <div style="
                  border: 1px dashed black;
                  border-radius: 5px;
                  padding: 10px;
                ">
                <!-- <ng-container
                  *ngIf="INSERT_NAMES && INSERT_NAMES.length > 0; else noData"
                >
                  <ng-container *ngFor="let item of INSERT_NAMES">
                    <nz-tag nzMode="closeable" (nzOnClose)="deleteItem(item)">
                      {{ item.name }}
                    </nz-tag>
                  </ng-container>
                </ng-container>
                <ng-template #noData>
                  <div
                    style="text-align: center; color: red; font-weight: bold"
                  >
                    No Previous Filters Are Found
                  </div>
                </ng-template> -->

                <ng-container *ngIf="INSERT_NAMES && INSERT_NAMES.length > 0; else noData">
                  <ng-container *ngFor="let item of INSERT_NAMES">
                    <nz-tag [nzColor]="'default'" style="margin: 5px; display: inline-flex; align-items: center;">
                      <span style="color: black; margin-right: 10px;">{{ item.name }}</span>
                      <span>
                        <i nz-icon nzType="search" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Apply Filter'"
                          (click)="createFilterQuery()" style="color: #01ac5c; margin-right: 8px;"></i>
                        <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Delete'"
                          (click)="deleteItem(item)" style="color: red; margin-right: 8px;"></i>
                        <i nz-icon nzType="eye" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Show Query'"
                          (click)="toggleLiveDemo(item.query, item.name)" style="color: blue;"></i>
                      </span>
                    </nz-tag>
                  </ng-container>
                </ng-container>
                <ng-template #noData>
                  <div style="text-align: center; color: red; font-weight: bold;">
                    No Previous Filters Are Found
                  </div>
                </ng-template>


              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Main Filter -->

<!-- Table -->
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" #table [nzData]="dataList" [nzLoading]="loadingRecords"
      [nzTotal]="totalRecords" nzBordered [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)" [nzSize]="'small'"
      nzShowSizeChanger [nzFrontPagination]="false" [nzScroll]="{ y: '50vh' }" style="white-space: pre-line">
      <thead>
        <tr>
          <th nzWidth="90px" nzLeft>Action
            <nz-filter-trigger [(nzVisible)]="showcloumnVisible" [nzDropdownMenu]="showcolumn1">
              <span nz-icon nzType="down" nzTheme="outline"></span>
            </nz-filter-trigger>
          </th>

          <th *ngIf="isColumnVisible('CATEGORY_ID')" nzWidth="120px" nzShowSort align="center"
            nzColumnKey="{{ 'CATEGORY_ID' }}" [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter nzLeft>
            Category
            <nz-filter-trigger [(nzVisible)]="categoryVisible" [nzDropdownMenu]="categorydropdown">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>

          <th *ngIf="isColumnVisible('SUBCATEGORY_ID')" nzWidth="150px" nzShowSort align="center"
            nzColumnKey="{{ 'SUBCATEGORY_ID' }}" [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter>
            Sub Category
            <nz-filter-trigger [(nzVisible)]="subcategoryVisible" [nzDropdownMenu]="subcategorydropdown">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>

          <th *ngIf="isColumnVisible('NAME')" nzWidth="150px" nzShowSort align="center" nzColumnKey="{{ 'NAME' }}"
            [nzSortFn]="true" nzCustomFilter>
            Service Name
            <nz-filter-trigger [(nzVisible)]="sercatnameVisible" [nzDropdownMenu]="sercatname">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>

          <th *ngIf="isColumnVisible('DESCRIPTION')" nzWidth="190px" nzShowSort align="center"
            nzColumnKey="{{ 'DESCRIPTION' }}" [nzSortFn]="true" nzCustomFilter>
            Service Description
            <nz-filter-trigger [(nzVisible)]="sercatdescVisible" [nzDropdownMenu]="sercatdesc">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>

          <th *ngIf="isColumnVisible('REGULAR_PRICE_B2B')" nzWidth="150px" nzShowSort align="center"
            nzColumnKey="{{ 'REGULAR_PRICE_B2B' }}" [nzSortFn]="true" nzCustomFilter>
            Price B2B (₹)
            <nz-filter-trigger [(nzVisible)]="b2bVisible" [nzDropdownMenu]="b2b">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>

          <th *ngIf="isColumnVisible('REGULAR_PRICE_B2C')" nzWidth="150px" nzShowSort align="center"
            nzColumnKey="{{ 'REGULAR_PRICE_B2C' }}" [nzSortFn]="true" nzCustomFilter>
            Price B2C (₹)
            <nz-filter-trigger [(nzVisible)]="b2cVisible" [nzDropdownMenu]="b2c">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('REGULAR_PRICE_B2B')" nzWidth="200px" nzShowSort align="center"
            nzColumnKey="{{ 'REGULAR_PRICE_B2B' }}" [nzSortFn]="true" nzCustomFilter>
            Express Price B2B (₹)
            <nz-filter-trigger [(nzVisible)]="expressb2bVisible" [nzDropdownMenu]="expressb2b">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>

          <th *ngIf="isColumnVisible('EXPRESS_PRICE_B2C')" nzWidth="200px" nzShowSort align="center"
            nzColumnKey="{{ 'EXPRESS_PRICE_B2C' }}" [nzSortFn]="true" nzCustomFilter>
            Express Price B2C (₹)
            <nz-filter-trigger [(nzVisible)]="expressb2cVisible" [nzDropdownMenu]="expressb2c">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>

          <th *ngIf="isColumnVisible('DURATION')" nzWidth="220px" nzShowSort align="center"
            nzColumnKey="{{ 'DURATION' }}" [nzSortFn]="true" nzCustomFilter>
            Estimation Time (mins)
            <nz-filter-trigger [(nzVisible)]="estimationTimeVisible" [nzDropdownMenu]="estimationTime">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th>
          <th *ngIf="isColumnVisible('SERVICE_IMAGE_URL')" nzWidth="150px">
            catlogue Image
          </th>

          <th *ngIf="isColumnVisible('AVAILABILITY_STATUS')" nzWidth="90px" nzShowSort
            nzColumnKey="{{ 'AVAILABILITY_STATUS' }}" [nzSortFn]="true" [nzFilters]="listOfFilter"
            [nzFilterMultiple]="false" (nzFilterChange)="onStatusFilterChange($event)">
            Status
          </th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let data of table.data">
          <td align="center" nzLeft>
            <nz-space>
              <a (click)="edit(data)" *nzSpaceItem>
                <span nz-icon nzType="edit" nzTheme="twotone" style="font-size: 15px" nzTooltipTitle="Edit"
                  nz-tooltip></span>
              </a>

              <a (click)="mapSkill(data)" *nzSpaceItem>
                <span nz-icon nzType="form" nzTheme="outline" style="font-size: 15px" nzTooltipTitle="Map Skill"
                  nz-tooltip></span>
              </a>

            </nz-space>


          </td>
          <td *ngIf="isColumnVisible('CATEGORY_ID')" nzLeft>{{ data["CATEGORY_NAME"] }}</td>
          <td *ngIf="isColumnVisible('SUBCATEGORY_ID')">{{ data["SUBCATEGORY_NAME"] }}</td>
          <td align="left" *ngIf="isColumnVisible('NAME')">
            <span *ngIf="data['NAME'] != null">
              <span *ngIf="data['NAME'].length >= 10" nz-popover [nzPopoverContent]="data['NAME']"
                nzPopoverPlacement="topLeft">
                {{ data["NAME"] == null ? "-" : (data["NAME"] | slice : 0 : 10)
                }}{{ data["NAME"].length > 10 ? "..." : "" }}
              </span>
              <span *ngIf="data['NAME'].length < 10">
                {{
                data["NAME"] == null ? "-" : (data["NAME"] | slice : 0 : 10)
                }}
                {{ data["NAME"].length > 10 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['NAME'] == null">-</span>
          </td>

          <td align="left" *ngIf="isColumnVisible('DESCRIPTION')">
            <span *ngIf="data['DESCRIPTION'] != null">
              <span *ngIf="data['DESCRIPTION'].length >= 40" nz-popover [nzPopoverContent]="data['DESCRIPTION']"
                nzPopoverPlacement="topLeft">
                {{
                data["DESCRIPTION"] == null
                ? "-"
                : (data["DESCRIPTION"] | slice : 0 : 50)
                }}{{ data["DESCRIPTION"].length > 50 ? "..." : "" }}
              </span>
              <span *ngIf="data['DESCRIPTION'].length < 50">
                {{
                data["DESCRIPTION"] == null
                ? "-"
                : (data["DESCRIPTION"] | slice : 0 : 50)
                }}
                {{ data["DESCRIPTION"].length > 50 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['DESCRIPTION'] == null">-</span>
          </td>
          <td align="right" *ngIf="isColumnVisible('REGULAR_PRICE_B2B')">{{ data["REGULAR_PRICE_B2B"] }}</td>
          <td align="right" *ngIf="isColumnVisible('REGULAR_PRICE_B2C')">{{ data["REGULAR_PRICE_B2C"] }}</td>
          <td align="right" *ngIf="isColumnVisible('EXPRESS_PRICE_B2B')">{{ data["EXPRESS_PRICE_B2B"] }}</td>
          <td align="right" *ngIf="isColumnVisible('EXPRESS_PRICE_B2C')">{{ data["EXPRESS_PRICE_B2C"] }}</td>
          <td align="center" *ngIf="isColumnVisible('DURATION')">{{ data["DURATION"] }}</td>
          <td align="center" *ngIf="isColumnVisible('SERVICE_IMAGE_URL')">
            <ng-container *ngIf="data.SERVICE_IMAGE_URL; else noLink">
              <button nz-button nzType="link" (click)="viewImage(data.SERVICE_IMAGE_URL)">
                View
              </button>
            </ng-container>
            <ng-template #noLink>-</ng-template>
          </td>
          <td align="center" *ngIf="isColumnVisible('AVAILABILITY_STATUS')">
            <!-- {{ data["AVAILABILITY_STATUS"] }} -->

            <i nz-icon *ngIf="data['AVAILABILITY_STATUS']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>
            <i nz-icon *ngIf="!data['AVAILABILITY_STATUS']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Hide show -->
    <nz-dropdown-menu #showcolumn1="nzDropdownMenu">
      <ul nz-menu nzPlacement="bottomRight">
        <li nz-menu-item *ngFor="let column of showcolumn">
          <label nz-checkbox [(ngModel)]="column.visible" (ngModelChange)="isColumnVisible(column)">
            {{ column.label }}
          </label>
        </li>
      </ul>
    </nz-dropdown-menu>
    <!-- Name Dropdown -->
    <nz-dropdown-menu #sercatname="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="servicecattext" (ngModelChange)="search()"
              placeholder="Search Service Name" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="servicecattext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="servicecattext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>

    <!-- Description Dropdown -->
    <nz-dropdown-menu #sercatdesc="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="servicecatdesctext" (ngModelChange)="search()"
              placeholder="Search Description" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="servicecatdesctext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="servicecatdesctext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <!-- category Filter -->
    <nz-dropdown-menu #categorydropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder="Select Category" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedCategories" (ngModelChange)="onCategoryChange()">
            <nz-option *ngFor="let data of CategoryData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>

    <!-- subcategory Filter -->
    <nz-dropdown-menu #subcategorydropdown="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder="Select Sub Category" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedSubCategories"
            (ngModelChange)="onSubCategoryChange()">
            <nz-option *ngFor="let data of SubCategoryData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <!-- B2B Dropdown -->
    <nz-dropdown-menu #b2b="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="B2Btext" (ngModelChange)="search()"
              placeholder="Search Price B2B (₹)" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="B2Btext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="B2Btext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>

    <!-- B2C Dropdown -->
    <nz-dropdown-menu #b2c="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="B2Ctext" (ngModelChange)="search()"
              placeholder="Search Price B2C (₹)" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="B2Ctext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="B2Ctext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <!-- expressB2b Dropdown -->
    <nz-dropdown-menu #expressb2b="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="expresspriceb2b" (ngModelChange)="search()"
              placeholder="Search Express Price For B2B (₹)" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="expresspriceb2b"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="expresspriceb2b == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
    <!-- express B2C Dropdown -->
    <nz-dropdown-menu #expressb2c="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="expresspriceb2c" (ngModelChange)="search()"
              placeholder="Search Express Price For B2C (₹)" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="expresspriceb2c"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="expresspriceb2c == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>

    <!-- Estimation Time -->
    <nz-dropdown-menu #estimationTime="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="estimationTimemins" (ngModelChange)="search()"
              placeholder="Search Estimation Time(mins)" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="estimationTimemins"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="estimationTimemins == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>

<!--Drawer-->
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="600" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-service-cat-master-drawer [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData">
      </app-service-cat-master-drawer>
    </ng-container>
  </nz-drawer>
</div>

<!-- Mapping Drawer -->
<div *ngIf="drawerMappigVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px','padding-top': '10px','padding-left': '17px','padding-right': '17px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="widthsSkill"
    [nzVisible]="drawerMappigVisible" [nzTitle]="drawerMappingTitle" (nzOnClose)="draweMappingClose()"
    (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-skill-mapping [drawerClose]="closeCallbackMapping" [Type]="'Main'" [drawerVisible]="drawerMappigVisible"
        [data]="drawerData">
      </app-skill-mapping>
    </ng-container>
  </nz-drawer>
</div>

<nz-modal [nzWidth]="900" [(nzVisible)]="ImageModalVisible" nzMaskClosable="false" nzClosable="false"
  [nzContent]="content" [nzTitle]="'Image View'" (nzOnCancel)="ImageModalCancel()" [nzFooter]="ImageModalFooter">
  <ng-template #content>
    <nz-spin [nzSpinning]="loadingRecords">
      <div *ngIf="imageshow != undefined && imageshow != null && imageshow != ''" class="ss"
        style="height: 400px; overflow: auto">
        <iframe [src]="imageshow" style="width: 832px; height: 396px" frameborder="0"></iframe>
      </div>
    </nz-spin>
  </ng-template>
  <ng-template #ImageModalFooter>
    <button nz-button nzType="default" (click)="ImageModalCancel()">
      Close
    </button>
  </ng-template>
</nz-modal>


<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="visiblesave" nzTitle="Generate Query"
  (nzOnCancel)="handleCancelTop()" (nzOnOk)="handleOkTop()" [nzOkText]="'Save'">
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item style=" display: inline-block;
              margin-bottom: 5px;
              width: -webkit-fill-available;
              padding: 0px 10px;">
          <nz-form-label nzRequired nzNoColon>Query Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Query Name ">
            <input nz-input name="Name" [(ngModel)]="QUERY_NAME" placeholder="Enter Query Name" maxlength="256" required
              autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </ng-container>
</nz-modal>


<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Query Details'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 style="text-align: center;">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>