<div>
  <form nz-form #formData="ngForm">
    <div nz-row>
      <div nz-col nzSpan="5">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Quantity per unit</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Quantity per unit">
            <nz-input-group class="input-group-full-width" [nzAddOnAfter]="UnitName">
              <input nz-input autocomplete="off" [(ngModel)]="data2.QUANTITY_PER_UNIT" name="QUANTITY_PER_UNIT"
                maxlength="10" (keypress)="commonFunction.onlynum($event)" placeHolder="Enter Quantity per unit" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="5">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Unit</nz-form-label>
          <nz-form-control nzErrorTip="Enter Unit">
            <nz-input-group class="input-group-full-width" nzAddOnBefore="1">
              <nz-select name="ExtraUnit" [(ngModel)]="data2.UNIT_ID" required nzPlaceHolder="Select Unit ">
                <nz-option *ngFor="let prod of UnitData" [nzValue]="prod.ID" [nzLabel]="prod.NAME">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Average Level</nz-form-label>
          <nz-form-control nzErrorTip="Enter Average Level">
            <nz-input-group class="input-group-full-width">
              <input class="input-full-width" nz-input name="AVG_LEVEL" maxlength="8"
                (keypress)="commonFunction.onlynumdot($event)" [(ngModel)]="data2.AVG_LEVEL" placeholder="Average Level"
                autocomplete="off" type="text" required />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Re-Order Level</nz-form-label>
          <nz-form-control nzErrorTip="Enter Re-Order Level">
            <nz-input-group class="input-group-full-width">
              <input class="input-full-width" nz-input name="REORDER_STOCK_LEVEL" maxlength="8"
                (keypress)="commonFunction.onlynumdot($event)" [(ngModel)]="data2.REORDER_STOCK_LEVEL"
                placeholder="Re-Order Level" autocomplete="off" type="text" required />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Alert Level</nz-form-label>
          <nz-form-control nzErrorTip="Enter Alert Level">
            <nz-input-group class="input-group-full-width">
              <input class="input-full-width" nz-input name="ALERT_STOCK_LEVEL" maxlength="8"
                (keypress)="commonFunction.onlynumdot($event)" [(ngModel)]="data2.ALERT_STOCK_LEVEL"
                placeholder="Alert Level" autocomplete="off" type="text" required />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="2">
        <nz-form-item class="form-item-margin-top">
          <div>
            <nz-form-label nzNoColon></nz-form-label>
          </div>
          <nz-form-control>
            <button nz-button nzType="primary" nzJustify="end" (click)="addData(true, formData)">
              <i nz-icon nzType="plus"></i>
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <hr class="hr-margin" />
  <div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-table class="my-scroll no-wrap1 table-bordered" nzBordered [nzLoading]="loadingRecords" #DataTable
          nzShowSizeChanger [nzFrontPagination]="false" [nzData]="Data" nzSize="small" [nzScroll]="{ y: '60vh' }">
          <thead>
            <tr>
              <th nzWidth="50px" class="th-center">Action</th>
              <th nzWidth="120px" class="th-center">
                Quantity per unit
              </th>
              <th nzWidth="80px" class="th-center">Unit</th>
              <th nzWidth="100px" class="th-center">Avg Level</th>
              <th nzWidth="100px" class="th-center">Re-Order Level</th>
              <th nzWidth="100px" class="th-center">Alert Level</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of DataTable.data; let i = index">
              <td class="td-center">
                <nz-tag nzColor="#2db7f5" *ngIf="data.UNIT_ID !== UnitId" (click)="edit1(data, i)" nz-tooltip
                  nzTooltipTitle="Edit" class="action-tag">
                  <span nz-icon nzType="edit" nzTheme="outline" class="action-tag-icon">
                  </span>&nbsp;&nbsp;Edit
                </nz-tag>
              </td>
              <td class="td-preline td-center">
                {{ data["QUANTITY_PER_UNIT"] }}
              </td>
              <td class="td-preline td-center">
                {{ data["UNIT_NAME"] }}
              </td>
              <td class="td-preline td-center">
                {{ data["AVG_LEVEL"] }}
              </td>
              <td class="td-preline td-center">
                {{ data["REORDER_STOCK_LEVEL"] }}
              </td>
              <td class="td-preline td-center">
                {{ data["ALERT_STOCK_LEVEL"] }}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
  <div class="footer">
    <button type="button" nz-button (click)="close()" class="ant-btn footer-button-cancel">
      <span>Cancel</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary footer-button-primary" nz-button [nzLoading]="loadingRecords"
      (nzOnConfirm)="save()" [nzOkText]="'Yes'" (nzOnCancel)="deleteCancel()" nz-popconfirm
      nzPopconfirmTitle="Are you sure, you want to map units to this inventory?" nzPopconfirmPlacement="top">
      <span>Map & Close</span>
    </button>
  </div>
</div>