nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
  width: 100%;
}
.header {
  position: absolute;
  top: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  right: 0px;
}
.disabled-row {
  opacity: 0.5;
  pointer-events: none;
}
.input-group-full-width {
  width: 100%;
}
.input-full-width {
  width: 100%;
}
.form-item-margin-top {
  margin-top: 5px;
}
.hr-margin {
  margin-top: 10px !important;
  margin-bottom: 7px !important;
}
.table-bordered {
  border: 1px solid #e8e8e8;
}
.th-center {
  text-align: center;
}
.td-center {
  text-align: center;
}
.td-preline {
  white-space: pre-line;
}
.action-tag {
  cursor: pointer;
}
.action-tag-icon {
  font-size: 15px;
}
.footer-button-cancel {
  margin-right: 8px;
}