<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12" nzSpan="12">
    <div class="formname" *ngIf="TYPE == ''">View Invoices</div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="12">
    <div class="flex-end-container">
      <button nz-button class="filter-button" nzTooltipTitle="Filter" [nzType]="isFilterApplied"
        nzTooltipPlacement="top" nz-tooltip (click)="showFilter()" *ngIf="!showMinimal">
        <i nz-icon nzType="filter"></i>
      </button>
      <form nz-form [nzLayout]="'inline'" *ngIf="!showMinimal">
        <nz-form-item class="Changeformitm form-item-search">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" name="webbannersearch" (keydown.enter)="onKeypressEvent($event)" [(ngModel)]="searchText"
              nz-input placeholder="Search" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" id="buttonss" (click)="searchdata()" nzSearch>
              <i nz-icon nzType="search"></i>
            </button>
          </ng-template>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <form nz-form>
          <div nz-row>
            <div nz-col nzSpan="5">
              <nz-form-item class="form-item-margin">
                <nz-form-label nzNoColon>Invoice Date</nz-form-label>
                <nz-range-picker class="full-width" [nzFormat]="'dd/MM/yyyy'" nzAllowClear="false" [nzRanges]="ranges"
                  (nzOnCalendarChange)="changeDate($event)" name="selectedDate" [(ngModel)]="selectedDate">
                </nz-range-picker>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="7" *ngIf="TYPE != 'CUSTOMER'">
              <nz-form-item class="form-item-margin">
                <nz-form-label nzNoColon>Customers</nz-form-label>
                <nz-select nzShowSearch nzAllowClear nzMode="multiple" nzPlaceHolder="Select Customers"
                  [nzShowArrow]="true" class="full-width-light" [nzMaxTagCount]="2" name="Customerss"
                  [(ngModel)]="Customers">
                  <nz-option *ngFor="let list of CustomersData" [nzValue]="list.ID" [nzLabel]="list.NAME"></nz-option>
                </nz-select>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="5" *ngIf="TYPE != 'CUSTOMER'">
              <nz-form-item class="filtclass">
                <nz-form-label nzNoColon> Customer Type</nz-form-label>
                <nz-radio-group [(ngModel)]="custType" name="SectionType">
                  <label nz-radio nzValue="I">Individual(B2C)</label>
                  <label nz-radio nzValue="B">Business(B2B)</label>
                </nz-radio-group>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="7" class="filter-buttons">
              <button nz-button [nzLoading]="loadingRecords" nzType="primary" class="flexicons" (click)="applyFilter()">
                <i nz-icon nzType="filter"></i>Apply Filter
              </button>
              <button nz-button nzType="primary" class="flexicons" (click)="clearFilter()">
                <i nz-icon nzType="delete"></i>Clear filter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div nz-row class="table-container">
  <div nz-col nzSpan="24">
    <nz-table #basictablez [nzBordered]="true" [nzSize]="'middle'" [nzShowPagination]="true" [nzData]="tableData"
      [nzLoading]="loadingRecords" [nzScroll]="{ x: '1200px', y: '60vh' }" (nzQueryParams)="sort($event)"
      *ngIf="showMinimal">
      <thead>
        <tr>
          <th nzWidth="100px" nzLeft>View</th>
          <th nzWidth="300px" nzLeft [nzSortFn]="true" nzColumnKey="CUSTOMER_NAME" *ngIf="TYPE != 'CUSTOMER'">
            Customer Name
          </th>
          <th nzWidth="150px" [nzSortFn]="true" nzColumnKey="CUSTOMER_TYPE" *ngIf="TYPE != 'CUSTOMER'">
            Customer Type
          </th>
          <th nzWidth="150px" [nzSortFn]="true" nzColumnKey="MOBILE_NO">
            Mobile No
          </th>
          <th nzWidth="250px" [nzSortFn]="true" nzColumnKey="EMAIL">Email</th>
          <th nzWidth="150px" [nzSortFn]="true" nzColumnKey="TOTAL_AMOUNT">
            Total Amount
          </th>
          <th nzWidth="150px" [nzSortFn]="true" nzColumnKey="TAX_AMOUNT">
            Tax Amount
          </th>
          <th nzWidth="170px" [nzSortFn]="true" nzColumnKey="DISCOUNT_AMOUNT">
            Discount Amount
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basictablez.data">
          <td nzLeft class="center-preline">
            <nz-tag nzColor="#2db7f5" nzTooltipTitle="View Invoice" (click)="showInvoiceModalz(data)"
              class="cursor-pointer view-bth" nz-tooltip>
              <span nz-icon nzType="eye" nzTheme="outline" class="icon-size">
              </span>&nbsp;&nbsp;View</nz-tag>
          </td>
          <td nzLeft class="center-preline" *ngIf="!showMinimal">
            {{ data.INVOICE_DATE | date : "dd/MM/yyyy" }}
          </td>
          <td nzLeft align="left" *ngIf="TYPE != 'CUSTOMER'">
            <span *ngIf="data['CUSTOMER_NAME'] != null">
              <span *ngIf="data['CUSTOMER_NAME'].length >= 30" nz-popover [nzPopoverContent]="
                  data['SALUTATION'] + ' ' + data['CUSTOMER_NAME']
                " nzPopoverPlacement="topLeft">
                {{ data["SALUTATION"] }}
                {{ data["CUSTOMER_NAME"] | slice : 0 : 30
                }}{{ data["CUSTOMER_NAME"].length > 30 ? "..." : "" }}
              </span>
              <span *ngIf="data['CUSTOMER_NAME'].length < 30">
                {{ data["SALUTATION"] }} {{ data["CUSTOMER_NAME"] }}
              </span>
            </span>
            <span *ngIf="data['CUSTOMER_NAME'] == null">-</span>
          </td>
          <td align="center" class="preline" *ngIf="TYPE != 'CUSTOMER'">
            <span *ngIf="data.CUSTOMER_TYPE == 'I'">Individual(B2C)</span>
            <span *ngIf="data.CUSTOMER_TYPE == 'B'">Buisiness(B2B)</span>
          </td>
          <td align="center" class="preline">
            {{ data.MOBILE_NO || "-" }}
          </td>
          <td align="left">
            <span *ngIf="data['EMAIL'] != null">
              <span *ngIf="data['EMAIL'].length >= 27" nz-popover [nzPopoverContent]="data['EMAIL']"
                nzPopoverPlacement="topLeft">
                {{
                data["EMAIL"] == null
                ? "-"
                : (data["EMAIL"] | slice : 0 : 27)
                }}{{ data["EMAIL"].length > 27 ? "..." : "" }}
              </span>
              <span *ngIf="data['EMAIL'].length < 27">
                {{
                data["EMAIL"] == null ? "-" : (data["EMAIL"] | slice : 0 : 27)
                }}
                {{ data["EMAIL"].length > 27 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['EMAIL'] == null">-</span>
          </td>
          <td align="right" class="preline">
            {{ data.TOTAL_AMOUNT ? data.TOTAL_AMOUNT : "0" }}
          </td>
          <td align="right" class="preline">
            {{ data.TAX_AMOUNT ? data.TAX_AMOUNT : "0" }}
          </td>
          <td align="right" class="preline">
            {{ data.DISCOUNT_AMOUNT ? data.DISCOUNT_AMOUNT : "0" }}
          </td>
          <td align="right" class="preline" *ngIf="!showMinimal">
            {{ data.FINAL_AMOUNT ? data.FINAL_AMOUNT : "0" }}
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-table #basicTable *ngIf="!showMinimal" [nzBordered]="true" [nzSize]="'middle'" [nzShowPagination]="true"
      [nzData]="invoiceData" [nzLoading]="loadingRecords" [nzScroll]="{ x: '1200px', y: '60vh' }"
      (nzQueryParams)="sort($event)">
      <thead>
        <tr>
          <th nzWidth="70px" nzLeft>View</th>
          <th nzWidth="150px" nzLeft [nzSortFn]="true" nzColumnKey="INVOICE_DATE">
            Invoice Date
          </th>
          <th nzWidth="300px" nzLeft [nzSortFn]="true" nzColumnKey="CUSTOMER_NAME" *ngIf="TYPE != 'CUSTOMER'">
            Customer Name
          </th>
          <th nzWidth="150px" [nzSortFn]="true" nzColumnKey="CUSTOMER_TYPE" *ngIf="TYPE != 'CUSTOMER'">
            Customer Type
          </th>
          <th nzWidth="150px" [nzSortFn]="true" nzColumnKey="MOBILE_NO">
            Mobile No
          </th>
          <th nzWidth="250px" [nzSortFn]="true" nzColumnKey="EMAIL">Email</th>
          <th nzWidth="150px" [nzSortFn]="true" nzColumnKey="TOTAL_AMOUNT">
            Total Amount
          </th>
          <th nzWidth="150px" [nzSortFn]="true" nzColumnKey="TAX_AMOUNT">
            Tax Amount
          </th>
          <th nzWidth="170px" [nzSortFn]="true" nzColumnKey="DISCOUNT_AMOUNT">
            Discount Amount
          </th>
          <th nzWidth="150px" [nzSortFn]="true" nzColumnKey="FINAL_AMOUNT">
            Net Amount
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td nzLeft class="center-preline">
            <nz-tag nzColor="#2db7f5" nzTooltipTitle="View Invoice" (click)="showInvoiceModal(data)"
              class="cursor-pointer" nz-tooltip>
              <span nz-icon nzType="eye" nzTheme="outline" class="icon-size">
              </span>&nbsp;&nbsp;View</nz-tag>
          </td>
          <td nzLeft class="center-preline" *ngIf="!showMinimal">
            {{ data.INVOICE_DATE | date : "dd/MM/yyyy" }}
          </td>
          <td nzLeft align="left" *ngIf="TYPE != 'CUSTOMER'">
            <span *ngIf="data['CUSTOMER_NAME'] != null">
              <span *ngIf="data['CUSTOMER_NAME'].length >= 30" nz-popover [nzPopoverContent]="
                  data['SALUTATION'] + ' ' + data['CUSTOMER_NAME']
                " nzPopoverPlacement="topLeft">
                {{ data["SALUTATION"] }}
                {{ data["CUSTOMER_NAME"] | slice : 0 : 30
                }}{{ data["CUSTOMER_NAME"].length > 30 ? "..." : "" }}
              </span>
              <span *ngIf="data['CUSTOMER_NAME'].length < 30">
                {{ data["SALUTATION"] }} {{ data["CUSTOMER_NAME"] }}
              </span>
            </span>
            <span *ngIf="data['CUSTOMER_NAME'] == null">-</span>
          </td>
          <td align="center" class="preline" *ngIf="TYPE != 'CUSTOMER'">
            <span *ngIf="data.CUSTOMER_TYPE == 'I'">Individual(B2C)</span>
            <span *ngIf="data.CUSTOMER_TYPE == 'B'">Buisiness(B2B)</span>
          </td>
          <td align="center" class="preline">
            {{ data.MOBILE_NO || "-" }}
          </td>
          <td align="left">
            <span *ngIf="data['EMAIL'] != null">
              <span *ngIf="data['EMAIL'].length >= 27" nz-popover [nzPopoverContent]="data['EMAIL']"
                nzPopoverPlacement="topLeft">
                {{
                data["EMAIL"] == null
                ? "-"
                : (data["EMAIL"] | slice : 0 : 27)
                }}{{ data["EMAIL"].length > 27 ? "..." : "" }}
              </span>
              <span *ngIf="data['EMAIL'].length < 27">
                {{
                data["EMAIL"] == null ? "-" : (data["EMAIL"] | slice : 0 : 27)
                }}
                {{ data["EMAIL"].length > 27 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['EMAIL'] == null">-</span>
          </td>
          <td align="right" class="preline">
            {{ data.TOTAL_AMOUNT ? data.TOTAL_AMOUNT : "0" }}
          </td>
          <td align="right" class="preline">
            {{ data.TAX_AMOUNT ? data.TAX_AMOUNT : "0" }}
          </td>
          <td align="right" class="preline">
            {{ data.DISCOUNT_AMOUNT ? data.DISCOUNT_AMOUNT : "0" }}
          </td>
          <td align="right" class="preline" *ngIf="!showMinimal">
            {{ data.FINAL_AMOUNT ? data.FINAL_AMOUNT : "0" }}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-modal [nzWidth]="1000" [nzBodyStyle]="{ height: '590px' }" [nzStyle]="{ top: '10px' }"
  [(nzVisible)]="isModalVisible" nzMaskClosable="false" nzClosable="false" [nzContent]="content"
  [nzTitle]="'View Invoice'" (nzOnCancel)="handleCancel()" [nzFooter]="ImageModalFooter">
  <ng-template #content>
    <div id="printModal">
      <iframe [src]="pdfUrl" class="iframe-full" frameborder="0">
      </iframe>
    </div>
  </ng-template>
  <ng-template #ImageModalFooter>
    <button type="button" nz-button (click)="handleCancel()" class="ant-btn footer-button-margin">
      <span>Close</span>
    </button>
    <button nz-button nzType="primary" (click)="downloadPDF()">
      Download PDF
    </button>
  </ng-template>
</nz-modal>