nz-form-item.filtclass {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.ant-table-cell-fix-left {
  background: #fff !important;
  z-index: 10 !important;
}
.view-btn {
  white-space: nowrap !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 6px;
}
@media (max-width: 768px) {
  th[nzLeft],
  td[nzLeft] {
    min-width: 90px !important;
  }
  .ant-table-cell {
    padding: 6px !important;
  }
  .view-btn .text {
    display: none;
  }
}
.flex-end-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filter-button {
  margin-right: 10px;
}
.form-item-search {
  margin-right: -6px;
}
.form-item-margin {
  margin-right: 10px !important;
}
.full-width {
  width: 100%;
}
.full-width-light {
  width: 100%;
  font-weight: 100 !important;
}
.filter-buttons {
  display: flex;
  gap: 10px;
  padding-top: 0px;
  align-self: center;
}
.table-container {
  margin-top: 18px;
}
.center-preline {
  text-align: center;
  white-space: pre-line;
}
.cursor-pointer {
  cursor: pointer;
}
.icon-size {
  font-size: 15px;
}
.preline {
  white-space: pre-line;
}
.iframe-full {
  width: 100%;
  height: 550px;
}
.footer-button-margin {
  margin-right: 8px;
}