<div>
 <form nz-form #brandMasterPage="ngForm">
  <nz-spin [nzSpinning]="isSpinning">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>
            Brand Name
          </nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Brand Name">
            <input
              nz-input
              class="brand-input"
              placeholder="Enter Brand Name"
              minlength="1"
              maxlength="128"
              autocomplete="off"
              (keyup)="commonFunction.allowBusinessNameChars($event)"
              name="BRAND_NAME"
              [(ngModel)]="data.BRAND_NAME"
              required
              (focus)="isFocused = 'BRAND_NAME'"
              (blur)="isFocused = ''" />
          </nz-form-control>
          <h6
            class="brand-char-counter"
            *ngIf="data.BRAND_NAME && isFocused === 'BRAND_NAME'">
            {{ data.BRAND_NAME.length || 0 }}/128
          </h6>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>
            Short Code
          </nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Short Code">
            <input
              nz-input
              class="brand-input"
              placeholder="Enter Short Code"
              name="SHORT_CODE"
              [(ngModel)]="data.SHORT_CODE"
              minlength="1"
              maxlength="8"
              autocomplete="off"
              required
              (focus)="isFocused = 'SHORT_CODE'"
              (blur)="isFocused = ''" />
          </nz-form-control>
          <h6
            class="brand-char-counter"
            *ngIf="data.SHORT_CODE && isFocused === 'SHORT_CODE'">
            {{ data.SHORT_CODE.length || 0 }}/8
          </h6>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzNoColon nzRequired>
            Sequence No.
          </nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Sequence No.">
            <input
              nz-input
              class="brand-input"
              placeholder="Sequence No."
              name="SeqNo"
              [(ngModel)]="data.SEQUENCE_NO"
              required
              maxlength="8"
              autocomplete="off"
              (keypress)="commonFunction.onlynum($event)" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzNoColon nzRequired>
            Brand Image
            <span
              nz-icon
              nzType="info-circle"
              nzTheme="twotone"
              nz-tooltip
              nzTooltipTitle="Please select an image file (PNG, JPG, JPEG) with a image dimension 165*165 px."
              class="brand-info-icon">
            </span>
            <span
              *ngIf="(data.BRAND_IMAGE && data.BRAND_IMAGE !== ' ') || fileURL"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure you want to delete?"
              nzPopconfirmPlacement="top"
              (nzOnConfirm)="image1DeleteConfirm(data)"
              (nzOnCancel)="deleteCancel()"
              class="brand-image-delete">
              <span
                nz-icon
                nzType="delete"
                nzTheme="twotone"
                nzTwotoneColor="#FF0000"
                nz-tooltip
                nzTooltipTitle="Delete">
              </span>
            </span>
          </nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Select Brand Image">
            <button
              *ngIf="!fileURL && (!data.BRAND_IMAGE || data.BRAND_IMAGE.trim() === '')"
              nz-button
              class="brand-upload-btn"
              (click)="image1.click()">
              Upload Image
              <input
                #image1
                name="image1"
                type="file"
                accept=".png, .jpg, .jpeg"
                (change)="onFileSelected($event)"
                class="brand-hidden-file" />
            </button>
            <div
              *ngIf="
                data.BRAND_IMAGE &&
                data.BRAND_IMAGE.trim() !== '' &&
                (!fileURL || fileURL === '')
              "
              class="brand-image-wrapper">
              <img
                nz-image
                [nzSrc]="fullImageUrl"
                alt="Uploaded Image"
                class="brand-image-preview" />
            </div>
            <div
              *ngIf="fileURL"
              class="brand-preview-wrapper">
              <img
                *ngIf="imagePreview"
                [src]="imagePreview"
                alt="Preview"
                class="brand-preview-image" />
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzNoColon>
            Is Popular?
          </nz-form-label>
          <nz-form-control>
            <nz-switch
              name="IS_POPULAR"
              nzCheckedChildren="Yes"
              nzUnCheckedChildren="No"
              [(ngModel)]="data.IS_POPULAR">
            </nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>
            Status
          </nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Select Status">
            <nz-switch
              name="STATUS"
              nzCheckedChildren="Active"
              nzUnCheckedChildren="Inactive"
              [(ngModel)]="data.STATUS">
            </nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-spin>
</form>
 <div class="footer">
  <button
    type="button"
    nz-button
    class="brand-btn brand-btn-cancel"
    (click)="close(brandMasterPage)">
    <span>Cancel</span>
  </button>
  <button
    type="button"
    nz-button
    class="ant-btn ant-btn-primary"
    *ngIf="!data.ID"
    [nzLoading]="isSpinning"
    nz-dropdown
    [nzDropdownMenu]="menu"
    (click)="save(false, brandMasterPage)">
    <span>Save &amp; Close</span>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item class="ant-btn ant-btn-primary">
        <a
          class="brand-menu-link"
          (click)="save(true, brandMasterPage)">
          Save &amp; New
        </a>
      </li>
    </ul>
  </nz-dropdown-menu>
  <button
    type="button"
    nz-button
    class="ant-btn ant-btn-primary"
    *ngIf="data.ID"
    [nzLoading]="isSpinning"
    (click)="save(false, brandMasterPage)">
    <span>Update &amp; Close</span>
  </button>
</div>
  <nz-modal
  class="image-view-modal"
  [nzWidth]="900"
  [(nzVisible)]="ImageModalVisible"
  nzMaskClosable="false"
  nzClosable="false"
  [nzContent]="content"
  [nzTitle]="'Image View'"
  (nzOnCancel)="ImageModalCancel()"
  [nzFooter]="ImageModalFooter">
  <ng-template #content>
    <nz-spin [nzSpinning]="isSpinning">
      <div
        *ngIf="imageshow != undefined && imageshow != null && imageshow != ''"
        class="image-modal-body">
        <iframe
          [src]="imageshow"
          class="image-modal-iframe"
          frameborder="0">
        </iframe>
      </div>
    </nz-spin>
  </ng-template>
  <ng-template #ImageModalFooter>
    <button
      nz-button
      nzType="default"
      class="image-modal-close-btn"
      (click)="ImageModalCancel()">
      Close
    </button>
  </ng-template>
</nz-modal>
  <nz-modal [nzWidth]="900" [nzStyle]="{ 'margin-top': '-80px' }" [(nzVisible)]="CropImageModalVisible"
    nzMaskClosable="false" nzClosable="false" [nzContent]="content2" [nzTitle]="'Crop Image'"
    (nzOnCancel)="CropImageModalCancel()" [nzFooter]="CropImageModalFooter">
    <ng-template #content2>
      <nz-spin [nzSpinning]="isSpinningCrop">
        <div *ngIf="
            cropimageshow != undefined &&
            cropimageshow != null &&
            cropimageshow != ''
          " class="ss" class="ss crop-container-uid">
          <div *ngIf="croppedImage" class="crop-preview-center-uid">
            <p>Cropped Image:</p>
            <img [src]="croppedImage" width="165" height="165" />
          </div>
          <nz-divider [ngStyle]="{ width: imageWidth - 900 + 'px' }" nzPlain nzVariant="solid"></nz-divider>
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
            [cropper]="cropperPosition" format="png" (imageCropped)="imageCropped($event)" [imageQuality]="100"
            (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady($event)"
            (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
      </nz-spin>
    </ng-template>
    <ng-template #CropImageModalFooter>
      <button nz-button nzType="default" (click)="CropImageModalCancel()">
        Close
      </button>
      <button nz-button nzType="primary" (click)="onFileSelected(imageChangedEvent)">
        Upload
      </button>
    </ng-template>
  </nz-modal>
</div>