.mainnam {
  font-size: 14px !important;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subname {
  color: #4c4c4ceb;
  font-size: 12px !important;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select-container {
  display: flex;
  justify-content: center;
}
body {
  font-family: Arial, sans-serif;
}
.chat-container {
  height: 65vh;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
.message-box {
  flex-grow: 1;
  margin-bottom: 10px;
  padding-right: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f4f4f4;
}
.message-box::-webkit-scrollbar {
  width: 2px;
}
.message-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.message-box::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 3px;
}
.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.customer-message {
  max-width: 70% !important;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
.technician-message {
  max-width: 70%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
.customer-name,
.technician-name {
  font-weight: bold;
  font-size: 10px !important;
}
.timestamp {
  font-size: 10px !important;
  color: gray;
  margin-top: 5px;
}
.message-text {
  font-size: 13px;
  margin-top: 5px;
  background-color: #e4e4e4;
  padding: 5px;
  border-radius: 5px;
}
.technician-message .message-text {
  background-color: #d3f9d8;
}
.input-area {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
textarea {
  width: 80%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
}
.whatsapp-send-icon {
  width: 13%;
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 20px;
  height: 37px;
  cursor: pointer;
}
.whatsapp-send-icon:hover {
  background-color: #45a049;
}
.paper-clip {
  margin-right: 2px;
  background-color: #f4f4f4;
  border: none;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
}
h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.group-date {
  font-size: 12px;
  font-weight: bold;
  margin: 20px 0 10px;
  color: #555;
}
.event-details {
  padding: 10px 0;
}
.event-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}
.event-meta {
  margin-top: 4px;
  font-size: 0.85rem;
  color: #888;
}
.event-meta .time {
  margin-right: 10px;
}
.event-description {
  margin-top: 5px;
  font-size: 10px;
  color: #666;
}
.icon {
  font-size: 1.2rem;
}
.tech-header-container {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.tech-header-row {
  padding: 20px;
}
.tech-status {
  padding: 1px 8px;
  color: #ffffff;
  border-radius: 15px;
  display: inline-block;
  font-size: 12px;
}
.tech-status-inactive {
  background-color: rgb(24, 24, 24);
}
.tech-status-active {
  background-color: green;
}
.tech-link {
  font-size: 12px !important;
}
.tech-tabs-container {
  padding: 10px;
}