<div nz-row>
  <div nz-col nzSpan="24">
    <div class="formname">Technician Details</div>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24" class="tech-header-container">
    <div nz-row [nzGutter]="16" class="tech-header-row">
      <div nz-col nzSpan="4" class="mainnam" nz-popover [nzPopoverContent]="techdetailsdata['NAME']"
        nzPopoverPlacement="topLeft">
        Name : {{ techdetailsdata.NAME }}
      </div>
      <div nz-col nzSpan="4">
        <span *ngIf="techdetailsdata.IS_ACTIVE == 0" class="tech-status tech-status-inactive">
          Inactive</span>
        <span *ngIf="techdetailsdata.IS_ACTIVE == 1" class="tech-status tech-status-active">
          Active</span>
      </div>
      <div nz-col nzSpan="8" class="mainnam">
        Email :
        <a class="tech-link" href="mailto:{{ techdetailsdata?.EMAIL_ID }}">
          {{ techdetailsdata?.EMAIL_ID }}
        </a>
      </div>
      <div nz-col nzSpan="4" class="mainnam">
        Mobile:
        <a class="tech-link" href="tel:{{ techdetailsdata?.MOBILE_NUMBER }}">
          {{ techdetailsdata?.MOBILE_NUMBER }}
        </a>
      </div>
      <div nz-col nzSpan="4" class="subname">
        <b>Experience Level: </b>
        <span *ngIf="techdetailsdata.EXPERIENCE_LEVEL == 'J'">Junior</span>
        <span *ngIf="techdetailsdata.EXPERIENCE_LEVEL == 'F'">Fresher</span>
        <span *ngIf="techdetailsdata.EXPERIENCE_LEVEL == 'M'">Mid-Level</span>
        <span *ngIf="techdetailsdata.EXPERIENCE_LEVEL == 'S'">Senior</span>
        <span *ngIf="techdetailsdata.EXPERIENCE_LEVEL == 'L'">Lead</span>
        <span *ngIf="techdetailsdata.EXPERIENCE_LEVEL == 'E'">Expert</span>
      </div>
      <div nz-col nzSpan="8" class="subname" nz-popover [nzPopoverContent]="popoverTemplate"
        nzPopoverPlacement="topLeft">
        <b>Address : </b>
        <span *ngIf="techdetailsdata.ADDRESS_LINE1">
          {{ techdetailsdata.ADDRESS_LINE1 }}
        </span>
        <span *ngIf="techdetailsdata.COUNTRY_NAME">
          , {{ techdetailsdata.COUNTRY_NAME }}
        </span>
        <span *ngIf="techdetailsdata.STATE_NAME">
          , {{ techdetailsdata.STATE_NAME }}
        </span>
        <span *ngIf="techdetailsdata.DISTRICT_NAME">
          , {{ techdetailsdata.DISTRICT_NAME }}
        </span>
        <span *ngIf="techdetailsdata.PINCODE">
          , {{ techdetailsdata.PINCODE }}
        </span>
      </div>
      <ng-template #popoverTemplate>
        <div>
          <p *ngIf="techdetailsdata">
            <strong>Address Line:</strong> {{ techdetailsdata.ADDRESS_LINE1 }}
          </p>
          <p *ngIf="techdetailsdata">
            <strong>Country:</strong> {{ techdetailsdata.COUNTRY_NAME }}
          </p>
          <p *ngIf="techdetailsdata">
            <strong>State:</strong> {{ techdetailsdata.STATE_NAME }}
          </p>
          <p *ngIf="techdetailsdata">
            <strong>District:</strong> {{ techdetailsdata.DISTRICT_NAME }}
          </p>
          <p *ngIf="techdetailsdata">
            <strong>Pincode:</strong> {{ techdetailsdata.PINCODE }}
          </p>
        </div>
      </ng-template>
      <div nz-col nzSpan="8" class="subname">
        <b>Type : </b>
        <span *ngIf="techdetailsdata.TYPE == 'V'">Vendor Managed</span>
        <span *ngIf="techdetailsdata.TYPE == 'F'">Freelancer</span>
        <span *ngIf="techdetailsdata.TYPE == 'O'">On Payroll</span>
      </div>
      <div nz-col nzSpan="8" class="subname" *ngIf="techdetailsdata.TYPE == 'V'" nz-popover
        [nzPopoverContent]="techdetailsdata.BUSINESS_NAME" nzPopoverPlacement="topLeft">
        <b>Reporting To : </b>
        {{ techdetailsdata.BUSINESS_NAME }}
      </div>
    </div>
  </div>
</div>
<div nz-row class="tech-tabs-container">
  <div nz-col nzSpan="24">
    <nz-tabset nzCentered (nzSelectedIndexChange)="onSelectedIndexChange($event)">
      <nz-tab [nzTitle]="'Jobs'">
        <div *ngIf="show == 0">
          <app-jobcardpage [FILTER_ID]="techdetailsdata.ID" [TYPE]="'TECHNICIAN'"></app-jobcardpage>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Order Location'">
        <div *ngIf="show == 1">
          <app-location [FILTER_ID]="techdetailsdata.ID" [TYPE]="'TECHNICIAN'"></app-location>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Technician Travel Locations'">
        <div *ngIf="show == 2">
          <app-technicianlocationsmap [FILTER_ID]="techdetailsdata.ID"
            [TYPE]="'TECHNICIAN'"></app-technicianlocationsmap>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Chat'">
        <div *ngIf="show == 3">
          <app-chatoverview-comp [FILTER_ID]="techdetailsdata.ID" [TYPE]="'TECHNICIAN'"></app-chatoverview-comp>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Customer Ratings for Technicians'">
        <div *ngIf="show == 4">
          <app-customerratting [FILTER_ID]="techdetailsdata.ID" [TYPE]="'TECHNICIAN'"></app-customerratting>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Technician Ratings for Customers'">
        <div *ngIf="show == 5">
          <app-technicianratting [FILTER_ID]="techdetailsdata.ID" [TYPE]="'TECHNICIAN'"></app-technicianratting>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Action/Activity Log'">
        <div *ngIf="show == 6">
          <app-actionlogs [FILTER_ID]="techdetailsdata.ID" [TYPE]="'TECHNICIAN'"></app-actionlogs>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Invoices'">
        <div *ngIf="show == 7">
          <app-invoicepage [FILTER_ID]="invoicefilter" [TYPE]="'TECHNICIAN'"></app-invoicepage>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Calender'">
        <div *ngIf="show == 8">
          <app-techcalender [FILTER_ID]="techdetailsdata.ID"></app-techcalender>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</div>