<div nz-row>
    <div nz-col nzSpan="24">
        <nz-image-group>
            <div nz-row nzGutter="8">
                <div nz-col nzSpan="24"
                    *ngIf="dataList1!=undefined && REMARKS!=undefined && REMARKS!=null && REMARKS!=''"
                    class="img-remarks-container">
                    <p *ngIf="REMARKS!=undefined && REMARKS!=null && REMARKS!=''" class="img-remarks-text">
                        <b>Remark : </b> {{ REMARKS }}
                    </p>
                </div>
                <div nz-col nzSpan="6" *ngFor="let imgs of dataList1" class="img-item-spacing">
                    <img nz-image width="100%" height="150px" nzSrc="{{ urllll }}JobPhotos/{{ imgs['PHOTOS_URL'] }}" />
                </div>
            </div>
        </nz-image-group>
    </div>
</div>